﻿<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
<script src="const.js"></script>
<script src="Calculator.js"></script>
<script src="lib.js"></script>
<script src="MeshFactory.js"></script>
<script src="NamesFactory.js"></script>
<script src="Templating.js"></script>
</head> 

<div id="js_main_container" class="main_container"></div>

<script>

var data = {};

js_main_container.innerHTML = TEMPLATING.Room(data);

</script>


