﻿<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
<script src="Languaje.js"></script>
<script src="Calculator.js"></script>
<script src="const.js"></script>
<script src="lib.js"></script>
<script src="MeshFactory.js"></script>
<script src="NamesFactory.js"></script>

</head> 

<div class="main_container">
	<div class="column">	
		<div class="panel ship_main">
			<button class="cell cs_secondary back_button" onclick="saveShip()">✓</button>
			<button class="cell cs_secondary back_button">✕</button>
			<input class="cell cs_tertiary title ship_main_name js_ship_name" value="Ship name"></input>
			<p class="cell cs_tertiary ship_main_type js_ship_type">SHIP</p>
			<p class="cell cs_tertiary ship_main_type tooltip js_ship_skill1">Ship skill 1</p>
			<p class="cell cs_tertiary ship_main_type tooltip js_ship_skill2">Ship skill 2</p>
		</div>
		<div class="panel ship_parts_container js_ship_parts_container">
		</div>
	</div>
	<div class="column">
		<div  class=" panel ships_righttop">
			<div id="container">
				<div id="ships_container"></div>
				<div id="overlay">
					<button class="cs_secondary tooltip back_button" onclick="setShipSize(1)">1</button>
					<button class="cs_secondary tooltip back_button" onclick="setShipSize(2)">2</button>
					<button class="cs_secondary tooltip back_button" onclick="setShipSize(4)">4</button>
					<button class="cs_secondary tooltip back_button" onclick="setShipSize(8)">8</button>
				</div>
			</div>
		</div>
		<div class="panel ships_rightbottom js_ship_properties_container">
		</div>
	</div>
</div>

<script>

function UPDATESHIPMESH(ship){
	var geo = MeshFactory.Build(ship);	
	SHIPMESH.geometry = geo;
}

var canvas = document.getElementById('ships_container'); 

var w = canvas.parentNode.offsetWidth;
var h = canvas.parentNode.offsetHeight;

var scene = new THREE.Scene();
var camera = new THREE.PerspectiveCamera(50, w / h, 0.1, 1000);

var renderer = new THREE.WebGLRenderer();
renderer.setSize(w, h);
canvas.appendChild(renderer.domElement);

var material = new THREE.MeshNormalMaterial();
var geo = new THREE.Geometry();//ShipMeshFactory.Orion();

var SHIPMESH = new THREE.Mesh(geo, material);
SHIPMESH.rotation.z = -90
scene.add(SHIPMESH);

camera.position.z = 10;

var render = function () {
    requestAnimationFrame(render);

    SHIPMESH.rotation.y += 0.01;

    renderer.render(scene, camera);
};

render();

</script>
<script>

function generateRandomShip(){
	GLOBAL_SHIP_SIZE = [1,2,4,8][Math.floor(Math.random() * 4)];
	
	function setPart(name,val){
		return document.getElementsByClassName("js_ship_part_"+name)[0].value = val;
	}
	
	var parts = {
		Weapon 	:0,
		Ammo	:0,
		Shield	:0,
		Engine	:0,
		Fuel	:0,
		Habitat	:0,
		Radio	:0,
		Computer:0,
		
		Size : GLOBAL_SHIP_SIZE
	};
	
	for (i = 0; i < GLOBAL_SHIP_SIZE; i++) { 
		var arr = ['1','2','3','4','5','6','7','8',''][Math.floor(Math.random() * 9)];
		switch (arr){
			case '1': parts.Weapon++;break;
			case '2': parts.Ammo++;break;
			case '3': parts.Shield++;break;
			case '4': parts.Engine++;break;
			case '5': parts.Fuel++;break;
			case '6': parts.Habitat++;break;
			case '7': parts.Radio++;break;
			case '8': parts.Computer++;break;
			default:break;
		}
	}
	
	setPart("Weapon" 	,parts.Weapon 	 );
	setPart("Ammo"	    ,parts.Ammo	     );
	setPart("Shield"    ,parts.Shield	 );
	setPart("Engine"	,parts.Engine	 );
	setPart("Fuel"	    ,parts.Fuel	     );
	setPart("Habitat"	,parts.Habitat	 );
	setPart("Radio"     ,parts.Radio	 );
	setPart("Computer"  ,parts.Computer  );

	update();
}

var GLOBAL_SHIP_SIZE = 1;
var GLOBAL_SHIP_PARTS = 0;

function setShipSize(size){
	GLOBAL_SHIP_SIZE = size;
	update();
}

function saveShip(){
	var name = document.getElementsByClassName("js_ship_name")[0].value;

	var parts = getShipParts();
	
	var ship = {
		name:name,
		parts:parts
	};
	
	Memory.add('ships',ship,0);
	
	document.location.href = "./fleets.html";
}

function updateButtons(){	

	var partNodes = document.getElementsByClassName("js_ship_part_input");
	
	for (i = 0; i < partNodes.length; i++) { 
		
		var plus = partNodes[i].parentNode.getElementsByClassName("js_ship_part_plus")[0];
		var minus = partNodes[i].parentNode.getElementsByClassName("js_ship_part_minus")[0];
		var val = Number(partNodes[i].value);
		minus.disabled = val == 0;
		plus.disabled = GLOBAL_SHIP_PARTS == GLOBAL_SHIP_SIZE;
	}
}

function shipPartButton(val,elem){
	var input = elem.parentNode.getElementsByClassName("js_ship_part_input")[0];
	
	input.value = Number(input.value) + Number(val);	
	GLOBAL_SHIP_PARTS += Number(val);
	
	update();
}

function getShipParts(){
	function getPart(name){
		return Number(document.getElementsByClassName("js_ship_part_"+name)[0].value);
	}
	
	var parts = {
		Weapon 	:getPart("Weapon"),
		Ammo	:getPart("Ammo"),
		Shield	:getPart("Shield"),
		Engine	:getPart("Engine"),
		Fuel	:getPart("Fuel"),
		Habitat	:getPart("Habitat"),
		Radio	:getPart("Radio"),
		Computer:getPart("Computer"),
		
		Size : GLOBAL_SHIP_SIZE
	};
	
	var piezas 	= 	parts.Weapon + 
					parts.Ammo + 
					parts.Shield + 
					parts.Engine + 
					parts.Fuel + 
					parts.Habitat + 
					parts.Radio + 
					parts.Computer;
	var nada	= parts.Size - piezas;
	
	parts.Nada = nada;
	
	return parts;
}

var shipUtils={
   match : function(s1,s2){
		   return  s1.Weapon==s2.Weapon &&
						   s1.Ammo==s2.Ammo &&
						   s1.Shield==s2.Shield &&
						   s1.Engine==s2.Engine &&
						   s1.Fuel==s2.Fuel &&
						   s1.Habitat==s2.Habitat &&
						   s1.Radio==s2.Radio &&
						   s1.Computer==s2.Computer &&
						   s1.Size==s2.Size
   }
}

function createShipPartHtml(name){
	var html = '';
	html += '<div class="list_element_container ">';
	html += '<button class="list_element list_element_inactive cs_secondary ship_part_text tooltip">';
	html += TEXT(name);
	html += '<span class="tooltiptextover">'+LONGTEXT(name)+'</span>';
	html += '</button>';
	html += '<input class="list_element list_element_inactive cs_secondary ship_part_button js_ship_part_input js_ship_part_'+name+'" type="text" name="'+TEXT(name)+'" value="0">';
	html += '<button class="list_element cs_secondary ship_part_button js_ship_part_plus" onclick="shipPartButton(+1,this)">+</button>';
	html += '<button class="list_element cs_secondary ship_part_button js_ship_part_minus" onclick="shipPartButton(-1,this)">-</button>';
	html += '</div>'
	return html;
}

function createShipPropertyHtml(name){
	var html = '';	
	html += '<div class="property js_ship_prop_'+name+' tooltip">';
	html += '<div class="property_bar_container">';
	html += '<div class="property_bar js_ship_prop_bar_'+name+'">0%</div>';
	html += '</div>';
	html += '<label class="property_text">';
	html += TEXT(name);
	html += '<span class="tooltiptextover">'+LONGTEXT(name)+'</span>';
	html += '</label>';
	html += '</div>';	
	return html;
}

function update(){	

	updateButtons();

	function updateProp(name,value){
		var container = document.getElementsByClassName("js_ship_prop_"+name)[0];
		
		var prop = container.getElementsByClassName("js_ship_prop_bar_"+name)[0]
		
		prop.innerHTML = value;
		
		prop.style.width = value+"%";			
	}
	
	function updateName(name){
		var elem = document.getElementsByClassName("js_ship_name")[0];
		elem.value = name;
		if(name.length>20){
			elem.style = 'font-size : 2rem';
		}
		else{
			elem.style = 'font-size : 3rem';
		}
	}
	
	function updateSkill(clas,skill){
		var elem = document.getElementsByClassName(clas)[0];
		if(skill){
			elem.innerHTML = skill.title+'<span class="tooltiptext">'+skill.text+'</span>';
		}
		else{
			elem.innerHTML = '';
		}
	}

	var parts = getShipParts();
	
	UPDATESHIPMESH(parts);	
	
	var name = getShipName(parts);	
	updateName(name);
	
	var type = getShipTypeName(parts);
	document.getElementsByClassName("js_ship_type")[0].innerHTML = type;
	
	
	var skills = getShipSkills(parts);
	updateSkill("js_ship_skill1",skills.s1);
	updateSkill("js_ship_skill2",skills.s2);
	
	var props = Calculator.GetShipProps(parts);
	
	updateProp("FirePower",props.FirePower);
	updateProp("FireSpeed",props.FireSpeed);
	updateProp("Precision",props.Precision);
	updateProp("ElectricAttack",props.ElectricAttack);
	updateProp("Armor",props.Armor);
	updateProp("Tripulation",props.Tripulation);
	updateProp("Evasion",props.Evasion);
	updateProp("Camouflage",props.Camouflage);
	updateProp("Speed",props.Speed);
	updateProp("Perception",props.Perception);
	updateProp("Autonomy",props.Autonomy);
	updateProp("CargoCapacity",props.CargoCapacity);
}

function init(){
	Style.SetTheme(Memory.get('faction',0));

	var html = '';
	html += createShipPartHtml("Weapon");
	html += createShipPartHtml("Ammo");
	html += createShipPartHtml("Shield");
	html += createShipPartHtml("Engine");
	html += createShipPartHtml("Fuel");
	html += createShipPartHtml("Habitat");
	html += createShipPartHtml("Radio");
	html += createShipPartHtml("Computer");
	document.getElementsByClassName("js_ship_parts_container")[0].innerHTML = html;

	html = '';
	html += createShipPropertyHtml("FirePower");
	html += createShipPropertyHtml("FireSpeed");
	html += createShipPropertyHtml("Precision");
	html += createShipPropertyHtml("ElectricAttack");
	html += createShipPropertyHtml("Armor");
	html += createShipPropertyHtml("Tripulation");
	html += createShipPropertyHtml("Evasion");
	html += createShipPropertyHtml("Camouflage");
	html += createShipPropertyHtml("Speed");
	html += createShipPropertyHtml("Perception");
	html += createShipPropertyHtml("Autonomy");
	html += createShipPropertyHtml("CargoCapacity");
	document.getElementsByClassName("js_ship_properties_container")[0].innerHTML = html;	
}

init();
update();

</script>



