<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../styleguide/style.css">
<link rel="stylesheet" type="text/css" href="../styleguide/custom.css">
<link rel="stylesheet" type="text/css" href="../styleguide/components.css">
<link rel="stylesheet" type="text/css" href="../styleguide/layout.css">
<link rel="stylesheet" type="text/css" href="../styleguide/factionbase.css">
<link id="custom_style" rel="stylesheet" type="text/css" href="../styleguide/faction0.css">

<script src="game/lib/three.min.js"></script>
<script src="game/lib/orbitcontrols.js"></script>
<script src="game/lib/online.js"></script>
<script src="game/lib/lib.js"></script>
<script src="game/lib/text/spanish.js"></script>
<script src="game/lib/text/spanishlong.js"></script>
<script src="game/lib/text/englishlong.js"></script>
<script src="game/lib/room/chat.js"></script>
<script src="game/lib/room/protocol.js"></script>
<script src="game/lib/room/listener.js"></script>

<script src="game/ai/ai.js"></script>
<script src="game/const/const.js"></script>
<script src="game/const/factions.js"></script>
<script src="game/const/style.js"></script>
<script src="game/draw/draw.js"></script>
<script src="game/draw/events.js"></script>
<script src="game/draw/materialsfactory.js"></script>
<script src="game/draw/meshfactory.js"></script>
<script src="game/clock.js"></script>
<script src="game/factory.js"></script>
<script src="game/global.js"></script>
<script src="game/orders.js"></script>
<script src="game/screen.js"></script>
<script src="game/start.js"></script>
<script src="game/mapping.js"></script>
<script src="game/frontend.js"></script>
<script src="game/templating.js"></script>

<script src="../assets/shaders/explosion_fragment.js"></script>
<script src="../assets/shaders/explosion_vertex.js"></script>
<script src="../assets/shaders/metal_fragment.js"></script>
<script src="../assets/shaders/metal_vertex.js"></script>

<script src="battle/calculator.js"></script>
<script src="battle/draw.js"></script>
<script src="battle/edit.js"></script>
<script src="battle/main.js"></script>
<script src="battle/templating.js"></script>

<script src="fleet/calculator.js"></script>
<script src="fleet/edit.js"></script>
<script src="fleet/menu.js"></script>
<script src="fleet/obj.js"></script>

<script src="map/draw.js"></script>
<script src="map/edit.js"></script>
<script src="map/events.js"></script>
<script src="map/maker.js"></script>
<script src="map/menu.js"></script>
<script src="map/meshfactory.js"></script>
<script src="map/write.js"></script>
<script src="map/obj.js"></script>

<script src="room/main.js"></script>
<script src="room/mapdetails.js"></script>

<script src="factions/meshfactory.js"></script>
<script src="factions/namefactory.js"></script>

<script src="ship/calculator.js"></script>
<script src="ship/draw.js"></script>
<script src="ship/edit.js"></script>
<script src="ship/menu.js"></script>
<script src="ship/meshfactory.js"></script>
<script src="ship/namefactory.js"></script>

<script src="world/meshfactory.js"></script>

</head>

<body id="mainbody">
    <h1>vLFRgXuRASc</h1>
</body>

<script src="main.js"></script>