
<script src="../scripts/lib/three.js"></script>
<script src="../js/proceduralGenerator.js"></script>
<script src="../scripts/perlin.js"></script>


<div id="demo">
</div>


<script>
	var camera, scene, renderer, controls;
	camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

	scene = new THREE.Scene();
	scene.fog = new THREE.Fog( 0x88AAFF, 0, 100 );

	var ambient = new THREE.AmbientLight( 0xAAAAAA );
	scene.add( ambient );
	
	light = new THREE.SpotLight( 0xffffff );
	light.position.set( 10, 30, 20 );
	light.target.position.set( 0, 0, 0 );
	scene.add( light );
	
	
	renderer = new THREE.WebGLRenderer();
	renderer.setSize( window.innerWidth, window.innerHeight );
	renderer.setClearColor( scene.fog.color, 1 );
	
	document.body.appendChild( renderer.domElement );
	
	function Animate() {		
		requestAnimationFrame( Animate );
		renderer.render( scene, camera );
	}	
	

	
	var texture = ProceduralGenerator.GenerateTexture(256,256,0,0,0.1,ProceduralGenerator.GrayscaleTexture);
	texture.repeat.set(3,3);
	texture.wrapS = THREE.RepeatWrapping;
	texture.wrapT = THREE.RepeatWrapping;
	
    var material = new THREE.MeshBasicMaterial({
		map: texture,
		transparent:true
	});
	
	
	var geo = new THREE.BoxGeometry( 5, 5,5 );

	var mesh = new THREE.Mesh(geo, material);
	mesh.position.z = -10
	scene.add(mesh)
	
	
	
	Animate()
	
</script>