html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #ffffff;
	margin: 0;
	overflow: hidden;
	  font-family: Arial, Helvetica, sans-serif;
}

#blocker{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#instructions {
	width: 100%;
	height: 100%;
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

#messagebox{
	position: absolute;
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
	color: #ffffff;
	text-align: center;
}	

/* Modal */
.modal {
	display: block;  
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
}
.modal-content {
	margin:20px;
	padding:20px;
	background-color:black;
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	overflow:auto;
}

* {
  box-sizing: border-box;
}

.row {
  display:flex;
  flex-direction:row;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #555555;
}

.collapsible {
  background-color: #777;
  color: white;
  width: 100%;
}

.conversation-content button{
	background-color: #AAA;
}