/* Custom components */

/* battle orders */
.c-battle-orders{
    display: flex;
    flex-direction: row;    
}
.c-battle-orders > *{
    width: 20%;            
}
.c-battle-orders  > *:nth-child(2){ 
	width: 60%; 	
    margin: 0 var(--padding-global);
	background-color:black;
}

/* battle panel */
.c-battle-panel{
    position: relative;
    height: 100%;
}
.c-battle-panel > span{
	border-style: double;
	position: absolute;
	display: block;
	border-width:3px;
}
.c-battle-panel > span:hover{
	opacity:.6;
}


/* Snackbar */

.c-snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	left: 50%;
	bottom: 30px;
	text-align: center;
	position: fixed;
	z-index: 1;
	
	background-color: var(--background-main);
	color: var(--text-title);
	font-family: var(--font-main);
	font-size: calc(var(--font-size-tooltip)*2);
	border-color: var(--border-cell);
	border-radius: 10px;	
	padding: 10px;
}
.c-snackbar-show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    background-color: var(--background-main);
	color: var(--text-title);
	font-family: var(--font-main);
	font-size: var(--font-size-tooltip);
	border-color: var(--border-cell);
	border-radius: 5px;	
	padding: 5px;
	
	width: 100px;
	position: absolute;
    z-index: 1;
    top: -80%;
	left: 80%;
	transition: all 0.3s ease-out;
	opacity: 0.0;
	display: none;
	
}
.tooltip:hover .tooltiptext {
	opacity: 1.0;
	display: var(--display-tooltips);
}
.tooltip .tooltiptext-left{
	top: -80%;
	right: 80%;
	left: auto;
}
@media only screen and (max-width: 700px) {
	.tooltip .tooltiptext{
		top: -80%;
		right: 80%;
		left: auto;
	}
}

/* Modal */
.modal {
	display: block;  
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
}

/* Bars */
.bar_container{
	overflow-y: scroll;
}
.bar_container > div{
	display:flex;
	padding-bottom:6px;
}
.bar_container > div > div:first-child{
	width:60%;
	margin-right:6px;
}
.bar_container > div > div:nth-child(2){
	width:40%;
	white-space: nowrap;
    text-overflow: ellipsis;	
	overflow: hidden;
}

/*ship-size-buttons*/
.c-ship-size-buttons{
	display: flex;
}
.c-ship-size-buttons h2{
	margin-right: 20px;
}
.c-ship-size-buttons button{
	width: 10%;
	text-align: center;
	height: calc(var(--font-size-subtitle)*.75);
}

/*map-canvas*/
.c-map-canvas{
	margin: 0 !important;
}

/*editable-object*/
.c-editable-object{
	padding-right: 0;
	display: flex;
	overflow: unset !important;
}
.c-editable-object h1,input{
	margin-bottom:5px;
	width: 100%;
}
.c-editable-object h2{
	margin-bottom:0;
	margin-bottom:calc(var(--font-size-subtitle)*.10);
	font-size: calc(var(--font-size-subtitle)*.90);
}
.c-editable-object h3,span{
	margin-right: 5px;
	margin-bottom:calc(var(--font-size-subtitle)*.25);
	font-size: calc(var(--font-size-subtitle)*.75);
}
.c-editable-object button{
	width: 15%;
	text-align: center;
}
.c-editable-object div:first-child{
	margin-right: 25px;
	width:55%;
}
.c-editable-object div:first-child div{
	display: flex;
}
.c-editable-object div:first-child div h3{
	margin-left: 10px;
}
.c-editable-object ul{
	display: flex;
    flex-direction: column;
}
.c-editable-object li{
	font-size: calc(var(--font-size-subtitle)*.65);
}

/*tables*/
.c-table-73 tr td:first-child{
	width: 70%;	
}
.c-table-73 tr td:nth-child(2){
	width: 35%;	
}

.c-table-room tr td{
	width: 5%;	
}
.c-table-room tr td:first-child{
	width: 30%;	
}
.c-table-room tr td:last-child{
	width: 20%;	
}
.c-table-room tr td:nth-child(3) input{
	width: 30px;
    height: 20px;
}

/*Hamburger*/
.c-hamburger{
	position: fixed;
	line-height: 49px;
	cursor: pointer;
	font-size:45px;
	width: 50px;
	height: 50px;
	right:0;
	top:0;
	font-family:sans-serif;
	text-align: center;
	vertical-align:middle;
	border: solid;
	border-width: 3px;
	z-index: 9999;
}
.c-hamburger:hover{
	filter: brightness(50%);
}
@media only screen and (min-width: 700px) {
	.c-hamburger{
		display: none;
	}
}

/*Main menu*/
.c-mainmenu {
    text-align: center;
    flex-direction:row;
    display:flex;
	height: 100%;
	align-items: center;
}
.c-mainmenu h1{
    width: 50%;
	font-size:100px;
	padding-right:20px;
	text-align: right;
}
.c-mainmenu div{
    width: 30%;
    flex-direction:column;
    display:flex;
	padding: 20px;
}
.c-mainmenu button {
    font-size:25px;
	display:block;
	line-height: 13px;
	padding: 10px;
}
.c-mainmenu button:hover{
	filter: brightness(50%);
}
@media only screen and (max-width: 700px) {
	.c-mainmenu{
		flex-direction:column;
		overflow:hidden;		
	}
	.c-mainmenu h1{
		width:100%;
		margin-top:20px;
		padding:5px;
		text-align: center;
	}
	.c-mainmenu div{
		width:80%;
	}
	.c-mainmenu button{
		text-align: center;
	}
}

/* table specials */
.disabled,
.disabled:hover{
	opacity: .2 !important;
}
.unactionable,
.unactionable:hover,
.unactionable td,
.unactionable td:hover{
	opacity: .85 !important;
}