h1,h2,h3,h4,h5,h6{
	margin-bottom: var(--padding-global);
}
button,table{
	margin-bottom: calc(var(--padding-global)/2);
}
button{
	display: block;
	border:solid;
}
table,tbody{
    width: 100%;
	border-collapse: collapse; 
	display: table;
}
td{
    display: table-cell;
	border:solid;
}
td:hover{
	opacity: .8;
}
td > *{
	width:100%;	
}
tr{
	display: table-row;
}
canvas{
	padding: 0 !important;
}