:root {
	--margin-global:20px;
	--padding-global:20px;
	--font-main:Special Elite;
	--font-extra:Special Elite;    
	--background-main: #680C01;
	--background-container: #40352F;
	--background-cell: #A89B67;
	--text-main:#4498AB;
	--text-cell:#AF200C;    
	--text-title:#558147;
	--border-cell:#aa3C1F;
}
