:root {
	--margin-global:20px;
	--padding-global:20px;
	--font-main:Times New Roman;
	--font-extra:Times New Roman;    
	--background-main: #202E39;
	--background-container: #AFA278;
	--background-cell: #B59642;
	--text-main:#000000;
	--text-cell:#4A362F;    
	--text-title:#2B0A09;
	--border-cell:#80381E;
}
