* { background-color: rgba(255,0,0,.2); }
* * { background-color: white; }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: yellow; }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: red; }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: blue; }
* * * * * * * * * { background-color: rgba(0,0,255,.2); }