:root {
	--margin-global:20px;
	--padding-global:20px;
	--font-main:Palatino;
	--font-extra:diogenesregular;    
	--background-main: #0B0701;
	--background-container: rgb(243, 172, 92);
	--background-cell: #6d3d29;
	--text-main:#0E0701;
	--text-cell:#E5AC82;    
	--text-title:#0B0701;
	--border-cell:#485275;

	--text-custom:rgb(248, 61, 4);
}

.c-mainmenu h1{
	color: var(--text-custom);
}

.l-v > *, /*container*/
.l-v-0{
	border: solid transparent calc(var(--padding-global)/2);
	padding: calc(var(--padding-global)/2);
	background: 
		linear-gradient(to bottom, var(--background-container), var(--background-container)) 
		padding-box,
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANklEQVQoU2NkYGD4z4AbMDLikQRpBCvAZgJMHK4A2SSwTqhGFAXIJuFUgGESXCUutyArwOohAOmVEAksthwxAAAAAElFTkSuQmCC)
		border-box,
		linear-gradient(to bottom, var(--background-container), var(--background-container)) 
		border-box;
	background-repeat: repeat;
}
