:root {
    --margin-global:20px;
	--padding-global:20px;
	--font-main:MS Serif;
	--font-extra:tulisan_tangankuregular;    
	--background-main: #3E652E;
	--background-container: #B0B1B1;
	--background-cell: #C6C7D7;
	--text-main:#332211;
	--text-cell:#1A1C16;    
	--text-title:#992211;
	--border-cell:#DDDDDD;
}

h1,h2,h3,h4,h5,h6,input{
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

