:root {
	--margin-global:20px;
	--padding-global:20px;
	--font-main:Book antiqua;
	--font-extra:UnifrakturCook;    
	--background-main: #000000;
	--background-container: #E5D1B8;
	--background-cell: #988968;
	--text-main:#221407;
	--text-cell:#4A362F;    
	--text-title:#343F43;
	--text-title-capital:#8E3B21;
	--border-cell:#444135;
}
h1::first-letter{
	font-size: 200%;
	color: var(--text-title-capital);
}
h1{
	margin-top: -20px;
	margin-bottom: -5px;
}
