:root {
	--margin-global:20px;
	--padding-global:20px;
	--font-main:Courier new;
	--font-extra:Courier new;    
	--background-main: black;
	--background-container: rgb(160, 160, 160);
	--background-cell: rgb(128, 128, 128);
	--text-main:black;
	--text-cell:black;    
	--text-title:var(--faction_color);
	--border-cell:black;
}
h1,h2,h3,h4,h5,h6,input{
	font-weight: bold;
}
