:root {
	--margin-global:15px;
	--padding-global:25px;
	--font-main:Palatino;
	--font-extra:diogenesregular;    
	--background-main: #C4BFBE;
	--background-container: #E2E1DD;
	--background-cell: rgb(193, 213, 236);
	--text-main:rgb(138, 106, 106);
	--text-cell:rgb(138, 106, 106);    
	--text-title:rgb(138, 106, 106);
	--border-cell:#D09D8F;
}
.l-main{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAASklEQVQoU2NkYGAwZmBgOMuAACA+CKCIMSIpADGRNaEYgKwQ3WQUjTCF2BTBLAPLgRQS7UaiFaJ7As1/EBtJ9gyKw6EcjOAhyo0AiEsU18AFCdwAAAAASUVORK5CYII=)
		repeat;
	background-blend-mode: lighten;
}