:root {
	--margin-global:20px;
	--padding-global:20px;
	--font-main:buran_ussrregular;
	--font-extra:buran_ussrregular;    
	--background-main: #D52D17;
	--background-container: #FEEFA0;
	--background-cell: #D5B17D;
	--text-main:#D52D17;
	--text-cell:#000000;    
	--text-title:#400A30;
	--border-cell:#000000;
}
