:root {
	--margin-global:20px;
	--padding-global:20px;
	--font-main:Times;
	--font-extra:Impact;    
	--background-main: #000000;
	--background-container: #430E89;
	--background-cell: #350DED;
	--background-container: #430E89;
	--text-main:#FFFFFF;
	--text-cell:#FFFFFF;    
	--text-title:#F232FA;
	--border-cell:#0A007E;
}

.c-mainmenu h1{
	letter-spacing: -0.01em;
	font-family: Impact;
	background: #4222be;
	background: linear-gradient(to bottom, #4222be 0%, #a62cc1 73%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4222be', endColorstr='#a62cc1', GradientType=0);
	-webkit-text-stroke: 0.01em #B28FFD;
	filter: progid:DXImageTransform.Microsoft.Glow(Color=#b28ffd, Strength=1);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	  
}
.c-mainmenu{
	background-color:#0A007E;
    background-image:
    radial-gradient(#F232FA, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(#F232FA, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(#F232FA, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.c-mainmenu button{
	background-color:transparent;
	border: none;
}