:root {
	--margin-global:25px;
	--padding-global:10px;
	--font-main:Arial;
	--font-extra:ds_arabicregular;    
	--font-size-title:40px; 
    --font-size-subtitle:30px; 
	--background-main: rgb(245, 203, 143);
	--background-container: #F0B765;
	--background-cell: #CF5C03;
	--background-cell1: #CF5C03;
	--background-cell2: #F3A233;
	--text-main:#180305;
	--text-cell:#180305;    
	--text-title:#721403;
	--border-cell:	#874D20;
	
}
button{
	font-family: var(--font-main);
}
table,button{
	background: linear-gradient(to bottom, 
		var(--background-cell1) 0%, 
		var(--background-cell2) 100%);
}
td{
	background: transparent;
}
.l-v > *, /*container*/
.l-v-0{
	border-style:double;
	border-color: black;
	border-width: thick;
}
