:root {
    --margin-global:20px;
	--padding-global:20px;
	--font-main:Arial;
	--font-extra:ds_arabicregular;    
	--background-main: rgb(44, 43, 42);
	--background-container: #C8B482;
	--background-cell: rgb(173, 82, 54);
	--text-main:#1D1A1C;
	--text-cell:#3C571C;    
	--text-title:#AC3D1C;
	--border-cell:#CE9910;
} 