:root {
	--margin-global:20px;
	--padding-global:20px;
	--font-main:buran_ussrregular;
	--font-extra:buran_ussrregular;    
	--background-main: #2A373F;
	--background-container: #000000;
	--background-cell: #250601;
	--text-main:#D52D17;
	--text-cell:#FFFFFF;    
	--text-title:#D52D17;
	--border-cell:#570d00;
}
/*PAGES*/
.c-mainmenu, .c-mainmenu button{
	color: #D52D17;
	background-color:black;
}
