:root {
	--margin-global:20px;
	--padding-global:20px;
	--font-main:Courier new;
	--font-extra:Courier new;    
	--background-main: #000000;
	--background-container: #253089;
	--background-cell: #38367F;
	--text-main:#FFFFFF;
	--text-cell:#F4960C;    
	--text-title:#FFFFFF;
	--border-cell:#F25D05;
}

