:root {
	--margin-global:20px;
	--padding-global:20px;
	--font-main:Times;
	--font-extra:UnifrakturCook;    
	--background-main: #000000;
	--background-container: #99846B;
	--background-cell: #D5B17D;
	--text-main:#000000;
	--text-cell:#000000;    
	--text-title:#8C0702;
	--border-cell:#000000;
}

button{
	background-color:var(--text-title);
	color: var(--text-main);	
}