:root {
	--margin-global:20px;
	--padding-global:20px;
    --font-main:Times;
    --font-extra:Impact;   
    --font-size-title:35px; 
    --font-size-subtitle:25px; 
    --font-size-tooltip:14px; 
    --background-main: #000000;
    --background-container: #430E89;
    --background-cell: #350DED;
    --text-main:#7c7676;
    --text-cell:#FFFFFF;    
    --text-title:#F232FA;
    --border-cell:#0A007E;
    --box-shadow-main:0 2px 14px rgba(0,0,0,.4);
    --box-shadow-cell:0 1px 5px rgba(0,0,0,.3);
}
*{
	font-family: var(--font-main);
}
body{
	background-color: var(--background-main);
}
div,p{
	color: var(--text-main);
}
h1,h2,h3,h4,h5,h6,li{
    color: var(--text-title);
    font-family: var(--font-extra);
}
h2,h3,h5,h6,li{
    color: var(--text-title);
    font-family: var(--font-extra);
    font-size: var(--font-size-subtitle);
}
h4{
    font-size: calc(var(--font-size-subtitle)*.75);
}
h1{
    font-size: var(--font-size-title);
    margin-top: calc(var(--font-size-title)/-4);
}
button{
    font-family: var(--font-extra);
}
.l-v > *, /*container*/
.l-v-0{
    background-color: var(--background-container);	
    box-shadow: var(--box-shadow-main);
}
td,button,option,select{    
	color: var(--text-cell);
}
td,button{	
    background-color: var(--background-cell);
	padding: 5px;
    border-color: var(--border-cell);
    box-shadow: var(--box-shadow-main);
}
/*components*/
.c-hamburger{
    background-color: var(--background-cell);
    color: var(--text-cell);
    border-color: var(--border-cell);
}
.bar_container div{
    color:var(--text-cell);
}
.bar_container > div > div:first-child{
	background-color:var(--background-cell);
}
.bar_container > div > div:first-child > div{
	background-color:var(--text-title);
}
.modal {
    padding-top: 20px;
    background-color: rgba(0,0,0,0.4) !important;
}
.modal-content {
	background-color:var(--background-cell);
	margin: auto;
	padding: 20px;
	width: 80%;
}
.l-grid h3{
    font-size: calc(var(--font-size-subtitle)*.5);
}