:root {
    --margin-global:20px;
	--padding-global:20px;
	--font-main:MS Serif;
	--font-extra:Special Elite;    
	--background-main: #0A2538;
	--background-container: #84663D;
	--background-cell: #28655E;
	--text-main:#071926;
	--text-cell:rgb(207, 105, 84);    
	--text-title:#34293b;
	--border-cell:#B39364;
}

.l-v > *, /*container*/
.l-v-0{
	background-image: linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%) repeat; 
}
