:root {
    --margin-global:20px;
	--padding-global:20px;
	--font-main:Georgia;
	--font-extra:Georgia;    
	--background-main: black;
	--background-container: #B88858;
	--background-cell: #B88858;
	--text-main:#66412E;
	--text-cell:#66412E;    
	--text-title:#66412E;
    --border-cell:transparent;
    --box-shadow-main:
        1px 1px 1px rgba(255,255,255,.3), 
        -1px -1px 1px rgba(0,0,0,.7),
        0 1px 5px rgba(0,0,0,.3)
    ;    
    --box-shadow-cell:1px 1px 1px rgba(255,255,255,.3), 
    -1px -1px 1px rgba(0,0,0,.7),
    0 1px 5px rgba(0,0,0,.3);
}
*{
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 
        0px -1px 0px rgba(0,0,0,.7);
}
.l-v > *, /*container*/
.l-v-0{
    background: radial-gradient(ellipse at center, 
        #B88858 0%,
        #D09863 33%,
        #BF8C5D 66%,
        #AE7D54 100%);
    border-radius: 20px;
}
