<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="custom.css">
<link rel="stylesheet" type="text/css" href="components.css">
<link rel="stylesheet" type="text/css" href="layout.css">
<link rel="stylesheet" type="text/css" href="factionbase.css">
<link id="custom_style" rel="stylesheet" type="text/css" href="faction0.css">
<script src="../src/game/const/const.js"></script>
<script src="../src/game/const/factions.js"></script>
<script src="../src/game/const/style.js"></script>
<script src="templating.js"></script>
<script src="frontend.js"></script>
</head>
<body>
<!-- 
	💻
	✓
	✗
	→
	⇄ two arrows
	↶ return arrow
	✎ pencil
	🔨 hammer
	⇧ arrow up
-->

<!-- STYLEGUIDE -->
<div class="l-main">
	<div class="l-v">
	<select id="styleguide_faction" onchange="Frontend.StyleguideSelectFaction()">
		<option value="0">Empire</option>
		<option value="1">Union</option>
		<option value="2">League</option>
		<option value="3">Califate</option>
		<option value="4">Republic</option>
		<option value="5">Dinasty</option>
		<option value="6">Serpent</option>
		<option value="7">Crown</option>
		<option value="8">Corporation</option>
		<option value="9">Confederation</option>
		<option value="10">States</option>
		<option value="11">Colonies</option>
		<option value="12">Aliance</option>
		<option value="13">Khanate</option>
		<option value="14">Earldoms</option>
		<option value="15">Kingdom</option>
	</select>
	<a href="#MAIN">MAIN</a>
	<a href="#FACTIONS">FACTIONS</a>
	<a href="#ROOM">ROOM</a>
	<a href="#ROOM ONLINE">ROOM ONLINE</a>
	<a href="#MAP PLANET">MAP PLANET</a>
	<a href="#MAP RESOURCE">MAP RESOURCE</a>
	<a href="#FLEET">FLEET</a>
	<a href="#SHIP">SHIP</a>
	</div>
</div>

<a name="MAIN"></a>
<div id="styleguide_main" class="l-main">
    <div class="c-mainmenu">
		<h1>Entropy</h1>		
		<div>
			<button>Un Jugador</button>
			<button>Online</button>
			<button>Tutorial</button>
			<button>Opciones</button>
			<button>Idioma</button>
			<button>Editor de mapas</button>
		</div>
	</div>
</div>

<a name="FACTIONS"></a>
<div id="styleguide_factions" class="l-main">
	<div class="l-grid">
			<div>
				
			<div onclick="Room.ShowFactionContent(0)">
				
		<img src="..\assets\transparent\Empire.png" style="background-color:#7fb921"> 
	
				<h4>Imperio</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(1)">
				
		<img src="..\assets\transparent\Union.png" style="background-color:#7fb921"> 
	
				<h4>Union </h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(2)">
				
		<img src="..\assets\transparent\League.png" style="background-color:#7fb921"> 
	
				<h4>Liga</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(3)">
				
		<img src="..\assets\transparent\Califate.png" style="background-color:#7fb921"> 
	
				<h4>Califato</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(4)">
				
		<img src="..\assets\transparent\Republic.png" style="background-color:#7fb921"> 
	
				<h4>Republica</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(5)">
				
		<img src="..\assets\transparent\Dinasty.png" style="background-color:#7fb921"> 
	
				<h4>Dinastia</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(6)">
				
		<img src="..\assets\transparent\Serpent.png" style="background-color:#7fb921"> 
	
				<h4>Serpiente</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(7)">
				
		<img src="..\assets\transparent\Crown.png" style="background-color:#7fb921"> 
	
				<h4>Corona</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(8)">
				
		<img src="..\assets\transparent\Corporation.png" style="background-color:#7fb921"> 
	
				<h4>Corporacion</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(9)">
				
		<img src="..\assets\transparent\Confederation.png" style="background-color:#7fb921"> 
	
				<h4>Confederacion</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(10)">
				
		<img src="..\assets\transparent\States.png" style="background-color:#7fb921"> 
	
				<h4>Estados</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(11)">
				
		<img src="..\assets\transparent\Colonies.png" style="background-color:#7fb921"> 
	
				<h4>Colonias</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(12)">
				
		<img src="..\assets\transparent\Aliance.png" style="background-color:#7fb921"> 
	
				<h4>Alianza</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(13)">
				
		<img src="..\assets\transparent\Khanate.png" style="background-color:#7fb921"> 
	
				<h4>Khanato</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(14)">
				
		<img src="..\assets\transparent\Earldoms.png" style="background-color:#7fb921"> 
	
				<h4>Condados</h4>
			</div>
		
			<div onclick="Room.ShowFactionContent(15)">
				
		<img src="..\assets\transparent\Kingdom.png" style="background-color:#7fb921"> 
	
				<h4>Reino</h4>
			</div>
		
			</div>
			<div id="faction_info">
				
		<h1>Estados</h1>
		
		<img src="..\assets\transparent\States.png" style="background-color:#7fb921"> 
		
		<div>
			<p>Tras el colapso de la Union Sovietica, Estados Unidos inicia planes de alianza y recuperacion economica en la antigua area sovietica.</p><p>Por medio de propaganda y habil diplomacia, se logra una globalizacion cultural controlada por Norteamerica.</p><p>Tras varios anos de terraformacion, una prospera colonia se establece en Marte, desde la que se abre acceso a toda la galaxia.</p>
		</div>
		<button onclick="Room.ChangePlayerFaction(10)">Pick this faction</button>
	
			</div>
		</div>
</div>

<a name="ROOM"></a>
<span class="c-hamburger" onclick="Frontend.OnHamburgerClick(this)">☰</span>
<div id="styleguide_room" class="l-main l-h l-h-two">
	<div class="l-v-0">
		<h1>New game</h1>
		<p id="room_info" style="display:none">
			Copia: <input id="room_code">
		</p>
		<table id="players" class="c-table-room">
			<tbody>
			<tr class="">
				<td>
					<input onchange="Room.ChangePlayerName(this.value)" value="PLAYERNAME">
				</td>		
				<td></td>
				<td>
					<input onchange="Room.ChangePlayerColor(this.value)" type="color" id="myColor" value="#86ae8f">
				</td>
				<td>
					<select onmousedown="(function(e){ e.preventDefault(); })(event, this)" onclick="Room.OpenFactionModal()">
						<option>Colonias</option>
					</select>
				</td>
			</tr>

			<tr class="playerrow">
				<td>
					<input disabled="" onchange="Room.ChangePlayerName(this.value)" value="PLAYERNAME">
				</td>		
				<td><option disabled="">💻</option></td>
				<td>
					<input disabled="" onchange="Room.ChangePlayerColor(this.value)" type="color" id="myColor" value="#64aff2">
				</td>
				<td>
					<select disabled="" onmousedown="(function(e){ e.preventDefault(); })(event, this)" onclick="Room.OpenFactionModal()">
						<option>Alianza</option>
					</select>
				</td>
			</tr>

			<tr class="playerrow">
				<td>
					<input disabled="" onchange="Room.ChangePlayerName(this.value)" value="PLAYERNAME">
				</td>		
				<td><option disabled="">💻</option></td>
				<td>
					<input disabled="" onchange="Room.ChangePlayerColor(this.value)" type="color" id="myColor" value="#59235b">
				</td>
				<td>
					<select disabled="" onmousedown="(function(e){ e.preventDefault(); })(event, this)" onclick="Room.OpenFactionModal()">
						<option>Condados</option>
					</select>
				</td>
			</tr>
			</tbody>
		</table>
		<button id="room_create" onclick="Room.Create()" style="display: none;">Crear</button>
		<button id="room_join" onclick="Room.Join()" style="display: none;">Unirse</button>
		
		<button style="display: block;" id="room_add" onclick="Room.AddAI()">+ Anadir IA</button>
		<button style="display:none" id="room_allow" onclick="Room.Allow()">+ Anadir Jugador</button>
		<button style="display: block;" id="room_start" onclick="Room.StartGame()">Jugar!</button>
	</div>
	<div class="l-v-0">
		<h2>Map details</h2>
		<table class="c-table-73">
			<tr>
				<td>Game mode</td>
				<td>
					<select>
						<option>Fast</option>
						<option>Normal</option>
					</select>
				</td>				
			</tr>
			<tr>
				<td>Resources</td>
				<td>
					<select>
						<option>Few</option>
						<option>Normal</option>
						<option>Many</option>
					</select>
				</td>				
			</tr>
			<tr>
				<td>Abundance</td>
				<td>
					<select>
						<option>Few</option>
						<option>Normal</option>
						<option>Many</option>
					</select>
				</td>				
			</tr>
			<tr>
				<td>War fog</td>
				<td><input type="checkbox"></td>				
			</tr>
			<tr>
				<td>Explore</td>
				<td><input type="checkbox"></td>				
			</tr>
			<tr>
				<td>Map type</td>
				<td>
					<select>
						<option>Cloud</option>
						<option>Plane</option>
						<option>Center</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Dispersion</td>
				<td>
					<select>
						<option>Low</option>
						<option>Medium</option>
						<option>High</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
</div>

<a name="ROOM ONLINE"></a>
<div id="styleguide_room_online" class="l-main l-h l-h-two">
	<div class="l-v-0">
            <h1>New game</h1>
            <p id="room_info" style="display: block;">
                Copia: <input id="room_code" value="jasdhf45s6654gs456sg4gsgsag45a456sg6asg44gs4ags6">
            </p>
            <table id="players">
        <tbody><tr class="">
            <td>
				<input onchange="Room.ChangePlayerName(this.value)" value="PLAYERNAME">
			</td>		
            <td></td>
            <td>
				<input onchange="Room.ChangePlayerColor(this.value)" type="color" id="myColor" value="#76d15b">
			</td>
            <td>
				<select onmousedown="(function(e){ e.preventDefault(); })(event, this)" onclick="Room.OpenFactionModal()">
					<option>Corporacion</option>
				</select>
			</td>
        </tr>
    
        <tr class="playerrow">
            <td>
				<input disabled="" onchange="Room.ChangePlayerName(this.value)" value="PLAYERNAME">
			</td>		
            <td></td>
            <td>
				<input disabled="" onchange="Room.ChangePlayerColor(this.value)" type="color" id="myColor" value="#0f0369">
			</td>
            <td>
				<select disabled="" onmousedown="(function(e){ e.preventDefault(); })(event, this)" onclick="Room.OpenFactionModal()">
					<option>Condados</option>
				</select>
			</td>
        </tr>
    </tbody></table>
            <button id="room_create" onclick="Room.Create()" style="display: none;">Crear</button>
            <button id="room_join" onclick="Room.Join()" style="display: none;">Unirse</button>
            
            <button style="display: block;" id="room_add" onclick="Room.AddAI()">+ Anadir IA</button>
            <button style="display: block;" id="room_allow" onclick="Room.Allow()">+ Anadir Jugador</button>
            <button style="display: block;" id="room_start" onclick="Room.StartGame()">Jugar!</button>
	</div>
	<div class="l-v l-v-two-top">
		<div>
			<h2>Map details</h2>
		</div>
		<div style="display: block;" id="chat">
			<h2>Chat</h2>
			<div id="chat_output">
				<div class="chat_message_me">PLAYERNAME: Hi</div>
				<div>Player 2: Hello</div>
				<div>Player 2: Hello</div>
				<div>Player 2: Hello</div>
				<div>Player 2: Hello</div>
				<div>Player 2: Hello</div>
				<div>Player 2: Hello</div>
				<div>Player 2: Hello</div>
				<div class="chat_message_me">PLAYERNAME: How do you do</div>
			</div>
			<input id="chat_input">
			<input id="chat_submit" type="submit" onclick="Chat.Send()">
		</div>
	</div>
</div>

<a name="MAP PLANET"></a>
<div id="styleguide_map_planet" class="l-main l-h l-h-two-left">
	<canvas id="map_canvas" class="c-map-canvas"></canvas>
	<div class="l-v l-v-two-bot">
		<div id="map_object" class="c-editable-object">
			<div>
				<h1>Planeta A1</h1>				
				<div>	
					<button disabled style="background:red;"></button>				
					<button onclick="Map_Menu.FocusCamera()">⇧</button>	
					<button onclick="Map_Menu.AddFleet()">✎</button>
					<button onclick="Map_Menu.AddFleet()">🔨</button>										
				</div>
			</div>
			<div>
				<h3>Matter</h3>
				<h3>Debris</h3>
				<h3>Humans</h3>
			</div>
			<div>
				<h2>128</h2>
				<h2>64</h2>
				<h2>85</h2>
			</div>
		</div>
		<div id="map_fleets">
			<h2>Orders</h2>
			<table id="fleets_list_orders">
				<tbody>
					<tr>
						<td onclick="Map_Menu.EditFleet(0)">New fleet</td>		
						<td>10s</td>
						<td>2T</td>
						<td class="disabled">→</td>
					</tr>		
					<tr>
						<td onclick="Map_Menu.EditFleet(1)">New fleet</td>		
						<td>10s</td>
						<td>2T</td>
						<td class="disabled">→</td>
					</tr>
				</tbody>
			</table>
			<hr>
			<h2>Local</h2>
			<table id="fleets_list_local">
				<tbody>
					<tr>
						<td>New fleet</td>		
						<td>10s</td>
						<td>2T</td>
						<td class="disabled">↶</td>
					</tr>		
					<tr>
						<td>New fleet</td>		
						<td>10s</td>
						<td>2T</td>
						<td class="disabled">↶</td>
					</tr>
				</tbody>
			</table>
			<hr>
			<h2>On construction</h2>
			<table id="fleets_list_construction">
				<tbody>
					<tr>
						<td>New fleet</td>		
						<td>10s</td>
					</tr>		
					<tr>
						<td>New fleet</td>		
						<td>10s</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
</div>

<a name="MAP RESOURCE"></a>
<div id="styleguide_map_resource" class="l-main l-h l-h-two-left">
	<canvas id="map_canvas" class="c-map-canvas"></canvas>
	<div class="l-v l-v-two-bot">
			<div id="map_object" class="c-editable-object">
				<div>
					<h1>Nube G1</h1>				
					<div>	
						<button disabled style="background:red;"></button>				
						<button onclick="Map_Menu.FocusCamera()">⇧</button>									
					</div>
				</div>
				<div>
					<h3>Matter</h3>
					<h2>128<span>/128</span></h2>
				</div>
			</div>
		<div id="map_fleets">
			<h2>Orders</h2>
			<table id="fleets_list_orders">
				<tbody>
					<tr>
						<td onclick="Map_Menu.EditFleet(0)">New fleet</td>		
						<td>10s</td>
						<td>2T</td>
						<td class="disabled">→</td>
						<td class="disabled">⇄</td>
					</tr>		
					<tr>
						<td onclick="Map_Menu.EditFleet(1)">New fleet</td>		
						<td>10s</td>
						<td>2T</td>
						<td class="disabled">→</td>
						<td class="disabled">⇄</td>
					</tr>
				</tbody>
			</table>
			<hr>
			<h2>Local</h2>
			<table id="fleets_list_local">
				<tbody>
					<tr>
						<td>New fleet</td>		
						<td>10s</td>
						<td>2T</td>
						<td class="disabled">↶</td>
					</tr>		
					<tr>
						<td>New fleet</td>		
						<td>10s</td>
						<td>2T</td>
						<td class="disabled">↶</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
</div>

<a name="FLEET"></a>
<div id="styleguide_fleet" class="l-main l-h l-h-two">
	<div class="l-v l-v-two-bot">
		<div class="c-editable-object">
			<div>
				<h1><input onchange="" value="New fleet"></h1>			
				<div>	
					<button onclick="Fleet_Menu.SaveFleet()">✓</button>
					<button onclick="Fleet_Menu.CancelFleet()">✗</button>								
				</div>
			</div>
			<div>
				<h3>Cost</h3>
				<h2>128<span>/128</span></h2>
			</div>
		</div>
		<div>                
			<table>
	<tbody><tr>
		<td onclick="Fleet_Menu.EditShipType(0)">✎ Warship</td>
		<td id="ship_amount_0">0</td>
		<td id="ship_add_0" onclick="Fleet_Menu.AddShipToFleet(0)">+</td>
		<td id="ship_remove_0" class="disabled">-</td>                        
	</tr>

	<tr>
		<td onclick="Fleet_Menu.EditShipType(1)">✎ Merchant</td>
		<td id="ship_amount_1">2</td>
		<td id="ship_add_1" onclick="Fleet_Menu.AddShipToFleet(1)">+</td>
		<td id="ship_remove_1" onclick="Fleet_Menu.RemoveShipFromFleet(1)">-</td>                        
	</tr>

	<tr>
		<td onclick="Fleet_Menu.EditShipType(2)">✎ New ship</td>
		<td id="ship_amount_2">0</td>
		<td id="ship_add_2" onclick="Fleet_Menu.AddShipToFleet(2)">+</td>
		<td id="ship_remove_2" class="disabled">-</td>                        
	</tr>
</tbody></table>
			<button onclick="Fleet_Menu.AddShipType()">Add ship type</button>
		</div>
	</div>
	<div class="l-v">
		<div>
			<h2>Skills</h2>
			<table class="fleettable unactionable"></table>
			<h2>Orders</h2>
			<table class="fleettable"></table>
		</div>
		<div>
			<h2>Cargo Fleet</h2>
			<div class="bar_container"></div>
		</div>
	</div>
</div>

<a name="SHIP"></a>
<div id="styleguide_ship" class="l-main l-h l-h-two">
	<div class="l-v l-v-two-bot">
		<div class="c-editable-object">
			<div>
				<h1><input onchange="" value="New ship"></h1>			
				<div>	
					<button onclick="Ship_Menu.SaveShip()">✓</button>
					<button onclick="Ship_Menu.CancelShip()">✗</button>	
					<h3>Colonizer</h3>							
				</div>
			</div>
			<div>
				<h2>Ship skills</h2>
				<ul>
					<li>Colonization</li>
					<li>Tripulated</li>
					<li>Extra speed</li>
				</ul>
			</div>			
		</div>
		<div>						
			<div class="c-ship-size-buttons">
				<h2>Size</h2>
				<button onclick="Ship_Menu.SetShipSize(1)">1</button>
				<button onclick="Ship_Menu.SetShipSize(2)">2</button>
				<button onclick="Ship_Menu.SetShipSize(4)">4</button>
				<button onclick="Ship_Menu.SetShipSize(8)">8</button>
			</div>									
			<table id="ship_parts">
				<tbody><tr>
					<td>Arma</td>
					<td id="part_amount_Weapon">1</td>
					<td id="part_add_Weapon" class="disabled">+</td>
					<td id="part_remove_Weapon" onclick="Ship_Menu.RemovePartFromShip('Weapon')">-</td>                        
				</tr>

				<tr>
					<td>Munición</td>
					<td id="part_amount_Ammo">0</td>
					<td id="part_add_Ammo" class="disabled">+</td>
					<td id="part_remove_Ammo" class="disabled">-</td>                        
				</tr>

				<tr>
					<td>Escudo</td>
					<td id="part_amount_Shield">0</td>
					<td id="part_add_Shield" class="disabled">+</td>
					<td id="part_remove_Shield" class="disabled">-</td>                        
				</tr>

				<tr>
					<td>Motor</td>
					<td id="part_amount_Engine">0</td>
					<td id="part_add_Engine" class="disabled">+</td>
					<td id="part_remove_Engine" class="disabled">-</td>                        
				</tr>

				<tr>
					<td>Combustible</td>
					<td id="part_amount_Fuel">0</td>
					<td id="part_add_Fuel" class="disabled">+</td>
					<td id="part_remove_Fuel" class="disabled">-</td>                        
				</tr>

				<tr>
					<td>Habitat</td>
					<td id="part_amount_Habitat">0</td>
					<td id="part_add_Habitat" class="disabled">+</td>
					<td id="part_remove_Habitat" class="disabled">-</td>                        
				</tr>

				<tr>
					<td>Radio</td>
					<td id="part_amount_Radio">0</td>
					<td id="part_add_Radio" class="disabled">+</td>
					<td id="part_remove_Radio" class="disabled">-</td>                        
				</tr>

				<tr>
					<td>Ordenador</td>
					<td id="part_amount_Computer">0</td>
					<td id="part_add_Computer" class="disabled">+</td>
					<td id="part_remove_Computer" class="disabled">-</td>                        
				</tr>
</tbody></table>
		</div>
	</div>
	<div class="l-v">            
			<canvas id="ship_canvas"></canvas>
            <div class="bar_container" id="ship_props">
		<div>
			<div>
				<div style="width:6%">1</div>
			</div>
			<div>Potencia de fuego</div>
		</div>
	
		<div>
			<div>
				<div style="width:12%">1</div>
			</div>
			<div>Cadencia de fuego</div>
		</div>
	
		<div>
			<div>
				<div style="width:34%">33</div>
			</div>
			<div>Precisión</div>
		</div>
	
		<div>
			<div>
				<div style="width:0%">0</div>
			</div>
			<div>Ataque electrónico</div>
		</div>
	
		<div>
			<div>
				<div style="width:3%">1</div>
			</div>
			<div>Defensa</div>
		</div>
	
		<div>
			<div>
				<div style="width:0%">0</div>
			</div>
			<div>Tripulación</div>
		</div>
	
		<div>
			<div>
				<div style="width:27%">57</div>
			</div>
			<div>Evasión</div>
		</div>
	
		<div>
			<div>
				<div style="width:100%">16</div>
			</div>
			<div>Camuflaje</div>
		</div>
	
		<div>
			<div>
				<div style="width:60%">15</div>
			</div>
			<div>Velocidad</div>
		</div>
	
		<div>
			<div>
				<div style="width:11%">1</div>
			</div>
			<div>Percepción</div>
		</div>
	
		<div>
			<div>
				<div style="width:52%">9</div>
			</div>
			<div>Autonomia</div>
		</div>
	
		<div>
			<div>
				<div style="width:0%">0</div>
			</div>
			<div>Capacidad de carga</div>
		</div>
	</div>
        </div>
</div>

</body>
