/*canvas container*/
.l-canvas-container{
	margin:0 !important;
	padding: 0 !important;
}

/*container*/
.l-v > *,
.l-v-0{
    padding: var(--padding-global);
    overflow-y: auto;
    overflow-x: hidden;
}

/*screen body*/
.l-main{
    height: 100vh;
    display: block;
    overflow: hidden;
}

/*two col hor*/
.l-h{
    display: flex;
    flex-direction: row;    
}
.l-h> *{
    width: 50%;
    margin: var(--margin-global);              
}
.l-h > *:first-child{  
    margin-right: 0;    
}
/*two col hor - screen mobile*/
@media only screen and (max-width: 700px) {
	.l-h > *:first-child{
		margin: 0; 
		width: 100%;
	}
	.l-h > *:nth-child(2){
		margin: 0; 
		width: 100%;		
		position: fixed;
		z-index: 1;
		transition: 0.5s;
		display:none;
	}
}


/*two row ver*/
.l-v{
    display: flex;
	flex-direction: column; 
}
.l-v > *:first-child{    
	height: calc(50% - var(--margin-global)); 
	margin-bottom: var(--margin-global);
}
.l-v > *:nth-child(2){
	height: 50%;
}

/*two col hor left*/
@media only screen and (min-width: 700px) {
	.l-h-two-left > *:first-child{    
		width: calc(60% - var(--margin-global));
	}
	.l-h-two-left > *:nth-child(2){
		width: 40%;
	}
}

/*ver canvas*/
.l-v-canvas > *:first-child{    
	height: calc(80% - var(--margin-global)); 
}
.l-v-canvas  > *:nth-child(2){
	height: 20%;
}

/*two row ver top*/
.l-v-two-top > *:first-child{    
	height: calc(60% - var(--margin-global)); 
}
.l-v-two-top > *:nth-child(2){
	height: 40%;
}

/*two row ver bot*/
.l-v-two-bot > *:first-child{    
	height: calc(25% - var(--margin-global)); 
}
.l-v-two-bot > *:nth-child(2){
	height: 75%;
}

/*grid*/
.l-grid{
	flex-direction:row;
    display:flex;
	height: calc(100% - 80px);
}
.l-grid > div{
	width: 50%;
	padding:10px;
}
.l-grid > div:first-child{
	padding-right:0px;
	display: grid;	
	grid-template-columns: repeat(auto-fill, calc(100%/4) );
}
.l-grid > div:first-child > div{
	margin-right:10px;
}
.l-grid > div:first-child > div:hover{
	opacity:.5;
}
.l-grid > div:nth-child(2){
	overflow-y:scroll;
}
.l-grid img {
    width:100%;
}