@font-face {
    font-family: 'buran_ussrregular';
    src: url('../assets/buran_ussr-webfont.woff2') format('woff2'),
         url('../assets/buran_ussr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ds_arabicregular';
    src: url('../assets/arabdances.woff2') format('woff2'),
         url('../assets/arabdances.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tulisan_tangankuregular';
    src: url('../assets/tulisan_tanganku.woff2') format('woff2'),
         url('../assets/tulisan_tanganku.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'diogenesregular';
    src: url('../assets/diogenes.woff2') format('woff2'),
         url('../assets/diogenes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset */
* {
    align-content:  stretch;
    align-items:  stretch;
    align-self:  auto;
    animation-delay:  0s;
    animation-direction:  normal;
    animation-duration:  0s;
    animation-fill-mode:  none;
    animation-iteration-count:  1;
    animation-name:  none;
    animation-play-state:  running;
    animation-timing-function:  ease;
    backface-visibility:  visible;
    background-attachment:  scroll;
    background-clip:  border-box;
    background-color:  transparent;
    background-image:  none;
    background-origin:  padding-box;
    background-position:  0% 0%;
    background-repeat:  repeat;
    background-size:  auto auto;
    border: none;
    border-bottom-color:  currentColor;
    border-bottom-left-radius:  0;
    border-bottom-right-radius:  0;
    border-bottom-style:  none;
    border-bottom-width:  medium;
    border-collapse:  separate;
    border-image-outset:  0s;
    border-image-repeat:  stretch;
    border-image-slice:  100%;
    border-image-source:  none;
    border-image-width:  1;
    border-left-color:  currentColor;
    border-left-style:  none;
    border-left-width:  medium;
    border-right-color:  currentColor;
    border-right-style:  none;
    border-right-width:  medium;
    border-spacing:  0;
    border-top-color:  currentColor;
    border-top-left-radius:  0;
    border-top-right-radius:  0;
    border-top-style:  none;
    border-top-width:  medium;
    bottom:  auto;
    box-shadow:  none;
    box-sizing:  content-box;
    break-after:  auto;
    break-before:  auto;
    caption-side:  top;
    clear:  none;
    clip:  auto;
    color:  black;
    column-count:  auto;
    column-fill:  balance;
    column-gap:  normal;
    column-rule-color:  currentColor;
    column-rule-style:  none;
    column-rule-width:  medium;
    column-span:  none;
    column-width:  auto;
    content:  normal;
    counter-increment:  none;
    counter-reset:  none;
    cursor:  auto;
    direction:  ltr;
    display:  inline;
    empty-cells:  show;
    filter:  none;
    flex-basis:  auto;
    flex-direction:  row;
    flex-grow:  0;
    flex-shrink:  1;
    flex-wrap:  nowrap;
    float:  none;
    font-family:  sans-serif;
    font-feature-settings:  normal;
    font-size:  medium;
    font-size-adjust:  none;
    font-stretch:  normal;
    font-style:  normal;
    font-variant:  normal;
    font-weight:  normal;
    height:  auto;
    hyphens:  manual;
    image-orientation:  0deg;
    image-rendering:  auto;
    ime-mode:  auto;
    justify-content:  flex-start;
    left:  auto;
    letter-spacing:  normal;
    line-height:  normal;
    list-style-image:  none;
    list-style-position:  outside;
    list-style-type:  disc;
    margin-bottom:  0;
    margin-left:  0;
    margin-right:  0;
    margin-top:  0;
    marks:  none;
    mask-type:  luminance;
    max-height:  none;
    max-width:  none;
    min-height:  0;
    min-width:  0;
    opacity:  1.0;
    order:  0;
    orphans:  2;
    outline-color:  currentColor;
    outline-offset:  0;
    outline-style:  none;
    outline-width:  medium;
    overflow:  visible;
    overflow-x:  visible;
    overflow-y:  visible;
    padding-bottom:  0;
    padding-left:  0;
    padding-right:  0;
    padding-top:  0;
    page-break-after:  auto;
    page-break-before:  auto;
    page-break-inside:  auto;
    perspective:  none;
    perspective-origin:  50% 50%;
    pointer-events:  auto;
    position:  static;
    quotes:  none;
    resize:  none;
    right:  auto;
    tab-size:  8;
    table-layout:  auto;
    text-align:  left;
    text-align-last:  auto;
    text-decoration-color:  currentColor;
    text-decoration-line:  none;
    text-decoration-style:  solid;
    text-indent:  0;
    text-overflow:  clip;
    text-rendering:  auto;
    text-shadow:  none;
    text-transform:  none;
    text-underline-position:  auto;
    top:  auto;
    transform:  none;
    transform-origin:  50% 50% 0;
    transform-style:  flat;
    transition-delay:  0s;
    transition-duration:  0s;
    transition-property:  all;
    transition-timing-function:  ease;
    unicode-bidi:  normal;
    vertical-align:  baseline;
    visibility:  visible;
    white-space:  normal;
    widows:  2;
    width:  auto;
    word-break:  normal;
    word-spacing:  normal;
    word-wrap:  normal;
    z-index:  auto;
}

/* BASE */
style,script{
    display: none;
}
div,h1,h2,h3,p{
    display: block;
}
canvas {
    background-color: greenyellow !important;
}
span,input{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

/* Vars */
:root {
    --faction_color:#C60C30;	
    --display-tooltips:block;
}

/*

//Battle 
.l-battle > canvas{
	height:80%;		
	width:100%;	
	background-color:black;		
}	
.l-battle > div{
	height:20%;		
	width:100%;	
	background-color:var(--color_tertiary_back);		
	display:flex;
	flex-direction:row;
}	
.l-battle > div > div{
	width:20%;		
}	
.l-battle > div > div:nth-child(2){
	width:60%;	
	background-color:var(--color_secondary_back);			
}
*/