<script src='threex.terrain.js'></script>

<canvas width="1366" height="657"></canvas>

<script>
var heightMap	= THREEx.Terrain.allocateHeightMap(100, 200);
THREEx.Terrain.simplexHeightMap(heightMap)

// build the geometry
var geometry	= THREEx.Terrain.heightMapToPlaneGeometry(heightMap)
// init the material
var material	= new THREE.MeshPhongMaterial();
// create the mesh and add it to the scene
var mesh	= new THREE.Mesh( geometry, material );
scene.add( mesh );
</script>