<body>
	<div id="output"></div>
	<div id="inputs"></div>
</body>


<script src="http://threejs.org/build/three.min.js"></script>

<script src="lib.js"></script>
<script src="random.js"></script>
<script src="world.js"></script>
<script src="historyEvents.js"></script>
<script src="historyText.js"></script>
<script>

var MaxYear = 1000;
		var Countries = {};
		var Log = [];

var rnd = Random.Create(984);

var world = World.Create(rnd);

inputs.innerHTML = World.Write(world);

</script>