<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
<script src="https://dl.dropboxusercontent.com/s/zjt32xn2mlyflvy/easystar-0.3.1.min.js"></script>

<script>

var SPRITES = {
	units : null,
}

var Drawer = {
	render : function(){
	
		gameScene.clear();
	SPRITES.units.animations.play("southeast");
		gameScene.renderXY(
			SPRITES.units,
			100, 
			100, 
			false);
	}
}

function preload() {

game.load.crossOrigin='Anonymous';
game.load.atlasJSONArray('units', 
		'https://bitbucket.org/johnhammer/johnhammer.bitbucket.io/raw/master/zeus/unit.png', 
		'https://bitbucket.org/johnhammer/johnhammer.bitbucket.io/raw/master/zeus/unit.json');	

}

function create() {

	

	//settings
	game.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;
    game.stage.backgroundColor = '#cccccc';
    gameScene=game.add.renderTexture(game.width,game.height);
    game.add.sprite(0, 0, gameScene);
		
		//SPRITES.units = game.make.sprite(-50, 0, 'units', 0);
	
		// sprite
    SPRITES.units = game.add.sprite(-50, 0, 'units', 0);// keep him out side screen area
   
    // animation
    SPRITES.units.animations.add('southeast', 	['l (1)','l (9)','l (17)','l (25)','l (33)','l (41)','l (49)','l (57)','l (65)','l (73)','l (81)' ],6,true,true);
    SPRITES.units.animations.add('south', 		['l (2)','l (10)','l (18)','l (26)','l (34)','l (42)','l (50)','l (58)','l (66)','l (74)','l (82)'],6,true,true);
    SPRITES.units.animations.add('southwest', 	['l (3)','l (11)','l (19)','l (27)','l (35)','l (43)','l (51)','l (59)','l (67)','l (75)','l (83)'],6,true,true);
    SPRITES.units.animations.add('west', 		['l (4)','l (12)','l (20)','l (28)','l (36)','l (44)','l (52)','l (60)','l (68)','l (76)','l (84)'],6,true,true);
    SPRITES.units.animations.add('northwest', 	['l (5)','l (13)','l (21)','l (29)','l (37)','l (45)','l (53)','l (61)','l (69)','l (77)','l (85)'],6,true,true);
    SPRITES.units.animations.add('north', 		['l (6)','l (14)','l (22)','l (30)','l (38)','l (46)','l (54)','l (62)','l (70)','l (78)','l (86)'],6,true,true);
    SPRITES.units.animations.add('northeast', 	['l (7)','l (15)','l (23)','l (31)','l (39)','l (47)','l (55)','l (63)','l (71)','l (79)','l (87)'],6,true,true);
    SPRITES.units.animations.add('east', 		['l (8)','l (16)','l (24)','l (32)','l (40)','l (48)','l (56)','l (64)','l (72)','l (80)','l (88)'],6,true,true);
		
	//start
	Drawer.render();
	

}

function update(){
	Drawer.render();
}

var game = new Phaser.Game(800, 640, Phaser.AUTO, 'container', { 
	preload: preload, 
	create: create, 
	update:update 
});
</script>