<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
<script src="https://dl.dropboxusercontent.com/s/zjt32xn2mlyflvy/easystar-0.3.1.min.js"></script>

<script>

var TheUnit = {
	heroMapPos : {x:1,y:1},
	heroMapTile : {x:0,y:0},
	finalDestination : {x:5,y:5},
	path : [],
	isFindingPath : false,
	isWalking : false,
	destination : {x:0,y:0},//this.heroMapTile,
	stepsTillTurn : 19,
	stepsTaken : 0,
	heroSpeed : 1.2,
	halfSpeed : 0.8,
	facing : null,
	dX : 0,
	dY : 0,
	
}



var SPRITES = {
	units : null,
}

var GLOBAL = {
	mapSize : 9,
	map : [
		[0,0,0,0,0,0,0,0,0],
		[0,0,0,0,0,0,0,0,0],
		[0,0,0,0,0,0,0,0,0],
		[0,0,0,0,0,0,0,0,0],
		[0,0,0,0,0,0,0,0,0],
		[0,0,0,0,0,0,0,0,0],
		[0,0,0,0,0,0,0,0,0],
		[0,0,0,0,0,0,0,0,0],
		[0,0,0,0,0,0,0,0,0]
	],
	tileWidth : 30,
	map2 : [],
	borderOffset : { 		//new Phaser.Point(300,00);
		x : 300,
		y : 0
	}
}

var normText = {};

var MapInterface = {
	createMap : function(size){
		GLOBAL.map2 = [];
		for(var y = 0; y < size; y++){
			GLOBAL.map2.push([]);
			for(var x = 0; x < size; x++){
			
				var floorGraphicHeight=GLOBAL.tileWidth;   
				var floorGraphicWidth=GLOBAL.tileWidth;   
				var isoPt= new Phaser.Point();
				var cartPt=new Phaser.Point();
				cartPt.x=y*GLOBAL.tileWidth;
				cartPt.y=x*GLOBAL.tileWidth;
				isoPt=LIB.cartesianToIsometric(cartPt);
				var wallGraphicWidth=30/2-1;           
				var wallGraphicHeight=30;	
				var wallHeight=wallGraphicHeight-floorGraphicHeight; 
				var wallWidth=wallGraphicWidth-floorGraphicWidth;
				var nx = isoPt.x+GLOBAL.borderOffset.x-wallWidth;
				var ny = isoPt.y+GLOBAL.borderOffset.y-wallHeight;
			
				var cell = {x:nx,y:ny};
			
			
			
			
			
			
			
				GLOBAL.map2[y].push(cell);
			}
		}
	}
}

var Drawer = {
	draw : function(x,y,a){
		var size = 1;

		var text =a;
				
		if(!normText[x*100+y]){
			normText[x*100+y]=game.add.text(x*size+size/2,y*size,text);
		}
		else{
			normText[x*100+y].text = text;
		}
	},
	render : function(){
	
		for(var y = 0; y < GLOBAL.mapSize; y++){
			for(var x = 0; x < GLOBAL.mapSize; x++){
				var nx = GLOBAL.map2[y][x].x;
				var ny = GLOBAL.map2[y][x].y;
				
			
				if(TheUnit.heroMapTile.x==x&&TheUnit.heroMapTile.y == y){
					this.draw(nx,ny,1);
					
					var realpos = LIB.cartesianToIsometric(TheUnit.heroMapPos)
					
					
					this.draw(realpos.x,realpos.y,2);
				}
				else{
					this.draw(nx,ny,0);
				}
			}
		}
	}
}

function preload() {

game.load.crossOrigin='Anonymous';
game.load.atlasJSONArray('units', 
		'https://bitbucket.org/johnhammer/johnhammer.bitbucket.io/raw/master/zeus/spritesheet.png', 
		'https://bitbucket.org/johnhammer/johnhammer.bitbucket.io/raw/master/zeus/sprites.json');	

}


var UnitInterface = {
	findPath : function(unit){
		if(unit.isFindingPath || unit.isWalking) return;
		
		var pos = unit.finalDestination;

		unit.isFindingPath=true;
		
		easystar.findPath(unit.heroMapTile.x, unit.heroMapTile.y, pos.x, pos.y, function(newPath){this.moveTile(newPath,pos,unit)}.bind(this));
		easystar.calculate();
	},

	moveTile : function(newPath,pos,unit){
		unit.destination=unit.heroMapTile;
		unit.path=newPath;
		unit.isFindingPath=false;
		if (unit.path === null) {
			console.log("No Path was found.");
		}else{
			unit.path.push(pos);
			unit.path.reverse();
			unit.path.pop();        
		}
	},

	aiWalk : function(unit){
		this.aiStep(unit);
		
		unit.heroMapPos.x +=  unit.heroSpeed * unit.dX;
		unit.heroMapPos.y +=  unit.heroSpeed * unit.dY;
		unit.heroMapTile=LIB.getTileCoordinates(unit.heroMapPos,30);
	},

	aiStep : function(unit){
		if(unit.path.length==0){//unit.path has ended
			if(unit.heroMapTile.x==unit.destination.x&&unit.heroMapTile.y==unit.destination.y){
				unit.dX=0;
				unit.dY=0;
				unit.isWalking=false;
				return;
			}
		}
		unit.isWalking=true;
		if(unit.heroMapTile.x==unit.destination.x&&unit.heroMapTile.y==unit.destination.y){//reached current unit.destination, set new, change direction
			//wait till we are few steps into the tile before we turn
			unit.stepsTaken++;
			if(unit.stepsTaken<unit.stepsTillTurn){
				return;
			}
			//centralise the hero on the tile    
		   
			unit.stepsTaken=0;
			unit.destination=unit.path.pop();//whats next tile in unit.path
			if(unit.heroMapTile.x<unit.destination.x){
				unit.dX = 1;
			}else if(unit.heroMapTile.x>unit.destination.x){
				unit.dX = -1;
			}else {
				unit.dX=0;
			}
			if(unit.heroMapTile.y<unit.destination.y){
				unit.dY = 1;
			}else if(unit.heroMapTile.y>unit.destination.y){
				unit.dY = -1;
			}else {
				unit.dY=0;
			}
			if(unit.heroMapTile.x==unit.destination.x){//top or bottom
				unit.dX=0;
			}else if(unit.heroMapTile.y==unit.destination.y){//left or right
				unit.dY=0;
			}
			//figure out which direction to face
			if (unit.dX==1)
			{
				if (unit.dY == 0)
				{
					unit.facing = "east";
				}
				else if (unit.dY==1)
				{
					unit.facing = "southeast";
					unit.dX = unit.dY=unit.halfSpeed;
				}
				else
				{
					unit.facing = "northeast";
					unit.dX=unit.halfSpeed;
					unit.dY=-1*unit.halfSpeed;
				}
			}
			else if (unit.dX==-1)
			{
				unit.dX = -1;
				if (unit.dY == 0)
				{
					unit.facing = "west";
				}
				else if (unit.dY==1)
				{
					unit.facing = "southwest";
					unit.dY=unit.halfSpeed;
					unit.dX=-1*unit.halfSpeed;
				}
				else
				{
					unit.facing = "northwest";
					unit.dX = unit.dY=-1*unit.halfSpeed;
				}
			}
			else
			{
				unit.dX = 0;
				if (unit.dY == 0)
				{
					//unit.facing="west";
				}
				else if (unit.dY==1)
				{
					unit.facing = "south";
				}
				else
				{
					unit.facing = "north";
				}
			}
					
			
		}	
	},

	aiStart : function(unit){
		easystar = new EasyStar.js();
		easystar.setGrid(GLOBAL.map);
		easystar.setAcceptableTiles([0]);
		easystar.enableDiagonals();
		easystar.disableCornerCutting();
		
		this.findPath(unit);
	}

}



function create() {
	SPRITES.units = game.make.sprite(0, 0, 'units');
	game.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;
    game.stage.backgroundColor = '#cccccc';
    gameScene=game.add.renderTexture(game.width,game.height);
    game.add.sprite(0, 0, gameScene);

	MapInterface.createMap(9)
	
	UnitInterface.aiStart(TheUnit);	
	
	Drawer.render();
}

function update(){
	UnitInterface.aiWalk(TheUnit);
	
	Drawer.render();
}

var LIB = {
	getTileCoordinates : function(cartPt, tileHeight){
		var tempPt=new Phaser.Point();
		tempPt.x=Math.floor(cartPt.x/tileHeight);
		tempPt.y=Math.floor(cartPt.y/tileHeight);
		return(tempPt);
	},
	cartesianToIsometric : function(cartPt){
		var tempPt=new Phaser.Point();
		tempPt.x=cartPt.x-cartPt.y;
		tempPt.y=(cartPt.x+cartPt.y)/2;
		return (tempPt);
	},
	isometricToCartesian : function(isoPt){
		var tempPt=new Phaser.Point();
		tempPt.x=(2*isoPt.y+isoPt.x)/2;
		tempPt.y=(2*isoPt.y-isoPt.x)/2;
		return (tempPt);
	},

}

var game = new Phaser.Game(800, 640, Phaser.AUTO, 'container', { 
	preload: preload, 
	create: create, 
	update:update 
});
</script>