<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
<script src="https://dl.dropboxusercontent.com/s/zjt32xn2mlyflvy/easystar-0.3.1.min.js"></script>

<script>

var SPRITES = {
	terrain : null,
}

var GLOBAL = {
	mapSize : 3,
	map : [],
	coast:{
			c000000000:334,
			c111111111:335,
			c000000001:343,
			c001000000:347,
			c100000000:351,
			c000000100:355,
			c000001000:359,
			c010000000:363,
			c000100000:367,
			c000000010:371,
			c001010100:375,
			c100010001:377,
			c000010001:379,
			c001010000:380,
			c100010000:381,
			c000010100:382,
			c010010010:383,
			c000111000:384,
			c111011111:385,
			c111111101:386,
			c111110111:387,
			c101111111:388,
			c111011101:389,
			c111110101:390,
			c101110111:391,
			c101011111:392,
			c111010101:393,
			c101110101:394,
			c101010111:395,
			c101011101:396,
			c101010101:397,
			c001011101:398,
			c001010111:399,
			c001010101:400,
			c111010001:401,
			c101011001:402,
			c101010001:403,
			c101110100:404,
			c111010100:405,
			c101010100:406,
			c100010111:407,
			c100110101:408,
			c100010101:409,
			c001010001:410,
			c101010000:411,
			c100010100:412,
			c000010101:413,
			c000010000:414,
		}
}

var MapInterface = {
	createMap : function(size){
		GLOBAL.map = [];
		for(var y = 0; y < size; y++){
			GLOBAL.map.push([]);
			for(var x = 0; x < size; x++){
				GLOBAL.map[y].push(CellInterface.createEmptyCell(x,y));
			}
		}
	}
}
var CellInterface = {
	createEmptyCell : function(j,i){
		cell = {
			image : [
				0,0,0,
				0,0,0,
				0,0,0
			],
			terrain : 0
		};
		return cell;
	},
	isCellInMap(x,y){
		return x<GLOBAL.mapSize && 
			y<GLOBAL.mapSize && 
			x>=0 && 
			y>=0;
	},
	setTerrain : function(x,y,terrain){
			//game.world.removeAll(); ///////////
	
		var cell = GLOBAL.map[y][x];
				
		cell.terrain = terrain;
		
		this.setTerrainPosition(x-1,	y+1,	8,	terrain);
		this.setTerrainPosition(x,		y+1,	7,	terrain);
		this.setTerrainPosition(x+1,	y+1,	6,	terrain);
		this.setTerrainPosition(x-1,	y,		5,	terrain);
		this.setTerrainPosition(x,		y,		4,	terrain);
		this.setTerrainPosition(x+1,	y,		3,	terrain);
		this.setTerrainPosition(x-1,	y-1,	2,	terrain);
		this.setTerrainPosition(x,		y-1,	1,	terrain);
		this.setTerrainPosition(x+1,	y-1,	0,	terrain);
		
	},
	setTerrainPosition : function(x,y,pos,terrain){
		if(this.isCellInMap(x,y)){			
			var cell = GLOBAL.map[y][x];
			cell.image[pos] = terrain;
		}
	}
}

var normText = {}

var Drawer = {
	draw : function(x,y){
		var cell = GLOBAL.map[y][x];
		var size = 150;
		
		var text = "" + cell.image[6] + cell.image[7] + cell.image[8] +  
			"\r\n" + cell.image[3] + cell.image[4] + cell.image[5] +  
			"\r\n" + cell.image[0] + cell.image[1] + cell.image[2];
		
		var picture = GLOBAL.coast["c"+cell.image[0] + cell.image[1] + cell.image[2]+cell.image[3] + cell.image[4] + cell.image[5]+cell.image[6] + cell.image[7] + cell.image[8]];
		
		if(picture){
			SPRITES.terrain.frameName = "e ("+picture+")";
			gameScene.renderXY(SPRITES.terrain,x*size,y*size,false);
		}
				
		if(!normText[x*100+y]){
			normText[x*100+y]=game.add.text(x*size+size/2,y*size,text);
		}
		else{
			normText[x*100+y].text = text;
		}
	},
	render : function(){
		for(var y = 0; y < GLOBAL.mapSize; y++){
			for(var x = 0; x < GLOBAL.mapSize; x++){
				this.draw(x,y);
			}
		}
	}
}

function preload() {

game.load.crossOrigin='Anonymous';
game.load.atlasJSONArray('terrain',
		'https://bitbucket.org/johnhammer/johnhammer.bitbucket.io/raw/master/zeus/terrain.png', 
		'https://bitbucket.org/johnhammer/johnhammer.bitbucket.io/raw/master/zeus/terrain.json');

}

function create() {

	SPRITES.terrain = game.make.sprite(0, 0, 'terrain');

	//init
	MapInterface.createMap(GLOBAL.mapSize);

	//settings
	game.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;
    game.stage.backgroundColor = '#cccccc';
    gameScene=game.add.renderTexture(game.width,game.height);
    game.add.sprite(0, 0, gameScene);
		
	//start
	Drawer.render();

}

function update(){
	Drawer.render();
}

var game = new Phaser.Game(800, 640, Phaser.AUTO, 'container', { 
	preload: preload, 
	create: create, 
	update:update 
});
</script>