<head>
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
@font-face {
    font-family: 'ds_arabicregular';
    src: url('arab3end.woff2') format('woff2'),
         url('arab3end.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
	--font:arial;	
	--back1:#E6170E;
	--front1:#FFFFDB;
	--back2:#000000;
	--front2:#FFFFFF;
	--detail:#6D0001;	
}

html{
	font-family: var(--font);
	background-color : var(--back1);
	
}

p{
	color : var(--front1);
}

h1,h2,h3{
	color : var(--detail);
}

button{
	color : var(--front2);
	background-color : var(--back2);
}

///

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    //float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}



///

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: var(--font);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: var(--front1);
  background: var(--back2);

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  filter: brightness(50%);
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}


</style>

<head>
<body>

<h1>Fleets</h1>

<div class="wrap-collabsible">
	<input id="collapsible" class="toggle" type="checkbox">
	<label for="collapsible" class="lbl-toggle">Active</label>
	<div class="collapsible-content">
		<div class="content-inner">
			<div class="icon-bar">
			  <a class="active" href="#">Freiheit</a> 
			  <a href="#"><i class="fa fa-undo"></i></a> 
			  <a href="#"><i class="fa fa-location-arrow"></i></a> 
			</div>
		</div>
	</div>
</div>


<button onclick="setTheme(0)">	El Gran Imperio				</button>
<button onclick="setTheme(1)">	Union Sovietica Universal	</button>
<button onclick="setTheme(2)">	Confederacion de Jonia		</button>
<button onclick="setTheme(3)">	El Nuevo Califato			</button>
<button onclick="setTheme(4)">	Tercera Republica Romana	</button>
<button onclick="setTheme(5)">	Dinastia Sikh				</button>
<button onclick="setTheme(6)">	Imperio de la Serpiente		</button>
<button onclick="setTheme(7)">	Imperio Austropruso-Espanol	</button>
<button onclick="setTheme(8)">	Corporacion Universal		</button>
<button onclick="setTheme(9)">	Federacion Anarquista		</button>
<button onclick="setTheme(10)">	EUU							</button>
<button onclick="setTheme(11)">	Imperio Francobritanico		</button>
<button onclick="setTheme(12)">	Alianza de Isandlwana		</button>
<button onclick="setTheme(13)">	Khanato celestial			</button>
<button onclick="setTheme(14)">	Condados del norte			</button>
<button onclick="setTheme(15)">	Reino Eterno de Egipto		</button>


<body>

<script>

function SetVar(vars,vals){
document.documentElement.style.setProperty('--'+vars,vals);	
}

function setTheme(theme){
switch(theme){
case 0  : //El Gran Imperio		
SetVar('font', "'UnifrakturCook', cursive");
SetVar('c1', "#000000");		
SetVar('c2', "#DB311E");		
SetVar('c3', "#E2B309");		
SetVar('c4', "#FFFFFF");		
SetVar('c5', "#424242");			
break;
case 1  : //Union Sovietica Universal	
SetVar('font', "'UnifrakturMaguntia', cursive");		
SetVar('c1', "#E6170E");		
SetVar('c2', "#FFFFDB");		
SetVar('c3', "#000000");		
SetVar('c4', "#FFFFFF");		
SetVar('c5', "#6D0001");		
break;
case 2  : //Confederacion de Jonia		
SetVar('font', "'UnifrakturMaguntia', cursive");	
SetVar('c1', "#EFD8B1");		
SetVar('c2', "#345BBC");		
SetVar('c3', "#161109");		
SetVar('c4', "#FFFFFF");		
SetVar('c5', "#6D0001");	
break;
case 3  : //El Nuevo Califato			
SetVar('font', "'ds_arabicregular', cursive");	
break;
case 4  : //Tercera Republica Romana	
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
case 5  : //Dinastia Sikh				
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
case 6  : //Imperio de la Serpiente		
SetVar('font', "'Special Elite', cursive");	
break;
case 7  : //Imperio Austropruso-Espanol	
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
case 8  : //Corporacion Universal		
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
case 9  : //Federacion Anarquista		
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
case 10 : //EUU							
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
case 11 : //Imperio Francobritanico		
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
case 12 : //Alianza de Isandlwana		
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
case 13 : //Khanato celestial			
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
case 14 : //Condados del norte			
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
case 15 : //Reino Eterno de Egipto		
SetVar('font', "'UnifrakturMaguntia', cursive");	
break;
}}
</script>


