<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<hr>

<h1>Fleets</h1>
<div class="fleets_main">
	<div class="fleet_filters">
	
		<div class="fleet_filter">
			<h2>Availability</h2>			
			<label class="fleet_filter_value">
				<input type="checkbox" name="vehicle1" value="Bike"> Available
			</label>
			<label class="fleet_filter_value">
				<input type="checkbox" name="vehicle1" value="Bike"> Active
			</label>
		</div>
		
		<div class="fleet_filter">
			<h2>Type</h2>
			<label class="fleet_filter_value">
				<input type="checkbox" name="vehicle1" value="Bike"> Civilian
			</label>
			<label class="fleet_filter_value">
				<input type="checkbox" name="vehicle1" value="Bike"> Military
			</label>
		</div>
		
	</div>
	<div class="fleets_results">
	
		<div class="fleets_results_category">
			<h2 class="fleets_category_title">Available</h2>
			<ul class="fleets_category_list">
				<li class="fleets_result">
					<p>Freiheit</p>
				</li>
				<li class="fleets_result">
					<p>Makhno</p>
				</li>
			</ul>
		</div>
		
		<div class="fleets_results_category">
			<h2 class="fleets_category_title">Active</h2>
			<ul class="fleets_category_list">
				<li class="fleets_result">
					<p>Orwell</p>
				</li>
				<li class="fleets_result">
					<p>Kropotkin</p>
				</li>
			</ul>
		</div>
		
	</div>
</div>

<hr>

<h1>Worlds</h1>

<hr>

<h1>Buildings</h1>

<div class="buildings_main">
	<div class="buildings_menu">
		<div class="buildings_item">
			<img class="buildings_item-image" src="https://dummyimage.com/100x100/000/fff">
			<p class="buildings_item-text">Mine</p>
		</div>
		<div class="buildings_item">
			<img class="buildings_item-image" src="https://dummyimage.com/100x100/000/fff">
			<p class="buildings_item-text">Plant</p>
		</div>
		<div class="buildings_item">
			<img class="buildings_item-image" src="https://dummyimage.com/100x100/000/fff">
			<p class="buildings_item-text">House</p>
		</div>
	</div>
	<div class="buildings_canvas_container">
		<canvas class="buildings_canvas"></canvas>
	</div>
</div>

<hr>

<h1>Ships</h1>

<hr>

<h1>Ship types</h1>

<hr>

<h1>Production</h1>

<hr>

<h1>Map</h1>

<hr>

<h1>Civilizations</h1>

<hr>

<h1>Technologies</h1>

<hr>

<h1>Factions</h1>

<hr>

<h1>Battle</h1>



