<style>
	.players{
		display:flex;
		width:100%;
		height:50%;
		background-color:red;
		flex-direction:row;
	}
	.game{
		display:flex;
		width:100%;
		height:50%;
		background-color:red;
		flex-direction:row;
	}
	.player{
		flex-direction:column;
		width:20%;
		background-color: white;
		padding:4px;
		margin:4px;
	}
	.cards{
		flex-direction:row;		
	}
	.card{
		font-size:30px;
		background-color: #bbb;
		width:25px;
		height:35px;
		padding:2px;
		margin:2px;
		text-align:center;
	}
	.bets div{
		height: 25px;
		width: 25px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
	}
	.actions{
		display:flex;
		width:50%;
		height:50%;
		background-color:red;
		flex-direction:row;
	}	
	.board{
		display:flex;
		width:50%;
		height:50%;
		background-color:red;
		flex-direction:row;
	}	
	.pile {
	  margin: 0 4px 2rem;
	  padding: 1rem;
	  height: 105px;
	  min-width: 70px;
	  max-width: 75px;
	  background-color: white;
	  word-wrap: break-word;
	  box-shadow: 
		0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 
		0 0.5em 0 -0.25em #f2f2f2, 
		0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 
		0 1em 0 -0.5em #e5e5e5, 
		0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
	}

</style>

<body class="main_cards">
	<div class="players">
		<div class="player">
			<div>Name</div>
			<div class="cards">
				<div class="card">7</div>
				<div class="card">Q</div>
			</div>
			<div class="bets">
				<div></div>
				<div></div>
			</div>
			<div class="bets">
				<div></div>
			</div>
		</div>
		
		<div class="player">
			<div>Name</div>
			<div class="cards">
				<div class="card">X</div>
				<div class="card">X</div>
			</div>
			<div class="bets">
				<div></div>
				<div></div>
			</div>
			<div class="bets">
				<div></div>
			</div>
		</div>
	</div>
	<div class="game">
		<div class="board">
		</div>
		<div class="actions">
			<div class="pile"></div>
			<div class="card">7</div>
			<button onclick="">Double</button>
			<button onclick="">Play</button>
			<button onclick="">Retire</button>
		</div>
	</div>
</body>




<script>

var Players = [
	{
		Name: 'You',
		Total: 0,
		Bet: 1,
		Remaining: 9,
		Next: 0
	},
	{
		Name: 'John',
		Total: 0,
		Bet: 1,
		Remaining: 9,
		Next: 0
	}
];

function Range(min,max){
	return Math.ceil(Math.random() * (max - min) + min);
}


var Draw = function(player){
	var card = Range(1,12);	
	alert('You draw '+card);	
	your_next.innerHTML = card;
}

var ApplyPlay = function(){	
	your_cards.innerHTML = your_cards.innerHTML + " " + card;
	
	if(card > 9) {
		card = 0.5;
	}		
	your_cards.innerHTML = card + Number(your_cards.innerHTML);	
}



</script>