<style>
.instrument{
	width:100px;
	height:100px;
	background-size: cover;
}
img{
	width:100px;
	height:100px;
	background-size: cover;
}
.instruments{
	display:flex;
	flex-direction:row;
}
.blender{background-image: url("../assets/cooking/blender.png");}
.pan{background-image: url("../assets/cooking/pan.png");}
.oven{background-image: url("../assets/cooking/oven.png");}
.pot{background-image: url("../assets/cooking/pot.png");}
.plate{background-image: url("../assets/cooking/plate.png");}
.cancel{background-image: url("../assets/cooking/cancel.png");}
</style>
<body class="main_cooking">

<div id="instruments" class="instruments"></div>
<br>
<div id="ingredients"></div>
</body>

<script src="http://threejs.org/build/three.min.js"></script>
<script src="lib.js"></script>
<script src="random.js"></script>
<script>

var Cooking = {
	UseInstrument(id){		
		if(id=='plate'){
			Cooking.Serve();
			Cooking.Instruments['plate'].i=[];
		}
		else if(id=='cancel'){
			Cooking.Instruments['plate'].i=[];
		}		
		else{
			Cooking.Cook(id);
		}
	},
	AllowDrop(ev) {
		ev.preventDefault();
	},
	Drag(ev) {
		ev.dataTransfer.setData("text", ev.target.id);
	},
	DragInst(ev) {
		var result = Cooking.Instruments[ev.target.id].i;
		Cooking.Instruments[ev.target.id].i = [];
		ev.dataTransfer.setData("text", result);
	},
	Drop(ev) {
		ev.preventDefault();
		var data = ev.dataTransfer.getData("text");
		Cooking.Instruments[ev.target.id].i = Cooking.Instruments[ev.target.id].i.concat(data.split(',')).filter(x=>!!x);
	},
	
	Ingredients : {},
	Instruments : {},
	Dishes : {},
	Transforms : {},
	Flavours : {
		Salty:0,
		Sweet:1,
		Spicy:2,
		Plain:3
	},
	Init(){
		Cooking.AddIngredient('meat'		,.7,Cooking.Flavours.Salty,.7,true);
		Cooking.AddIngredient('egg'			,.8,Cooking.Flavours.Salty,.6,true);
		Cooking.AddIngredient('cheese'		,.3,Cooking.Flavours.Salty,.9,false);
		Cooking.AddIngredient('milk'		,.3,Cooking.Flavours.Sweet,.7,false);
		Cooking.AddIngredient('cream'		,.1,Cooking.Flavours.Sweet,.9,false);
		
		Cooking.AddIngredient('raw fish'	,.8,Cooking.Flavours.Salty,.6,true);
		Cooking.AddIngredient('vegetables'	,.9,Cooking.Flavours.Salty,.1,true);
		Cooking.AddIngredient('spices'		,0 ,Cooking.Flavours.Spicy,.9,false);
		Cooking.AddIngredient('rice'		,.8,Cooking.Flavours.Salty,.5,true);
		
		Cooking.AddIngredient('raw legumes'		,.8,Cooking.Flavours.Salty,.2,true);
		Cooking.AddIngredient('ham'			,.6,Cooking.Flavours.Salty,.9,false);
		Cooking.AddIngredient('water'		,0 ,Cooking.Flavours.Plain,0 ,false);
		Cooking.AddIngredient('sugar'		,.1,Cooking.Flavours.Sweet,.9,false);
		
		Cooking.AddIngredient('butter'		,.1,Cooking.Flavours.Plain,.1,false);
		Cooking.AddIngredient('flour'		,.7,Cooking.Flavours.Plain,0 ,false);
		Cooking.AddIngredient('fruit'		,.7,Cooking.Flavours.Plain,0 ,false);
		Cooking.AddIngredient('potatoes'	,.7,Cooking.Flavours.Plain,0 ,false);
		
		Cooking.AddIngredient('nuts'		,.7,Cooking.Flavours.Plain,0 ,false);
		Cooking.AddIngredient('raw pasta'	,.6,Cooking.Flavours.Plain,.2,false);
		
		Cooking.AddInstrument('oven',['unedible','cheese','rice','raw legumes','nuts','raw pasta']);
		Cooking.AddInstrument('pan',['unedible','cheese','milk','rice','raw legumes','sugar','fruit','nuts','raw pasta']);
		Cooking.AddInstrument('pot',['unedible','cheese','raw fish','fruit','nuts']);
		Cooking.AddInstrument('blender',['unedible','rice','ham','raw legumes','potatoes','nuts','raw pasta',
		'cotoletta','fried egg','boiled egg','sushi','sashimi','salad','fish','fries','pasta','steak','cake','bread']);
		Cooking.AddInstrument('plate',['unedible','meat','egg','rice','raw legumes','flour','potatoes','raw pasta']);
		Cooking.AddInstrument('cancel',[]);				
				
		Cooking.AddDish('curry',['vegetables','spices'],['pan','oven','blender']);
		Cooking.AddDish('fabada',['raw legumes','meat','vegetables'],['pot']);
		Cooking.AddDish('cotoletta',['meat','egg','flour'],['pan']);
		Cooking.AddDish('fried egg',['egg'],['pan']);
		Cooking.AddDish('boiled egg',['egg','water'],['pot']);
		Cooking.AddDish('stew',['meat','vegetables'],['pot']);		
		Cooking.AddDish('soup',['water','vegetables'],['pot']);						
		Cooking.AddDish('boiled rice',['rice'],['pot']);
		Cooking.AddDish('sushi',['boiled rice','raw fish'],['plate']);
		Cooking.AddDish('green juice',['vegetables','fruit'],['blender']);		
		Cooking.AddDish('sashimi',['raw fish'],['plate']);
		Cooking.AddDish('salad',['vegetables'],['plate']);		
		Cooking.AddDish('puree',['vegetables'],['blender']);
		Cooking.AddDish('juice',['fruit'],['blender']);		
		Cooking.AddDish('smoothie',['fruit','milk'],['blender']);
		Cooking.AddDish('cheese salsa',['cheese'],['blender']);
		Cooking.AddDish('milkshake',['milk','sugar'],['blender']);
		Cooking.AddDish('soft smoothie',['fruit','cream'],['blender']);
		Cooking.AddDish('dulce de leche',['milkshake'],['pan']);
		Cooking.AddDish('fish',['raw fish'],['pan','oven']);	
		Cooking.AddDish('fish sauce',['raw fish'],['blender']);	
		Cooking.AddDish('mashed potatoes',['potatoes'],['blender']);	
		Cooking.AddDish('fries',['potatoes'],['pan','oven']);	
		Cooking.AddDish('boiled potatoes',['potatoes','water'],['pot']);	
		Cooking.AddDish('pasta',['raw pasta','water'],['pot']);	
		Cooking.AddDish('steak',['meat'],['pan','oven']);	
		Cooking.AddDish('boiled vegetables',['vegetables'],['pot']);		
		Cooking.AddDish('legumes',['raw legumes'],['pot']);
		Cooking.AddDish('cake',['flour','sugar','egg'],['oven']);
		Cooking.AddDish('bread',['flour','water'],['oven']);
		
		Cooking.AddDish('cream',['milk'],['pot','oven'],false);
		Cooking.AddDish('',['water'],['pot','blender','oven','pan'],false);
	},	
	
	Cook(id){
		Cooking.Process(id);
		var ingredients = Cooking.Instruments[id].i;
		for(var dish in Cooking.Dishes){
			if(Cooking.Dishes[dish].t.includes(id)){
				var isdish = true;
				for(var i=0;i<Cooking.Dishes[dish].i.length;i++){
					if(!ingredients.includes(Cooking.Dishes[dish].i[i])){
						isdish = false;
						break;
					}
				}
				if(isdish){
					for(var i=0;i<Cooking.Dishes[dish].i.length;i++){
						ingredients.splice(ingredients.indexOf(Cooking.Dishes[dish].i[i]),1);
					}
					ingredients.push(dish);	
				}							
			}
		}
	},
	Process(id){
		for(var i = 0;i<Cooking.Instruments[id].blacklist.length;i++){
			if(Cooking.Instruments[id].i.includes(Cooking.Instruments[id].blacklist[i])){
				Cooking.Instruments[id].i = ['unedible'];
				return;
			}
		}
		Cooking.Instruments[id].i = 
			[...new Set(Cooking.Instruments[id].i.filter(x=>!!x))]. //remove repeated
			sort(function(a,b){return Cooking.Ingredients[b].Ratio-Cooking.Ingredients[a].Ratio})
		;		
	},
	Serve(){
		var id = 'plate';		
		Cooking.Cook(id);
		var ingredients = Cooking.Instruments[id].i;
		
		
		var result = 'nothing';		
		if(ingredients.length>0){
			result = ingredients[0]
		}
		if(ingredients.length>1){
			result += ' with '+ingredients[1];
		}
		if(ingredients.length>2){
			var i = 2;
			while(i<ingredients.length-1){
				result += ', '+ingredients[i];
				i++;
			}
			result += ' and '+ingredients[2];
		}
		alert(result);		
	},
	
	AddIngredient(name,ratio,flavour,tasty,main,addHtml = true){
		Cooking.Ingredients[name] = {
			Name:name,
			Flavour:flavour,
			Ratio:ratio,			
			Tasty:tasty,
			Main:main
		};
		if(addHtml)	Cooking._IngredientHtml(name);
	},
	AddInstrument(name,blacklist){
		Cooking.Instruments[name] = {i:[],blacklist:blacklist};
		Cooking._InstrumentHtml(name,name!='plate'&&name!='cancel');
	},
	AddDish(name,i,t,addIngredient = true){
		Cooking.Dishes[name] = {i:i,t:t};
		if(addIngredient){
			var ratio = Cooking.Ingredients[i[0]].Ratio;
			var flavour = Cooking.Ingredients[i[0]].Flavour;
			var tasty = Cooking.Ingredients[i[0]].Tasty;
			var main = Cooking.Ingredients[i[0]].Main;
			
			Cooking.AddIngredient(name,ratio,flavour,tasty,main,false)
		}		
	},
	
	_IngredientHtml(name){
		ingredients.innerHTML +=`
			<img id="${name}" src="../assets/cooking/${name}.png" draggable="true" ondragstart="Cooking.Drag(event)">
		`;
	},
	_InstrumentHtml(name,canDrag){
		instruments.innerHTML +=`
			<div id="${name}" ${canDrag?'draggable="true" ondragstart="Cooking.DragInst(event)"':''} class="instrument ${name}" ondrop="Cooking.Drop(event)" ondragover="Cooking.AllowDrop(event)" onclick="Cooking.UseInstrument('${name}')"></div>`;
	},	
}

Cooking.Init();

</script>