
<body class="main_electronics">
	<div>
		<div id="tableoftruth">
		</div>
		<div>
			<button onclick="Interaction.ValidateCircuit()">ON</button>
			
			<button onclick="Interaction.SetState(Interaction.States.AddAnd)">AND</button>
			<button onclick="Interaction.SetState(Interaction.States.AddOr)">OR</button>
			<button onclick="Interaction.SetState(Interaction.States.AddNot)">NOT</button>
		</div>
	</div>
	<canvas id="canvas" width=1000 height=1000 oncontextmenu="return false;">
	</canvas>
</body>


<script src="http://threejs.org/build/three.min.js"></script>

<script src="../js/lib.js"></script>
<script src="../js/random.js"></script>
<script>

var NodeTypes = {
	Input:0,
	Output:1,
	And:2,
	Or:3,
	Not:4
}

var DrawElectronics = {
	WriteTableOfTruth(table){
		var result = '<table><tr>';		
		var key = 'a';
		for (var i=0;i<table.inputs;i++) {			
			result += '<th>'+key+'</th>';
			key = LIB.NextChar(key);
		}		
		for (var i=0;i<table.outputs;i++) {
			result += '<th class="output">'+(i+1)+'</th>';
		}
		result += '</tr>';
		for (var j=0;j<table.rows.length;j++) {
			result += '<tr>';
			for (var i=0;i<table.inputs;i++) {
				result += '<td>'+table.rows[j][i]+'</td>';
			}
			for (var i=0;i<table.outputs;i++) {
				result += '<td class="output">'+table.rows[j][i+table.inputs]+'</td>';
			}
			result += '</tr>';
		}
		result += '</table>';
		tableoftruth.innerHTML = result;
	},
	PaintCircuit(ctx,circuit){
		ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
		for(var key in circuit){
			for(var secondKey in circuit[key].Links){
				DrawElectronics.PaintLink(ctx,circuit[key],circuit[secondKey]);
			}
		}	
		for(var key in circuit){
			DrawElectronics.PaintPiece(ctx,circuit[key]);
		}
	},
	PaintLink(ctx,p1,p2){
		DrawElectronics.Cable(ctx,p1.x,p1.y,p2.x,p2.y);
	},
	PaintPiece(ctx,p){		
		switch(p.Type){
			case NodeTypes.Input:
				DrawElectronics.Input(ctx,p.x,p.y,p.Key);
				break;
			case NodeTypes.Output:
				DrawElectronics.Output(ctx,p.x,p.y,p.Key);
				break;
			case NodeTypes.And:
				DrawElectronics.And(ctx,p.x,p.y,p.Key);
				break;
			case NodeTypes.Or:
				DrawElectronics.Or(ctx,p.x,p.y,p.Key);
				break;
			case NodeTypes.Not:
				DrawElectronics.Not(ctx,p.x,p.y,p.Key);
				break;
		}		
	},
	Circle(ctx,x,y,text,color = "#FFFFFF"){		
		ctx.beginPath();
		ctx.arc(x, y, 20, 0, 2 * Math.PI);		
		ctx.fillStyle = color;	
		ctx.stroke();
		ctx.fill();
		ctx.fillStyle = 'black';	
		ctx.font = "30px Arial";
		ctx.fillText(text, x, y);
	},
	And(ctx,x,y){
		DrawElectronics.Circle(ctx,x,y,"&")
	},
	Not(ctx,x,y){
		DrawElectronics.Circle(ctx,x,y,"!")
	},
	Or(ctx,x,y){
		DrawElectronics.Circle(ctx,x,y,"+")
	},
	Cable(ctx,x1,y1,x2,y2){
		ctx.beginPath();
		ctx.moveTo(x1, y1);
		ctx.lineTo(x2, y2);
		ctx.stroke();
	},
	Input(ctx,x,y,text){
		DrawElectronics.Circle(ctx,x,y,text,"#FFFF00")
	},
	Output(ctx,x,y,text){
		DrawElectronics.Circle(ctx,x,y,text,"#FF0000")
	},
	Selection(ctx,x,y){
		var color = "#FF00FF"
		ctx.beginPath();
		ctx.arc(x, y, 22, 0, 2 * Math.PI);		
		ctx.fillStyle = color;	
		ctx.stroke();
		ctx.fillStyle = 'blue';	
	}
}

var CircuitFactory = {
	AddPiece(key,type,x,y,circuit){
		circuit[key] = {
			Key:key,
			x:x,
			y:y,
			Type:type,
			Links:{},
			Linked:{},
		};
	},
	AddInputs(rnd,amount,circuit){
		var key = 'a';
		var x = 50;
		var y = 50;
		for ( var i = 0; i < amount; i ++ ) {
			CircuitFactory.AddPiece(key,NodeTypes.Input,x,y,circuit);
			y+=50;
			key = LIB.NextChar(key);		
		}
	},
	AddOutputs(rnd,amount,circuit){
		var x = 300;
		var y = 50;
		for ( var i = 0; i < amount; i ++ ) {
			CircuitFactory.AddPiece(i+1,NodeTypes.Output,x,y,circuit);
			y+=50;
		}
	},
	LinkPieces(p1,p2){ 
		p1.Links[p2.Key] = p2;
		p2.Linked[p1.Key] = p1;
	},
	Basic(rnd){
		var circuit = {};
		var inputs = Random.Range(rnd,1,4); 
		var outputs = Random.Range(rnd,1,3); 
		CircuitFactory.AddInputs(rnd,inputs,circuit);
		CircuitFactory.AddOutputs(rnd,outputs,circuit);
		var Table = CircuitFactory.TableOfTruth(rnd,inputs,outputs);
		return {circuit:circuit,table:Table};
	},
	TableOfTruth(rnd,inputs,outputs){
		var amount = Random.Range(rnd,1,inputs);
		var rows = [];
		for (var j=0;j<amount;j++) {
			var row = [];
			for (var i=0;i<inputs;i++) {
				row.push(Random.Chance(rnd,2));
			}
			for (var i=0;i<outputs;i++) {
				row.push(Random.Chance(rnd,2));
			}
			rows.push(row);
		}	
		return{inputs:inputs,outputs:outputs,rows:rows};		
	}
}

var CircuitValidator = {
	CanLink(p1,p2){
		if(p1==p2) return false;
		switch(p2.Type){
			case NodeTypes.Input:
				return false;
			case NodeTypes.Not:
			case NodeTypes.Output:
				return Object.keys(p2.Linked).length<1;
			default: 
				return Object.keys(p2.Linked).length<2;
		}
	},
	EvalNode(node,inputs,level){
		if(level>100){return {burn:true}};
		var result,r1,r2;
		var n1 = node.Linked[Object.keys(node.Linked)[0]];
		var n2 = node.Linked[Object.keys(node.Linked)[1]];
		if(n1) r1 = CircuitValidator.EvalNode(n1,inputs,level++);
		if(n1 && n2) r2 = CircuitValidator.EvalNode(n2,inputs,level++);	
		
		switch(node.Type){
			case NodeTypes.Input:
				result = inputs[node.Key];
				break;
			case NodeTypes.Not:
				if(!n1){return {disc:true}};				
				if(r1.burn){return {burn:true}};
				if(r1.disc){return {disc:true}};
				result = !r1.value;
				break;
			case NodeTypes.Output:
				if(!n1){return {disc:true}};
				if(r1.burn){return {burn:true}};
				if(r1.disc){return {disc:true}};
				result = r1.value;
				break;
			case NodeTypes.And:
				if(!n1 || !n2){return {disc:true}};
				if(r1.burn || r2.burn){return {burn:true}};
				if(r1.disc || r2.disc){return {disc:true}};
				result = r1.value && r2.value;
				break;
			case NodeTypes.Or:
				if(!n1 || !n2){return {disc:true}};
				if(r1.burn || r2.burn){return {burn:true}};
				if(r1.disc || r2.disc){return {disc:true}};
				result = r1.value || r2.value;
				break;
		}
		return {value:result};
	},
	Validate(circuit,table){			
		for (var j=0;j<table.rows.length;j++) {	
			var inputs = {};
			var key = 'a';	
			for (var i=0;i<table.inputs;i++) {			
				inputs[key] = table.rows[j][i];
				key = LIB.NextChar(key);
			}
			for (var i=0;i<table.outputs;i++) {			
				var result = CircuitValidator.EvalNode(circuit[i+1],inputs,1);
				if(result.burn){
					return {burn:true,row:j}
				}
				if(result.disc){
					return {disc:true,row:j}
				}				
				var val = table.rows[j][i+table.inputs];
				if(result.value != val){
					return {value:false,row:j,output:i+1}
				}
			}
		}
		return {value:true};		
	}
}

var Interaction = {
	Circuit : null,
	Table : null,
	ctx : null,
	States : {
		None:0,
		AddAnd:1,
		AddOr:2,
		AddNot:3,
		Selected:4
	},
	CurrentState : null,
	CurrentSelection : null,
	GetCursorPosition(canvas, event) {
		var rect = canvas.getBoundingClientRect();
		var x = event.clientX - rect.left;
		var y = event.clientY - rect.top;
		return {x:x,y:y};
	},
	ValidateCircuit(){
		var result = CircuitValidator.Validate(Interaction.Circuit,Interaction.Table);
		if(result.burn){
			alert('Burned in row '+result.row);
		}
		else if(result.disc){
			alert('Circuit disconnected');
		}
		else if(!result.value){
			alert('Failed in row '+result.row+' for output '+result.output);
		}
		else{
			alert('SOLVED');
		}
	},
	Start(canvas,ctx,result){
		Interaction.Circuit = result.circuit;
		Interaction.Table = result.table;
		Interaction.ctx = ctx;
		canvas.addEventListener('mousedown', function(e) {
			Interaction.Click(canvas, e)
		},false)
		Interaction.CurrentState = Interaction.States.None;
	},
	RightClick(e){
		var result = (e.which === 3 || e.button === 2);
		if(result){
			Interaction.SetState(Interaction.States.None);
			Interaction.Refresh();
			e.preventDefault();
			e.stopPropagation();
		}
		return result;
	},
	Click(canvas, event){
		if(Interaction.RightClick(event)) return;
		
		var mouse = Interaction.GetCursorPosition(canvas,event);
		
		switch(Interaction.CurrentState){
			case Interaction.States.None:
				Interaction.SelectFirst(mouse);
				break;
			case Interaction.States.AddAnd:
				Interaction.AddPiece(mouse,NodeTypes.And);
				break;
			case Interaction.States.AddOr:
				Interaction.AddPiece(mouse,NodeTypes.Or);
				break;
			case Interaction.States.AddNot:
				Interaction.AddPiece(mouse,NodeTypes.Not);
				break;
			case Interaction.States.Selected:
				Interaction.SelectSecond(mouse);
				break;
		}		
	},
	SetState(state){
		Interaction.CurrentState = state;
	},
	PointInCircle(x, y, cx, cy, radius) {
		var distancesquared = (x - cx) * (x - cx) + (y - cy) * (y - cy);
		return distancesquared <= radius * radius;
	},
	Select(mouse){	
		for (i in Interaction.Circuit) {
			if( Interaction.PointInCircle(mouse.x,mouse.y,Interaction.Circuit[i].x,Interaction.Circuit[i].y,25)){
				return Interaction.Circuit[i];
			}
		}
		return undefined;
	},
	SelectFirst(mouse){
		var piece = Interaction.Select(mouse);
		if(piece){
			DrawElectronics.Selection(Interaction.ctx,piece.x,piece.y);
			Interaction.CurrentSelection = piece;
			Interaction.SetState(Interaction.States.Selected);
		}
	},
	SelectSecond(mouse){
		var piece = Interaction.Select(mouse);
		if(piece && CircuitValidator.CanLink(Interaction.CurrentSelection,piece)){
			CircuitFactory.LinkPieces(Interaction.CurrentSelection,piece);
			Interaction.SetState(Interaction.States.None);
			Interaction.Refresh();
		}
	},
	AddPiece(mouse,piece){
		CircuitFactory.AddPiece(LIB.Guid(),piece,mouse.x,mouse.y,Interaction.Circuit);
		Interaction.SetState(Interaction.States.None);
		Interaction.Refresh();
	},
	Refresh(){
		DrawElectronics.PaintCircuit(Interaction.ctx,Interaction.Circuit);
	}
}

var rnd = Random.Create();
var c = document.getElementById("canvas");
var ctx = c.getContext("2d");

var result = CircuitFactory.Basic(rnd);

DrawElectronics.PaintCircuit(ctx,result.circuit);
DrawElectronics.WriteTableOfTruth(result.table);

Interaction.Start(c,ctx,result);

</script>