
<body class="mShogi_Ain_electronics">
	<canvas id="canvas" width=1000 height=1000 oncontextmenu="return false;" onclick="Shogi_Interaction.Click(event)">
	</canvas>
</body>


<script src="http://threejs.org/build/three.min.js"></script>

<script src="../js/lib.js"></script>
<script src="../js/random.js"></script>
<script src="../js/board/shogi.js"></script>
<script>


var rnd = Random.Create();
var c = document.getElementById("canvas");
var ctx = c.getContext("2d");

Shogi_Game.Init(c,ctx);
Shogi_Game.Refresh();
Shogi_Ai.Init(rnd);

</script>