<script src="https://threejs.org/build/three.min.js"></script>
<script src="main.js"></script> 
<script src="FamilyInterface.js"></script> 

<script>

function update(){
	Calendar.Update();
	update();
}

update();

</script>