﻿<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
#ask{
	padding:2%;
	width:50%;
	float:left;
	height:100%; 
	box-sizing: border-box;         	/* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    	/* For Firefox                          */
	-webkit-box-sizing: border-box; 	/* For Safari                           */
}
#box{
	width:100%;
	height:90%; 
	box-sizing: border-box;         	/* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    	/* For Firefox                          */
	-webkit-box-sizing: border-box; 	/* For Safari                           */
}
#btn{
	width:100%;
	height:10%; 
	box-sizing: border-box;         	/* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    	/* For Firefox                          */
	-webkit-box-sizing: border-box; 	/* For Safari                           */
}
#ans{
	padding:2%;
	float:left;
	width:45%;
	height:100%; 
	box-sizing: border-box;         	/* For IE and modern versions of Chrome */
	-moz-box-sizing: border-box;    	/* For Firefox                          */
	-webkit-box-sizing: border-box; 	/* For Safari                           */
}
</style>

<script src="lib.js"></script>
<script src="generator.js"></script>

<script src="IMPLrandom2.js"></script>
<script src="IMPLgen1.js"></script>
<script src="IMPLgen2.js"></script>

<script src="metacode.js"></script>

<div id="ask">
<textarea id="box">
[
{"i":[1],"o":[1,2,3,5,8]}
]
</textarea>
<button id="btn" onclick="run();">Test</button>
</div>

<p>Iterations</p>
<input id="iterations" value=1000>

<p>Instructions</p>
<input id="instructions" value=7>

<p>Auxiliars</p>
<input id="auxiliars" value=1>

<p>Loops limit</p>
<input id="loopslimit" value=5>

<p>Max nested loops</p>
<input id="nestedloops" value=1>

<div id="ans"></div>



