﻿<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="lib.js"></script>
<script src="MeshFactory.js"></script>
<script src="MaterialsFactory.js"></script>

<style>
.battle_canvas{
	height:100%;		
	width:100%;		
}
</style>
</head> 

<div class="main_container cs_main">
	<div id="battle_canvas" class="canvas battle_canvas"></div>
</div>

<script>
var Battle = {

	scene:null,
	renderer:null,
	camera:null,
	controls:null,
	
	BULLETS1 : [],
	BULLETS2 : [],
	F1 : null,
	F2 : null,
	EXPLOSION_PARTICLES : [],

	init : function(){
		Style.SetTheme(Memory.get('faction',0));
		
		LIB.InitCanvas(battle_canvas,this.scene,this.camera,this.renderer,this.controls);

		this.camera.position.z = 10;
		
		this.CreateBattle();	
		
		this.render();		
		
		setInterval(function(){this.update()}.bind(this),1000);
	},
	CreateBattle : function(){
		var current = Memory.get('current');

		var shipTypes1 = Memory.get('ships',0);
		var fleets1 = Memory.get('fleets',0);			
		var shipTypes2 = Memory.get('ships',current.player);
		var fleets2 = Memory.get('fleets',current.player);		
		
		this.F1 = new THREE.Mesh();
		this.F2 = new THREE.Mesh();
		
		this.CreateFleet(fleets1[current.f1],shipTypes1,this.F1);
		this.CreateFleet(fleets2[current.f2],shipTypes2,this.F2);
		
		this.F2.rotation.z = -Math.PI;
		this.F2.position.y = +30;
		
		this.scene.add(this.F1);
		this.scene.add(this.F2);
	},
	CreateFleet : function(fleet,shipTypes,mesh){
		var material = new THREE.MeshNormalMaterial();
		
		var area = 15;
		
		for (i = 0; i < fleet.length; i++) { 
			var type = shipTypes[i];
			
			var geo = MeshFactory.Build(type.parts);
			var ship = new THREE.Mesh(geo, material);
			ship.scale.set(type.parts.Size/8,type.parts.Size/8,type.parts.Size/8,type.parts.Size/8);
		
			for (j = 0; j < fleet[i]; j++) { 
				var SHIPMESH = ship.clone();
			
				SHIPMESH.position.x = area-(area*2) * Math.random();	
				SHIPMESH.position.y = area-(area*2) * Math.random();	
				SHIPMESH.position.z = area-(area*2) * Math.random();
				
				mesh.add(SHIPMESH);
			}
		}	
	},
	render : function() {
		requestAnimationFrame(function(){this.render()}.bind(this));
		this.controls.update();
		this.renderer.render(this.scene, this.camera);
		
		var pCount = this.EXPLOSION_PARTICLES.length;
		while(pCount--) {
			this.EXPLOSION_PARTICLES[pCount].update();
		}		
		
		for(var i = 0; i < this.BULLETS1.length; i++){
			this.MoveBullet(this.BULLETS1[i],i);
		}			
	},
	update : function() {
		for(var i = 0; i < this.F1.children.length; i++){
			this.ShotBullet(this.F1.children[i].position);
		}
	},
	ShotBullet : function(pos){	
		var x = pos.x //+ Math.random()*2-1;
		var y = pos.y //+ Math.random()*2-1;
		var z = pos.z //+ Math.random()*2-1;
		
		var material = new THREE.MeshNormalMaterial();
		
		var object = new THREE.Mesh(lib.sph(.1).m.geometry,material);
		object.position.set(x,y,z);
		
		this.scene.add(object);
		
		object.ttl = 100 + Math.random()*50-25;
		
		this.BULLETS1.push(object);
	},
	MoveBullet : function(bullet,i){
		if(!this.BULLETS1[i]) return;

		if(bullet.ttl<0){
			//EXPLOSION_PARTICLES.push(ExplodeAnimation(bullet.position.x,bullet.position.y,bullet.position.z))
			this.scene.remove(bullet);	
			this.BULLETS1[i] = null		
		}
		bullet.ttl--;
		bullet.position.y += 0.5;	
	},
	ExplodeAnimation : function(x,y,z){
		var movementSpeed = .1;
		var totalObjects = 10;
		var objectSize = .5;
		var sizeRandomness = 1;
		var colors = [0xFF0FFF, 0xCCFF00, 0xFF000F, 0x996600, 0xFFFFFF];
		var dirs = [];
		var geometry = new THREE.Geometry();

		for (i = 0; i < totalObjects; i ++){ 
			var vertex = new THREE.Vector3();
			vertex.x = x;
			vertex.y = y;
			vertex.z = z;

			geometry.vertices.push( vertex );
			dirs.push({x:(Math.random() * movementSpeed)-(movementSpeed/2),y:(Math.random() * movementSpeed)-(movementSpeed/2),z:(Math.random() * movementSpeed)-(movementSpeed/2)});
		}
		var material = new THREE.ParticleBasicMaterial( { size: objectSize,  color: colors[Math.round(Math.random() * colors.length)] });
		var particles = new THREE.ParticleSystem( geometry, material );

		var that ={};
		
		that.object = particles;
		that.status = true;

		that.xDir = (Math.random() * movementSpeed)-(movementSpeed/2);
		that.yDir = (Math.random() * movementSpeed)-(movementSpeed/2);
		that.zDir = (Math.random() * movementSpeed)-(movementSpeed/2);

		this.scene.add( that.object  ); 

		that.update = function(){
			if (that.status == true){
				var pCount = totalObjects;
				while(pCount--) {
					var particle = that.object.geometry.vertices[pCount]
					particle.y += dirs[pCount].y;
					particle.x += dirs[pCount].x;
					particle.z += dirs[pCount].z;
				}
				that.object.geometry.verticesNeedUpdate = true;
			}
		} 
		return that;
	}
}

Battle.init(); 

</script>