﻿<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
<script src="MeshFactory.js"></script>
<script src="MaterialsFactory.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="Languaje.js"></script>
<script src="lib.js"></script>

<style>
.map_canvas{
	height:100%;		
}
.map_panel{
	height:20%;		
}
.map_object{
	height:30%;	
	flex-direction:column;
}
.map_fleets_container{
	height:70%;	
}
.map_fleet_name{
	width: calc(100% / 3*2); 
	height: calc(100% / 8);
}
.map_fleet_button{
	width: calc(100% / 6); 
	height: calc(100% / 8);
}
input{
	width:100px;
	heigth:100px;
}
.index_factions{
	overflow-y:scroll;
	overflow-x:hidden;
	display: grid;
	grid-template-columns: repeat(auto-fill, calc(100%/4) );
}
.index_factions input{
	padding-bottom:5px;
}


</style>
</head> 

<div class="main_container cs_main">
	<div class="column">
		<div id="container">
			<div id="overlay">
				<button onclick="GoToMap()">MAP</button>
				<button onclick="">Electric efficiency</button>
				<button onclick="">Workplace distance</button>
				<button onclick="">Force field area</button>				
			</div>
		
			<div id="map_canvas" class="canvas map_canvas"></div>
			
		</div>	
	</div>
	
	<div class="column">
		<div class="panel map_object ">
			<h1 class="cs_secondary title">Planet A0</h1>	

			<h2 class="cs_secondary">Matter: <span id='matter'>0</span>Tg</h2>
			<h2 class="cs_secondary">Debris: <span id='debris'>0</span>Tg</h2>
			<h2 class="cs_secondary">Energy: <span id='energy'>0</span>/<span id='energymax'>0</span>TJ</h2>
			<h2 class="cs_secondary">Population: <span id='population'>0</span>/<span id='populationmax'>0</span></h2>
			
		</div>
		<div class="panel map_fleets_container index_factions">
			<div><div onclick="Build('mine')" id="mine_canvas"></div>			<p id="lng_Mine" class="tooltip" ><span class="tooltiptextover"></span></p></div>
			<div><div onclick="Build('plant')" id="plant_canvas"></div>			<p id="lng_Plant" class="tooltip" ><span class="tooltiptextover"></span></p></div>
			<div><div onclick="Build('house')" id="house_canvas"></div>			<p id="lng_House" class="tooltip" ><span class="tooltiptextover"></span></p></div>
			<div><div onclick="Build('recycler')" id="recycler_canvas"></div>	<p id="lng_Recycler" class="tooltip" ><span class="tooltiptextover"></span></p></div>
			<div><div onclick="Build('factory')" id="factory_canvas"></div>		<p id="lng_Factory" class="tooltip" ><span class="tooltiptextover"></span></p></div>
			<div><div onclick="Build('lab')" id="lab_canvas"></div>				<p id="lng_Lab" class="tooltip" ><span class="tooltiptextover"></span></p></div>
			<div><div onclick="Build('hangar')" id="hangar_canvas"></div>		<p id="lng_Hangar" class="tooltip" ><span class="tooltiptextover"></span></p></div>
			<div><div onclick="Build('bunker')" id="bunker_canvas"></div>		<p id="lng_Bunker" class="tooltip" ><span class="tooltiptextover"></span></p></div>
		</div>
	</div>
</div>


<script>

var scene,renderer,camera,raycaster,mouse,controls;
var GLOBAL_BUILDING_MESHES = {};
var GLOBAL_MESH_TO_BUILD = null;
var WORLDMESH;

var Resources = {
	matter : 256,
	debris : 0,
	energy : 0,
	energymax : 0,
	population : 0,
	populationmax : 0
};

var Buildings = {
	mine : [],	
	plant : [],	
	house : [],	
	recycler : [],
	factory : [],
	lab : [],	
	hangar : [],
	bunker : []	
};

function LoadBuilding(position,type){

	var building = new THREE.Mesh();
	
	var geometry2 = lib.sph(0.8).m.geometry;
	var material2 = MaterialsFactory.select();
	building = new THREE.Mesh(geometry2, material2);
	
	var mesh = GLOBAL_BUILDING_MESHES[type].clone();
	var scale = .2;
	mesh.scale.set(scale,scale,scale);		
	building.add(mesh);
	
	building.name = name;
	building.position.x = position.x;
	building.position.y = position.y;
	building.position.z = position.z;	
		
	orientAlongNormal(building, building.position, new THREE.Vector3(0,0,0), 0.24);//
	
	scene.add(building);	
}


function LoadWorld(){
	var resources = Memory.get("resources",0);
	if(resources) Resources = resources;
	
	var buildings = Memory.get("buildings",0);
	if(buildings) {
		Buildings = buildings;
		for(buildingList in Buildings){		
			for(var i=0;i<Buildings[buildingList].length;i++){
				LoadBuilding(Buildings[buildingList][i],buildingList);
			}
		}
	}
}

function GoToMap(){
	Memory.set("resources",Resources,0);
	Memory.set("buildings",Buildings,0);

	document.location.href = "./map.html";
}

function Build(name){

	GLOBAL_MESH_TO_BUILD = new THREE.Mesh();
	
	var geometry2 = lib.sph(0.8).m.geometry;
	var material2 = MaterialsFactory.select();
	GLOBAL_MESH_TO_BUILD = new THREE.Mesh(geometry2, material2);
	
	var mesh = GLOBAL_BUILDING_MESHES[name].clone();
	var scale = .2;
	mesh.scale.set(scale,scale,scale);		
	GLOBAL_MESH_TO_BUILD.add(mesh);
	
	GLOBAL_MESH_TO_BUILD.name = name;
	
	scene.add(GLOBAL_MESH_TO_BUILD);	
}

function BuildingCanvas(name,geo){
	var canvas = document.getElementById(name+'_canvas'); 

	var w = 100;
	var h = 100;

	var scene = new THREE.Scene();
	var camera = new THREE.PerspectiveCamera(20, w / h, 0.1, 1000);

	var renderer = new THREE.WebGLRenderer();
	renderer.setSize(w, h);
	canvas.appendChild(renderer.domElement);

	var material = new THREE.MeshNormalMaterial();

	var mesh = new THREE.Mesh(geo, material);

	GLOBAL_BUILDING_MESHES[name] = mesh;
	
	mesh.rotation.x = 45;
	scene.add(mesh);
	camera.position.z = 10;

	renderer.render(scene, camera);
}

function CreateWorld(){
	var light = new THREE.AmbientLight( 0x555555 );
	scene.add( light );

	var material = new THREE.MeshNormalMaterial();
	var geo = MeshFactory.World(3);
	geo.computeVertexNormals();
	WORLDMESH = new THREE.Mesh(geo, material);

	scene.add(WORLDMESH);
}



function TranslateAll(){
	function TranslateBuilding(id,text){
		var elem = document.getElementById(id);
		elem.getElementsByTagName("span")[0].innerHTML = LONGTEXT(text); 
		elem.innerHTML = TEXT(text) + elem.innerHTML; 
	}

	TranslateBuilding("lng_Mine",'mine')
	TranslateBuilding("lng_Plant",'plant')
	TranslateBuilding("lng_House",'house')
	TranslateBuilding("lng_Recycler",'recycler')
	TranslateBuilding("lng_Factory",'factory')
	TranslateBuilding("lng_Lab",'lab')
	TranslateBuilding("lng_Hangar",'hangar')
	TranslateBuilding("lng_Bunker",'bunker')
}

function init(){
	Style.SetTheme(Memory.get('faction',0));
	
	TranslateAll();
	
	BuildingCanvas('mine',		MeshFactory.Mine(3));
	BuildingCanvas('plant',		MeshFactory.Plant(3));
	BuildingCanvas('house',		MeshFactory.House(3));
	BuildingCanvas('recycler',	MeshFactory.Recycler(3));
	BuildingCanvas('factory',	MeshFactory.Factory(3));
	BuildingCanvas('lab',		MeshFactory.Lab(3));
	BuildingCanvas('hangar',	MeshFactory.Hangar(3));
	BuildingCanvas('bunker',	MeshFactory.Bunker(3));
	
	var canvas = document.getElementById('map_canvas'); 
	var w = canvas.parentNode.offsetWidth;
	var h = canvas.parentNode.offsetHeight;
	
	scene = new THREE.Scene();
	camera = new THREE.PerspectiveCamera(50, w / h, 0.1, 1000);
	renderer = new THREE.WebGLRenderer();
	controls = new THREE.OrbitControls( camera );
	
	renderer.setSize(w, h);
	canvas.appendChild(renderer.domElement);
	camera.position.z = 10;
	
	CreateWorld();
	
	LoadWorld();
	
	canvas.addEventListener('mousemove', MouseMove, false );   
	canvas.addEventListener('mousedown', MouseClick, false );   
	raycaster = new THREE.Raycaster();
	mouse = new THREE.Vector2();
	
	render();
	setInterval(update,1000);
	setTimeout(TUTORIAL.world,1000);
}

function render() {
	requestAnimationFrame(render);
	controls.update();
	renderer.render(scene, camera);
};

function update(){	
	UpdateResources();
}

function CheckBuildingCollision(position){
	function Check(p1,p2){
		return p1.distanceTo(p2)<1.5;
	}
	for(buildingList in Buildings){		
		for(var i=0;i<Buildings[buildingList].length;i++){
			if(Check(position,Buildings[buildingList][i])){
				return true;
			}
		}
	}
	return false;	
}

function PlaceBuilding(event,paint){
	mouse.x = ( event.clientX / renderer.domElement.clientWidth ) * 2 - 1;
	mouse.y = - ( event.clientY / renderer.domElement.clientHeight ) * 2 + 1;
	raycaster.setFromCamera( mouse, camera );
	
	var intersects = raycaster.intersectObjects( [WORLDMESH], true );	
	if ( intersects.length > 0 ) {
	
		var intersection = intersects[0];
	
		var collision = CheckBuildingCollision(intersection.point);
	
		GLOBAL_MESH_TO_BUILD.position = intersection.point;
		
		if(paint){
			if(collision){
				GLOBAL_MESH_TO_BUILD.material = MaterialsFactory.selected();
			}
			else{
				GLOBAL_MESH_TO_BUILD.material = MaterialsFactory.selectable();
			}			
		}	
		
		orientAlongNormal(GLOBAL_MESH_TO_BUILD, intersection.point, intersection.face.normal, 0.24);		
		
		//GLOBAL_MESH_TO_BUILD.translateZ( .1 );			
		
		return !collision;
	}
	return false;
}

function orientAlongNormal(object, coords, normal, scalar) {
	object.lookAt(new THREE.Vector3(
		coords.x + normal.x,
		coords.y + normal.y,
		coords.z + normal.z
	)); 
	object.rotateX( Math.PI/4 );
	object.position.addVectors(coords, normal.clone().multiplyScalar(scalar));
}

function MouseClick(event){
	if(!GLOBAL_MESH_TO_BUILD) return;

	if(PlaceBuilding(event,false) && CheckBuildAndSpend(GLOBAL_MESH_TO_BUILD.name)){
		GLOBAL_MESH_TO_BUILD.material = MaterialsFactory.select();		
		Buildings[GLOBAL_MESH_TO_BUILD.name].push({
			x:GLOBAL_MESH_TO_BUILD.position.x,
			y:GLOBAL_MESH_TO_BUILD.position.y,
			z:GLOBAL_MESH_TO_BUILD.position.z
		});	
		
		TUTORIAL.worldObjective(Buildings);
	}	
	else{ //cancel build
		scene.remove(GLOBAL_MESH_TO_BUILD);
	}
	GLOBAL_MESH_TO_BUILD = null;
}

function MouseMove(event){
	if(!GLOBAL_MESH_TO_BUILD) return;
	PlaceBuilding(event,true);
}

function CheckBuildAndSpend(name){
	var matter = 0;
	var humans = 0;

	switch(name){
		case 'mine'     : matter = 16;	humans = 0;		break;
		case 'plant'    : matter = 16;	humans = 0;		break;
		case 'house'    : matter = 16;	humans = 0;		break;
		case 'recycler' : matter = 16;	humans = 0;		break;
		case 'factory'  : matter = 32;	humans = 16;	break;
		case 'lab'      : matter = 32;	humans = 16;	break;
		case 'hangar'   : matter = 32;	humans = 16;	break;
		case 'bunker'   : matter = 32;	humans = 16;	break;
	}

	if(Resources.matter >= matter && Resources.population >= humans ){
		Resources.matter		-=	matter;
		Resources.Population	-=	humans;
		
		UpdateResourcesInterface()
		
		return true;
	}
	else{
		return false;
	}
}

function UpdateResourcesInterface(){
	document.getElementById('matter').innerHTML = Resources.matter;
	document.getElementById('debris').innerHTML = Resources.debris;
	document.getElementById('energy').innerHTML = Resources.energy;
	document.getElementById('energymax').innerHTML = Resources.energymax;
	document.getElementById('population').innerHTML = Resources.population;
	document.getElementById('populationmax').innerHTML = Resources.populationmax;
}

function UpdateResources(){
	var mine     = Buildings.mine.length;
	var plant    = Buildings.plant.length; 
	var house    = Buildings.house.length; 
	var recycler = Buildings.recycler.length;
	var factory  = Buildings.factory.length; 
	var lab      = Buildings.lab.length; 
	var hangar   = Buildings.hangar.length;
	var bunker   = Buildings.bunker.length; 
	
	var all = mine+plant+house+recycler+factory+lab+hangar+bunker;

	Resources.energy
		=	mine    		*	(-1) 
		+ 	plant   		*	(+4) * (Resources.matter>=(4*plant)-1 ? 1 : 0)
		+ 	house   		*	(-1) 
		+ 	recycler		*	(-1)
		+ 	factory 		*	(-1) 
		+ 	lab     		*	(-1)
		+ 	hangar  		*	(-1) 
		+ 	bunker  		*	(-1)	
		
	Resources.energymax
		= 	plant			*	(+4)
	
	if(plant==0){ //production not started
		
	}
	else if(Resources.energy<0 || Resources.matter<(4*plant)-1){ //production stopped
		Resources.matter
			+=	plant			*	(-4)
			+ 	house			*	(-1) 
			
		Resources.population = 0;
		Resources.populationmax = 0;
	}	 
	else{
		Resources.matter
			+=	mine			*	(+4)
			+ 	plant			*	(-4)
			+ 	house			*	(-1) 
			+ 	recycler		*	(+2) * (Resources.debris>=(2*recycler)-1 ? 1 : 0)
			
		Resources.populationmax 
			= 	house 			* 	(32)
			
		Resources.population
			= 	house 			* 	(32)
			+ 	factory			*	(-16) 
			+ 	bunker			*	(-16)
			+ 	lab				*	(-16) 
			+ 	hangar			*	(-16)	
			
		Resources.debris 
			+=	house			*	(+1) 
			+ 	recycler		*	(-4) * (Resources.debris>=(4*recycler)-1 ? 1 : 0)	
	}	
	
	UpdateResourcesInterface();	
}

init();

</script>