﻿<style>
h1{
	font-size:40;
	margin:0;
}

p{
	padding:0;
	margin:0;
	border:0;
}

button { 
	border: none; 
	display: block; 
	width:128px;
	height:128px;
	font-size:80;
}

.text {
	position: relative;
	outline: none;

	text-align: left;
	color: hsla(0,0%,20%,1);
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

	background-color: hsl(0,0%,90%);
	box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
	inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
	inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
	inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

	hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
	hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 

	transition: color .2s;
	float:left;
	padding:1%;
	
}

.metal {
	position: relative;
	outline: none;

	text-align: center;
	color: hsla(0,0%,20%,1);
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

	background-color: hsl(0,0%,90%);
	box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
	inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
	inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
	inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

	hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
	hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 

	transition: color .2s;
}

.metal.linear {
	border-radius: .5em;
	background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
	-webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
	-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

	linear-gradient(180deg, hsl(0,0%,78%)  0%, 
	hsl(0,0%,90%) 47%, 
	hsl(0,0%,78%) 53%,
	hsl(0,0%,70%)100%);
}

.actbutton:active {
	color: hsl(210, 100%, 40%);
	text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
	box-shadow: 
	inset hsla(210,100%,30%,  1) 0  0px 0px 4px, /* border */
	inset hsla(210,100%,15%, .4) 0 -1px 5px 4px, /* soft SD */
	inset hsla(210,100%,20%,.25) 0 -1px 0px 7px, /* bottom SD */
	inset hsla(210,100%,100%,.7) 0  2px 1px 7px, /* top HL */

	hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
	hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
	hsla(210,80%,95%,   1) 0  5px 6px 4px; /* outer HL */
}
.maindiv{
	float:left;
	padding:5%;
}

</style>

<div class="maindiv">
	<table>
	<tr>
	<td><button class="metal linear actbutton" onclick="setSize(1)">1</button></td>
	<td><button class="metal linear actbutton" onclick="setSize(2)">2</button></td>
	<td><button class="metal linear actbutton" onclick="setSize(4)">4</button></td>
	<td><button class="metal linear actbutton" onclick="setSize(8)">8</button></td>
	</tr>
	</table>

	<table>
	<tr>
	<td><button id="b1" class="metal" draggable="true" ondragstart="drag(event,1)" title="Arma"></button></td>
	<td><button id="b2" class="metal" draggable="true" ondragstart="drag(event,2)" title="Municion"></button></td>
	<td><button id="b3" class="metal" draggable="true" ondragstart="drag(event,3)" title="Blindaje"></button></td>
	<td><button id="b4" class="metal" draggable="true" ondragstart="drag(event,4)" title="Motor"></button></td>
	</tr>
	<tr>
	<td><button id="b5" class="metal" draggable="true" ondragstart="drag(event,5)" title="Deposito"></button></td>
	<td><button id="b6" class="metal" draggable="true" ondragstart="drag(event,6)" title="Tripulante"></button></td>
	<td><button id="b7" class="metal" draggable="true" ondragstart="drag(event,7)" title="Receptor"></button></td>
	<td><button id="b8" class="metal" draggable="true" ondragstart="drag(event,8)" title="Emisor"></button></td>
	</tr>
	<tr>
	<td><button id="b0" class="metal" draggable="true" ondragstart="drag(event,0)"></button></td>
	<td><button id="bi" class="metal linear actbutton" onclick="getRandomShip()">?</button></td>	
	</tr>
	</table>
</div>
<h1 id="name"></h1>
<div class="maindiv metal linear">
	<table>
	<tr>
	<td><button id="0" name="k1" class="metal linear" ondrop="drop(event,1)" ondragover="allowDrop(event)"></button></td>
	<td><button id="1" name="k2" class="metal linear" ondrop="drop(event,2)" ondragover="allowDrop(event)"></button></td>
	<td><button id="2" name="k4" class="metal linear" ondrop="drop(event,3)" ondragover="allowDrop(event)"></button></td>
	<td><button id="3" name="k4" class="metal linear" ondrop="drop(event,4)" ondragover="allowDrop(event)"></button></td>
	</tr>
	<tr>
	<td><button id="4" name="k8" class="metal linear" ondrop="drop(event,5)" ondragover="allowDrop(event)"></button></td>
	<td><button id="5" name="k8" class="metal linear" ondrop="drop(event,6)" ondragover="allowDrop(event)"></button></td>
	<td><button id="6" name="k8" class="metal linear" ondrop="drop(event,7)" ondragover="allowDrop(event)"></button></td>
	<td><button id="7" name="k8" class="metal linear" ondrop="drop(event,8)" ondragover="allowDrop(event)"></button></td>
	</tr>
	</table>
</div>

<div class="text">
	<p>Potencia de fuego: <span id="prop1"></span>%</p>
	<p>Cadencia de fuego: <span id="prop2"></span>%</p>
	<p>Precision: <span id="prop3"></span>%</p>
	<p>Ataque electronico: <span id="prop4"></span>%</p>   
</div>
<div class="text">
	<p>Resistencia: <span id="prop5"></span>%</p>
	<p>Defensa electronica: <span id="prop6"></span>%</p>
	<p>Evasion: <span id="prop7"></span>%</p>
	<p>Camuflage: <span id="prop8"></span>%</p>
</div>
<div class="text">
	<p>Velocidad: <span id="prop9"></span>%</p>
	<p>Percepcion: <span id="prop10"></span>%</p>
	<p>Autonomia: <span id="prop11"></span>%</p>
	<p>Capacidad de carga: <span id="prop12"></span>%</p>
</div>

<script> 
CONST = {
	weapon : '⚔',
	ammo : 'ⲽ',
	shield : '⛨',
	engine : '⌁',
	fuel : '⛽',
	person : '👨',
	radio : '∿',
	emp : '🔌',
	nothing : '' 
}

document.getElementById('b1').innerHTML = CONST.weapon;
document.getElementById('b2').innerHTML = CONST.ammo;
document.getElementById('b3').innerHTML = CONST.shield;
document.getElementById('b4').innerHTML = CONST.engine;
document.getElementById('b5').innerHTML = CONST.fuel;
document.getElementById('b6').innerHTML = CONST.person;
document.getElementById('b7').innerHTML = CONST.radio;
document.getElementById('b8').innerHTML = CONST.emp;

SHIP = {
	l:[null,null,null,null,null,null,null,null],
	s:8
}

window.allowDrop = function(ev) {
    ev.preventDefault();
    if (ev.target.getAttribute("draggable") == "true")
        ev.dataTransfer.dropEffect = "none"; 
    else
        ev.dataTransfer.dropEffect = "all"; 
};

function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev,a) {
    ev.dataTransfer.setData("text", a);
}

function drop(ev,a) { 
    ev.preventDefault();
	ev.stopPropagation();

    var data = ev.dataTransfer.getData("text");

	SHIP.l[a-1] = data;
	if(data == '0') SHIP.l[a-1] = null;

	
	switch (data){
		case '1': 
			ev.target.innerHTML =CONST.weapon;
			break;
		case '2': 
			ev.target.innerHTML =CONST.ammo;
			break;
		case '3': 
			ev.target.innerHTML =CONST.shield;
			break;
		case '4': 
			ev.target.innerHTML =CONST.engine;
			break;
		case '5': 
			ev.target.innerHTML =CONST.fuel;
			break;
		case '6': 
			ev.target.innerHTML =CONST.person;
			break;
		case '7': 
			ev.target.innerHTML =CONST.radio;
			break;
		case '8': 
			ev.target.innerHTML =CONST.emp;
			break;
		default:
			ev.target.innerHTML = CONST.nothing;
			break;
	}
	SetShipHtml();
}

function setSize(size){
	var hide = [];
	var display = [];
	SHIP.s = parseInt(size);
	switch (size){
		case 1: 
			hide = hide.concat(Array.prototype.slice.call(document.getElementsByName("k2")));
			hide = hide.concat(Array.prototype.slice.call(document.getElementsByName("k4")));
			hide = hide.concat(Array.prototype.slice.call(document.getElementsByName("k8")));	
			break;
		case 2: 
			display = display.concat(Array.prototype.slice.call(document.getElementsByName("k2")));
			hide = hide.concat(Array.prototype.slice.call(document.getElementsByName("k4")));
			hide = hide.concat(Array.prototype.slice.call(document.getElementsByName("k8")));	
			break;
		case 4: 
			display = display.concat(Array.prototype.slice.call(document.getElementsByName("k2")));
			display = display.concat(Array.prototype.slice.call(document.getElementsByName("k4")));
			hide = hide.concat(Array.prototype.slice.call(document.getElementsByName("k8")));	
			break;
		case 8: 
			display = display.concat(Array.prototype.slice.call(document.getElementsByName("k2")));
			display = display.concat(Array.prototype.slice.call(document.getElementsByName("k4")));
			display = display.concat(Array.prototype.slice.call(document.getElementsByName("k8")));
			break;
	}
	for (i = 0; i < display.length; i++) { 
		display[i].style.display = "block";
	}
	for (i = 0; i < hide.length; i++) { 
		hide[i].style.display = "none";
		hide[i].innerHTML = CONST.nothing;
		SHIP.l[7-i] = null;
	}
	SetShipHtml();
}

var NAVE = {
	arma : '1',
	municion : '2',
	escudo : '3',
	motor : '4',
	fuel : '5',
	habitat : '6',
	radio : '7',
	emp : '8'
}

function getCell(i){
	return document.getElementById(''+i);
}

function getRandomShip(){
	SHIP.s = [1,2,4/*,8*/][Math.floor(Math.random() * 3)];
	
	for (i = 0; i < SHIP.s; i++) { 
		SHIP.l[i] = ['1','2','3','4','5','6','7','8',''][Math.floor(Math.random() * 9)];
		switch (SHIP.l[i]){
			case '1': 
				getCell(i).innerHTML =CONST.weapon;
				break;
			case '2': 
				getCell(i).innerHTML =CONST.ammo;
				break;
			case '3': 
				getCell(i).innerHTML =CONST.shield;
				break;
			case '4': 
				getCell(i).innerHTML =CONST.engine;
				break;
			case '5': 
				getCell(i).innerHTML =CONST.fuel;
				break;
			case '6': 
				getCell(i).innerHTML =CONST.person;
				break;
			case '7': 
				getCell(i).innerHTML =CONST.radio;
				break;
			case '8': 
				getCell(i).innerHTML =CONST.emp;
				break;
			default:
				getCell(i).innerHTML = CONST.nothing;
				break;
		}
	}
	setSize(SHIP.s);
}

function SetShipProperty(prop,arm,mun,esc,mot,fue,hab,rad,tra,nad,siz,wgt){
	var weigth = prop.size - prop.nada;
	return prop.arma*arm
		+prop.municion*mun
		+prop.escudo*esc
		+prop.motor*mot
		+prop.fuel*fue
		+prop.habitat*hab
		+prop.radio*rad
		+prop.emp*tra
		+prop.nada*nad
		+prop.size*siz
		+weigth*wgt;
}

function Normalize(number1,number2){
	return Math.floor((number1 / number2) * 100)
}

function SetShipHtml(){
	document.getElementById('name').innerHTML = getShipName();
	var prop = CountElements(SHIP.l,SHIP.s); 

	var piezas = prop.size - prop.nada;
	
	var FirePower		= prop.municion*2 + ((prop.arma>0) ? 1 : 0);
	var FireSpeed		= prop.arma;
	var Precision		= ((prop.arma>0) ? (32+(prop.radio+1) * (prop.habitat+1) - prop.municion*4) : 0); 
	var ElectricAttack	= (prop.habitat+1)*prop.emp*2 + prop.radio*prop.emp;
	
	var Armor			= prop.escudo*3 + prop.size;
	var ElectricDefence	= prop.habitat*4 + prop.radio*2 + prop.emp*1;
	var Evasion			= 64 + (prop.motor*3+1) * (prop.radio+1) * (prop.habitat*2+1) - (prop.size)*8;
	var Camouflage		= 16-prop.motor-prop.size+1;
	
	var Speed			= 16+prop.motor*3-prop.size-piezas+1;
	var Perception		= prop.radio+1;
	var Autonomy		= 8+prop.fuel-prop.motor+1;
	var CargoCapacity	= prop.nada;

	
	document.getElementById('prop1').innerHTML  = Normalize(FirePower		  	,16);
	document.getElementById('prop2').innerHTML  = Normalize(FireSpeed		  	,8);  
	document.getElementById('prop3').innerHTML  = Normalize(Precision		  	,96);  
	document.getElementById('prop4').innerHTML  = Normalize(ElectricAttack  	,40);
	document.getElementById('prop5').innerHTML  = Normalize(Armor			  	,32);  
	document.getElementById('prop6').innerHTML  = Normalize(ElectricDefence 	,32);
	document.getElementById('prop7').innerHTML  = Normalize(Evasion		  		,210);
	document.getElementById('prop8').innerHTML  = Normalize(Camouflage	  		,16);
	document.getElementById('prop9').innerHTML  = Normalize(Speed			  	,25);  
	document.getElementById('prop10').innerHTML = Normalize(Perception	  		,9);
	document.getElementById('prop11').innerHTML = Normalize(Autonomy		  	,17);  
	document.getElementById('prop12').innerHTML = Normalize(CargoCapacity	  	,8);  
}

function CountElements(arr,sz){
	var count = {
		arma: 0,
		municion: 0,
		escudo: 0,
		motor: 0,
		fuel: 0,
		habitat: 0,
		radio: 0,
		emp: 0,
		nada: 0,
		size: sz
	};

	for ( var i = 0; i < sz; i++ ) {
		switch(arr[i]){
			case NAVE.arma: count.arma += 1; break;
			case NAVE.municion: count.municion += 1; break;
			case NAVE.escudo: count.escudo += 1; break;
			case NAVE.motor: count.motor += 1; break;
			case NAVE.fuel: count.fuel += 1; break;
			case NAVE.habitat: count.habitat += 1; break;
			case NAVE.radio: count.radio += 1; break;
			case NAVE.emp: count.emp += 1; break;
			default: count.nada += 1; break;
		}
    }
	
	return count;
}

function getShipName(){
	switch(SHIP.s){
		case 1: 
			return getShipName1(CountElements(SHIP.l,SHIP.s));
		case 2:
			return getShipName2(CountElements(SHIP.l,SHIP.s));
		case 4: 
			return getShipName4(CountElements(SHIP.l,SHIP.s));
		case 8:
			return getShipName8(CountElements(SHIP.l,SHIP.s));
	}
}

function getShipName1(count){
	if(count.arma==1) return 'Dron cazador';
	if(count.municion==1) return 'Bomba';
	if(count.escudo==1) return 'Dron senuelo';
	if(count.motor==1) return 'Misil';
	if(count.fuel==1) return 'Dron nodriza';
	if(count.habitat==1) return 'Explorador ligero';
	if(count.radio==1) return 'Sonda';
	if(count.emp==1) return 'Pulso EMP';
	return 'Dron de carga';
}

function getShipName2(count){
	if(count.arma==1 && count.municion==1) return 'Cazabombardero';
	if(count.habitat==1 && count.municion==1) return 'Kamikaze';
	if(count.habitat==1 && count.emp==1) return 'Hacker';
	if(count.habitat==2) return 'Insignia ligera';
	
	var str = [];
	
	if(count.arma>=1) str.push('Caza');
	else if(count.municion>=1) str.push('Bomba');
	else if(count.emp>=1) str.push('Interceptor');
	else if(count.nada>=1) str.push('Nave de carga pequena');
	else if(count.habitat>=1) str.push('Explorador');
	else if(count.fuel>=1) str.push('Nodriza pequena');
	else if(count.radio>=1) str.push('Telescopio');
	else if(count.motor>=1) str.push('Misil');
	else if(count.escudo>=1) str.push('Senuelo');
	
	return str.join(" ");
}

function getShipName4(count){

	if(count.habitat==1 && count.municion==3) return 'Kamikaze pesado';

	var str = [];
	
	if(count.habitat>=3) str.push('Insignia');
	else if(count.arma>=1 && count.municion>=1 && count.escudo>=1) str.push('Crucero');
	else if(count.arma>=3) str.push('Fragata');
	else if(count.arma>=2 && count.municion>=1) str.push('Canonera');
	else if(count.arma>=1 && count.municion>=2) str.push('Destructor');
	else if(count.municion>=3) str.push('Bomba de antimateria');
	else if(count.arma>=1 && count.escudo>=2) str.push('Acorazado');
	else if(count.motor>=2 && count.arma>=1) str.push('Caza pesado');
	else if(count.motor>=2 && count.municion>=1) str.push('Misil pesado');
	else if(count.emp>=2 && count.arma>=1) str.push('Corbeta mixta');
	else if(count.emp>=3) str.push('Nave de guerra electronica');
	else if(count.emp>=2 && count.radio>=1) str.push('Nave de guerra electronica');
	else if(count.emp>=1 && count.radio>=2) str.push('Nave de guerra electronica');
	else if(count.escudo>=3) str.push('Nave escudo');
	else if(count.nada>=3) str.push('Nave de carga');
	else if(count.fuel>=3) str.push('Nodriza');
	else if(count.radio>=3) str.push('Estacion espacial');
	else if(count.radio>=2 && count.habitat>=1) str.push('Estacion espacial');
	else if(count.arma>=1 && count.municion>=1) str.push('Nave de guerra');
	else if(count.emp>=2) str.push('Corbeta de senales');
	else if(count.arma>=2) str.push('Corbeta');
	else if(count.radio>=2) str.push('Nave radio');
	else if(count.nada>=2) str.push('Nave de carga');
	else if(count.habitat>=2) str.push('Transporte');
	else if(count.motor>=3) str.push('Misil');
	
	else str.push('Hibrida');
	
	return str.join(" ");
}

function getShipName8(count){
	var str = [];
	
	if(count.habitat>=3) str.push('Insignia');
	else if(count.arma>=1 && count.municion>=1 && count.escudo>=1) str.push('Crucero');
	else if(count.arma>=3) str.push('Fragata');
	else if(count.arma>=2 && count.municion>=1) str.push('Canonera');
	else if(count.arma>=1 && count.municion>=2) str.push('Destructor');
	else if(count.municion>=3) str.push('Bomba de antimateria');
	else if(count.arma>=1 && count.escudo>=2) str.push('Acorazado');
	else if(count.motor>=2 && count.arma>=1) str.push('Caza pesado');
	else if(count.motor>=2 && count.municion>=1) str.push('Misil pesado');
	else if(count.emp>=2 && count.arma>=1) str.push('Corbeta mixta');
	else if(count.emp>=3) str.push('Nave de guerra electronica');
	else if(count.emp>=2 && count.radio>=1) str.push('Nave de guerra electronica');
	else if(count.emp>=1 && count.radio>=2) str.push('Nave de guerra electronica');
	else if(count.escudo>=3) str.push('Nave escudo');
	else if(count.nada>=3) str.push('Nave de carga');
	else if(count.fuel>=3) str.push('Nodriza');
	else if(count.radio>=3) str.push('Estacion espacial');
	else if(count.radio>=2 && count.habitat>=1) str.push('Estacion espacial');
	else if(count.arma>=1 && count.municion>=1) str.push('Nave de guerra');
	else if(count.emp>=2) str.push('Corbeta de senales');
	else if(count.arma>=2) str.push('Corbeta');
	else if(count.radio>=2) str.push('Nave radio');
	else if(count.nada>=2) str.push('Nave de carga');
	else if(count.habitat>=2) str.push('Transporte');
	
	else str.push('Hibrida');
	
	return str.join(" ");
}


SetShipHtml();
</script>
