﻿<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<script src="Languaje.js"></script>
<script src="const.js"></script>
<script src="lib.js"></script>

<style>
input{
	width:100px;
	height:66px;
}
.index_factions{
	overflow-y:scroll;
	overflow-x:hidden;
	display: grid;
	grid-template-columns: repeat(auto-fill, calc(100%/4) );
}
.index_factions input{
	margin-bottom:5px;
}

img{
	width:200px;
	heigth:200px;
	display:block;
}

.faction_content{
	padding:20px;
	text-align:center;	
}

.faction_content img{
	display:block;
	margin-left: auto;
    margin-right: auto;
	margin-top:20px;
	margin-bottom:20px;
}

.faction_content p{
	line-height: 20px;
	padding-bottom: 15px;
}

.flag{
	background-color: var(--faction_color);
}
</style>

<div class="main_container">
	<div class="index_factions cs_main column js_factions"></div>
	<div class="faction_content cs_secondary column js_faction_content"></div>
</div>

<script>

function SaveFaction(faction){
	Memory.set('faction',faction,0);	
	document.location.href = "./world.html";
}

function SetFaction(num){
	Style.SetTheme(num);
	document.getElementsByClassName("js_faction_content")[0].innerHTML = MakeCivContent(num);	
}

function MakeCivContent(faction){
	var result = '';
	
	var name = CONST.factions[faction].name;
	var description = LONGTEXT('History_'+name).split('#').join('</p><p>');	
	
	result+= '<h1 class="cs_tertiary title js_title">'+TEXT(name)+'</h1>';
	result+= '<img  class="flag" src="..\\assets\\transparent\\'+name+'.png"/>';	
	result+= '<div class="wrap-collabsible">'
	result+= '<input id="collapsible" class="toggle" type="checkbox">'
	result+= '<label for="collapsible" class="lbl-toggle">History</label>'
	result+= '<div class="collapsible-content">'
	result+= '<div class="content-inner">'
	result+= '<p>'+description+'</p>';
	result+= '</div>'
	result+= '</div>'
	result+= '</div>'
	result+= '<button onclick="SaveFaction(\''+faction+'\')">Pick this faction</button>';
	
	return result;
}

function MakeCivPicker(civ,index){
	return '<input class="flag" type="image" src="..\\assets\\transparent\\'+civ+'.png" onclick="SetFaction('+index+')"> '+TEXT(civ)+' </input>';
}

function init(){
	Style.SetFactionColor(Memory.get('color',0));

	var factions = document.getElementsByClassName("js_factions")[0];

	for (i = 0; i < CONST.factions.length; i++) { 
		factions.innerHTML += MakeCivPicker(CONST.factions[i].name,i);		
	}
	
	SetFaction(0);
}

init()

</script>