﻿<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="Languaje.js"></script>
<script src="Calculator.js"></script>
<script src="lib.js"></script>
<script src="MeshFactory.js"></script>
<script src="MaterialsFactory.js"></script>

<style>
.map_canvas{
	height:80%;		
}
.map_panel{
	height:20%;		
}
.map_object{
	height:30%;		
}
.map_fleets_container{
	height:70%;	
}
.map_fleet_name{
	width: calc(100% / 3*2); 
	height: calc(100% / 8);
}
.map_fleet_button{
	width: calc(100% / 6); 
	height: calc(100% / 8);
}
</style>
</head> 

<div class="main_container cs_main">
	<div class="column">	
		<div id="container">
			<div id="overlay">
				<button onclick="GoToWorld()">WORLD</button>			
			</div>		
			<div id="map_canvas" class="canvas map_canvas"></div>			
		</div>			
	</div>
	
	<div class="column">
		<div class="panel map_object ">
			<h1 class="cs_secondary title js_name">Asteroids X48</h1>
			<h2 class="cs_secondary ">Matter: <span id='matter' class="js_props">0</span>Tg</h2>
		</div>
		<div class="panel map_fleets_container ">
			<ul class="cs_secondary list js_fleets_container">
				<li class="list_element_container">
					<button class="list_element cs_tertiary map_fleet_name" onclick="GoToFleet()">+ Add new fleet</button>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>

var t = 0, dt = 0.00002;
var scene,renderer,camera,raycaster,mouse,controls;
var MAP = {};
var SELECTEDMESH;
var MAINWORLD,FLEETS = {};

function GoToFleet(){
	document.location.href = "./fleets.html";
}

function GoToWorld(){
	document.location.href = "./world.html";
}

function GoToBattle(){
	setTimeout(function(){document.location.href = "./battle.html"},1000);	
}

function createFleetHtml(name){
	var html = '';
	html += '<li class="list_element_container">'		
	html += '<button class="list_element cs_tertiary map_fleet_name">'+name+'</button>'
	html += '<button class="list_element cs_tertiary map_fleet_button" onclick="">Details</button>'
	html += '<button class="list_element cs_tertiary map_fleet_button js_deploy_'+name+'" onclick="DeployFleet(\''+name+'\')">Deploy</button>'
	html += '</li>'
	
	return html;
}

function init(){
	Style.SetTheme(Memory.get('faction',0));

	var fleets = Memory.get('fleets',0);
	var html = '';	
	for(fleet in fleets){
		html += createFleetHtml(fleet);
	}	
	var elem = document.getElementsByClassName("js_fleets_container")[0];
	elem.innerHTML = html + elem.innerHTML;

	///

	var canvas = document.getElementById('map_canvas'); 
	var w = canvas.parentNode.offsetWidth;
	var h = canvas.parentNode.offsetHeight;
	
	scene = new THREE.Scene();
	camera = new THREE.PerspectiveCamera(50, w / h, 0.1, 1000);
	renderer = new THREE.WebGLRenderer();
	controls = new THREE.OrbitControls( camera );
	
	renderer.setSize(w, h);
	canvas.appendChild(renderer.domElement);
	camera.position.z = 10;
	
	CreateMap();
	//SelectObject(MAINWORLD);
	
	canvas.addEventListener( 'mousedown', onDocumentMouseDown, false );   
	raycaster = new THREE.Raycaster();
	mouse = new THREE.Vector2();
	
	render();	
	
	setTimeout(TUTORIAL.map,1000);
}

function GenerateAndScatter(WorldArea,amount,name,propsFunc){
	var objects = [];

	for(var i=0;i<amount;i++){		
		var planet = {
			x : WorldArea-(WorldArea*2) * Math.random(),	
			y : WorldArea-(WorldArea*2) * Math.random(),	
			z : WorldArea-(WorldArea*2) * Math.random(),
			name : name+i,
			props : propsFunc(i)
		};	
		if (MAINWORLD.position.distanceTo(new THREE.Vector3(planet.x,planet.y,planet.z))<5){
			i--;
		}
		else{					
			objects.push(planet);			
		}
	}
	
	return objects;
}

function CreateRandomProps(i){
	return {
		matter:1000
	}
}

function CreateRandomEnemyFleet(i){
	var player = 1;

	var enemyFleets = Memory.get('fleets',player);
	
	return {
		matter:0,
		fleet:'Reichsadler'
	}
}

function CreateMap(){
	var WorldArea = 10;
	//var planets = 10;
	//var asteroids = 20;
	//var dust = 15;
	//var gas = 15;
	var planets = 1;
	var asteroids = 1;
	var dust = 1;
	var gas = 1;	
	var fleets = 1;		
	
	var resources = Memory.get('resources',0);
	
	var planet = {
		x:0,
		y:0,
		z:0,
		name:TEXT('Planet')+' A0',
		props:resources
	};	
	MAINWORLD = PaintMesh(Astronomy.BuildWorld,planet);		
	
	var MAP = Memory.get('map',0);
	if(!MAP){
		MAP = {};
	
		MAP["planets"] = GenerateAndScatter(WorldArea,planets,TEXT('Planet')+' A',CreateRandomProps);
		MAP["asteroids"] = GenerateAndScatter(WorldArea,asteroids,TEXT('Asteroids')+' A',CreateRandomProps);
		MAP["dust"] = GenerateAndScatter(WorldArea,dust,TEXT('Dust cloud')+' A',CreateRandomProps);
		MAP["gas"] = GenerateAndScatter(WorldArea,gas,TEXT('Gas cloud')+' A',CreateRandomProps);
		MAP["fleets"] = GenerateAndScatter(WorldArea,gas,TEXT('Gas cloud')+' A',CreateRandomEnemyFleet);
		
		Memory.set('map',MAP);
	}	
	
	PaintMeshes(Astronomy.BuildWorld,MAP["planets"]);
	PaintMeshes(Astronomy.BuildField,MAP["asteroids"]);
	PaintMeshes(Astronomy.BuildDustCloud,MAP["dust"]);
	PaintMeshes(Astronomy.BuildGasCloud,MAP["gas"]);
	PaintMeshes(Astronomy.BuildFleet,MAP["fleets"]);

	var light = new THREE.AmbientLight( 0x555555 );
	scene.add( light );
}

function PaintMeshes(meshFunc,objects){
	for(var i=0;i<objects.length;i++){
		PaintMesh(meshFunc,objects[i]);
	}
}

function PaintMesh(meshFunc,obj){
	var mesh = meshFunc();
	mesh.obj = obj;
	mesh.position.x = obj.x;
	mesh.position.y = obj.y;
	mesh.position.z = obj.z;
	scene.add(mesh);
	return mesh;
}

function SelectObject(object){

	if(SELECTEDMESH) SELECTEDMESH.material = MaterialsFactory.select();
		
	SELECTEDMESH = object;
	SELECTEDMESH.material = MaterialsFactory.selected();		

	document.getElementsByClassName("js_name")[0].innerHTML = object.obj.name;
	document.getElementsByClassName("js_props")[0].innerHTML = object.obj.props.matter;
}

function onDocumentMouseDown( event ) {
	mouse.x = ( event.clientX / renderer.domElement.clientWidth ) * 2 - 1;
	mouse.y = - ( event.clientY / renderer.domElement.clientHeight ) * 2 + 1;

	raycaster.setFromCamera( mouse, camera );

	var intersects = raycaster.intersectObjects( scene.children, false );

	if ( intersects.length > 0 ) {
		SelectObject(intersects[0].object);
	}
}

function DeployFleet(name){
	var fleets = Memory.get('fleets',0);
	var props = Calculator.GetFleetProps(fleets[name]);	
	
	var fleet = {
		x : 0,	
		y : 0,	
		z : 0,
		name : name,
		objective : SELECTEDMESH,
		props : {
			cargo : 0,
			maxcargo : props.CargoCapacity
		}
		
	};
	var mesh = PaintMesh(Astronomy.BuildFleet,fleet);		
	mesh.lookAt(SELECTEDMESH.position);
	FLEETS[name] = mesh;
	
	var elem = document.getElementsByClassName("js_deploy_"+name)[0];
	
	elem.innerHTML = "Return";
	elem.setAttribute('onclick','ReturnFleet("'+name+'")');
}

function ReturnFleet(name){	
	FLEETS[name].obj.objective = MAINWORLD;
	FLEETS[name].obj.retreat = true;
	var elem = document.getElementsByClassName("js_deploy_"+name)[0];
	elem.disabled = true;
	FLEETS[name].lookAt(MAINWORLD.position);	
}

function FleetReachedObjective(fleet,FLEETS,i){
	if(fleet.retreat){
		var name = fleet.name;	
		var elem = document.getElementsByClassName("js_deploy_"+name)[0];
		elem.disabled = false;
		elem.innerHTML = "Deploy";
		elem.setAttribute('onclick','DeployFleet("'+name+'")');
		
		TUTORIAL.mapObjective(fleet.props.cargo);
		
		scene.remove(FLEETS[i]);
		delete FLEETS[i];		
	}
	else{
		var objProps = fleet.objective.obj.props;
	
		if(objProps.matter){
			fleet.props.cargo = fleet.props.maxcargo;
			objProps.matter -= fleet.props.maxcargo;
			ReturnFleet(i);
		}
		else if(objProps.fleet){
			TUTORIAL.mapObjective2();
			StartBattle(fleet,objProps.fleet);			
		}		
	}
}

function StartBattle(f1,f2){
	var battle = {
		f1 : f1.name,
		f2 : f2,
		player : 1
	}

	Memory.set('current',battle);

	GoToBattle();
}

function MoveFleets(){
	for(i in FLEETS){
		if(FLEETS[i].position.distanceTo(FLEETS[i].obj.objective.position)<0.5){
			FleetReachedObjective(FLEETS[i].obj,FLEETS,i);
		}
		else{
			var a = FLEETS[i].position;
			var b = FLEETS[i].obj.objective.position;	
			
			FLEETS[i].position.x += (b.x - a.x) * t;
			FLEETS[i].position.y += (b.y - a.y) * t;
			FLEETS[i].position.z += (b.z - a.z) * t;
		}		
	}
	t += dt;
}

var render = function () {
	MoveFleets();

    requestAnimationFrame(render);
	controls.update();
    renderer.render(scene, camera);
}

init(); 

</script>