/* CLEARFIX */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* COMMON */

@font-face {
    font-family: 'ds_arabicregular';
    src: url('assets/arabdances.woff2') format('woff2'),
         url('assets/arabdances.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'buran_ussrregular';
    src: url('assets/buran_ussr-webfont.woff2') format('woff2'),
         url('assets/buran_ussr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tulisan_tangankuregular';
    src: url('assets/tulisan_tanganku.woff2') format('woff2'),
         url('assets/tulisan_tanganku.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'diogenesregular';
    src: url('assets/diogenes.woff2') format('woff2'),
         url('assets/diogenes.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
	--faction_color:#C60C30;	
	--font:UnifrakturCook;	
	--fontsize:1em;	
	--color_main_back:#000000;
	--color_main_text:#8C0702;
	--color_secondary_back:#99846B;	
	--color_secondary_text:#000000;
	--color_tertiary_back:#D5B17D;	
	--color_detail_back:#8C0702;	
	--color_detail_text:#FFFFFF;
}

body{
	overflow:hidden;
	font-family:var(--font);
	font-size:var(--fontsize);
}

/* MULTIPAGE */ 

.panel{
	background-color: var(--color_main_back);
	padding:1%;
	box-sizing: border-box;
	flex-direction:row;
	display:flex;	
}
.panel > * {
	width:100%;
	height:100%;
}
.canvas{
	width:100%;
	height:100%;
	background-color: black;
}

/**/
#container {
  position: relative;
}
#container canvas {
  position: absolute;
}
#overlay {
  position: absolute;
  width:100%;
  z-index: 999;
}
canvas {
  border: 1px solid black;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltiptextover {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1000;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip:hover .tooltiptextover {
    visibility: visible;
}

/**/

.cs_main{
	background-color: var(--color_main_back); 
    color: var(--color_main_text);	
}

.cs_secondary{
	background-color: var(--color_secondary_back); 
    color: var(--color_secondary_text);	
}

.cs_tertiary{
	background-color: var(--color_tertiary_back); 
    color: var(--color_secondary_text);	
}

.cs_detail{
	background-color: var(--color_detail_back); 
    color: var(--color_detail_text);	
}

.title{
	color:var(--color_main_text); 
	text-align: center; 
	font-size: 3rem;
}

.column{
	width:50%;
	height:100%;	
}

.main_container{
	display:flex;
	width:100vw;
	height:100vh;	
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin: auto;
    padding: 20px;
    width: 80%;
}


.list{	
	overflow-y: scroll;
}

.list_element_container{
	display:flex;
}

.list_element{
    text-align: center;
    display: block;
	border:solid;
}

.list_element:not(.list_element_inactive):hover{
	background-color: var(--color_detail_back);
}

.cell{
    display: flex;
	align-items: center;
    justify-content: center;
}

.property{
	display:flex;
	flex-direction:row;
}
.property_text{
	background-color: var(--color_secondary_back); 
    color: var(--color_secondary_text);	
    width: calc(100% / 5*2); 
    text-align: center;
    display: block;
}
.property_bar_container {
	width: calc(100% / 5*3); 	
	background-color: var(--color_tertiary_back); /* Grey background */
    text-align: right; /* Right-align text */
}
.property_bar {
	color:var(--color_detail_text);
	width: 0%; 
	height: 100%;
	background-color: var(--color_detail_back);
}




.ship_main{
	flex-direction:row;
	flex-wrap:wrap;
	height:20%;		
}
.back_button{
    width: calc(100% / 12); 
	height: calc(100% / 5*3);
	font-size: 2em;
	border-right: solid;
	border-bottom: solid;
	border-color: var(--color_secondary_text); 
}
.ship_main_name{	
    width: calc(100% / 6*5); 
	height: calc(100% / 5*3);	
}
.ship_main_type{
    width: calc(100% / 3); 
	height: calc(100% / 5*2);  
}
.ship_part{
	display:flex;
	flex-direction:row;
}
.ship_part_text{
    width: calc(100% / 2); 
}
.ship_part_button{
    width: calc(50% / 3); 
}
.ship_part_button:disabled {
	opacity:0.5; 
}
.ship_part_button:disabled:hover {
	background-color : var(--color_secondary_back); 
}
.ship_parts_container{
	height:80%;
	display:flex;
	flex-direction:column;
	padding:1%;
	padding-top:0%;
	box-sizing: border-box;
}
.ships_right{
	display:flex;
	flex-direction:column;
	width:50%;
	height:100%;		
}
.ships_righttop{
	display:flex;
	flex-direction:column;
	
	width:100%;
	height:50%;
	padding:1%;
	box-sizing: border-box;
}
.ships_rightbottom{
	display:flex;
	flex-direction:column;
	
	width:100%;
	height:50%;
	padding:1%;
	box-sizing: border-box;
}

/* collapsible */ 

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: var(--font);
  font-size: 1.2rem;
  text-align: center;

  padding: 1rem;

  color: var(--color_secondary_text);
  background: var(--color_tertiary_back);

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  filter: brightness(50%);
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}















