body{
	padding:0;
	margin:0;
	border:0;
	font-family:sans-serif;
	backgrond-color:black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
} 

.active {
    background-color: #4CAF50;
}

.outer {
    display: table;
    position: absolute;
   
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
	color:white;
	background-color:#333;
}