<style>

/*healthbar*/
progress { 
	border: 1px solid black;
}
::-webkit-progress-bar {
	background-color: white; 
}
::-webkit-progress-value {
	transition: width 1s;
	background-color: blue;
}

/*layout*/
body {
	display:flex;
	flex-direction:row;
}
body>div{
	width:50%;
}


</style>

<body>
	<div>
		<progress id="p1health" value="100" max="100">100%</progress>
	</div>	
	<div>
		<progress id="p2health" value="100" max="100">100%</progress>
	</div>
</body>


<script src="lib.js"></script>
<script src="random.js"></script>
<script>

let health = document.getElementById("p1health")
health.value -= 10;

</script>