<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../style/reset.css">
<link rel="stylesheet" type="text/css" href="../style/base.css">
<link rel="stylesheet" type="text/css" href="../style/components.css">
<link rel="stylesheet" type="text/css" href="../style/pages.css">
</head>

<body class="l-canvas">
    <canvas></canvas>
    <div>
        <div>
            <h1>Asteroids X2</h1>
        </div>
        <div>
            <h1>Fleets</h1>
        </div>
    </div>
</body>
