<head>
<meta charset="UTF-8">
<script src="../lib/lib.js"></script>
<script src="../editing/namefactory.js"></script>
</head>

<body>
    <div id="content">    
    </div>
</body>

<script>

	var rnd = Random.Create();
			
	var civ = 0;

	
	
	for(var i=0;i<10;i++){
		content.innerHTML += NameFactory.MakeName(civ,rnd)+'<br>';
	}
	
</script>