<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/base.css">
    <link rel="stylesheet" type="text/css" href="../style/components.css">
    <link rel="stylesheet" type="text/css" href="../style/pages.css">
	<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="../lib/lib.js"></script>
    <script src="../drawing/meshfactory.js"></script>
    <script src="../drawing/materialsfactory.js"></script>
    
    <style>
    
	
    </style>
    </head> 
    
    <div class="l-battle">		
        <canvas id="battle_canvas"></canvas>	
		<div>
			<div>
				<h2>Flota 1</h2>
				<h3>8/12</h3>
			</div>
			<div>
				<h2>Orders</h2>
			</div>
			<div>
				<h2>Flota 2</h2>
				<h3>9/14</h3>
			</div>
		</div>		
    </div>
    
    <script>
    

	
	/////////////////////////////////////////////////
	
	
	
    var scene,renderer,camera,raycaster,mouse,controls;
    
    var BULLETS1 = [];
    var BULLETS2 = [];
    var F1 = new THREE.Mesh();
    var F2 = new THREE.Mesh();
    
    var EXPLOSION_PARTICLES = [];
    
    function init(){
    
        var canvas = document.getElementById('battle_canvas'); 
        var w = canvas.offsetWidth;
        var h = canvas.offsetHeight;
        
        scene = new THREE.Scene();
        camera = new THREE.PerspectiveCamera(50, w / h, 0.1, 1000);
        renderer = new THREE.WebGLRenderer({canvas:canvas});
        controls = new THREE.OrbitControls( camera );
        
        renderer.setSize(w, h);
        camera.position.z = 10;
        
        CreateBattle();	
        
        render();
        
		var lights = [];
		lights[ 0 ] = new THREE.PointLight( 0xffffff, 1, 0 );
		lights[ 1 ] = new THREE.PointLight( 0xffffff, 1, 0 );
		lights[ 2 ] = new THREE.PointLight( 0xffffff, 1, 0 );

		lights[ 0 ].position.set( 0, 200, 0 );
		lights[ 1 ].position.set( 100, 200, 100 );
		lights[ 2 ].position.set( - 100, - 200, - 100 );

		scene.add( lights[ 0 ] );
		scene.add( lights[ 1 ] );
		scene.add( lights[ 2 ] );
		
        setInterval(update,1000);
    }
    
    function CreateBattle(){
        var area = .5;

        var type = {
            parts :{Weapon:1,Ammo:1,Shield:1,Engine:1,Fuel:0,Habitat:0,Radio:0,Computer:0,Size:4,Nada:0}
        };
            
        var ship = MeshFactory.Build(type.parts);
        ship.scale.set(type.parts.Size/8,type.parts.Size/8,type.parts.Size/8,type.parts.Size/8);
    
        var SHIPMESH = ship.clone();
    
        SHIPMESH.position.x = area-(area*2) * Math.random();	
        SHIPMESH.position.y = area-(area*2) * Math.random();	
        SHIPMESH.position.z = area-(area*2) * Math.random();
        
        F1.add(SHIPMESH);
        scene.add(F1);
    }
    
    
    function render() {
        requestAnimationFrame(render);
        controls.update();
        renderer.render(scene, camera);
        
        var pCount = EXPLOSION_PARTICLES.length;
        while(pCount--) {
            EXPLOSION_PARTICLES[pCount].update();
        }
        
        
        for(var i = 0; i < BULLETS1.length; i++){
            MoveBullet(BULLETS1[i],i);
        }
            
    }
    
    function update() {
        for(var i = 0; i < F1.children.length; i++){
            ShotBullet(F1.children[i].position);
        }
    }
    
    function ShotBullet(pos){	
        var x = pos.x //+ Math.random()*2-1;
        var y = pos.y //+ Math.random()*2-1;
        var z = pos.z //+ Math.random()*2-1;
        
        var material = new THREE.MeshNormalMaterial();
        
        var object = new THREE.Mesh(lib.sph(.1).m.geometry,material);
        object.position.set(x,y,z);
        
        scene.add(object);
        
        object.ttl = 100 + Math.random()*50-25;
        
        BULLETS1.push(object);
    }
    
    function MoveBullet(bullet,i){
        if(!BULLETS1[i]) return;
    
        if(bullet.ttl<0){
            //EXPLOSION_PARTICLES.push(ExplodeAnimation(bullet.position.x,bullet.position.y,bullet.position.z))
            scene.remove(bullet);	
            BULLETS1[i] = null		
        }
        bullet.ttl--;
        bullet.position.y += 0.5;	
    }
    
    function ExplodeAnimation(x,y,z){
        var movementSpeed = .1;
        var totalObjects = 10;
        var objectSize = .5;
        var sizeRandomness = 1;
        var colors = [0xFF0FFF, 0xCCFF00, 0xFF000F, 0x996600, 0xFFFFFF];
        var dirs = [];
        var geometry = new THREE.Geometry();
    
        for (i = 0; i < totalObjects; i ++){ 
            var vertex = new THREE.Vector3();
            vertex.x = x;
            vertex.y = y;
            vertex.z = z;
    
            geometry.vertices.push( vertex );
            dirs.push({x:(Math.random() * movementSpeed)-(movementSpeed/2),y:(Math.random() * movementSpeed)-(movementSpeed/2),z:(Math.random() * movementSpeed)-(movementSpeed/2)});
        }
        var material = new THREE.ParticleBasicMaterial( { size: objectSize,  color: colors[Math.round(Math.random() * colors.length)] });
        var particles = new THREE.ParticleSystem( geometry, material );
    
        var that ={};
        
        that.object = particles;
        that.status = true;
    
        that.xDir = (Math.random() * movementSpeed)-(movementSpeed/2);
        that.yDir = (Math.random() * movementSpeed)-(movementSpeed/2);
        that.zDir = (Math.random() * movementSpeed)-(movementSpeed/2);
    
        scene.add( that.object  ); 
    
        that.update = function(){
            if (that.status == true){
                var pCount = totalObjects;
                while(pCount--) {
                    var particle = that.object.geometry.vertices[pCount]
                    particle.y += dirs[pCount].y;
                    particle.x += dirs[pCount].x;
                    particle.z += dirs[pCount].z;
                }
                that.object.geometry.verticesNeedUpdate = true;
            }
        } 
        return that;
    }
    
    init(); 
    
    </script>