<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../style/reset.css">
<link rel="stylesheet" type="text/css" href="../style/base.css">
<link rel="stylesheet" type="text/css" href="../style/components.css">
<link rel="stylesheet" type="text/css" href="../style/pages.css">
</head>

<body class="l-three">
    <div>
        <h1>New game</h1>
        <table>
            <tr class="js_player">
                <td><input onchange="Room.ChangePlayerName(0,this.value)" value="Jugador"></td>
                <td></td>
                <td><input type="color" id="myColor"></td>
            </tr>
            <tr class="js_player">
                <td><input onchange="Room.ChangePlayerName(0,this.value)" value="Jugador"></td>
                <td>AI</td>
                <td><input type="color" id="myColor"></td>
            </tr>
        </table>
        <button onclick="">Start game</button>
    </div>
    <div>
        <div>
            <h1>Map details</h1>
        </div>
        <div id="chat">
            <h1>Chat</h1>
            <div id="chat_output"></div>
            <input id="chat_input">
            <input id="chat_submit" type="submit" onclick="Chat.Send()">
        </div>
    </div>
</body>
