<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../style/reset.css">
<link rel="stylesheet" type="text/css" href="../style/base.css">
<link rel="stylesheet" type="text/css" href="../style/components.css">
<link rel="stylesheet" type="text/css" href="../style/pages.css">
</head>

<style>

</style>

<body class="l-canvas l-main">
    <canvas></canvas>
    <div>
        <div>
            <h1>Asteroids X2</h1>
			<p>Raw: <span id='raw'>10</span></p>
			<p>Matter: <span id='matter'>10</span></p>
			<p>Population: <span id='pop'>12</span>/<span id='maxpop'>90</span></p>
			<p>Energy: <span id='energy'>80</span>/<span id='maxenergy'>95</span></p>
        </div>
        <div>
            <h1>Fleets</h1>
			<img>
        </div>
    </div>
	<span id="hamburger">☰</span>
</body>
