
<button onclick="clean()">clean</button>


<textarea  id="input"></textarea >
<pre id="output"></pre>


<script>
var grammar = `
All = a:("$"b:Dialog br)*
{
	return a.map(x=>x[1])
}

Dialog = DialogComment / real:DialogReal
{return real;}
DialogReal = title:Text br phrases:(a:Phrase br)*
{
	return{
    	title:title,
        phrases:phrases
    }
}
DialogComment = "#" Text br

Phrase = num:([1-9] _)* name:Text ":" _ text:Text
{
	var a={
    	name:name,
        text:text
    }
    if(num){
    	a.num = num[0]
    }
    return a;
}

Text = Word (_ Word)* {
	return text()
}

Word = Normal / Bold{
	return text();
}

Normal = word
Bold = ast Text ast

word = [A-Za-z "," "!" "." "’" "?" "…" "'"]
_ "whitespace"= [ \t]*
br = [\r\n]
ast = "*"
`



var saveData = (function () {
    var a = document.createElement("a");
    document.body.appendChild(a);
    a.style = "display: none";
    return function (data, fileName) {
        var json = JSON.stringify(data),
            blob = new Blob([json], {type: "octet/stream"}),
            url = window.URL.createObjectURL(blob);
        a.href = url;
        a.download = fileName;
        a.click();
        window.URL.revokeObjectURL(url);
    };
}());


function clean() {
	var data = GetGrid(input.value);
	output.innerHTML = data;
	saveData(data, "dialog.json");
}

function GetGrid(input){
	return {
		text:input
	}
}

</script>
