<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<button onclick="clean()">clean</button>
<button onclick="fancy()">clean</button>
<img src="manual.png" id="img">

<pre id="output"></pre>

<canvas id="canvas">



<script>

/*
var pixelData = canvas.getContext('2d').getImageData(event.offsetX, event.offsetY, 1, 1).data;

output.innerHTML = event.offsetX + 'R: ' + pixelData[0] + '<br>G: ' + pixelData[1] + '<br>B: ' + pixelData[2] + '<br>A: ' + pixelData[3];
*/



function loaded() {
	GetGrid(true);
}
function clean() {
	GetGrid(false);
}
function fancy() {
	GetGrid(true);
}

img.addEventListener('load', loaded)

var COLORS = [
{r: 255, g: 255, b: 255, v: 0}
,{r: 237, g: 28, b: 36, v: 1}
,{r: 181, g: 230, b: 29, v: 2}
,{r: 0, g: 0, b: 0, v: 3}
,{r: 127, g: 127, b: 127, v: 4}
,{r: 63, g: 72, b: 204, v: 5}
,{r: 112, g: 146, b: 190, v: 6}
,{r: 200, g: 191, b: 231, v: 7}
,{r: 255, g: 174, b: 201, v: 8}
,{r: 0, g: 162, b: 232, v: 9}
,{r: 163, g: 73, b: 164, v: 10}
,{r: 255, g: 201, b: 14, v: 11}
,{r: 255, g: 242, b: 0, v: 12}
,{r: 153, g: 217, b: 234, v: 13}
,{r: 185, g: 122, b: 87, v: 14}
,{r: 0, g: 0, b: 255, v: 15}
]


function MatchColor(r,g,b,color){
	return r == color.r &&b == color.b &&g == color.g;
}

function GetColor(r,g,b){
	for (var i = 0; i < COLORS.length; i++) {
		if(MatchColor(r,g,b,COLORS[i])){
			return COLORS[i].v;
		}
	}
	COLORS[COLORS.length] = {
		r:r,
		g:g,
		b:b,
		v:COLORS.length
	};
	return COLORS.length;
}

function PaintPixel(pixels,x,y,r,g,b,size){

	var off = (y * size*3 + x) * 4;
	pixels[off] = r;
	pixels[off + 1] = g;
	pixels[off + 2] = b;
	pixels[off + 3] = 255;
}

function GetGrid(fancy){


	canvas.width = img.width;
	canvas.height = img.height;
	canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height);



	var pixelData = canvas.getContext('2d');
	var canvasWidth = canvas.width;
	var canvasHeight = canvas.height;
	var e = pixelData.getImageData(0, 0, canvasWidth, canvasHeight);

	
	console.log(e)
	
	
	var matrix = []
	var a = ""
	
	var h = canvasHeight;
	var w = canvasWidth;
	
	for (var i = 0; i < h; i++) {
		for (var j = 0; j < w; j++) {
			
			var r = e.data[ i*w*4 + j*4 ];
			var g = e.data[ i*w*4 + j*4 +1];
			var b = e.data[ i*w*4 + j*4 +2];
			
			var color = GetColor(r,g,b)
			matrix.push(color)
			a+=color;
		}		
		a+='<br>'
	}
	
	
	if(fancy){
		output.innerHTML = a;
	}
	else{
		output.innerHTML = matrix;
	}
	output.innerHTML+="<br>"+canvasWidth+" - "+canvasHeight
}


</script>
