﻿<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="lib.js"></script>
<script src="MeshFactory.js"></script>
<script src="MaterialsFactory.js"></script>

<style>
.battle_canvas{
	height:100%;		
	width:100%;		
}
</style>
</head> 

<div class="main_container cs_main">
	<div id="battle_canvas" class="canvas battle_canvas"></div>
</div>

<script>

var scene,renderer,camera,raycaster,mouse,controls;

var BULLETS1 = [];
var BULLETS2 = [];
var F1 = new THREE.Mesh();
var F2 = new THREE.Mesh();

var EXPLOSION_PARTICLES = [];

function init(){
	Style.SetTheme(Memory.get('faction',0));

	var canvas = document.getElementById('battle_canvas'); 
	var w = canvas.parentNode.offsetWidth;
	var h = canvas.parentNode.offsetHeight;
	
	scene = new THREE.Scene();
	camera = new THREE.PerspectiveCamera(50, w / h, 0.1, 1000);
	renderer = new THREE.WebGLRenderer();
	controls = new THREE.OrbitControls( camera );
	
	renderer.setSize(w, h);
	canvas.appendChild(renderer.domElement);
	camera.position.z = 10;
	
	CreateBattle();	
	
	render();
	
	setInterval(update,1000);
}

function CreateBattle(){
	var current = Memory.get('current');

	var shipTypes1 = Memory.get('ships',0);
	var fleets1 = Memory.get('fleets',0);			
	var shipTypes2 = Memory.get('ships',current.player);
	var fleets2 = Memory.get('fleets',current.player);		
	
	var f1mesh = CreateFleet(fleets1[current.f1],shipTypes1,F1);
	var f2mesh = CreateFleet(fleets2[current.f2],shipTypes2,F2);
	
	F2.rotation.z = -Math.PI;
	F2.position.y = +30;
	
	scene.add(F1);
	scene.add(F2);
}

function CreateFleet(fleet,shipTypes,mesh){
	var material = new THREE.MeshNormalMaterial();
	
	var area = 15;
	
	for (i = 0; i < fleet.length; i++) { 
		var type = shipTypes[i];
		
		var geo = MeshFactory.Build(type.parts);
		var ship = new THREE.Mesh(geo, material);
		ship.scale.set(type.parts.Size/8,type.parts.Size/8,type.parts.Size/8,type.parts.Size/8);
	
		for (j = 0; j < fleet[i]; j++) { 
			var SHIPMESH = ship.clone();
		
			SHIPMESH.position.x = area-(area*2) * Math.random();	
			SHIPMESH.position.y = area-(area*2) * Math.random();	
			SHIPMESH.position.z = area-(area*2) * Math.random();
			
			mesh.add(SHIPMESH);
		}
	}	
}

function render() {
    requestAnimationFrame(render);
	controls.update();
    renderer.render(scene, camera);
	
	var pCount = EXPLOSION_PARTICLES.length;
	while(pCount--) {
		EXPLOSION_PARTICLES[pCount].update();
	}
	
	
	for(var i = 0; i < BULLETS1.length; i++){
		MoveBullet(BULLETS1[i],i);
	}
		
}

function update() {
	for(var i = 0; i < F1.children.length; i++){
		ShotBullet(F1.children[i].position);
	}
}

function ShotBullet(pos){	
	var x = pos.x //+ Math.random()*2-1;
	var y = pos.y //+ Math.random()*2-1;
	var z = pos.z //+ Math.random()*2-1;
	
	var material = new THREE.MeshNormalMaterial();
	
	var object = new THREE.Mesh(lib.sph(.1).m.geometry,material);
	object.position.set(x,y,z);
	
	scene.add(object);
	
	object.ttl = 100 + Math.random()*50-25;
	
	BULLETS1.push(object);
}

function MoveBullet(bullet,i){
	if(!BULLETS1[i]) return;

	if(bullet.ttl<0){
		//EXPLOSION_PARTICLES.push(ExplodeAnimation(bullet.position.x,bullet.position.y,bullet.position.z))
		scene.remove(bullet);	
		BULLETS1[i] = null		
	}
	bullet.ttl--;
	bullet.position.y += 0.5;	
}

function ExplodeAnimation(x,y,z){
	var movementSpeed = .1;
	var totalObjects = 10;
	var objectSize = .5;
	var sizeRandomness = 1;
	var colors = [0xFF0FFF, 0xCCFF00, 0xFF000F, 0x996600, 0xFFFFFF];
	var dirs = [];
	var geometry = new THREE.Geometry();

	for (i = 0; i < totalObjects; i ++){ 
		var vertex = new THREE.Vector3();
		vertex.x = x;
		vertex.y = y;
		vertex.z = z;

		geometry.vertices.push( vertex );
		dirs.push({x:(Math.random() * movementSpeed)-(movementSpeed/2),y:(Math.random() * movementSpeed)-(movementSpeed/2),z:(Math.random() * movementSpeed)-(movementSpeed/2)});
	}
	var material = new THREE.ParticleBasicMaterial( { size: objectSize,  color: colors[Math.round(Math.random() * colors.length)] });
	var particles = new THREE.ParticleSystem( geometry, material );

	var that ={};
	
	that.object = particles;
	that.status = true;

	that.xDir = (Math.random() * movementSpeed)-(movementSpeed/2);
	that.yDir = (Math.random() * movementSpeed)-(movementSpeed/2);
	that.zDir = (Math.random() * movementSpeed)-(movementSpeed/2);

	scene.add( that.object  ); 

	that.update = function(){
		if (that.status == true){
			var pCount = totalObjects;
			while(pCount--) {
				var particle = that.object.geometry.vertices[pCount]
				particle.y += dirs[pCount].y;
				particle.x += dirs[pCount].x;
				particle.z += dirs[pCount].z;
			}
			that.object.geometry.verticesNeedUpdate = true;
		}
	} 
	return that;
}

init(); 

</script>