﻿<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
<script src="const.js"></script>
<script src="Calculator.js"></script>
<script src="lib.js"></script>
<script src="MeshFactory.js"></script>
<script src="NamesFactory.js"></script>
</head> 

<div class="main_container">
	<div class="column">	
		<div class="panel ship_main">
			<button class="cell cs_secondary back_button" onclick="saveFleet()">✓</button>
			<button class="cell cs_secondary back_button">✕</button>
			<input class="cell cs_tertiary title ship_main_name js_fleet_name" value="Fleet name"></input>
			<p class="cell cs_tertiary ship_main_type js_ship_type">SHIP</p>
			<p class="cell cs_tertiary ship_main_type tooltip js_ship_skill1">Fleet skill 1</p>
			<p class="cell cs_tertiary ship_main_type tooltip js_ship_skill2">Fleet skill 2</p>
		</div>
		<div class="panel ship_parts_container js_ship_parts_container">
			<p class="list_element cs_secondary map_fleet_name" onclick="GoToShip()">+Add ship type</p>
		</div>
	</div>
	<div class="column">
		<div  class=" panel ships_righttop">
			<div id="container">
				<div id="ships_container"></div>
			</div>
		</div>
		<div class="panel ships_rightbottom js_fleet_properties_container">
		</div>
	</div>
</div>


<script>

function GoToShip(){
	document.location.href = "./ships.html";
}

var GLOBAL_MAX_FLEET_SIZE = 64;
var GLOBAL_FLEET_SIZE = 0;

function getPart(name){
	return Number(document.getElementsByClassName("js_ship_part_"+name)[0].value);
}

function saveFleet(){
	var name = document.getElementsByClassName("js_fleet_name")[0].value;
	
	var fleetShips = [];
	var ships = Memory.get('ships',0);
	for(var i=0;i<ships.length;i++){
		fleetShips.push(getPart(ships[i].name));
	}	
	
	Memory.addProp('fleets',name,fleetShips,0);
	
	document.location.href = "./map.html";
}

function updateButtons(){	

	var partNodes = document.getElementsByClassName("js_ship_part_input");
	
	for (i = 0; i < partNodes.length; i++) { 
		
		var plus = partNodes[i].parentNode.getElementsByClassName("js_ship_part_plus")[0];
		var minus = partNodes[i].parentNode.getElementsByClassName("js_ship_part_minus")[0];
		var val = Number(partNodes[i].value);
		minus.disabled = val == 0;
		plus.disabled = GLOBAL_FLEET_SIZE == GLOBAL_MAX_FLEET_SIZE;
	}
}

function shipPartButton(val,elem){
	var input = elem.parentNode.getElementsByClassName("js_ship_part_input")[0];
	
	input.value = Number(input.value) + Number(val);	
	GLOBAL_FLEET_SIZE += Number(val);
	
	update();
}

function createFleetPartHtml(name){
	var html = '';
	html += '<div class="list_element_container">'
	html += '<button class="list_element list_element_inactive cs_secondary ship_part_text"">'+name+'</button>'
	html += '<input class="list_element list_element_inactive cs_secondary ship_part_button js_ship_part_input js_ship_part_'+name+'" type="text" name="'+name+'" value="0">'
	html += '<button class="list_element cs_secondary ship_part_button js_ship_part_plus" onclick="shipPartButton(+1,this)">+</button>'
	html += '<button class="list_element cs_secondary ship_part_button js_ship_part_minus" onclick="shipPartButton(-1,this)">-</button>'
	html += '</div>'
	return html;
}

function createFleetPropertyHtml(name){
	var html = '';	
	html += '<div class="property js_ship_prop_'+name+'">';
	html += '<div class="property_bar_container">';
	html += '<div class="property_bar js_ship_prop_bar_'+name+'">0%</div>';
	html += '</div>';
	html += '<label class="property_text" for="Gun" >'+name+'</label>';
	html += '</div>';	
	return html;
}

function updateName(name){
	var elem = document.getElementsByClassName("js_fleet_name")[0];
	elem.value = name;
	if(name.length>20){
		elem.style = 'font-size : 2rem';
	}
	else{
		elem.style = 'font-size : 3rem';
	}
}

function update(){	

	updateButtons();

	function updateProp(name,value){
		var container = document.getElementsByClassName("js_ship_prop_"+name)[0];
		
		var prop = container.getElementsByClassName("js_ship_prop_bar_"+name)[0]
		
		prop.innerHTML = value;
		
		prop.style.width = value+"%";			
	}
	
	
	
	function updateSkill(clas,skill){
		var elem = document.getElementsByClassName(clas)[0];
		if(skill){
			elem.innerHTML = skill.title+'<span class="tooltiptext">'+skill.text+'</span>';
		}
		else{
			elem.innerHTML = '';
		}
	}
	
	var type = 'fleetnametype';
	document.getElementsByClassName("js_ship_type")[0].innerHTML = type;
	
	
	//var skills = getFleetSkills(parts);
	//updateSkill("js_ship_skill1",skills.s1);
	//updateSkill("js_ship_skill2",skills.s2);
	
	
	var ships = Memory.get('ships',0);
	var fleetShips = [];
	for(var i=0;i<ships.length;i++){
		fleetShips.push(getPart(ships[i].name));
	}
	var props = Calculator.GetFleetProps(fleetShips);
	
	updateProp("Combat",props.Combat);
	updateProp("Electronics",props.Electronics);
	updateProp("Speed",props.Speed);
	updateProp("Perception",props.Perception);
	updateProp("Camouflage",props.Camouflage);
	updateProp("Intelligence",props.Intelligence);
	updateProp("Autonomy",props.Autonomy);
	updateProp("CargoCapacity",props.CargoCapacity);
}

function init(){
	Style.SetTheme(Memory.get('faction',0));
	
	var name = getRandomFleetName();
	updateName(name);

	var ships = Memory.get('ships',0);
	var html = '';	
	for(var i=0;i<ships.length;i++){
		html += createFleetPartHtml(ships[i].name);
	}	
	var elem = document.getElementsByClassName("js_ship_parts_container")[0];
	elem.innerHTML = html + elem.innerHTML;
	
	html = '';
	html += createFleetPropertyHtml("Combat");
	html += createFleetPropertyHtml("Electronics");
	html += createFleetPropertyHtml("Speed");
	html += createFleetPropertyHtml("Perception");
	html += createFleetPropertyHtml("Camouflage");
	html += createFleetPropertyHtml("Intelligence");
	html += createFleetPropertyHtml("Autonomy");
	html += createFleetPropertyHtml("CargoCapacity");
	document.getElementsByClassName("js_fleet_properties_container")[0].innerHTML = html;	
}

init();
update();

</script>



