﻿<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<script src="Languaje.js"></script>
<script src="online.js"></script>
<script src="lib.js"></script>
<style>
.main_button{
	font-size:3em;
	display:block;
	padding:2px;
	margin:10px;
}
.main_button:hover{
	filter: brightness(50%);
}

.main_menu{
	display: flex;
    align-items: center;
	margin:10px;
	flex-direction:column;	
}
@media only screen and (min-width: 500px) {
	.main_menu{
		flex-direction:row;
	}
}
	
.main_menu .title{
	font-size:5em;
	padding:2px;
	padding-right:10px;
}

.modal-content{
	text-align:center;
	align-items: center;
}

</style>
</head>

<div class="main_container cs_main">
	<div class="main_menu">	
		<h1 class="title">Entropy</h1>		
		<div id="colapsibles"></div>
	</div>
</div>

<div id="modal_0" class="modal">
	<div class="modal-content cs_tertiary">
		<span class="close">&times;</span>
		<h1 id="lng_singleplayer" class="title">TUTORIAL</h1>
		<p id="lng_singleplayer_desc" class=""></p>
		<div class="color_picker_container">
			<p id="lng_colorpicker">Pick a color</p>
			<input id="colorpicker" type="color" name="favcolor" value="#ff0000">
		</div>
		<button class="main_button cs_main" onclick="Tutorial.start()">GO!</button>
	</div>
</div>

<div id="modal_1" class="modal">
	<div class="modal-content cs_tertiary">
		<span class="close">&times;</span>
		<h1 class="title">Multiplayer</h1>
		<button class="main_button cs_main" onclick="CreateMultiplayer()">Create</button>
		<button class="main_button cs_main" onclick="JoinMultiplayer()">Join</button>
	</div>
</div>

<div id="modal_2" class="modal">
	<div class="modal-content cs_tertiary">
		<span class="close">&times;</span>
		<h1 id="lng_singleplayer" class="title">TUTORIAL</h1>
		<p id="lng_singleplayer_desc" class=""></p>
		<button class="main_button cs_main" onclick="TUTORIAL.start()">GO!</button>
	</div>
</div>

<div id="modal_3" class="modal">
	<div class="modal-content cs_tertiary">
		<span class="close">&times;</span>
		<h1>Option not available</h1>
	</div>
</div>

<div id="modal_4" class="modal">
	<div class="modal-content cs_tertiary">
		<span class="close">&times;</span>
		<button class="cs_tertiary main_button" onclick="ChangeLanguage(0,this)"><img src="http://i64.tinypic.com/fd60km.png"/>English</button>
		<button class="cs_tertiary main_button" onclick="ChangeLanguage(1,this)"><img src="http://i68.tinypic.com/avo5ky.png"/>Español</button>		
	</div>
</div>

<script>

initOnline()

function CreateMultiplayer(){
	create();
	//setTimeout(allow,1000);
}

function JoinMultiplayer(){
	join();
}

function GoToFactions(){
	Memory.set('color',document.getElementById('colorpicker').value,0);

	document.location.href = "./factions.html";
}

function OpenModal(id,button){
	var modal = document.getElementById("modal_"+id);
	var btn = button;
	var span = modal.getElementsByClassName("close")[0];
	
	modal.style.display = "block";
	
	span.onclick = function() {
		modal.style.display = "none";
	}
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
}

function GetMenuOption(id,text){
	var result = '';
	result += '<button class="cs_tertiary main_button" onclick="OpenModal('+id+',this)">'+text+'</button>'	
	return result;
}

function ChangeLanguage(lang,modal){
	Memory.set('language',lang);	
	modal.parentNode.parentNode.style.display = "none";	
	TranslateAll();
}

function init(){
	Memory.start();
	Style.SetTheme(rnd(0,15));	
	
	TranslateAll();
}

function Translate(id,text){
	document.getElementById(id).innerHTML = text;
}

function TranslateAll(){
	var elem = document.getElementById("colapsibles");

	elem.innerHTML = GetMenuOption(0,TEXT('Single player'));
	elem.innerHTML += GetMenuOption(1,TEXT('Multiplayer'));
	elem.innerHTML += GetMenuOption(2,TEXT('Tutorial'));
	elem.innerHTML += GetMenuOption(3,TEXT('Options'));
	elem.innerHTML += GetMenuOption(4,TEXT('Language'));
	
	Translate("lng_singleplayer",TEXT('Single player'));
	Translate("lng_singleplayer_desc",LONGTEXT('Single player'));
	Translate("lng_colorpicker",TEXT('Pick a color:'));
	
	TEXT('Not available yet')
	
}

init();

</script>