<script src="lib.js"></script>
<script src="grammars.js"></script>
<script src="peg-0.9.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">

<body>
<div id="room">
	<p id="room_info" style="display:none" >
		Copia esto: 
		<input id="room_code"></input>
	</p>
	
	<div id="players"></div>
	
	<button id="room_single" onclick="Room.Single()">Un Jugador</button>
	<button id="room_create" onclick="Room.Create()">Online: Crear</button>
	<button id="room_join"   onclick="Room.Join()">Online: Unirse</button>
	
	<button style="display:none" id="room_add"   onclick="Room.AddAI()">Anadir CPU</button>
	<button style="display:none" id="room_allow" onclick="Room.Allow()">Anadir Humano</button>
	<button style="display:none" id="room_start" onclick="Room.StartGame()">JUGAR!</button>
</div>

<div style="display:none" id="game">
	<div id="output"></div>
	<input id="input"></input>
	<input id="submit" type="submit" onclick="Main.Send()"></input>
</div>

<div style="display:none" id="chat">
	<div id="chat_output"></div>
	<input id="chat_input"></input>
	<input id="chat_submit" type="submit" onclick="Chat.Send()"></input>
</div>
</body>

<script>

var EventsHandler = {
	AddEvent : function(years,type,player,extra){
		var e = {
			d:CURRENT_YEAR+years,
			t:type,
			p:player,
			e:extra
		};		
		EVENTS.push(e);
	},
	ProcessEvent : function(e){
		switch(e.t){
			case CONST.EventTypes.EndOfGame: alert('end of game');
			case CONST.EventTypes.Invasion: 
				Main.Print('Batalla!');
				Interaction.Start('Battle',{p1:e.p,p2:e.e});
				break;
		}
	},
	ProcessCurrentEvents : function(){
		for(var i=0;i<EVENTS.length;i++){
			if(EVENTS[i].d==CURRENT_YEAR){
				this.ProcessEvent(EVENTS[i]);
			}
		}
		CURRENT_YEAR++;
	},
}

var Subaction = {
	Stop : function(mainargs,args){
		Interaction.Active = false;
		TurnManager.Next();
	},
	//TRAIN ARMY
	AddUnit : function(mainargs,args){
		console.log(mainargs)
		console.log(args)
	},
	//BATTLE COMMANDS
	Advance  : function(mainargs,args){
	
	},
	Maneuver 	: function(mainargs,args){
	
	},
	Retrocede : function(mainargs,args){
	
	},
	Maintain: function(mainargs,args){
	
	},
	Volley : function(mainargs,args){
	
	},
	FireAtWill: function(mainargs,args){
	
	},
	Retreat : function(mainargs,args){
	
	},
	Bribe : function(mainargs,args){
	
	},
	Surrender : function(mainargs,args){
	
	},
	Garrison  : function(mainargs,args){
	
	},
	Use: function(mainargs,args){
	
	},      
	Destroy   : function(mainargs,args){
	
	},
}

var Action = {
	Build : function(args){
		PLAYERS[CURRENT_PLAYER].Buildings[args.building]+=1;
	},
	Attack : function(args){
		EventsHandler.AddEvent(6,CONST.EventTypes.Invasion,PLAYER_ID,args.player);
	},
	Train : function(args){
		Interaction.Start('Train',args.army);
	},
	Show : function(args){
	
	},
	Explore : function(args){
		
	},
	Celebrate : function(args){
	
	},
	Sacrifice : function(args){
	
	},
	Pray : function(args){
	
	},
	Trade : function(args){
	
	},
	Destroy : function(args){
	
	},
	Colonize : function(args){
	
	},
	Repeat : function(args){
	
	},
	Undo : function(args){
	
	},
	Pass : function(args){
		//do nothing
	},
}

</script>