body{
	margin: 0;
	padding: 0;
	border: 0;
	display:flex;
}

#room , #chat, #game{
	width:50%;
	height:100%;
	padding:20px;
}

/*
#0B0701
#DD7001
#F3C450
#0E0701
#722201
#485275
#E5AC82
*/

#room{
	background-color: #F3C450; 
    color:#0E0701;	
}

#chat{
	background-color: #E3B240; 
    color:#0E0701;	
}

#game{
	background-color: #D39430; 
    color:#0E0701;	
}

#chat_output div{
	border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.chat_message_me{
	text-align:right;
}