<script src="../src/game/lib/lib.js"></script>
<script src="../src/game/const/const.js"></script>
<script src="../src/game/global.js"></script>
<script src="../src/game/mapping.js"></script>
<script src="../src/game/draw/draw.js"></script>
<script src="../src/battle/battle.js"></script>
<script src="../src/battle/draw.js"></script>
<script src="../src/ship/calculator.js"></script>
<script src="../src/ship/draw.js"></script>
<script src="../src/ship/meshfactory.js"></script>
<script src="../src/game/lib/three.min.js"></script>
<script src="../src/game/lib/orbitcontrols.js"></script>
<script src="../src/game/lib/lib.js"></script>
<script src="../src/game/draw/materialsfactory.js"></script>
<script src="../src/game/draw/meshfactory.js"></script>

<script src="../assets/shaders/explosion_fragment.js"></script>
<script src="../assets/shaders/explosion_vertex.js"></script>
<script src="../assets/shaders/metal_fragment.js"></script>
<script src="../assets/shaders/metal_vertex.js"></script>

<canvas id="battle_canvas">
</canvas>
<script>

var raw1 = {
	fleet : {
		Building: true,
		Player: 0,
		Temporal: true,
		base: "P0",
		id: 0,
		location: "P0",
		name: "Valencias",
		order: 0,
		ships: [1,1],
	},
	shipTypes : [
		{
			name: "Warship",
			parts:{
				Ammo: 0,
				Computer: 0,
				Engine: 0,
				Fuel: 0,
				Habitat: 0,
				Nada: 0,
				Radio: 0,
				Shield: 2,
				Size: 4,
				Weapon: 2,
			}			
		},
		{
			name: "Merchant",
			parts:{
				Ammo: 0,
				Computer: 0,
				Engine: 0,
				Fuel: 0,
				Habitat: 0,
				Nada: 1,
				Radio: 0,
				Shield: 0,
				Size: 1,
				Weapon: 0
			}
		}
	]	
}

var raw2 = {
	fleet : {
		Building: true,
		Player: 1,
		Temporal: true,
		base: "P0",
		id: 0,
		location: "P0",
		name: "Hakenkreuz",
		order: 0,
		ships: [10,0],
	},
	shipTypes : [
		{
			name: "Warship",
			parts:{
				Ammo: 0,
				Computer: 0,
				Engine: 0,
				Fuel: 0,
				Habitat: 0,
				Nada: 0,
				Radio: 0,
				Shield: 0,
				Size: 1,
				Weapon: 1,
			}			
		},
		{
			name: "Merchant",
			parts:{
				Ammo: 0,
				Computer: 0,
				Engine: 0,
				Fuel: 0,
				Habitat: 0,
				Nada: 1,
				Radio: 0,
				Shield: 0,
				Size: 1,
				Weapon: 0
			}
		}
	]	
}

var newF1 = Mapping.BattleFleet(raw1);
var newF2 = Mapping.BattleFleet(raw2);

Battle.Start(newF1,newF2)

</script>