<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../style/reset.css">
	<link rel="stylesheet" type="text/css" href="../style/base.css">
	<link rel="stylesheet" type="text/css" href="../style/components.css">
	<link rel="stylesheet" type="text/css" href="../style/pages.css">
	
	<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="../src/game/lib/lib.js"></script>
    <script src="../src/factions/meshfactory.js"></script>
    <script src="../src/game/draw/materialsfactory.js"></script>
    <script src="../src/game/draw/draw.js"></script>
</head>

<body class="l-main l-four">
	<div>    
		<div>				
		</div>
		<div>
		</div>			
	</div>
	<div >
		<div>
		<canvas id="diplomacy_canvas"></canvas>
		</div>
		<div>
		</div>
	</div>
	<span id="hamburger" onclick="Templating.OpenNav()">☰</span>
</body>

<script>
	
Draw._Init(diplomacy_canvas);


var light = new THREE.AmbientLight( 0x555555 );
scene.add( light );

var rnd = Random.Create();

var part = HumanMeshFactory.Union(rnd);

scene.add(part);	
part.rotation.y = -Math.PI/2;
camera.position.z = 3;

Draw.Render();

</script>
