﻿<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../style/reset.css">
<link rel="stylesheet" type="text/css" href="../style/base.css">
<link rel="stylesheet" type="text/css" href="../style/pages.css">
<link rel="stylesheet" type="text/css" href="../style/components.css">

</head>


<div class="l-grid">
    <div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
		<div>
			<img src="..\assets\transparent\Empire.png"> 
			<h3>El Gran Imperio</h3>
		</div>
	</div>
    <div>
        <h1>El Gran Imperio</h1>
		<img src="..\assets\transparent\Empire.png">        
		<div>
			<p>Las fuerzas del eje ganan la segunda guerra mundial, gracias a la neutralidad de Estados Unidos y una ataque relampago a la capital de la URSS.</p>
			<p>Poco despues de ganar la guerra el eje se hace con los paises restantes, e inicia una rapida expansion por el sistema solar.</p>
			<p>Tras varios siglos de investigacion eugenica surge una nueva raza de superhumanos, mas inteligentes y adaptados a la vida en el espacio.</p>
		</div>
        <button onclick="SaveFaction('0')">Pick this faction</button>
    </div>
</div>