<style>
  #outside {
    border: 1px solid black;
    height: 20px;
    background-color: silver;
    width: 500px;
  }
  #inside {
    width: 0px;
    height: 100%;
    background-color: firebrick;
    overflow: visible;
    color: white;
    white-space: nowrap;
	float:left;
  }  
  #inside2 {
    width: 0px;
    height: 100%;
    background-color: red;
    overflow: visible;
    color: white;
    white-space: nowrap;
  }  

	#snackbar {
		visibility: hidden;
		min-width: 250px;
		margin-left: -125px;
		background-color: #333;
		color: #fff;
		text-align: center;
		border-radius: 2px;
		padding: 16px;
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: 30px;
		font-size: 17px;
	}

	#snackbar.show {
		visibility: visible;
		-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
		animation: fadein 0.5s, fadeout 0.5s 2.5s;
	}

	@keyframes fadein {
		from {bottom: 0; opacity: 0;}
		to {bottom: 30px; opacity: 1;}
	}

	@keyframes fadeout {
		from {bottom: 30px; opacity: 1;}
		to {bottom: 0; opacity: 0;}
	}
</style>


<body>
<div id="outside">
<div id="inside"></div>
<div id="inside2"></div>
</div>

<button onclick="myFunction('allaho ekber')">Show Snackbar</button>

<script>

/*
function percentageToColor(percentage, maxHue = 120, minHue = 0) {
  const hue = percentage * (maxHue - minHue) + minHue;
  return `hsl(${hue}, 100%, 50%)`;
}
*/



var outside = document.getElementById('outside');
var inside = document.getElementById('inside');
var inside2 = document.getElementById('inside2');

var flag = true;

outside.addEventListener('click', function(e) {
	var pct = Math.floor((e.offsetX / outside.offsetWidth) * 100);
	if(flag){
		inside.style.width = e.offsetX + "px";
		inside.innerHTML = pct + " %";
		flag = false;
	}
	else{
		inside2.style.width = e.offsetX + "px";
		inside2.innerHTML = pct + " %";
		flag = true;
	}
}, false);


function myFunction(content) {
	var x = document.getElementById("snackbar");
	x.className = "show";
	x.innerHTML = content;
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

</script>

</body>
<div id="snackbar">Some text some message..</div>
