<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/base.css">
    <link rel="stylesheet" type="text/css" href="../style/components.css">
    <link rel="stylesheet" type="text/css" href="../style/pages.css">
	<script src="../Templating/Templating.js"></script>

    </head>
    
    <body class="l-main l-four">
        <div>
            <div>
                <button onclick="">✓</button>
                <button onclick="">✗</button>
                <input onchange="Room.ChangePlayerName(0,this.value)" value="New fleet">
            </div>
            <div>                
                <table>
                    <tr>
                        <td onclick="">✎ Dron cazador</td>
                        <td>0</td>
                        <td onclick="">+</td>
                        <td onclick="">-</td>                        
                    </tr>
                    <tr>
                        <td onclick="">✎ Dron nodriza</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>
                        
                    </tr>
                </table>
                <button onclick="">Add ship type</button>
            </div>
        </div>
        <div id="Nav">
            <div>
                <h2>Cargo fleet</h2>
                <table class="fleettable unactionable">
                    <tr>
                        <td>Skills</td>
                        <td class="active">Refuel</td>
                        <td>Carry</td>
                        <td class="active">Colonize</td>
                        <td>Trade</td>
                        <td class="active">Attack</td>
                        <td>Defend</td>
                        <td>Destroy</td>
                        <td>Emit</td>
                    </tr>
                </table>
                <h2>Orders</h2>
                <table class="fleettable">
                    <tr>
                        <td>Fight</td>
                        <td class="active">Unarmed</td>
                        <td>Weaker</td>
                        <td class="active">Stronger</td>
                        <td>Neutral</td>
                    </tr>
                    <tr>
                        <td>Losses to retreat</td>
                        <td class="active unactionable">20%</td>
                        <td>40%</td>
                        <td>60%</td>
                        <td>80%</td>
                    </tr>
                    <tr>
                        <td>Losses to retreat</td>
                        <td>20%</td>
                        <td>40%</td>
                        <td class="active unactionable">60%</td>
                        <td>80%</td>
                    </tr>
                </table>
            </div>
            <div class="bar_container">
				<h2>Fleet properties</h2>
				<div><div><div style="width:80%">80T	</div></div> <div>Cargo</div></div>
				<div><div><div style="width:100%">100T	</div></div> <div>Fuel</div></div>
				<div><div><div style="width:0%">0KM/S	</div></div> <div>Speed</div></div>
				<div><div><div style="width:25%">25		</div></div> <div>Tripulation</div></div>
				<div><div><div style="width:25%">25%	</div></div> <div>Combat</div></div>
				<div><div><div style="width:25%">25KM	</div></div> <div>Radio</div></div>
				<div><div><div style="width:25%">25%	</div></div> <div>Intelligence</div></div>
				<div><div><div style="width:25%">25%	</div></div> <div>Camouflage</div></div>
            </div>
        </div>
		<span id="hamburger" onclick="Templating.OpenNav()">☰</span>
    </body>
    