<head>
<meta charset="UTF-8">
<script>
	var GLOBAL = {
		Language:1
	}
</script>
<script src="../src/game/lib/text/spanish.js"></script>
<script src="../src/game/frontend.js"></script>
<script src="../src/game/const/const.js"></script>
<script src="../src/game/const/factions.js"></script>
<script src="../src/game/lib/lib.js"></script>
<script src="../src/factions/namefactory.js"></script>
</head>

<body>
    <div id="content">    
    </div>
</body>

<script>

	var rnd = Random.Create();
			
	var civ = Random.Range(rnd,0,15);

	content.innerHTML += civ+"<br>";
	
	for(var i=0;i<10;i++){
		content.innerHTML += FactionNameFactory.MakeName(civ,rnd)+'<br>';
	}
	
	content.innerHTML += civ+"<br>";
		
	for(var i=0;i<10;i++){
		content.innerHTML += PlaceNameFactory.MakeName(civ,rnd)+'<br>';
	}
	
</script>