<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/base.css">
    <link rel="stylesheet" type="text/css" href="../style/components.css">
    <link rel="stylesheet" type="text/css" href="../style/pages.css">
	
	<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="../lib/lib.js"></script>
    <script src="../drawing/meshfactory.js"></script>
    <script src="../drawing/materialsfactory.js"></script>
    <script src="../drawing/humanmeshfactory.js"></script>
</head>
    
<body class="l-battle">
	<canvas id="battle_canvas"></canvas>
</body>
    
<script>
	var scene,renderer,camera,raycaster,mouse,controls, object,objective1,objective2;
	
	function CreateScene(){
		var material = new THREE.MeshNormalMaterial();
        
		var geo = new THREE.CylinderGeometry(0,1,2);
		
        object = new THREE.Mesh(geo,material);
        object.position.set(0,0,0);
        
        scene.add(object);
		
        
		var geo2 = new THREE.CylinderGeometry(1,1,2);
		
        objective1 = new THREE.Mesh(geo2,material);
        objective1.position.set(2,10,0);        
        scene.add(objective1);
		
		objective2 = new THREE.Mesh(geo2,material);
        objective2.position.set(-2,8,3);        
        scene.add(objective2);
	}
	
	
	
	function init(){
    
        var canvas = document.getElementById('battle_canvas'); 
        var w = canvas.offsetWidth;
        var h = canvas.offsetHeight;
        
        scene = new THREE.Scene();
        camera = new THREE.PerspectiveCamera(50, w / h, 0.1, 1000);
        renderer = new THREE.WebGLRenderer({canvas:canvas});
        controls = new THREE.OrbitControls( camera );
        
        renderer.setSize(w, h);
        camera.position.z = 10;
        
        CreateScene();	
        
        render();
        
		var lights = [];
		lights[ 0 ] = new THREE.PointLight( 0xffffff, 1, 0 );
		lights[ 1 ] = new THREE.PointLight( 0xffffff, 1, 0 );
		lights[ 2 ] = new THREE.PointLight( 0xffffff, 1, 0 );

		lights[ 0 ].position.set( 0, 200, 0 );
		lights[ 1 ].position.set( 100, 200, 100 );
		lights[ 2 ].position.set( - 100, - 200, - 100 );

		scene.add( lights[ 0 ] );
		scene.add( lights[ 1 ] );
		scene.add( lights[ 2 ] );
    }
	function render() {
        requestAnimationFrame(render);
        controls.update();
        renderer.render(scene, camera);
	}
		
	init(); 
	</script>