<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/base.css">
    <link rel="stylesheet" type="text/css" href="../style/components.css">
    <link rel="stylesheet" type="text/css" href="../style/pages.css">
    </head>
    
	<style>
		.h-50{
			display: flex;
			flex-direction: row;
			background-color: var(--color_main_back);
			height: 100%;
		}
		.h-50 > *{
			flex-direction: column;
		}
		.h-50 > *:first-child{    
			width: calc(50% - 20px); 
			margin: 20px 0 20px 20px;
		}
		.h-50 > *:nth-child(2){
			width: 50%;
		}
		#hamburger{
			display:none;
		}
		@media only screen and (max-width: 500px) {
			#hamburger{
				display:block;
				position:absolute;
				font-size:50px;
				right:0;
				background-color:white;
			}
			.h-50 > *:first-child{
				margin: 0; 
				width: 100%;
			}
			.h-50 > *:nth-child(2){
				margin: 0; 
				width: 100%;		
				position: fixed;
				z-index: 1;
				transition: 0.5s;
				display:none;
			}
		}
		
		.v-20 > div{
			padding: 10px;
		}
		.v-20 > div:first-child{
			background-color: var(--color_tertiary_back);
			height: calc(25% - 50px);
			margin-bottom: 20px;
		}
		.v-20 > div:nth-child(2){
			background-color: var(--color_secondary_back);
			height: calc(75% - 50px);
		}
		
		.v-50 > div{
			margin: 20px;
			height: calc(50% - 50px);
			padding: 10px;    
			background-color: var(--color_secondary_back);
		}

		.c-canvas-50{
			width: calc(100% + 20px);
			height: calc(100% + 20px);
			background-color: black;
			margin: -10px;
		}		
		.c-scroll {			
			overflow-y: auto;
		}
		.c-edit-name{
			background-color: var(--color_tertiary_back);
			font-size: 45px;
			width: 60%;
			margin-left:6px;
			vertical-align: middle;
		}
		
	</style>
	
    <body class="h-50">
        <div class="v-20">
            <div>
                <button onclick="">✓</button>
                <button onclick="">✗</button>
                <input class="c-edit-name" onchange="Room.ChangePlayerName(0,this.value)" value="New ship">
				<table>					
                    <tr>
                        <td onclick="">Ship Type</td>
                        <td onclick="">Bombardment</td>
                        <td onclick="">Colonist</td>                        
                    </tr>
				</table>
            </div>
            <div class="c-scroll">     
				
				<button onclick="">1</button>
				<button onclick="">2</button>
				<button onclick="">4</button>
				<button onclick="">8</button>
				<span><h2>Tamano</h2></span>	
		
					
				<h2>Partes</h2>						
                <table>					
					
                    <tr>
                        <td onclick="">Arma</td>
                        <td>0</td>
                        <td onclick="">+</td>
                        <td onclick="">-</td>                        
                    </tr>
                    <tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
                </table>
            </div>
        </div>
        <div class="v-50">
            <div>
                <canvas class="c-canvas-50"></canvas>
            </div>
            <div class="bar_container c-scroll">
				<div><div><div style="width:80%">80T	</div></div> <div>Cargo</div></div>
				<div><div><div style="width:100%">100T	</div></div> <div>Fuel</div></div>
				<div><div><div style="width:0%">0KM/S	</div></div> <div>Speed</div></div>
				<div><div><div style="width:25%">25		</div></div> <div>Tripulation</div></div>
				<div><div><div style="width:25%">25%	</div></div> <div>Combat</div></div>
				<div><div><div style="width:25%">25KM	</div></div> <div>Radio</div></div>
				<div><div><div style="width:25%">25%	</div></div> <div>Intelligence</div></div>
				<div><div><div style="width:25%">25%	</div></div> <div>Camouflage</div></div>
				
				<div><div><div style="width:80%">80T	</div></div> <div>Cargo</div></div>
				<div><div><div style="width:100%">100T	</div></div> <div>Fuel</div></div>
				<div><div><div style="width:0%">0KM/S	</div></div> <div>Speed</div></div>
				<div><div><div style="width:25%">25		</div></div> <div>Tripulation</div></div>
            </div>
        </div>
    </body>
    