<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/base.css">
    <link rel="stylesheet" type="text/css" href="../style/components.css">
    <link rel="stylesheet" type="text/css" href="../style/pages.css">
    </head>
    
	<style>
	.l-four > div:first-child > div{
		padding: 10px;
	}
	.l-four > div:first-child > div:first-child{
		background-color: var(--color_tertiary_back);
		height: calc(20% - 50px);
		margin-bottom: 20px;
	}
	.l-four > div:first-child > div:first-child > input{
		background-color: var(--color_tertiary_back);
		font-size: 45px;
		width: 60%;
		margin-left:6px;
		vertical-align: middle;
	}
	.l-four > div:first-child > div:nth-child(2){
		background-color: var(--color_secondary_back);
		height: calc(80% - 50px);
	}
	.l-four > div:nth-child(2) >div{
		margin: 20px;
		height: calc(50% - 50px);
		padding: 10px;    
		background-color: var(--color_secondary_back);
	}
	.l-four canvas{
		width: calc(100% + 20px);
		height: calc(100% + 20px);
		background-color: black;
		margin: -10px;
	}
	/* Ships special modifier of l four*/
	.l-four > .l-four-ships:first-child  > div:first-child{
		height: calc(25% - 50px);
	}
	.l-four > .l-four-ships:first-child  > div:nth-child(2){
		height: calc(75% - 50px);
		overflow-y: scroll;
	}
	</style>
	
    <body class="l-main l-four">
        <div class="l-four-ships">
            <div>
                <button onclick="">✓</button>
                <button onclick="">✗</button>
                <input onchange="Room.ChangePlayerName(0,this.value)" value="New ship">
				<table>					
                    <tr>
                        <td onclick="">Ship Type</td>
                        <td onclick="">Bombardment</td>
                        <td onclick="">Colonist</td>                        
                    </tr>
				</table>
            </div>
            <div>     
				
				<button onclick="">1</button>
				<button onclick="">2</button>
				<button onclick="">4</button>
				<button onclick="">8</button>
				<span><h2>Tamano</h2></span>	
		
					
				<h2>Partes</h2>						
                <table>					
					
                    <tr>
                        <td onclick="">Arma</td>
                        <td>0</td>
                        <td onclick="">+</td>
                        <td onclick="">-</td>                        
                    </tr>
                    <tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
					<tr>
                        <td onclick="">Municion</td>
                        <td>0</td>
                        <td>+</td>
                        <td>-</td>                        
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <div>
                <canvas></canvas>
            </div>
            <div class="bar_container">
				<div><div><div style="width:80%">80T	</div></div> <div>Cargo</div></div>
				<div><div><div style="width:100%">100T	</div></div> <div>Fuel</div></div>
				<div><div><div style="width:0%">0KM/S	</div></div> <div>Speed</div></div>
				<div><div><div style="width:25%">25		</div></div> <div>Tripulation</div></div>
				<div><div><div style="width:25%">25%	</div></div> <div>Combat</div></div>
				<div><div><div style="width:25%">25KM	</div></div> <div>Radio</div></div>
				<div><div><div style="width:25%">25%	</div></div> <div>Intelligence</div></div>
				<div><div><div style="width:25%">25%	</div></div> <div>Camouflage</div></div>
				
				<div><div><div style="width:80%">80T	</div></div> <div>Cargo</div></div>
				<div><div><div style="width:100%">100T	</div></div> <div>Fuel</div></div>
				<div><div><div style="width:0%">0KM/S	</div></div> <div>Speed</div></div>
				<div><div><div style="width:25%">25		</div></div> <div>Tripulation</div></div>
            </div>
        </div>
    </body>
    