﻿
<h1>
	<span>Primera flota</span> : <span>Ionia</span>
</h1>

<div>
	<h2>Fragata clase Epyrus</h2>
	<table>
	<tr>
		<td>		
			<table>
			<tr>
				<td>FPW</td>	<td>8</td>
				<td>ARM</td>	<td>1</td>
				<td>SPD</td>	<td>1</td>
			</tr>           	
			<tr>            	
				<td>FSP</td>	<td>1</td>
				<td>ELD</td>	<td>1</td>
				<td>PRC</td>	<td>1</td>
			</tr>          	
			<tr>           	
				<td>PRC</td>	<td>1</td>
				<td>EVS</td>	<td>1</td>
				<td>AUT</td>	<td>1</td>
			</tr>           	
			<tr>            	
				<td>ELA</td>	<td>1</td>
				<td>CMF</td>	<td>1</td>
				<td>CRG</td>	<td>1</td>
			</tr>
			</table>		
		</td>
		<td>
			<table>
			<tr>
				<td>Activas</td>				<td><input type="number" value="10"></td>
			</tr>         	
			<tr>          	
				<td>Reserva</td>				<td><input type="number" value="54"></td>
			</tr>	
			<tr>          	
				<td>En otra flota</td>			<td><input type="number" value="54" disabled></td>
			</tr>	
			<tr>          	
				<td>En construccion</td>		<td><input type="number" value="54" disabled></td>
			</tr>
			</table>	
		</td>
	</tr>
	</table>
</div>
	
<div>
	<h2>Dron cazador clase Apollo</h2>
	<table>
	<tr>
		<td>		
			<table>
			<tr>
				<td>FPW</td>	<td>8</td>
				<td>ARM</td>	<td>1</td>
				<td>SPD</td>	<td>1</td>
			</tr>           	
			<tr>            	
				<td>FSP</td>	<td>1</td>
				<td>ELD</td>	<td>1</td>
				<td>PRC</td>	<td>1</td>
			</tr>          	
			<tr>           	
				<td>PRC</td>	<td>1</td>
				<td>EVS</td>	<td>1</td>
				<td>AUT</td>	<td>1</td>
			</tr>           	
			<tr>            	
				<td>ELA</td>	<td>1</td>
				<td>CMF</td>	<td>1</td>
				<td>CRG</td>	<td>1</td>
			</tr>
			</table>		
		</td>
		<td>
			<table>
			<tr>
				<td>Activas</td>				<td><input type="number" value="10"></td>
			</tr>         	
			<tr>          	
				<td>Reserva</td>				<td><input type="number" value="54"></td>
			</tr>	
			<tr>          	
				<td>En otra flota</td>			<td><input type="number" value="54" disabled></td>
			</tr>	
			<tr>          	
				<td>En construccion</td>		<td><input type="number" value="54" disabled></td>
			</tr>
			</table>	
		</td>
	</tr>
	</table>
</div>


<script> 

</script>
