html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  height: 100%;
  display: table;
  width: 100%; }

html {
  height: 100%; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.content {
  overflow: auto;
  background-color: #F3F3F3;
  width: 100%;
  padding-bottom: 40px; }
  .content .white-background {
    background: #FFF;
    border: .125rem solid #E8E8E8;
    margin-bottom: 15px;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;
    position: relative;
    padding-left: 4px;
    padding-right: 4px; }

footer {
  font-family: "Arial",Arial,"Helvetica",Helvetica,sans-serif;
  display: table-row;
  height: 1px;
  width: 100%;
  background-color: #1C1C1C;
  color: white;
  text-align: center; }
  footer .logo-wrapper {
    margin-top: 20px; }
    @media only screen and (min-width: 1200px) {
      footer .logo-wrapper {
        text-align: left;
        margin-left: calc(50% - 620px); } }
  footer .copright-wrapper {
    margin: .625rem 0 .9375rem;
    font-size: .6875rem; }

footer:before, footer:after {
  content: " ";
  display: table; }

footer:after {
  clear: both; }

.page-wrapper {
  width: 88%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  overflow: hidden; }
  @media only screen and (min-width: 64.063em) {
    .page-wrapper {
      max-width: 915px; }
      .page-wrapper.detail-page {
        max-width: 1270px; } }

.display-bar {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #363D41;
  margin-bottom: 16px;
  margin-top: 16px; }

header {
  text-align: center;
  padding: 10px;
  border: .0625rem solid #E8E8E8; }

.back-to-top {
  cursor: pointer;
  position: fixed;
  right: 40px;
  bottom: 116px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #1C1C1C;
  color: white;
  line-height: 50px;
  font-size: 36px;
  border-radius: 26px; }
  .back-to-top:hover {
    opacity: 0.7; }

.car-name {
  font-weight: bold;
  line-height: normal;
  display: block;
  font-size: 1rem;
  color: black; }

.car-price {
  color: #F36519;
  font-weight: bold;
  font-size: 1rem; }

.car-location {
  color: #757575;
  font-size: .75rem; }

.car-clickable {
  text-decoration: none; }
  .car-clickable .car-wrapper .car-image {
    max-width: 255px; }
    .car-clickable .car-wrapper .car-image img {
      width: 100%;
      height: 100%;
      height: auto; }
  .car-clickable .car-wrapper .car-details {
    font-family: "Arial",Arial,"Helvetica",Helvetica,sans-serif; }
    .car-clickable .car-wrapper .car-details .car-price {
      margin-top: 4px; }
    .car-clickable .car-wrapper .car-details .car-location {
      margin-top: 6px;
      margin-left: -4px; }
  @media only screen and (min-width: 380px) {
    .car-clickable .car-wrapper {
      overflow: hidden; }
      .car-clickable .car-wrapper .car-image {
        float: left;
        width: 27%; }
        .car-clickable .car-wrapper .car-image img {
          height: 100%; }
      .car-clickable .car-wrapper .car-details {
        float: left;
        width: 72%;
        margin-top: 10px; }
        .car-clickable .car-wrapper .car-details .car-name {
          display: inline;
          float: left;
          margin-left: 10px; }
        .car-clickable .car-wrapper .car-details .car-price {
          display: inline;
          float: right;
          margin-top: 0; }
        .car-clickable .car-wrapper .car-details .car-location {
          display: block;
          margin-top: 30px;
          margin-left: 3px; } }

.pagination-numbers {
  text-align: center; }
  .pagination-numbers span {
    float: none;
    display: inline-block;
    color: #222;
    font-size: .875rem;
    margin-left: .3125rem;
    cursor: pointer;
    border-radius: 4px;
    line-height: 1.5rem;
    padding-left: .5rem;
    padding-right: .5rem; }
    .pagination-numbers span:hover {
      background: #006FC1;
      color: #FFF; }
    .pagination-numbers span.active {
      background: #006FC1;
      color: #FFF;
      font-weight: bold; }
      .pagination-numbers span.active:hover {
        cursor: default; }
    .pagination-numbers span.dotdot {
      cursor: default;
      color: black; }
      .pagination-numbers span.dotdot:hover {
        background: none;
        color: black; }

.pagination-wrapper {
  overflow: hidden; }
  @media only screen and (min-width: 43.803em) {
    .pagination-wrapper {
      margin-top: 58px; }
      .pagination-wrapper .pagination-buttons {
        margin-top: 54px; } }

.pagination-buttons {
  margin-top: 15px; }
  .pagination-buttons .btn {
    text-align: center;
    cursor: pointer;
    margin-top: 14px;
    font-size: .75rem;
    line-height: 2.1875rem;
    text-align: center;
    padding: 0 1.25rem; }
  .pagination-buttons .btn-next {
    background: #006FC1;
    color: #FFF; }
    .pagination-buttons .btn-next:hover {
      background: white;
      color: black; }
  .pagination-buttons .btn-prev {
    background: white;
    border: 1px solid black; }
    .pagination-buttons .btn-prev:hover {
      background: #006FC1;
      color: #FFF; }
  @media only screen and (min-width: 43.803em) {
    .pagination-buttons .btn {
      display: inline-block; }
    .pagination-buttons .btn-next {
      float: right; }
    .pagination-buttons .btn-prev {
      float: left; } }

input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  padding: 10px;
  border: solid 1px gainsboro; }

.detail-page {
  font-family: "Arial",Arial,"Helvetica",Helvetica,sans-serif;
  padding-top: 60px; }
  .detail-page .car-name {
    margin-bottom: 20px; }
  .detail-page .details .car-location {
    margin-left: -4px; }
  .detail-page .details .car-description {
    font-size: 14px; }
  .detail-page .details div {
    margin-bottom: 10px; }
  .detail-page .car-images {
    padding: 0; }
    .detail-page .car-images .main-image img {
      width: 100%; }
    .detail-page .car-images .thumbnails {
      height: 3.25rem; }
      .detail-page .car-images .thumbnails div {
        display: inline-block; }
      .detail-page .car-images .thumbnails .images {
        height: 100%;
        padding-left: 15px; }
        .detail-page .car-images .thumbnails .images img {
          width: 3.25rem;
          height: 3.25rem;
          cursor: pointer; }
      .detail-page .car-images .thumbnails .thumbnail {
        filter: initial;
        opacity: initial;
        position: relative;
        top: 0;
        display: block;
        padding: 1.625rem;
        text-decoration: none;
        line-height: inherit;
        background: transparent;
        box-sizing: border-box;
        background-color: #006FC1;
        cursor: pointer; }
      .detail-page .car-images .thumbnails .thumbnail-nxt {
        float: right; }
      .detail-page .car-images .thumbnails .thumbnail-prev {
        float: left; }
      .detail-page .car-images .thumbnails .thumbnail-nxt:after {
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: .625rem solid transparent;
        border-left-color: #006FC1;
        top: 1.0625rem;
        left: 1.4375rem;
        z-index: 1; }
      .detail-page .car-images .thumbnails .thumbnail-nxt:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: .625rem solid transparent;
        border-left-color: #FFF;
        top: 1.0625rem;
        left: 1.5rem;
        z-index: 1; }
      .detail-page .car-images .thumbnails .thumbnail-prev:after {
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: .625rem solid transparent;
        border-right-color: #006FC1;
        left: .6875rem;
        top: 1.0625rem;
        z-index: 1; }
      .detail-page .car-images .thumbnails .thumbnail-prev:before {
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: .625rem solid transparent;
        border-right-color: #FFF;
        left: .625rem;
        top: 1.0625rem;
        z-index: 1; }
  @media only screen and (min-width: 35em) {
    .detail-page .thumbnails {
      padding: 30px 15px 30px 15px; } }
  @media only screen and (min-width: 35em) {
    .detail-page .car-images {
      width: 64%;
      float: left;
      display: inline-block; }
    .detail-page .details {
      width: 25%;
      float: right;
      display: inline-block;
      overflow-y: auto;
      padding: 20px 30px 20px 20px; } }
  @media only screen and (min-width: 65em) {
    .detail-page .car-images {
      width: 710px;
      float: left;
      display: inline-block; }
    .detail-page .details {
      width: 303px;
      float: right;
      display: inline-block;
      overflow-y: auto;
      padding: 20px 30px 20px 20px;
      height: 545px; }
      .detail-page .details .car-description {
        margin-top: 35px;
        margin-bottom: 0; } }
