<script src="http://bgrins.github.io/javascript-astar/astar.js"></script>
<script type="text/javascript">

	var nodes = [
		[1,1,1],
		[1,0,1],
		[1,1,1]
	];

	var graph = new Graph(nodes,{diagonal:true});
	var start = {x:0,y:0};
	var end = {x:2,y:2};

	var path = astar.search(graph, start, end, {
        closest: true
    });

    console.log(path)

</script>