<script src="https://threejs.org/docs/Globals3d.scenes/../../build/three.min.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>

<script src="../lib/LegacyJSONLoader.js"></script>

<script src="../3d/modelsFactory.js"></script>
<script src="../3d/materialsFactory.js"></script>
<script src="../3d/draw3d.js"></script>

<script src="../editor/mapBuilder.js"></script>

<canvas class="gamecanvas" id="CANVAS" width="500" height="500"></canvas>	

<script>

var promises = [];

MaterialsFactory.Load(promises);
LoadObjModels(promises);

Promise.all(promises).then(results => {
	Draw3d._setup();
	Draw3d.Render();

	var ambientLight = new THREE.AmbientLight( 0x606060 );
		Globals3d.scene.add( ambientLight );

		var directionalLight = new THREE.DirectionalLight( 0xffffff );
		directionalLight.position.set( 1, 0.75, 0.5 ).normalize();
		Globals3d.scene.add( directionalLight );


	Start();

});		

var Shaders = {
	
	VertexMerge : `
varying vec2 vUv;
varying vec4 worldCoord;

void main()
{
	vUv = uv;

	vec3 newPos = position;
	newPos.z += newPos.x;

	vec4 mvPosition = modelViewMatrix * vec4( newPos, 1.0 );
	gl_Position = projectionMatrix * mvPosition;

	worldCoord = modelMatrix * vec4( position, 1.0 );
}

	`,
	FragmentMerge : `
		 
uniform sampler2D oceanTexture;
uniform sampler2D sandyTexture;
uniform sampler2D grassTexture;
uniform sampler2D rockyTexture;
uniform sampler2D snowyTexture;

varying vec2 vUv;

float vAmount;
varying vec4 worldCoord;

void main() 
{
	float g = 0.3;
    float b = 0.3;
    g = abs(worldCoord.y / 100.0)+0.1;

    vAmount =g;

    

	vec4 water = (smoothstep(0.0, 0.10, vAmount) - smoothstep(0.20, 0.40, vAmount)) * texture2D( oceanTexture, vUv * 10.0 );
	vec4 sandy = (smoothstep(0.25, 0.35, vAmount) - smoothstep(0.55, 1.0, vAmount)) * texture2D( sandyTexture, vUv * 10.0 );
	gl_FragColor = vec4(0.0, 0.0, 0.0, 1.0) + water + sandy; //, 1.0);
}  
	`,
}

function Start() {
	var uniforms = {
		oceanTexture: { type: "t", value: MaterialsFactory.Textures.Grass.val },
		sandyTexture: { type: "t", value: MaterialsFactory.Textures.Dirt.val },
		grassTexture: { type: "t", value: MaterialsFactory.Textures.Grass.val },
		rockyTexture: { type: "t", value: MaterialsFactory.Textures.Dirt.val },
		snowyTexture: { type: "t", value: MaterialsFactory.Textures.Grass.val },
		uFloatArray3 : { type: "fv",  value: [ 0.1, 0.2, 0.3, 0.4, 0.5, 0.6 ] },
	};

	var material_shh = new THREE.ShaderMaterial({
		uniforms: uniforms,
		vertexShader: Shaders.VertexMerge,
		fragmentShader: Shaders.FragmentMerge
	});

	var geometry = new THREE.PlaneGeometry( CONST.mapSize*50, CONST.mapSize*50, CONST.mapSize*2-1, CONST.mapSize*2-1 );
	geometry.rotateX( - Math.PI / 2 );

	var plane = new THREE.Mesh( geometry, material_shh);

	Globals3d.scene.add( plane );
}


</script>