<head>
	<script src="random.js"></script>
	<script src="interaction.js"></script>
	<script src="interface.js"></script>
	<script src="scene.js"></script>
	<script src="templating.js"></script>
	<script src="speech.js"></script>
	<script src="global.js"></script>
	<script src="intro.js"></script>
	<script src="forest.js"></script>
	<script src="sceneFactory.js"></script>
	<script src="menu.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<div id="game">
	<h2 id="title"></h2>
	<div id="output"></div>
	<div id="input"></div>
	<div id="extra"></div>
</div>
<div id="menu">
	<h4>Menu</h4>
	<button onclick="Menu.Objects()">Objects</button>
	<button onclick="Menu.People()">People</button>
	<button onclick="Menu.Save()">Save</button>
	<button onclick="Menu.Load()">Load</button>
</div>

<script>

Intro.Start();

</script>