<head>
<style>
span{float:left}
</style>
<!--<link rel="stylesheet" href="https://bootswatch.com/3/slate/bootstrap.min.css">-->
</head>

<body>
	<div id="main"></div>
</body>

<script>

	var lib = {
		makeNode(tag,inner=""){
			var element = document.createElement(tag);
			element.innerHTML = inner;
			return element;
		},
		normalize(number1,number2){
			return Math.floor((number1 / number2) * 100)
		},
		guid() {
		  function s4() {
			return Math.floor((1 + Math.random()) * 0x10000)
			  .toString(16)
			  .substring(1);
		  }
		  return s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4();
		},
		clone(obj){
			return JSON.parse(JSON.stringify(obj))
		},
		getRandom(array){
			return array[Math.floor(Math.random() * array.length)];
		},
		capitalize(string) {
			return string.charAt(0).toUpperCase() + string.slice(1);
		},	
		setCookie : function(cname, cvalue, exdays = 1) {
			var d = new Date();
			d.setTime(d.getTime() + (exdays*24*60*60*1000));
			var expires = "expires="+ d.toUTCString();
			document.cookie = cname + "=" + JSON.stringify(cvalue) + ";" + expires + ";path=/";
		},
		getCookie : function(cname) {
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for(var i = 0; i <ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return JSON.parse(c.substring(name.length, c.length));
				}
			}
			return "";
		},
		random(min,max)	{
			return Math.floor(Math.random()*(max-min+1)+min);
		},
		distance(x1,y1,x2,y2){
			return Math.hypot(x2-x1, y2-y1);
		},
		drawer2d : {
			circle(ctx,x,y,size,color){
				ctx.fillStyle = color;
				ctx.beginPath();
				ctx.moveTo(x, y);
				ctx.arc(x, y, size, 0, Math.PI*2, false);
				ctx.stroke();
				ctx.fill();			
			},
		},
	}
		
	var CONST = {
		languages : {
			english			: "english"	,
			spanish			: "spanish"	,
			german			: "german"	,
			catalan			: "catalan"	,
			italiano		: "italiano"
		},
		resources : {
			matter	    	: "matter",   
			energy    		: "energy",   
			population 		: "population",
			waste     		: "waste",  		
		},
		buildings : {
			energyPlant 	: "buildings_energyPlant",
			mine         	: "mine",
			house        	: "house",
			recycler	 	: "recycler",
			antenna      	: "antenna",
			factory      	: "factory",
			lab          	: "lab",
			bunker       	: "bunker",
		},
		map : {
			objects : {
				freePlanet	: 0,
				myPlanet	: 1,
				hisPlanet	: 2,
				rests		: 3,
				myFleet		: 4,
				hisFleet	: 5,
				space		: 6
			},
			actions : {
				move		: "move",
				recolect	: "recolect",
				colonize	: "colonize",
				destroy		: "destroy",
				resupply	: "resupply",
				attack		: "attack",
				transport	: "transport"
			},
		},
		fleet : {
			states : {
				stationed	: "stationed",
				orbit		: "orbit",
				moving		: "moving",
				stuck		: "stuck",
				engaging	: "egnaging",
				operating	: "operating",
				outofreach	: "out of reach",			
				
			},
		},
		factions : [
			{
				name : "El Gran Imperio",
				image : "nazi"		
			},
			{
				name : "Union Sovietica Universal",
				image : "soviet"
			},
			{
				name : "Confederacion de Jonia",
				image : "ionia"
			},
			{
				name : "El Nuevo Califato",
				image : "islam"
			},
			{
				name : "Tercera Republica Romana",
				image : "rome"
			},
			{
				name : "Dinastia Sikh",
				image : "sikh"
			},
			{
				name : "Imperio de la Serpiente",
				image : "serpent",
			},
			{
				name : "Imperio Austropruso-Espanol",
				image : "spain"
			},
			{
				name : "Corporacion Universal",
				image : "corporation"
			},
			{
				name : "Federacion Anarquista",
				image : "anarchy"
			},
			{
				name : "EUU",
				image : "usa"
			},	
			{
				name : "Imperio Francobritanico",
				image : "france"
			},
			{
				name : "Alianza de Isandlwana",
				image : "zulu"
			},
			{
				name : "Khanato celestial",
				image : "mongol"
			},
			{
				name : "Condados del norte",
				image : "viking"
			},
			{
				name : "Reino Eterno de Egipto",
				image : "egypt"
			},
		],
		
	}
	
	var LANGUAGE = {
		english : {
			titles_buildings 		: "Buildings",
			titles_shipBuilder 		: "Ship Builder",
			titles_shipCreator 		: "Ship Creator",
			titles_fleetCreator		: "Fleet Creator",
			titles_fleetMenu 		: "Fleet Menu",
			titles_resources 		: "Resources",
			titles_battle	 		: "Battle",
			titles_map		 		: "Map",
			titles_fleetActions		: "Fleet Actions",
			titles_fleetSelector	: "Fleet Selector",
			titles_room		 		: "Room",
			titles_language 		: "Language",
			titles_technology 		: "Technology",
		
			resources_matter	    : "Matter",   
			resources_energy    	: "Energy",   
			resources_population 	: "Population",
			resources_waste     	: "Waste",  				
		
			buildings_energyPlant 	: "Energy plant",
			buildings_mine    		: "Mine",
			buildings_house   		: "House",
			buildings_recycler 		: "Recycler",
			buildings_antenna 		: "Antenna",
			buildings_factory 		: "Factory",
			buildings_lab     		: "Lab",
			buildings_bunker 		: "Bunker",
			
			
		},
		spanish : {
			buildings_energyPlant : "Planta de energia",
		},
		
		text : function(text){
			if(!global.language){
				return text;
			}	
			return this[global.language][text];
		}
	}
	
	var global = {
		players : {},
		me : null,
		resources : {},
		buildings : {},
		shipTypes : {},
		fleets : {},
		
		start(){
			//init resources
			this.resources[CONST.resources.matter] 		= 64;
			this.resources[CONST.resources.energy] 		= 64;
			this.resources[CONST.resources.population] 	= 64;
			this.resources[CONST.resources.waste] 		= 64;
			
			//init buildings
			this.buildings[CONST.buildings.energyPlant]	= 0;
			this.buildings[CONST.buildings.mine]		= 0;
			this.buildings[CONST.buildings.house]		= 0;
			this.buildings[CONST.buildings.recycler]	= 0;
			this.buildings[CONST.buildings.antenna]		= 0;
			this.buildings[CONST.buildings.factory]		= 0;
			this.buildings[CONST.buildings.lab]			= 0;
			this.buildings[CONST.buildings.bunker]		= 0;
		},		
	}
	
	var buildingsUi = {
		container : null,
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Buildings"));
			
			this.createBuildingUi(CONST.buildings.energyPlant)	;
			this.createBuildingUi(CONST.buildings.mine)        	;
			this.createBuildingUi(CONST.buildings.house)       	;
			this.createBuildingUi(CONST.buildings.recycler)		;	
			this.createBuildingUi(CONST.buildings.antenna)     	;
			this.createBuildingUi(CONST.buildings.factory)     	;
			this.createBuildingUi(CONST.buildings.lab)         	;
			this.createBuildingUi(CONST.buildings.bunker)      	;			
		},
		addBuilding(id){
			this.set(id,this.get(id)+1);
		},		
		createBuildingUi(id){
		
			var building = lib.makeNode("div");
			building.name = lib.makeNode("h3",LANGUAGE.text(id));
			building.appendChild(building.name);
			building.amount = lib.makeNode("p",0);
			building.appendChild(building.amount);
			building.add = lib.makeNode("button","add");
			building.add.onclick = function(){this.addBuilding(id)}.bind(this);
			building.appendChild(building.add);		
			
			this.container[id] = building;
			this.container.appendChild(building);
		},
		set(id,val){
			global.buildings[id] = val;
			this.container[id].amount.innerHTML = val;
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
	}
		
	var shipCalculator = {
		ship: {},		
		saveShip(){
			var guid = lib.guid();
			global.shipTypes[guid] = this.ship;
			return guid;
		},
		get(id){
			return this.ship[id];
		},
		set(id,val){
			this.ship[id] = val;
		},
		start(){
			this.ship = {
				size:1
			};
			
			this.ship["weapon"] = 0;
			this.ship["ammo"]   = 0;
			this.ship["shield"] = 0;
			this.ship["engine"] = 0;
			this.ship["fuel"]   = 0;
			this.ship["person"] = 0;
			this.ship["radio"]  = 0;
			this.ship["emp"]    = 0;			
			
			update();
		},		
		update(){
			var props = this.getShipProps(this.ship);
			
			shipCreatorUi.setProp("FirePower"		, props.FirePower			);	
			shipCreatorUi.setProp("FireSpeed"		, props.FireSpeed		    );
			shipCreatorUi.setProp("Precision"		, props.Precision		    );
			shipCreatorUi.setProp("ElectricAttack"	, props.ElectricAttack    	);
			shipCreatorUi.setProp("Armor"			, props.Armor			    );
			shipCreatorUi.setProp("ElectricDefence"	, props.ElectricDefence		);
			shipCreatorUi.setProp("Evasion"			, props.Evasion				);
			shipCreatorUi.setProp("Camouflage"		, props.Camouflage			);
			shipCreatorUi.setProp("Speed"			, props.Speed			    );
			shipCreatorUi.setProp("Perception"		, props.Perception			);
			shipCreatorUi.setProp("Autonomy"		, props.Autonomy		    );
			shipCreatorUi.setProp("CargoCapacity"	, props.CargoCapacity	    );
			this.ship.nada = props.Nada;

			this.ship.name = this.getShipName(this.ship);
			
			shipCreatorUi.setName(this.ship.name);
		},
		getShipName(ship){
			switch(ship.size){
				case 1: return this.getShipName1(ship);
				case 2: return this.getShipName2(ship);
				case 4: return this.getShipName4(ship);
				case 8: return this.getShipName8(ship);
			}
		},
		getShipName1(count){
			if(count.weapon==1) return 'Dron cazador';
			if(count.ammo==1) return 'Bomba';
			if(count.shield==1) return 'Dron senuelo';
			if(count.engine==1) return 'Misil';
			if(count.fuel==1) return 'Dron nodriza';
			if(count.person==1) return 'Explorador ligero';
			if(count.radio==1) return 'Sonda';
			if(count.emp==1) return 'Pulso EMP';
			return 'Dron de carga';
		},
		getShipName2(count){
			if(count.weapon==1 && count.ammo==1) return 'Cazabombardero';
			if(count.person==1 && count.ammo==1) return 'Kamikaze';
			if(count.person==1 && count.emp==1) return 'Hacker';
			if(count.person==2) return 'Insignia ligera';
			
			var str = [];
			
			if(count.weapon>=1) str.push('Caza');
			else if(count.ammo>=1) str.push('Bomba');
			else if(count.emp>=1) str.push('Interceptor');
			else if(count.nada>=1) str.push('Nave de carga pequena');
			else if(count.person>=1) str.push('Explorador');
			else if(count.fuel>=1) str.push('Nodriza pequena');
			else if(count.radio>=1) str.push('Telescopio');
			else if(count.engine>=1) str.push('Misil');
			else if(count.shield>=1) str.push('Senuelo');
			
			return str.join(" ");
		},

		getShipName4(count){

			if(count.person==1 && count.ammo==3) return 'Kamikaze pesado';

			var str = [];
			
			if(count.person>=3) str.push('Insignia');
			else if(count.weapon>=1 && count.ammo>=1 && count.shield>=1) str.push('Crucero');
			else if(count.weapon>=3) str.push('Fragata');
			else if(count.weapon>=2 && count.ammo>=1) str.push('Canonera');
			else if(count.weapon>=1 && count.ammo>=2) str.push('Destructor');
			else if(count.ammo>=3) str.push('Bomba de antimateria');
			else if(count.weapon>=1 && count.shield>=2) str.push('Acorazado');
			else if(count.engine>=2 && count.weapon>=1) str.push('Caza pesado');
			else if(count.engine>=2 && count.ammo>=1) str.push('Misil pesado');
			else if(count.emp>=2 && count.weapon>=1) str.push('Corbeta mixta');
			else if(count.emp>=3) str.push('Nave de guerra electronica');
			else if(count.emp>=2 && count.radio>=1) str.push('Nave de guerra electronica');
			else if(count.emp>=1 && count.radio>=2) str.push('Nave de guerra electronica');
			else if(count.shield>=3) str.push('Nave shield');
			else if(count.nada>=3) str.push('Nave de carga');
			else if(count.fuel>=3) str.push('Nodriza');
			else if(count.radio>=3) str.push('Estacion espacial');
			else if(count.radio>=2 && count.person>=1) str.push('Estacion espacial');
			else if(count.weapon>=1 && count.ammo>=1) str.push('Nave de guerra');
			else if(count.emp>=2) str.push('Corbeta de senales');
			else if(count.weapon>=2) str.push('Corbeta');
			else if(count.radio>=2) str.push('Nave radio');
			else if(count.nada>=2) str.push('Nave de carga');
			else if(count.person>=2) str.push('Transporte');
			else if(count.engine>=3) str.push('Misil');
			
			else str.push('Hibrida');
			
			return str.join(" ");
		},

		getShipName8(count){
			var str = [];
			
			str.push("Gran");
			
			if(count.person>=3) str.push('Insignia');
			else if(count.weapon>=1 && count.ammo>=1 && count.shield>=1) str.push('Crucero');
			else if(count.weapon>=3) str.push('Fragata');
			else if(count.weapon>=2 && count.ammo>=1) str.push('Canonera');
			else if(count.weapon>=1 && count.ammo>=2) str.push('Destructor');
			else if(count.ammo>=3) str.push('Bomba de antimateria');
			else if(count.weapon>=1 && count.shield>=2) str.push('Acorazado');
			else if(count.engine>=2 && count.weapon>=1) str.push('Caza pesado');
			else if(count.engine>=2 && count.ammo>=1) str.push('Misil pesado');
			else if(count.emp>=2 && count.weapon>=1) str.push('Corbeta mixta');
			else if(count.emp>=3) str.push('Nave de guerra electronica');
			else if(count.emp>=2 && count.radio>=1) str.push('Nave de guerra electronica');
			else if(count.emp>=1 && count.radio>=2) str.push('Nave de guerra electronica');
			else if(count.shield>=3) str.push('Nave shield');
			else if(count.nada>=3) str.push('Nave de carga');
			else if(count.fuel>=3) str.push('Nodriza');
			else if(count.radio>=3) str.push('Estacion espacial');
			else if(count.radio>=2 && count.person>=1) str.push('Estacion espacial');
			else if(count.weapon>=1 && count.ammo>=1) str.push('Nave de guerra');
			else if(count.emp>=2) str.push('Corbeta de senales');
			else if(count.weapon>=2) str.push('Corbeta');
			else if(count.radio>=2) str.push('Nave radio');
			else if(count.nada>=2) str.push('Nave de carga');
			else if(count.person>=2) str.push('Transporte');
			
			else str.push('Hibrida');
			
			return str.join(" ");
		},
		
		getShipProps(ship){
		
			var weapon		= ship["weapon"];
			var ammo		= ship["ammo"];
			var shield  	= ship["shield"];
			var engine  	= ship["engine"];
			var fuel		= ship["fuel"];
			var person 		= ship["person"];
			var radio  		= ship["radio"];
			var emp	   		= ship["emp"];
			
			var size		= ship["size"];
			var piezas 		= weapon + ammo + shield + engine + fuel + person + radio + emp;
			var nada		= size - piezas;
		
			return {		
				FirePower		: lib.normalize(ammo*2 + ((weapon>0) ? 1 : 0)										,16),
				FireSpeed		: lib.normalize(weapon                                                          	,8), 
				Precision		: lib.normalize(((weapon>0) ? (32+(radio+1) * (person+1) - ammo*4) : 0)   			,96), 
				ElectricAttack	: lib.normalize((person+1)*emp*2 + radio*emp                                  		,40),
				Armor			: lib.normalize(shield*3 + size                                                		,32), 
				ElectricDefence	: lib.normalize(person*4 + radio*2 + emp*1                                    		,32),
				Evasion			: lib.normalize(64 + (engine*3+1) * (radio+1) * (person*2+1) - (size)*8        		,210),
				Camouflage		: lib.normalize(16-engine-size+1                                                	,16),
				Speed			: lib.normalize(16+engine*3-size-piezas+1                                       	,25), 
				Perception		: lib.normalize(radio+1                                                        		,9),
				Autonomy		: lib.normalize(8+fuel-engine+1                                                 	,17), 
				CargoCapacity	: lib.normalize(nada                                                           		,8),
				Nada : nada,
			}
		}
		
		
	}
	
	var shipCreatorUi = {
		container : null,
		getPart(id){
			return parseInt(this.container.partsContainer[id].amount.innerHTML);
		},	
		saveShip(){
			var guid = shipCalculator.saveShip();
			shipBuilderUi.createShipUi(guid,this.nameContainer.value);
			fleetCreatorUi.createShipUi(guid,this.nameContainer.value);
			shipCalculator.start();
			this.restart();
		},	
		restart(){
			shipCreatorUi.setPart("weapon",0);
			shipCreatorUi.setPart("ammo",0);
			shipCreatorUi.setPart("shield",0);
			shipCreatorUi.setPart("engine",0);
			shipCreatorUi.setPart("fuel",0);
			shipCreatorUi.setPart("person",0);
			shipCreatorUi.setPart("radio",0);
			shipCreatorUi.setPart("emp",0);
		},		
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Ship creator"));
			
			this.name = "Ship name";
			this.nameContainer = lib.makeNode("input");	
			this.nameContainer.value = this.name;	
			this.container.appendChild(this.nameContainer);	
			
			this.size = lib.makeNode("select");		
			this.size.appendChild(lib.makeNode("option","1"));
			this.size.appendChild(lib.makeNode("option","2"));
			this.size.appendChild(lib.makeNode("option","4"));
			this.size.appendChild(lib.makeNode("option","8"));
			this.size.onchange = function(){this.setSize()}.bind(this);
			this.container.appendChild(this.size);	

			this.container.partsContainer = lib.makeNode("span");
			this.container.partsContainer.appendChild(lib.makeNode("h1","Ship parts"));			
			this.container.appendChild(this.container.partsContainer);
			
			this.container.propsContainer = lib.makeNode("span");
			this.container.propsContainer.appendChild(lib.makeNode("h1","Ship props"));			
			this.container.appendChild(this.container.propsContainer);
			
			this.save = lib.makeNode("button","save");
			this.save.onclick = function(){this.saveShip()}.bind(this);
			this.container.appendChild(this.save);	
			
			///
			
			this.createShipPartUi("weapon")				;
			this.createShipPartUi("ammo")				;
			this.createShipPartUi("shield")				;
			this.createShipPartUi("engine")				;
			this.createShipPartUi("fuel")				;
			this.createShipPartUi("person")				;
			this.createShipPartUi("radio")				;
			this.createShipPartUi("emp")				;
			
			this.createShipPropUi("FirePower")			;
			this.createShipPropUi("FireSpeed")			;
			this.createShipPropUi("Precision")			;
			this.createShipPropUi("ElectricAttack")		;
			this.createShipPropUi("Armor")				;
			this.createShipPropUi("ElectricDefence")	;
			this.createShipPropUi("Evasion")			;
			this.createShipPropUi("Camouflage")			;
			this.createShipPropUi("Speed")				;
			this.createShipPropUi("Perception")			;
			this.createShipPropUi("Autonomy")			;
			this.createShipPropUi("CargoCapacity")		;	
			
		},
		addPart(id){
			if(this.getPartsSum()<parseInt(this.size.value)){
				this.setPart(id,this.getPart(id)+1);
			}
		},		
		removePart(id){
			if(this.getPart(id)>0){
				this.setPart(id,this.getPart(id)-1);
			}
		},	
		getPartsSum(){
			return this.getPart("weapon")	+
				this.getPart("ammo")	+
				this.getPart("shield")	+
				this.getPart("engine")	+
				this.getPart("fuel")	+
				this.getPart("person")	+
				this.getPart("radio")	+
				this.getPart("emp");			
		},
		createShipPartUi(id){
			var part = lib.makeNode("div");
			part.name = lib.makeNode("h3",id);
			part.appendChild(part.name);
			part.amount = lib.makeNode("p",0);
			part.appendChild(part.amount);
			part.add = lib.makeNode("button","add");
			part.add.onclick = function(){this.addPart(id)}.bind(this);
			part.appendChild(part.add);		
			part.remove = lib.makeNode("button","remove");
			part.remove.onclick = function(){this.removePart(id)}.bind(this);
			part.appendChild(part.remove);		
			
			shipCalculator.set(id,0);
			
			this.container.partsContainer[id] = part;
			this.container.partsContainer.appendChild(part);
		},
		createShipPropUi(id){
			var prop = lib.makeNode("div");
			prop.name = lib.makeNode("h3",id);
			prop.appendChild(prop.name);
			prop.amount = lib.makeNode("p",0);
			prop.appendChild(prop.amount);
			
			this.container.propsContainer[id] = prop;
			this.container.propsContainer.appendChild(prop);
		},
		setProp(id,val){
			this.container.propsContainer[id].amount.innerHTML = val;
		},
		setPart(id,val){
			this.container.partsContainer[id].amount.innerHTML = val;
			shipCalculator.set(id,val);
			shipCalculator.update();
		},
		setSize(){
			shipCalculator.set("size",parseInt(this.size.value));
			shipCalculator.update();
		},
		setName(name){
			this.name = name;
			this.nameContainer.value = name;
		},
		
	}
	
	var resourcesUi = {
		container : null,
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Resources"));
			
			this.createResourcesUi(CONST.resources.matter)     	;
			this.createResourcesUi(CONST.resources.energy)     	;
			this.createResourcesUi(CONST.resources.population)  ;
			this.createResourcesUi(CONST.resources.waste)    	;
		},
		createResourcesUi(id){		
			var resource = lib.makeNode("div");
			resource.name = lib.makeNode("h3",id);
			resource.appendChild(resource.name);
			resource.amount = lib.makeNode("p",64);
			resource.appendChild(resource.amount);	
			
			this.container[id] = resource;
			this.container.appendChild(resource);
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
		set(id,val){
			this.container[id].amount.innerHTML = val;
		},
	}
	
	var resourcesCalculator = {
		get(id){
			return global.resources[id];
		},
		set(id,val){
			global.resources[id] = val;
		},
		start(){
			update();
		},		
		update(){
			var matter 			= global.resources[CONST.resources.matter] 		;
			var energy 			= global.resources[CONST.resources.energy] 		;
			var population 		= global.resources[CONST.resources.population] 	;
			var waste 			= global.resources[CONST.resources.waste] 		;
			
			var energy_plant	= global.buildings[CONST.buildings.energyPlant	];
			var mine 			= global.buildings[CONST.buildings.mine        	];
			var house 			= global.buildings[CONST.buildings.house       	];
			var recycler 		= global.buildings[CONST.buildings.recycler 	];
			var antenna 		= global.buildings[CONST.buildings.antenna     	];
			var factory 		= global.buildings[CONST.buildings.factory     	];
			var lab 			= global.buildings[CONST.buildings.lab         	];
			var bunker 			= global.buildings[CONST.buildings.bunker      	];
									
			var newmatter		= global.resources[CONST.resources.matter] 		= 
				matter + (energy>0? mine + (waste>0?recycler:0) :0)  - (matter>0?energy_plant:0);
				
			var newenergy		= global.resources[CONST.resources.energy] 		= 
				(matter>0?energy_plant*3:0) - mine -	house - recycler - antenna - factory - lab - bunker;		
				
			var newpopulation	= global.resources[CONST.resources.population] 	= 	
				house*5 - energy_plant - mine - recycler - antenna - factory - lab - bunker;
				
			var newwaste		= global.resources[CONST.resources.waste] 		= 
				waste + (matter>0?house:0) - (waste>0?recycler*3:0);
			
			if(newmatter		!= matter 		) resourcesUi.set(CONST.resources.matter,		newmatter		);
			if(newenergy		!= energy 		) resourcesUi.set(CONST.resources.energy,		newenergy		);
			if(newpopulation	!= population 	) resourcesUi.set(CONST.resources.population,	newpopulation	);
			if(newwaste			!= waste 		) resourcesUi.set(CONST.resources.waste,		newwaste		);
		},
		buildShipIfPossible(ship){
			var matterCost = ship.size;
			var peopleCost = ship.person;
			if(global.resources[CONST.resources.matter] >= matterCost){
				global.resources[CONST.resources.matter] -= matterCost;		
				resourcesUi.set(CONST.resources.matter, global.resources[CONST.resources.matter]);
				return true;
			}
			return false;
		},
	}
	
	var shipBuilderUi = {
		container : null,
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Ships"));
		},
		addShip(id){
			this.set(id,this.get(id)+1);
		},		
		createShipUi(id,name){
		
			var ship = lib.makeNode("div");
			ship.name = lib.makeNode("h3",name);
			ship.appendChild(ship.name);
			ship.amount = lib.makeNode("p",0);
			ship.appendChild(ship.amount);
			ship.add = lib.makeNode("button","add");
			ship.add.onclick = function(){this.addShip(id)}.bind(this);
			ship.appendChild(ship.add);		
			
			this.container[id] = ship;
			this.container.appendChild(ship);
		},
		set(id,val){
			this.container[id].amount.innerHTML = val;
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
		
	}
		
	var fleetBuilderUi = {
		container : null,
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Fleets"));
		},
		createFleetUi(id,name){		
			var resource = lib.makeNode("div");
			resource.name = lib.makeNode("h3",name);
			resource.appendChild(resource.name);
			resource.amount = lib.makeNode("p",0);
			resource.appendChild(resource.amount);	
			
			this.container[id] = resource;
			this.container.appendChild(resource);
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
		set(id,val){
			this.container[id].amount.innerHTML = val;
		},
	}	
	
	var fleetCreatorUi = {
		container : null,
		ships:{},
		saveFleet(){
			var guid = lib.guid();
		
			fleetBuilderUi.createFleetUi(guid,this.nameContainer.value);
			battleCreatorUi.createFleetUi(guid,this.nameContainer.value);
			//this.ships.name = this.nameContainer.value;
			global.fleets[guid] = {ships:this.ships,name:this.nameContainer.value};
			this.restart();
		},
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Fleet creator"));
			
			this.name = "Fleet name";
			this.nameContainer = lib.makeNode("input");
			this.nameContainer.value = this.name;	
			this.container.appendChild(this.nameContainer);	
			
			this.save = lib.makeNode("button","save");
			this.save.onclick = function(){this.saveFleet()}.bind(this);
			this.container.appendChild(this.save);	
		},
		restart(){
			this.ships = lib.clone(this.ships);
			for(ship in this.ships){
				this.set(ship,0);
			}
		},
		addShip(id){
			if(resourcesCalculator.buildShipIfPossible(global.shipTypes[id])){
				this.set(id,this.get(id)+1);
			}			
		},		
		createShipUi(id,name){
		
			var ship = lib.makeNode("div");
			ship.name = lib.makeNode("h3",name);
			ship.appendChild(ship.name);
			ship.amount = lib.makeNode("p",0);
			ship.appendChild(ship.amount);
			ship.add = lib.makeNode("button","add");
			ship.add.onclick = function(){this.addShip(id)}.bind(this);
			ship.appendChild(ship.add);		
			
			this.ships[id] = 0;
			
			this.container[id] = ship;
			this.container.appendChild(ship);
		},
		set(id,val){
			this.container[id].amount.innerHTML = val;	
			this.ships[id] = val;
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
	}	
	
	var battleCreatorUi = {
		container : null,
		doBattle(){
			battleCalculator.doBattle(this.fleet1,this.fleet2);
		},
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Battle"));
			
			this.fleet1container = lib.makeNode("h3","Fleet1");				
			this.fleet2container = lib.makeNode("h3","Fleet2");
			
			this.container.appendChild(this.fleet1container);
			this.container.appendChild(lib.makeNode("h3","vs"));
			this.container.appendChild(this.fleet2container);	

			this.fight = lib.makeNode("button","FIGHT!");
			this.fight.onclick = function(){this.doBattle()}.bind(this);
			this.container.appendChild(this.fight);	
		},
		setFleet1(id,name){
			this.fleet1 = id;
			this.fleet1container.innerHTML = name;
		},
		setFleet2(id,name){
			this.fleet2 = id;
			this.fleet2container.innerHTML = name;
		},
		createFleetUi(id,name){		
			var resource = lib.makeNode("div");
			resource.name = lib.makeNode("h3",name);
			resource.appendChild(resource.name);
			resource.amount = lib.makeNode("p",0);
			resource.appendChild(resource.amount);	
			resource.f1 = lib.makeNode("button","Fleet1");
			resource.f1.onclick = function(){this.setFleet1(id,name)}.bind(this);
			resource.appendChild(resource.f1);	
			resource.f2 = lib.makeNode("button","Fleet2");
			resource.f2.onclick = function(){this.setFleet2(id,name)}.bind(this);
			resource.appendChild(resource.f2);	
			
			this.container[id] = resource;
			this.container.appendChild(resource);
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
		set(id,val){
			this.container[id].amount.innerHTML = val;
		},
	}
	
	var battleCalculator = {
		getShip(amount,guid){
			var props = shipCalculator.getShipProps(global.shipTypes[guid])
			
			var factor = 100; //redym armor cap
			
			var ship ={
				amount:amount,
				firepower:props.FirePower,
				shots:props.FireSpeed * amount,
				armor:props.Armor * factor,
				health:props.Armor * factor,
			}
			return ship;
		},
		getBattleFleet(fleetGuid){
			var fleet = global.fleets[fleetGuid];
			ships = []
			for (shipType in fleet) {
				if(fleet[shipType]>0){
					ships.push(this.getShip(fleet[shipType],shipType));
				}
			}
			return ships;
		},	
		doBattle(fleet1,fleet2){
			var f1 = this.getBattleFleet(fleet1);
			var f2 = this.getBattleFleet(fleet2);
			this.fight(f1,f2);			
		},
		checkVictory(f1,f2){
			var winF1 = this.isFleetKaput(f2);
			var winF2 = this.isFleetKaput(f1);
			
			if(winF1 && winF2){
				alert("Draw");
				return true;
			}			
			if(winF1){
				alert("F1 wins");
				return true;
			}
			if(winF2){
				alert("F2 wins");
				return true;
			}	
			return false;
		},
		fight(f1,f2){				
			if(this.checkVictory(f1,f2)){
				return;
			}
			
			console.log("Fight");
			console.log(f1);
			console.log(f2);
			
			var newf2 = this.attack(f1,f2);
			var newf1 = this.attack(f2,f1);
			
			f1 = newf1;
			f2 = newf2;
			
			this.fight(f1,f2);
		},
		attack(f1,oldf2){
			var f2 = lib.clone(oldf2);  
			for (shipType in f1) {
				this.shipAttackFleet(f1[shipType],f2);
			}
			return f2;
		},
		shipAttackFleet(ship,f2){
			for (var i = 0; i < ship.shots; i++) {
				var target = this.pickTarget(ship,f2);
				this.shot(ship,target);
			}
		},
		pickTarget(ship,f2){
			//don't pick targets with 0 amount (where?)
			return lib.getRandom(f2);
		},
		shot(ship,target){
			if(ship.firepower >= target.health){
				target.amount -= 1;
				target.health = target.armor;
			}
			else{
				target.health -= ship.firepower;
			}			
		},		
		isFleetKaput(fleet){
			for (shipType in fleet) {
				if(fleet[shipType].amount > 0){
					return false;
				}
			}
			return true;
		},
		
	}
	
	var mapUi = {		
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Map"));
			
			this.canvascontainer = lib.makeNode("span");
			this.container.appendChild(this.canvascontainer);
			
			this.canvas = lib.makeNode("canvas","Fleet1");			
			this.canvas.style.backgroundColor = "black";
			this.canvas.width = 500;
			this.canvas.height = 500;			
			
			this.ctx = this.canvas.getContext("2d");
			
			this.canvas.onclick = function(e){this.handleMapClick(e)}.bind(this);		
			this.canvascontainer.appendChild(this.canvas);
			
			this.data = lib.makeNode("span");	
			this.data.titles = lib.makeNode("h1","Map data");
			this.data.texts = lib.makeNode("p","Map data text");
			this.data.appendChild(this.data.titles);
			this.data.appendChild(this.data.texts);
			this.container.appendChild(this.data);
			
			this.map = this.createRandomMap();
			this.drawMap();
		},
		deployFleet(object){
			alert('deploy fleet to '+object.type);
		},		
		createObject(type,x,y){
			return {
				type: type,	
				x: x,	
				y: y,
				size : 20
			}
		},
		createFreePlanet	(x,y){return this.createObject(CONST.map.objects.freePlanet		,x,y);},
		createMyPlanet		(x,y){return this.createObject(CONST.map.objects.myPlanet		,x,y);},
		createHisPlanet		(x,y){return this.createObject(CONST.map.objects.hisPlanet		,x,y);},
		createRests			(x,y){return this.createObject(CONST.map.objects.rests			,x,y);},
		createMyFleet		(x,y){return this.createObject(CONST.map.objects.myFleet		,x,y);},
		createHisFleet		(x,y){return this.createObject(CONST.map.objects.hisFleet		,x,y);},
		createSpace			(x,y){return this.createObject(CONST.map.objects.space			,x,y);},
		
		handleClick(object,title){
			fleetActionsCalculator.initActions(object);
		
			//todo remove this
			this.data.titles.innerHTML = title;
			this.data.texts.innerHTML = "Position "+object.x+","+object.y;	
			var button = lib.makeNode("button","Deploy fleet");
			button.onclick = function(){this.deployFleet(object)}.bind(this);		
			this.data.texts.appendChild(button);
		},
		selectFreePlanet	(object){return this.handleClick(object,"FreePlanet ");},
		selectMyPlanet		(object){return this.handleClick(object,"MyPlanet	");},
		selectHisPlanet		(object){return this.handleClick(object,"HisPlanet	");},
		selectRests			(object){return this.handleClick(object,"Rests		");},
		selectMyFleet		(object){return this.handleClick(object,"MyFleet	");},
		selectHisFleet		(object){return this.handleClick(object,"HisFleet	");},
		selectSpace			(object){return this.handleClick(object,"Space		");},	
				
		handleMapClick(e){
			var x = e.offsetX;
			var y = e.offsetY;
			var object = this.detectClick(x,y);
			
			if(object){
				switch(object.type){
					case CONST.map.objects.freePlanet	: this.selectFreePlanet	(object);break;
					case CONST.map.objects.myPlanet		: this.selectMyPlanet	(object);break;
					case CONST.map.objects.hisPlanet	: this.selectHisPlanet	(object);break;
					case CONST.map.objects.rests		: this.selectRests		(object);break;
					case CONST.map.objects.myFleet		: this.selectMyFleet	(object);break;
					case CONST.map.objects.hisFleet		: this.selectHisFleet	(object);break;		
				}
			}
			else{
				this.selectSpace({x:x,y:y});
			}
			
		},
		detectClick(x,y){
			for(id in this.map){
				var object = this.map[id];
				if(lib.distance(x,y,object.x,object.y) < object.size){
					return object;
				}
			}	
			return null;
		},
		createRandomItems(map,min,max,func){
			var mapX = 500;
			var mapY = 500
			
			for(var i=0; i < lib.random(min,max); i += 1){
				var x = lib.random(0,mapX);
				var y = lib.random(0,mapY);
				
				map[lib.guid()] = func(x,y);
			}	
		},
		createRandomMap(){	
			var map = {};
			
			this.createRandomItems(map,1,1,this.createFreePlanet	.bind(this));			
			this.createRandomItems(map,1,1,this.createMyPlanet		.bind(this));			
			this.createRandomItems(map,1,1,this.createHisPlanet		.bind(this));			
			this.createRandomItems(map,1,1,this.createRests			.bind(this));			
			this.createRandomItems(map,1,1,this.createMyFleet		.bind(this));			
			this.createRandomItems(map,1,1,this.createHisFleet		.bind(this));			
			this.createRandomItems(map,1,1,this.createSpace			.bind(this));		

			return map;
		},
		drawMap(){
			for(id in this.map){
				var object = this.map[id];
				switch(object.type){
					case CONST.map.objects.freePlanet	: 	lib.drawer2d.circle(this.ctx,object.x,object.y,20,"white");	break;
					case CONST.map.objects.myPlanet		: 	lib.drawer2d.circle(this.ctx,object.x,object.y,20,"blue");	break;
					case CONST.map.objects.hisPlanet	: 	lib.drawer2d.circle(this.ctx,object.x,object.y,20,"red");	break;
					case CONST.map.objects.rests		: 	lib.drawer2d.circle(this.ctx,object.x,object.y,20,"gray");	break;
					case CONST.map.objects.myFleet		: 	lib.drawer2d.circle(this.ctx,object.x,object.y,20,"cyan");	break;
					case CONST.map.objects.hisFleet		: 	lib.drawer2d.circle(this.ctx,object.x,object.y,20,"pink");	break;
				}
			}			
		},

	}
	
	var fleetActionsCalculator = {
		currentObject : null,
		start(){
		},
		initActions(object){
			fleetActionsUi.reset();
			this.currentObject = object;
			switch(object.type){
				case CONST.map.objects.freePlanet	: 
					fleetActionsUi.createActionUi(CONST.map.actions.colonize	);
					fleetActionsUi.createActionUi(CONST.map.actions.destroy		);
					break;
				case CONST.map.objects.myPlanet		: 
					fleetActionsUi.createActionUi(CONST.map.actions.move		);
					fleetActionsUi.createActionUi(CONST.map.actions.transport	);
					break;
				case CONST.map.objects.hisPlanet	: 
					fleetActionsUi.createActionUi(CONST.map.actions.attack		);
					break;
				case CONST.map.objects.rests		: 
					fleetActionsUi.createActionUi(CONST.map.actions.recolect	);
					fleetActionsUi.createActionUi(CONST.map.actions.destroy		);
					fleetActionsUi.createActionUi(CONST.map.actions.transport	);
					break;
				case CONST.map.objects.myFleet		: 
					fleetActionsUi.createActionUi(CONST.map.actions.resupply	);
					break;
				case CONST.map.objects.hisFleet		: 
					fleetActionsUi.createActionUi(CONST.map.actions.attack		);
					break;
			}
		},
		pickFleet(action){
			fleetSelectorUi.reset();
			for(fleet in global.fleets){
				fleetSelectorUi.createFleetUi(fleet,global.fleets[fleet].name);
			}
		},	
		selectFleet(fleet){
			alert("dispatch fleet "+global.fleets[fleet].name+" to "+this.currentObject.x+" "+this.currentObject.y);
		},
	}
	
	var fleetActionsUi = {
		container : null,
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Fleet actions"));
			this.subcontainer = lib.makeNode("div");
			this.container.appendChild(this.subcontainer);
		},
		reset(){
			this.subcontainer.innerHTML = "";
		},
		doAction(id){
			fleetActionsCalculator.pickFleet(id);
		},
		createActionUi(id){		
			var action = lib.makeNode("div");
			action.add = lib.makeNode("button",id);
			action.add.onclick = function(){this.doAction(id)}.bind(this);
			action.appendChild(action.add);	
			
			this.subcontainer[id] = action;
			this.subcontainer.appendChild(action);
		},
	}
	
	var fleetSelectorUi = {
		container : null,
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Fleet selector"));
			this.subcontainer = lib.makeNode("div");
			this.container.appendChild(this.subcontainer);
		},
		reset(){
			this.subcontainer.innerHTML = "";
		},
		selectFleet(id){
			fleetActionsCalculator.selectFleet(id);
		},
		createFleetUi(id,name){		
			var action = lib.makeNode("div");
			action.add = lib.makeNode("button",name);
			action.add.onclick = function(){this.selectFleet(id)}.bind(this);
			action.appendChild(action.add);
			
			this.subcontainer[id] = action;
			this.subcontainer.appendChild(action);
		},
	}
	
	var roomUi = {
		container : null,
		players : {},
		savePlayers(){
			for(player in this.players){
				global.players[player] = {
					name : this.players[player].nameContainer.value,
					faction : this.players[player].faction.selectedIndex 
				}
			}
			global.me = global.players["me"];
		},
		addPlayer(){		
			this.createPlayerUi(lib.guid());
		},
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Room"));		
			this.containerMain = lib.makeNode("span");
			this.container.appendChild(this.containerMain);
			
			this.add = lib.makeNode("button","add");
			this.add.onclick = function(){this.addPlayer()}.bind(this);
			this.container.appendChild(this.add);
			
			this.save = lib.makeNode("button","save");
			this.save.onclick = function(){this.savePlayers()}.bind(this);
			this.container.appendChild(this.save);
			
			this.createPlayerUi("me","Player name");
			
			
		},
		createPlayerUi(id,name="cpu"){
		
			var player = lib.makeNode("div");
			
			player.nameContainer = lib.makeNode("input");	
			player.nameContainer.value = name;	
			player.appendChild(player.nameContainer);	
			
			player.faction = lib.makeNode("select");	
			player.faction.appendChild(lib.makeNode("option","random"));
			for(var i = 0; i <CONST.factions.length; i++) {
				player.faction.appendChild(lib.makeNode("option",CONST.factions[i].name));
			}
			player.appendChild(player.faction);	
			
			this.players[id] = player;
			this.containerMain.appendChild(player);
		},
	}
	
	var languageUi = {
		container : null,
		setLanguage(language){		
			global.language = language;
		},
		start(){
			this.container = lib.makeNode("span");
			this.container.appendChild(lib.makeNode("h1","Language"));		

			this.createLanguageUi(CONST.languages.english,	"English");
			this.createLanguageUi(CONST.languages.spanish,	"Spanish");
			this.createLanguageUi(CONST.languages.german,	"German");
			this.createLanguageUi(CONST.languages.catalan,	"Catalan");
			this.createLanguageUi(CONST.languages.italiano,	"Italiano");
			
		},
		createLanguageUi(id,name){
			var action = lib.makeNode("div");
			action.add = lib.makeNode("button",name);
			action.add.onclick = function(){this.setLanguage(id)}.bind(this);
			action.appendChild(action.add);
			
			this.container[id] = action;
			this.container.appendChild(action);
		},
	}
	
	
	//main
	
	function update() {
		resourcesCalculator.update();
		
		setTimeout(function(){ update() },500); //requestAnimationFrame(update);
	}	
	
	
	global.language = CONST.languages.english;
	
	buildingsUi.start();		
	resourcesUi.start();
	global.start();	
	languageUi.start();	
	roomUi.start();	
	shipCreatorUi.start();	
	shipBuilderUi.start();	
	fleetCreatorUi.start();	
	fleetBuilderUi.start();	
	battleCreatorUi.start();
	mapUi.start();	
	fleetActionsUi.start();
	fleetSelectorUi.start();
	
	resourcesCalculator.start();
	shipCalculator.start();
	fleetActionsCalculator.start();
	
	// non isomorphic	
	var main = document.getElementById("main");
	main.appendChild(languageUi.container);
	main.appendChild(roomUi.container);
	main.appendChild(buildingsUi.container);
	main.appendChild(resourcesUi.container);
	main.appendChild(shipCreatorUi.container);	
	main.appendChild(shipBuilderUi.container);
	main.appendChild(fleetCreatorUi.container);
	main.appendChild(fleetBuilderUi.container);
	main.appendChild(battleCreatorUi.container);
	main.appendChild(mapUi.container);
	main.appendChild(fleetActionsUi.container);
	main.appendChild(fleetSelectorUi.container);
	
	update();
	

</script>