<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="http://bgrins.github.io/javascript-astar/astar.js"></script>
<script src="lib/LegacyJSONLoader.js"></script>

<script src="lib/lib.js"></script>
<script src="lib/online.js"></script>

<script src="ai/unitAi.js"></script>

<script src="interface/templating.js"></script>
<script src="interface/draw.js"></script>
<script src="interface/interaction.js"></script>
<script src="interface/interface.js"></script>

<script src="2d/draw2d.js"></script>
<script src="2d/interaction2d.js"></script>

<script src="3d/terrain3d.js"></script>
<script src="3d/shaders.js"></script>
<script src="3d/materialsFactory.js"></script>
<script src="3d/modelsFactory.js"></script>
<script src="3d/draw3d.js"></script>
<script src="3d/modelsFactory.js"></script>
<script src="3d/interaction3d.js"></script>

<script src="room/chat.js"></script>
<script src="room/listener.js"></script>
<script src="room/protocol.js"></script>
<script src="room/room.js"></script>

<script src="map/board.js"></script>
<script src="map/unit.js"></script>
<script src="map/walls.js"></script>
<script src="map/city.js"></script>
<script src="map/building.js"></script>

<script src="game/const.js"></script>
<script src="game/calendar.js"></script>
<script src="game/turnManager.js"></script>
<script src="game/orders.js"></script>
<script src="game/objectFactory.js"></script>
<script src="game/main.js"></script>
<script src="game/battle.js"></script>

<script src="editor/mapBuilder.js"></script>

<link rel="stylesheet" type="text/css" href="style.css">

<body>
<div id="room">
	<p id="room_info" style="display:none" >
		Copia esto: 
		<input id="room_code"></input>
	</p>
	
	<div id="players"></div>
	
	<button id="room_single" onclick="Room.Single()">Un Jugador</button>
	<button id="room_create" onclick="Room.Create()">Online: Crear</button>
	<button id="room_join"   onclick="Room.Join()">Online: Unirse</button>
	
	<button style="display:none" id="room_add"   onclick="Room.AddAI()">Anadir CPU</button>
	<button style="display:none" id="room_allow" onclick="Room.Allow()">Anadir Humano</button>
	<button style="display:none" id="room_start" onclick="Room.StartGame()">JUGAR!</button>
</div>

<div style="display:none" id="game">		
	
	<div class="gamecontainer">

		<div class="gamemenu">
			<button onclick="Interaction.NextTurn(true)">NEXT TURN</button>
			<h1>Turno del jugador <p id="TURNINTERFACE">0</p></h1>
			<div id="INTERFACE"></div>
		</div>
		
		<canvas class="gamecanvas" id="CANVAS" width="1000" height="5000"></canvas>	
		
	</div>
	
</div>

<div style="display:none" id="chat">
	<div id="chat_output"></div>
	<input id="chat_input"></input>
	<input id="chat_submit" type="submit" onclick="Chat.Send()"></input>
</div>
</body>

<img id="smallimage1" width="0" height="0" src="assets/1.bmp">
<img id="smallimage2" width="0" height="0" src="assets/2.bmp">
<img id="smallimage3" width="0" height="0" src="assets/3.bmp">
<img id="smallimage4" width="0" height="0" src="assets/4.bmp">
<img id="smallimage5" width="0" height="0" src="assets/5.bmp">
<img id="smallimage6" width="0" height="0" src="assets/6.bmp">
<img id="smallimage7" width="0" height="0" src="assets/7.bmp">
<img id="smallimage8" width="0" height="0" src="assets/8.bmp">
<img id="smallimage9" width="0" height="0" src="assets/9.bmp">
<img id="smallimage10" width="0" height="0" src="assets/10.bmp">

<img id="bigimage1" width="0" height="0" src="assets/cleargrass.jpg">
<img id="bigimage2" width="0" height="0" src="assets/centre.bmp">
<img id="bigimage3" width="0" height="0" src="assets/cistern.bmp">
<img id="bigimage4" width="0" height="0" src="assets/field.bmp">
<img id="bigimage5" width="0" height="0" src="assets/granary.bmp">
<img id="bigimage6" width="0" height="0" src="assets/house.bmp">
<img id="bigimage7" width="0" height="0" src="assets/market.bmp">
<img id="bigimage8" width="0" height="0" src="assets/workshop.bmp">
<img id="bigimage9" width="0" height="0" src="assets/tower.bmp">
<img id="bigimage10" width="0" height="0" src="assets/oppidum.jpg">

