<script src="https://threejs.org/docs/Globals3d.scenes/../../build/three.min.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="https://threejs.org/examples/js/objects/Refractor.js"></script>
<script src="https://threejs.org/examples/js/objects/Reflector.js"></script>
<script src="lib/water.js"></script>
<script src="lib/lib.js"></script>

<script src="editor/mapBuilder.js"></script>
<script src="3d/terrain3d.js"></script>
<script src="3d/shaders.js"></script>
<script src="3d/materialsFactory.js"></script>
<script src="3d/modelsFactory.js"></script>
<script src="3d/draw3d.js"></script>
<script src="lib/LegacyJSONLoader.js"></script>

<link rel="stylesheet" type="text/css" href="style.css">


<canvas class="gamecanvas" id="CANVAS" width="500" height="500"></canvas>
<div class="mapmenu">
	<h1>MAP menu</h1>
	<h2>Terrain</h2>
	<button onclick="EditorInterface.Action('Raise');">Raise land</button>
	<button onclick="EditorInterface.Action('Lower');">Lower land</button>
	<button onclick="EditorInterface.Action('Dirt');">Dirt</button>
	<button onclick="EditorInterface.Action('Grass');">Grass</button>
	<h2>Buildings</h2>
	<button onclick="EditorInterface.Action('City');">City</button>
	<button onclick="EditorInterface.Action('Tower');">Tower</button>
	<button onclick="EditorInterface.Action('Field');">Field</button>
	<button onclick="EditorInterface.Action('House');">House</button>
	<button onclick="EditorInterface.Action('Workshop');">Workshop</button>
	<h2>Units</h2>
	<button onclick="EditorInterface.Action('Horse');">Horse</button>
</div>
<script>

var Globals = {
	map : null
}

var Interaction3d = {
	Start : function(){
		Globals3d.raycaster = new THREE.Raycaster();
		Globals3d.mouse = new THREE.Vector2();

		document.addEventListener( 'mousemove', Interaction3d.OnMouseMove, false );
		document.addEventListener( 'mousedown', Interaction3d.OnMouseDown, false );
	},
	OnMouseMove : function(){
		event.preventDefault();
		
		let canvasBounds = Globals3d.renderer.context.canvas.getBoundingClientRect();
		Globals3d.mouse.set(( ( event.clientX - canvasBounds.left ) / ( canvasBounds.right - canvasBounds.left ) ) * 2 - 1, 
		- ( ( event.clientY - canvasBounds.top ) / ( canvasBounds.bottom - canvasBounds.top) ) * 2 + 1);

		Globals3d.raycaster.setFromCamera( Globals3d.mouse, Globals3d.camera );

		var intersects = Globals3d.raycaster.intersectObjects( Globals3d.rayobjects );
		if ( intersects.length > 0 ) {
			var intersect = intersects[ 0 ];
			
			rollOverMesh.position.copy( intersect.point ).add( intersect.face.normal );

			var offset = CONST.mapSize/2-0.5;
			var x = Math.floor((rollOverMesh.position.x)/50)+8;
			var y = Math.floor((rollOverMesh.position.z)/50)+8;

			var height = Globals.map.heightmap[x][y] + 25;

			rollOverMesh.position.set((x-7.5)*50,height,(y-7.5)*50);
		}
	},
	OnMouseDown : function(){
		event.preventDefault();

		if(event.button == 2){
			return;
		}
		
		let canvasBounds = Globals3d.renderer.context.canvas.getBoundingClientRect();
		Globals3d.mouse.set(( ( event.clientX - canvasBounds.left ) / ( canvasBounds.right - canvasBounds.left ) ) * 2 - 1, 
		- ( ( event.clientY - canvasBounds.top ) / ( canvasBounds.bottom - canvasBounds.top) ) * 2 + 1);


		Globals3d.raycaster.setFromCamera( Globals3d.mouse, Globals3d.camera );

		var intersects = Globals3d.raycaster.intersectObjects( Globals3d.rayobjects );
		if ( intersects.length > 0 ) {
			var intersect = intersects[ 0 ];
			
			rollOverMesh.position.copy( intersect.point ).add( intersect.face.normal );
			
			var offset = CONST.mapSize/2-0.5;
			var x = Math.floor((rollOverMesh.position.x)/50)+8;
			var y = Math.floor((rollOverMesh.position.z)/50)+8;

			var height = Globals.map.heightmap[x][y] + 25;

			rollOverMesh.position.set((x-7.5)*50,height,(y-7.5)*50);

			EditorInterface.Edit(x,y)
		}
	},
}

Globals.map = MapBuilder.BuildMap();

var promises = [];

MaterialsFactory.Load(promises);
LoadObjModels(promises);

Promise.all(promises).then(results => {
	Draw3d.Start();
	Interaction3d.Start();
});		

</script>