<script src="https://threejs.org/docs/Globals3d.scenes/../../build/three.min.js"></script>
<script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
<script src="lib/LegacyJSONLoader.js"></script>

<script src='https://raw.githubusercontent.com/jeromeetienne/threex.grass/master/threex.grass.js'></script>

<script src="3d/modelsFactory.js"></script>
<script src="3d/materialsFactory.js"></script>
<script src="3d/draw3d.js"></script>

<canvas class="gamecanvas" id="CANVAS" width="500" height="500"></canvas>	

<script>

var promises = [];

MaterialsFactory.Load(promises);
LoadObjModels(promises);

Promise.all(promises).then(results => {
	Draw3d._setup();
	Draw3d.Render();

	var ambientLight = new THREE.AmbientLight( 0x606060 );
		Globals3d.scene.add( ambientLight );

		var directionalLight = new THREE.DirectionalLight( 0xffffff );
		directionalLight.position.set( 1, 0.75, 0.5 ).normalize();
		Globals3d.scene.add( directionalLight );


	Start();

});		

function Start() {
	var result = new THREE.Mesh();

	var size = Const3d.relsize/2;

	var geo = new THREE.PlaneGeometry( size, size, 1 );
	var mat = MaterialsFactory.Wheat();

	var mesh = new THREE.Mesh(geo,mat);
	result.add(mesh);
	mesh = mesh.clone();
	mesh.position.set(0,0,size/2);
	result.add(mesh);
	mesh = mesh.clone();
	mesh.position.set(0,0,size);
	result.add(mesh);
	mesh = mesh.clone();
	mesh.rotation.set(0,Math.PI/2,0)
	mesh.position.set(0,0,0);
	result.add(mesh);
	
	Globals3d.scene.add( result );
}


</script>