<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
<script src="https://dl.dropboxusercontent.com/s/zjt32xn2mlyflvy/easystar-0.3.1.min.js"></script>

<script>

var SPRITES = {
	terrain : null,
}

function preload() {

game.load.crossOrigin='Anonymous';
game.load.atlasJSONArray('terrain',
		'https://bitbucket.org/johnhammer/johnhammer.bitbucket.io/raw/master/zeus/terrain.png', 
		'https://bitbucket.org/johnhammer/johnhammer.bitbucket.io/raw/master/zeus/terrain.json');

}

function create() {

	SPRITES.terrain = game.make.sprite(0, 0, 'terrain');

	//init
	MapInterface.createMap(GLOBAL.mapSize);

	//settings
	game.scale.scaleMode = Phaser.ScaleManager.SHOW_ALL;
    game.stage.backgroundColor = '#cccccc';
    gameScene=game.add.renderTexture(game.width,game.height);
    game.add.sprite(0, 0, gameScene);
		
	//start
	Drawer.render();

}

function update(){
	Drawer.render();
}

var game = new Phaser.Game(800, 640, Phaser.AUTO, 'container', { 
	preload: preload, 
	create: create, 
	update:update 
});
</script>