<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<script src="https://threejs.org/docs/scenes/../../build/three.min.js"></script>
<script src="random.js"></script>
</head> 

<div id="ships_container"></div>

<script>

var MaterialsFactory = {
	Textures : {
		Tree:{url:"tree.jpg"},
		Leaf:{url:"dryishgrass.jpg"}
	},
	Get : function(tex){
		return new THREE.MeshPhongMaterial({
		  map: tex.val
		});
	},
	Load : function(promises){
		var path = 'https://johnhammer.bitbucket.io/CityWarfare/assets/textures/';

		var textureLoader = new THREE.TextureLoader();
		for (var key in MaterialsFactory.Textures) {
			promises.push(new Promise((resolve, reject) => {
				var entry = MaterialsFactory.Textures[key]
				var url = path + entry.url// + '.jpg'
				textureLoader.load(url,
					texture => {
						texture.repeat.set(10, 10);
						texture.wrapS = THREE.RepeatWrapping;
						texture.wrapT = THREE.RepeatWrapping;
						entry.val = texture;
						resolve(entry);
					},
					xhr => {
						console.log(url + ' ' + (xhr.loaded / xhr.total * 100) + '% loaded');
					},
					xhr => {}
				)	  
			}));
		}
	}
}








var scene,camera,renderer;

var render = function () {
    requestAnimationFrame(render);
    renderer.render(scene, camera);
};

var init = function () {
    var canvas = document.getElementById('ships_container'); 

    var w = canvas.parentNode.offsetWidth;
    var h = canvas.parentNode.offsetHeight;

    scene = new THREE.Scene();
    camera = new THREE.PerspectiveCamera(50, w / h, 0.1, 1000);

    renderer = new THREE.WebGLRenderer();
    renderer.setSize(w, h);
    canvas.appendChild(renderer.domElement);

    camera.position.z = 100;
};

init();
render();

var MeshBuilder = {
    BranchMaterial : function(){
        return MaterialsFactory.Get(MaterialsFactory.Textures.Tree);
    },
    LeafMaterial : function(){
        return MaterialsFactory.Get(MaterialsFactory.Textures.Leaf);
    },
    Rotate(mesh,vector){
        mesh.lookAt( vector );
    },
    Move(mesh,point){
        mesh.position.x = point.x;
        mesh.position.y = point.y;
        mesh.position.z = point.z;
    },
    Segment : function(p,v,r1,r2,l){
        var material = MeshBuilder.BranchMaterial();

        var nextPoint = v.clone().multiplyScalar(l).add(p);

        var geo = new THREE.CylinderGeometry( r2, r1, l, 8 );
        geo.applyMatrix( new THREE.Matrix4().makeTranslation( 0, l / 2, 0 ) );
        geo.applyMatrix( new THREE.Matrix4().makeRotationX( Math.PI / 2 ) );

        var mesh = new THREE.Mesh(geo, material);
        MeshBuilder.Rotate(mesh,v);
        MeshBuilder.Move(mesh,p);
        
        return {
            next:nextPoint,
            mesh:mesh
        };
    },
	Leaf : function(p,v,r,l){
        var material = MeshBuilder.LeafMaterial();

		var s =1
		
		var geometry = new THREE.Geometry();
geometry.vertices.push( new THREE.Vector3( -s,  0,-s ) );
geometry.vertices.push( new THREE.Vector3(  s,  0,-s ) );
geometry.vertices.push( new THREE.Vector3(  s,  0, s ) );

//create a new face using vertices 0, 1, 2
var normal = new THREE.Vector3( 0, 1, 0 ); //optional
var color = new THREE.Color( 0xffaa00 ); //optional
var materialIndex = 0; //optional
var face = new THREE.Face3( 0, 1, 2, normal, color, materialIndex );

//add the face to the geometry's faces array
geometry.faces.push( face );
		
	/*	
        var geo = new THREE.CylinderGeometry( r*2, r*2, l*2, 3 );
        geo.applyMatrix( new THREE.Matrix4().makeTranslation( 0, l / 2, 0 ) );
        geo.applyMatrix( new THREE.Matrix4().makeRotationX( Math.PI / 2 ) );
*/
        var mesh = new THREE.Mesh(geometry, material);
        MeshBuilder.Rotate(mesh,v);
        MeshBuilder.Move(mesh,p);
        
        return mesh;
    }
}

var TreeBuilder = {
    TweakVector : function(vector,rnd){
        function perp(a,b,c) 
        {
            return  c<a  ? new THREE.Vector3(b,-a,0) : new THREE.Vector3(0,-c,b) 
        }
        function degToRad(degrees)
        {
            var pi = Math.PI;
            return degrees * (pi/180);
        }

        var newVec = vector.clone();

        var axis = perp(vector.x,vector.y,vector.z);
        var angle = degToRad(Random.Range(rnd,0,45));
        newVec.applyAxisAngle( axis, angle );

        var angle2 = degToRad(Random.Range(rnd,0,360));
        newVec.applyAxisAngle( vector, angle2 );

        return newVec;
    },
    NewSegmentOptions(options,next,rnd){
        return newOptions = {
            p:next,
            v:TreeBuilder.TweakVector(options.v,rnd),
            r:options.r*options.rf,
            l:options.l*options.lf,
            rf:options.rf,
            lf:options.lf,
            rlim:options.rlim,
        };
    },
    Segment : function(group,options,rnd){
        if(options.r<options.rlim){
			var result = MeshBuilder.Leaf(options.p,options.v,options.r,options.l);
			group.add(result);
            return;
        }

        var result = MeshBuilder.Segment(options.p,options.v,options.r,options.r*options.rf,options.l);
        group.add(result.mesh);

        var branches = Random.Range(rnd,1,3);
        for(var i=0;i<branches;i++){
            var newOptions = TreeBuilder.NewSegmentOptions(options,result.next,rnd);        
            TreeBuilder.Segment(group,newOptions,rnd);
        }
    },
    Tree: function(){
        var group = new THREE.Mesh();
        var seed = 42;
        var rnd = Random.Create();
        var options = {
            p:new THREE.Vector3(0,-20,0),
            v:new THREE.Vector3(0,1,0),
            r:2,
            l:10,
            rf:.8,
            lf:.9,
            rlim:.4,
        };
        TreeBuilder.Segment(group,options,rnd);
        return group;
    }
}
var promises = [];

MaterialsFactory.Load(promises);
//LoadObjModels(promises);

Promise.all(promises).then(results => {
	var ambientLight = new THREE.AmbientLight(0xffffff);
	scene.add( ambientLight );

	/*
	var directionalLight = new THREE.DirectionalLight( 0xffffff );
	directionalLight.position.set( 1, 0.75, 0.5 ).normalize();
	scene.add( directionalLight );
	*/
	
	var tree= TreeBuilder.Tree();
	scene.add(tree);
});	




</script>

