<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style/reset.css">
<link rel="stylesheet" type="text/css" href="style/base.css">
<link rel="stylesheet" type="text/css" href="style/components.css">
<link rel="stylesheet" type="text/css" href="style/pages.css">

<script src="lib/three.min.js"></script>
<script src="lib/orbitcontrols.js"></script>

<script src="text/spanish.js"></script>
<script src="text/spanishLong.js"></script>
<script src="text/englishLong.js"></script>

<script src="lib/online.js"></script>
<script src="lib/lib.js"></script>

<script src="global/global.js"></script>
<script src="global/const.js"></script>
<script src="global/style.js"></script>
<script src="global/factions.js"></script>

<script src="editing/calculator.js"></script>
<script src="editing/namefactory.js"></script>

<script src="drawing/astronomymeshfactory.js"></script>
<script src="drawing/meshfactory.js"></script>
<script src="drawing/materialsfactory.js"></script>
<script src="drawing/draw.js"></script>

<script src="drawing/shaders/explosion_fragment.js"></script>
<script src="drawing/shaders/explosion_vertex.js"></script>
<script src="drawing/shaders/metal_fragment.js"></script>
<script src="drawing/shaders/metal_vertex.js"></script>

<script src="room/room.js"></script>
<script src="room/chat.js"></script>
<script src="room/protocol.js"></script>
<script src="room/listener.js"></script>

<script src="templating/templating.js"></script>
<script src="templating/t_main.js"></script>
<script src="templating/t_factions.js"></script>
<script src="templating/t_fleets.js"></script>
<script src="templating/t_battle.js"></script>
<script src="templating/t_ship.js"></script>

<script src="game/start.js"></script>
<script src="game/orders.js"></script>
<script src="game/screen.js"></script>
<script src="game/edit.js"></script>
<script src="game/utils.js"></script>
<script src="game/factory.js"></script>
<script src="game/clock.js"></script>

<script src="fleet/calculator.js"></script>

<script src="battle/draw.js"></script>
<script src="battle/edit.js"></script>

<script src="ship/draw.js"></script>
<script src="ship/calculator.js"></script>

<script src="map/draw.js"></script>
<script src="map/templating.js"></script>

<script src="game/events.js"></script>

<script src="game/write.js"></script>
<script src="game/menu.js"></script>
</head>

<body id="mainbody">
    <h1>vLFRgXuRASc</h1>
</body>

<script src="main.js"></script>