body,div,canvas{
    padding: 0;
    margin: 0;
}
/* Modal */
.modal {
	display: block;  
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
    padding-top: 20px;
    background-color: rgba(0,0,0,0.4) !important;
}
.modal-content {
	background-color:red;
	margin: auto;
	padding: 20px;
	width: 80%;
}
