<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
	span{float:left}
	html {
	   width: 100%;
	   height: 100%;
	}
	body {
	   width: 100%;
	   height: 100%;
	}

	#resources {
		margin-bottom: 0px;
		border-radius: 0px 0px 0px 0px;
		border-color: #222;
	}

	#menu_lateral {
		background-color: #222;
		width: 200px;
		height: calc(100% - 119px);
		position:absolute; 
		bottom:0; 
		left:0;
	}

	#menu_lateral .navbar-inverse{
		border-color: #222;
	}

	#menu_lateral nav li {
		cursor: hand;
	}

	#title_menu {
		text-align: center;
	}

	#game_screen {
		background-color: #23f3f5;
		position:relative;
		margin-left: 200px;
		width: auto;
		height: calc(100% - 119px);
		overflow: auto;		
	}

	#ship_creator_row, #ship_builder_row, #fleet_creator_row, #fleet_builder_row, #battle_creator_row {
		margin-top:50px;
	}	

	.list-inline {
	  display: flex;
	  justify-content: center;
	  padding-top: 15px;
	}

	.nav p{
	  color:white; 
	}

	#menu_1 li a{
	  color: white;
	}

	#menu_1 li a:hover{
	  color: #151515;
	}

	.row {
		margin: 30px 30px 30px 30px;
	}
	.text-slide-container {
		text-align: center;
		margin-bottom: 30px;
	}


</style>
<!--<link rel="stylesheet" href="https://bootswatch.com/3/slate/bootstrap.min.css">-->
</head>

<body>
	<div id="main"></div>
</body>

<script>

	var lib = {
		makeNode(tag,inner=""){
			var element = document.createElement(tag);
			element.innerHTML = inner;
			return element;
		},
		normalize(number1,number2){
			return Math.floor((number1 / number2) * 100)
		},
		guid() {
		  function s4() {
			return Math.floor((1 + Math.random()) * 0x10000)
			  .toString(16)
			  .substring(1);
		  }
		  return s4() + s4() + s4() + s4() + s4() + s4() + s4() + s4();
		},
		clone(obj){
			return JSON.parse(JSON.stringify(obj))
		},
	}
	
	var CONST = {
		resources : {
			matter	    	: "matter",   
			energy    		: "energy",   
			population 		: "population",
			waste     		: "waste",  		
		},
		buildings : {
			energyPlant 	: "energy_plant",
			mine         	: "mine",
			house        	: "house",
			recycler	 	: "recycler",
			antenna      	: "antenna",
			factory      	: "factory",
			lab          	: "lab",
			bunker       	: "bunker",
		},
		
	}
	
	var global = {
		resources : {},
		buildings : {},
		shipTypes : {},
		fleets : {},
		
		start(){
			//init resources
			this.resources[CONST.resources.matter] 		= 200;
			this.resources[CONST.resources.energy] 		= 200;
			this.resources[CONST.resources.population] 	= 200;
			this.resources[CONST.resources.waste] 		= 200;
			
			//init buildings
			this.buildings[CONST.buildings.energyPlant]	= 0;
			this.buildings[CONST.buildings.mine]		= 0;
			this.buildings[CONST.buildings.house]		= 0;
			this.buildings[CONST.buildings.recycler]	= 0;
			this.buildings[CONST.buildings.antenna]		= 0;
			this.buildings[CONST.buildings.factory]		= 0;
			this.buildings[CONST.buildings.lab]			= 0;
			this.buildings[CONST.buildings.bunker]		= 0;
		},		
	}

	var menuLateral = {
		container : null,
		start(){
			this.container = lib.makeNode("div");
			this.container.setAttribute("id", "menu_lateral");

			var menu = lib.makeNode("nav");
			menu.classList.add("navbar", "navbar-inverse");

			var menu2 = lib.makeNode("ul");
			menu2.classList.add("nav", "nav-pills", "nav-stacked", "text-center");
			menu2.id = "menu_1";

			var menu3 = lib.makeNode("li");
			menu3.name = lib.makeNode("a","World");
			menu3.name.setAttribute("type", "button");
			menu3.name.setAttribute("name", "button");
			menu3.name.setAttribute("id", "button");
			menu3.name.setAttribute("onclick", "world_screen()");
			menu3.appendChild(menu3.name);

			var menu4 = lib.makeNode("li");
			menu4.name = lib.makeNode("a","Buildings");
			menu4.name.setAttribute("type", "button");
			menu4.name.setAttribute("name", "button");
			menu4.name.setAttribute("id", "button");
			menu4.name.setAttribute("onclick", "buildings_menu()");
			menu4.appendChild(menu4.name);

			var menu5 = lib.makeNode("li");
			menu5.name = lib.makeNode("a","Ship creator");
			menu5.name.setAttribute("type", "button");
			menu5.name.setAttribute("name", "button");
			menu5.name.setAttribute("id", "button");
			menu5.name.setAttribute("onclick", "ship_creator()");
			menu5.appendChild(menu5.name);

			var menu6 = lib.makeNode("li");
			menu6.name = lib.makeNode("a","Ship builder");
			menu6.name.setAttribute("type", "button");
			menu6.name.setAttribute("name", "button");
			menu6.name.setAttribute("id", "button");
			menu6.name.setAttribute("onclick", "ship_builder()");
			menu6.appendChild(menu6.name);

			var menu7 = lib.makeNode("li");
			menu7.name = lib.makeNode("a","Fleet creator");
			menu7.name.setAttribute("type", "button");
			menu7.name.setAttribute("name", "button");
			menu7.name.setAttribute("id", "button");
			menu7.name.setAttribute("onclick", "fleet_creator()");
			menu7.appendChild(menu7.name);

			var menu8 = lib.makeNode("li");
			menu8.name = lib.makeNode("a","Fleet builder");
			menu8.name.setAttribute("type", "button");
			menu8.name.setAttribute("name", "button");
			menu8.name.setAttribute("id", "button");
			menu8.name.setAttribute("onclick", "fleet_builder()");
			menu8.appendChild(menu8.name);

			var menu9 = lib.makeNode("li");
			menu9.name = lib.makeNode("a","Battle creator");
			menu9.name.setAttribute("type", "button");
			menu9.name.setAttribute("name", "button");
			menu9.name.setAttribute("id", "button");
			menu9.name.setAttribute("onclick", "battle_creator()");
			menu9.appendChild(menu9.name);

			var menu9 = lib.makeNode("li");
			menu9.name = lib.makeNode("a","Sala");
			menu9.name.setAttribute("type", "button");
			menu9.name.setAttribute("name", "button");
			menu9.name.setAttribute("id", "button");
			menu9.name.setAttribute("onclick", "sala()");
			menu9.appendChild(menu9.name);



			menu2.appendChild(menu3);
			menu2.appendChild(menu4);
			menu2.appendChild(menu5);
			menu2.appendChild(menu6);
			menu2.appendChild(menu7);
			menu2.appendChild(menu8);
			menu2.appendChild(menu9);
			menu.appendChild(menu2);
			this.container.appendChild(menu);
		},
	}

	var gameScreen = {
		container : null,
		start(){
			this.container = lib.makeNode("div");
			this.container.setAttribute("id", "game_screen");

			var row = lib.makeNode("div");
			row.setAttribute("id", "buildings_row");
			row.classList.add("row");
			row.style.display = "none";

			var row2 = lib.makeNode("div");
			row2.setAttribute("id", "ship_creator_row");
			row2.style.display = "none";

			var row3 = lib.makeNode("div");
			row3.setAttribute("id", "ship_builder_row");
			row3.style.display = "none";

			var row4 = lib.makeNode("div");
			row4.setAttribute("id", "fleet_creator_row");
			row4.style.display = "none";

			var row5 = lib.makeNode("div");
			row5.setAttribute("id", "fleet_builder_row");
			row5.style.display = "none";

			var row6 = lib.makeNode("div");
			row6.setAttribute("id", "battle_creator_row");
			row6.style.display = "none";

			var row7 = lib.makeNode("div");
			row7.setAttribute("id", "sala_row");
			row7.style.display = "none";

			this.container.appendChild(row);
			this.container.appendChild(row2);
			this.container.appendChild(row3);
			this.container.appendChild(row4);
			this.container.appendChild(row5);
			this.container.appendChild(row6);
			this.container.appendChild(row7);

		},
	}

	var salaScreen = {
		container : null,
		start(){
			this.container = lib.makeNode("div");
			this.container.setAttribute("id", "sala_screen");
			this.container.classList.add("container");

			var row = lib.makeNode("div");
			row.classList.add("col-lg-12");			
			
			var row2 = lib.makeNode("div");
			row2.classList.add("col-6", "col-lg-7");

			var row3 = lib.makeNode("div");
			row3.classList.add("players-list");
			row3.appendChild(lib.makeNode("h1","Players"));

			for(i = 1; i <= 10; i++) {
				row3.appendChild(lib.makeNode("p","Player"+i));
			}

			var row4 = lib.makeNode("div");
			row4.classList.add("chat");
			row4.appendChild(lib.makeNode("h1","Chat"));

			var aux = lib.makeNode("p","Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.")
			aux.classList.add("text-justify");
			row4.appendChild(aux);

			aux = lib.makeNode("button","Send");
			aux.classList.add("btn", "btn-default");
			row4.appendChild(aux);

			row2.appendChild(row3);
			row2.appendChild(row4);

			var row5 = lib.makeNode("div");
			row5.classList.add("col-6", "col-lg-5");

			var row6 = lib.makeNode("div");
			row6.classList.add("map-info");
			row6.appendChild(lib.makeNode("h1","Map"));
			var row7 = lib.makeNode("div");
			row7.classList.add("panel", "panel-default");
			var row8 = lib.makeNode("div","Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.");
			row8.classList.add("panel-body");

			row7.appendChild(row8);
			row6.appendChild(row7);
			row5.appendChild(row6);

			row.appendChild(row2);
			row.appendChild(row5);

			aux = lib.makeNode("button","Start");
			aux.classList.add("btn", "btn-default", "btn-block");
			row.appendChild(aux);
			aux = lib.makeNode("button","Cancel");
			aux.classList.add("btn", "btn-default", "btn-block");
			row.appendChild(aux);
			
			this.container.appendChild(row);
		},
	}
	
	var buildingsUi = {
		container : null,
		start(){
			this.container = lib.makeNode("div");
			this.container.appendChild(lib.makeNode("h1","Buildings"));
			this.container.setAttribute("id", "title_menu");
		},
		addBuilding(id){
			this.set(id,this.get(id)+1);
		},		
		createBuildingUi(id){
			
			var building = lib.makeNode("div");
			building.classList.add("col-lg-3", "col-sm-6", "col-12");

			var building2 = lib.makeNode("div");
			building2.classList.add("text-slide-container");
			building2.name = lib.makeNode("h3",id);
			building2.appendChild(building2.name);
			building2.amount = lib.makeNode("p",0);
			building2.appendChild(building2.amount);
			building2.add = lib.makeNode("button","add");
			building2.add.onclick = function(){this.addBuilding(id)}.bind(this);
			building2.appendChild(building2.add);		
			
			this.container[id] = building2;
			building.appendChild(building2);
			this.container.appendChild(building);

		},
		set(id,val){
			global.buildings[id] = val;
			this.container[id].amount.innerHTML = val;
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
	}
		
	var shipCalculator = {
		ship: {},		
		saveShip(){
			var guid = lib.guid();
			global.shipTypes[guid] = this.ship;
			return guid;
		},
		get(id){
			return this.ship[id];
		},
		set(id,val){
			this.ship[id] = val;
		},
		start(){
			this.ship = {
				size:1
			};
			
			this.ship["weapon"] = 0;
			this.ship["ammo"]   = 0;
			this.ship["shield"] = 0;
			this.ship["engine"] = 0;
			this.ship["fuel"]   = 0;
			this.ship["person"] = 0;
			this.ship["radio"]  = 0;
			this.ship["emp"]    = 0;			
			
			update();
		},		
		update(){
			var weapon		= this.ship["weapon"];
			var ammo		= this.ship["ammo"];
			var shield  	= this.ship["shield"];
			var engine  	= this.ship["engine"];
			var fuel		= this.ship["fuel"];
			var person 		= this.ship["person"];
			var radio  		= this.ship["radio"];
			var emp	   		= this.ship["emp"];
			
			var size		= this.ship["size"];
			var piezas 		= weapon - ammo - shield - engine - fuel - person - radio - emp;
			var nada		= size - piezas;	
						
			shipCreatorUi.setProp("FirePower"		,lib.normalize(ammo*2 + ((weapon>0) ? 1 : 0)									,16));
			shipCreatorUi.setProp("FireSpeed"		,lib.normalize(weapon                                                          	,8));  
			shipCreatorUi.setProp("Precision"		,lib.normalize(((weapon>0) ? (32+(radio+1) * (person+1) - ammo*4) : 0)   		,96)); 
			shipCreatorUi.setProp("ElectricAttack"	,lib.normalize((person+1)*emp*2 + radio*emp                                  	,40));
			shipCreatorUi.setProp("Armor"			,lib.normalize(shield*3 + size                                                	,32)); 
			shipCreatorUi.setProp("ElectricDefence"	,lib.normalize(person*4 + radio*2 + emp*1                                    	,32));
			shipCreatorUi.setProp("Evasion"			,lib.normalize(64 + (engine*3+1) * (radio+1) * (person*2+1) - (size)*8        	,210));
			shipCreatorUi.setProp("Camouflage"		,lib.normalize(16-engine-size+1                                                	,16));
			shipCreatorUi.setProp("Speed"			,lib.normalize(16+engine*3-size-piezas+1                                       	,25)); 
			shipCreatorUi.setProp("Perception"		,lib.normalize(radio+1                                                        	,9));
			shipCreatorUi.setProp("Autonomy"		,lib.normalize(8+fuel-engine+1                                                 	,17)); 
			shipCreatorUi.setProp("CargoCapacity"	,lib.normalize(nada                                                           	,8));  
			this.ship.nada = nada;

			this.ship.name = this.getShipName(this.ship);
			
			shipCreatorUi.setName(this.ship.name);
		},
		getShipName(ship){
			switch(ship.size){
				case 1: return this.getShipName1(ship);
				case 2: return this.getShipName2(ship);
				case 4: return this.getShipName4(ship);
				case 8: return this.getShipName8(ship);
			}
		},
		getShipName1(count){
			if(count.weapon==1) return 'Dron cazador';
			if(count.ammo==1) return 'Bomba';
			if(count.shield==1) return 'Dron senuelo';
			if(count.engine==1) return 'Misil';
			if(count.fuel==1) return 'Dron nodriza';
			if(count.person==1) return 'Explorador ligero';
			if(count.radio==1) return 'Sonda';
			if(count.emp==1) return 'Pulso EMP';
			return 'Dron de carga';
		},
		getShipName2(count){
			if(count.weapon==1 && count.ammo==1) return 'Cazabombardero';
			if(count.person==1 && count.ammo==1) return 'Kamikaze';
			if(count.person==1 && count.emp==1) return 'Hacker';
			if(count.person==2) return 'Insignia ligera';
			
			var str = [];
			
			if(count.weapon>=1) str.push('Caza');
			else if(count.ammo>=1) str.push('Bomba');
			else if(count.emp>=1) str.push('Interceptor');
			else if(count.nada>=1) str.push('Nave de carga pequena');
			else if(count.person>=1) str.push('Explorador');
			else if(count.fuel>=1) str.push('Nodriza pequena');
			else if(count.radio>=1) str.push('Telescopio');
			else if(count.engine>=1) str.push('Misil');
			else if(count.shield>=1) str.push('Senuelo');
			
			return str.join(" ");
		},

		getShipName4(count){

			if(count.person==1 && count.ammo==3) return 'Kamikaze pesado';

			var str = [];
			
			if(count.person>=3) str.push('Insignia');
			else if(count.weapon>=1 && count.ammo>=1 && count.shield>=1) str.push('Crucero');
			else if(count.weapon>=3) str.push('Fragata');
			else if(count.weapon>=2 && count.ammo>=1) str.push('Canonera');
			else if(count.weapon>=1 && count.ammo>=2) str.push('Destructor');
			else if(count.ammo>=3) str.push('Bomba de antimateria');
			else if(count.weapon>=1 && count.shield>=2) str.push('Acorazado');
			else if(count.engine>=2 && count.weapon>=1) str.push('Caza pesado');
			else if(count.engine>=2 && count.ammo>=1) str.push('Misil pesado');
			else if(count.emp>=2 && count.weapon>=1) str.push('Corbeta mixta');
			else if(count.emp>=3) str.push('Nave de guerra electronica');
			else if(count.emp>=2 && count.radio>=1) str.push('Nave de guerra electronica');
			else if(count.emp>=1 && count.radio>=2) str.push('Nave de guerra electronica');
			else if(count.shield>=3) str.push('Nave shield');
			else if(count.nada>=3) str.push('Nave de carga');
			else if(count.fuel>=3) str.push('Nodriza');
			else if(count.radio>=3) str.push('Estacion espacial');
			else if(count.radio>=2 && count.person>=1) str.push('Estacion espacial');
			else if(count.weapon>=1 && count.ammo>=1) str.push('Nave de guerra');
			else if(count.emp>=2) str.push('Corbeta de senales');
			else if(count.weapon>=2) str.push('Corbeta');
			else if(count.radio>=2) str.push('Nave radio');
			else if(count.nada>=2) str.push('Nave de carga');
			else if(count.person>=2) str.push('Transporte');
			else if(count.engine>=3) str.push('Misil');
			
			else str.push('Hibrida');
			
			return str.join(" ");
		},

		getShipName8(count){
			var str = [];
			
			str.push("Gran");
			
			if(count.person>=3) str.push('Insignia');
			else if(count.weapon>=1 && count.ammo>=1 && count.shield>=1) str.push('Crucero');
			else if(count.weapon>=3) str.push('Fragata');
			else if(count.weapon>=2 && count.ammo>=1) str.push('Canonera');
			else if(count.weapon>=1 && count.ammo>=2) str.push('Destructor');
			else if(count.ammo>=3) str.push('Bomba de antimateria');
			else if(count.weapon>=1 && count.shield>=2) str.push('Acorazado');
			else if(count.engine>=2 && count.weapon>=1) str.push('Caza pesado');
			else if(count.engine>=2 && count.ammo>=1) str.push('Misil pesado');
			else if(count.emp>=2 && count.weapon>=1) str.push('Corbeta mixta');
			else if(count.emp>=3) str.push('Nave de guerra electronica');
			else if(count.emp>=2 && count.radio>=1) str.push('Nave de guerra electronica');
			else if(count.emp>=1 && count.radio>=2) str.push('Nave de guerra electronica');
			else if(count.shield>=3) str.push('Nave shield');
			else if(count.nada>=3) str.push('Nave de carga');
			else if(count.fuel>=3) str.push('Nodriza');
			else if(count.radio>=3) str.push('Estacion espacial');
			else if(count.radio>=2 && count.person>=1) str.push('Estacion espacial');
			else if(count.weapon>=1 && count.ammo>=1) str.push('Nave de guerra');
			else if(count.emp>=2) str.push('Corbeta de senales');
			else if(count.weapon>=2) str.push('Corbeta');
			else if(count.radio>=2) str.push('Nave radio');
			else if(count.nada>=2) str.push('Nave de carga');
			else if(count.person>=2) str.push('Transporte');
			
			else str.push('Hibrida');
			
			return str.join(" ");
		},
	}
	
	var shipCreatorUi = {
		container : null,
		getPart(id){
			return parseInt(this.container.partsContainer[id].amount.innerHTML);
		},	
		saveShip(){
			var guid = shipCalculator.saveShip();
			shipBuilderUi.createShipUi(guid,this.nameContainer.value);
			fleetCreatorUi.createShipUi(guid,this.nameContainer.value);
			shipCalculator.start();
			this.restart();
		},	
		restart(){
			shipCreatorUi.setPart("weapon",0);
			shipCreatorUi.setPart("ammo",0);
			shipCreatorUi.setPart("shield",0);
			shipCreatorUi.setPart("engine",0);
			shipCreatorUi.setPart("fuel",0);
			shipCreatorUi.setPart("person",0);
			shipCreatorUi.setPart("radio",0);
			shipCreatorUi.setPart("emp",0);
		},		
		start(){
			this.container = lib.makeNode("div");
			this.container.appendChild(lib.makeNode("h1","Ship creator"));
			this.container.setAttribute("id", "title_menu");
			//this.container = lib.makeNode("span");
			//this.container.appendChild(lib.makeNode("h1","Ship creator"));
			
			this.name = "Ship name";
			this.nameContainer = lib.makeNode("input");	
			this.nameContainer.value = this.name;	
			this.container.appendChild(this.nameContainer);	
			
			this.size = lib.makeNode("select");		
			this.size.appendChild(lib.makeNode("option","1"));
			this.size.appendChild(lib.makeNode("option","2"));
			this.size.appendChild(lib.makeNode("option","4"));
			this.size.appendChild(lib.makeNode("option","8"));
			this.size.onchange = function(){this.setSize()}.bind(this);
			this.container.appendChild(this.size);	

			this.save = lib.makeNode("button","save");
			this.save.onclick = function(){this.saveShip()}.bind(this);
			this.container.appendChild(this.save);	



			var parts = lib.makeNode("div");
			parts.classList.add("row");
			this.container.appendChild(parts);

			this.container.partsContainer = lib.makeNode("div");
			this.container.partsContainer.classList.add("col-sm-6");
			this.container.partsContainer.appendChild(lib.makeNode("h2","Ship parts"));			
			this.container.partsContainer.setAttribute("id", "ship_parts");
			parts.appendChild(this.container.partsContainer);
			
			this.container.propsContainer = lib.makeNode("div");
			this.container.propsContainer.classList.add("col-sm-6");
			this.container.propsContainer.appendChild(lib.makeNode("h2","Ship props"));			
			this.container.propsContainer.setAttribute("id", "ship_props");
			parts.appendChild(this.container.propsContainer);
						
			
			///
			
			this.createShipPartUi("weapon")				;
			this.createShipPartUi("ammo")				;
			this.createShipPartUi("shield")				;
			this.createShipPartUi("engine")				;
			this.createShipPartUi("fuel")				;
			this.createShipPartUi("person")				;
			this.createShipPartUi("radio")				;
			this.createShipPartUi("emp")				;
			
			this.createShipPropUi("FirePower")			;
			this.createShipPropUi("FireSpeed")			;
			this.createShipPropUi("Precision")			;
			this.createShipPropUi("ElectricAttack")		;
			this.createShipPropUi("Armor")				;
			this.createShipPropUi("ElectricDefence")	;
			this.createShipPropUi("Evasion")			;
			this.createShipPropUi("Camouflage")			;
			this.createShipPropUi("Speed")				;
			this.createShipPropUi("Perception")			;
			this.createShipPropUi("Autonomy")			;
			this.createShipPropUi("CargoCapacity")		;	
			
		},
		addPart(id){
			this.setPart(id,this.getPart(id)+1);
		},		
		createShipPartUi(id){
			var part = lib.makeNode("div");
			part.name = lib.makeNode("h3",id);
			part.appendChild(part.name);
			part.amount = lib.makeNode("p",0);
			part.appendChild(part.amount);
			part.add = lib.makeNode("button","add");
			part.add.onclick = function(){this.addPart(id)}.bind(this);
			part.appendChild(part.add);		
			
			shipCalculator.set(id,0);
			
			this.container.partsContainer[id] = part;
			this.container.partsContainer.appendChild(part);
		},
		createShipPropUi(id){
			var prop = lib.makeNode("div");
			prop.name = lib.makeNode("h3",id);
			prop.appendChild(prop.name);
			prop.amount = lib.makeNode("p",0);
			prop.appendChild(prop.amount);
			
			this.container.propsContainer[id] = prop;
			this.container.propsContainer.appendChild(prop);
		},
		setProp(id,val){
			this.container.propsContainer[id].amount.innerHTML = val;
		},
		setPart(id,val){
			this.container.partsContainer[id].amount.innerHTML = val;
			shipCalculator.set(id,val);
			shipCalculator.update();
		},
		setSize(){
			shipCalculator.set("size",parseInt(this.size.value));
			shipCalculator.update();
		},
		setName(name){
			this.name = name;
			this.nameContainer.value = name;
		},
		
	}
	
	var resourcesUi = {
		container : null,
		start(){
			this.container = lib.makeNode("div");
			//this.container.classList.add("container");

			var resource = lib.makeNode("nav");
			resource.classList.add("navbar", "navbar-inverse");
			resource.setAttribute("id", "resources");
			
			var resource2 = lib.makeNode("ul");
			resource2.classList.add("nav", "nav-pills", "list-inline", "text-center");

			resource.appendChild(resource2);

			this.container.appendChild(resource);
			

			//this.container.appendChild(lib.makeNode("h1","Resources"));
		},
		createResourcesUi(id){		
			var resource = lib.makeNode("li");
			resource.classList.add("m");
			resource.name = lib.makeNode("p",id);
			resource.appendChild(resource.name);
			
			resource.amount = lib.makeNode("div",0);
			resource.amount.classList.add("panel","panel-default","panel-body");
			resource.appendChild(resource.amount);	
			
			var sp2 = document.getElementsByClassName("navbar");

			this.container[id] = resource;
			
			var theFirstChild = this.container.firstChild.firstChild;
			theFirstChild.appendChild(resource);

		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
		set(id,val){
			this.container[id].amount.innerHTML = val;
		},
	}
	
	var resourcesCalculator = {
		get(id){
			return global.resources[id];
		},
		set(id,val){
			global.resources[id] = val;
		},
		start(){
			update();
		},		
		update(){
			var matter 			= global.resources[CONST.resources.matter] 		;
			var energy 			= global.resources[CONST.resources.energy] 		;
			var population 		= global.resources[CONST.resources.population] 	;
			var waste 			= global.resources[CONST.resources.waste] 		;
			
			var energy_plant	= global.buildings[CONST.buildings.energyPlant	];
			var mine 			= global.buildings[CONST.buildings.mine        	];
			var house 			= global.buildings[CONST.buildings.house       	];
			var recycler 		= global.buildings[CONST.buildings.recycler 	];
			var antenna 		= global.buildings[CONST.buildings.antenna     	];
			var factory 		= global.buildings[CONST.buildings.factory     	];
			var lab 			= global.buildings[CONST.buildings.lab         	];
			var bunker 			= global.buildings[CONST.buildings.bunker      	];
									
			var newmatter		= global.resources[CONST.resources.matter] 		= 
				matter + (energy>0? mine + (waste>0?recycler:0) :0)  - (matter>0?energy_plant:0);
				
			var newenergy		= global.resources[CONST.resources.energy] 		= 
				(matter>0?energy_plant*3:0) - mine -	house - recycler - antenna - factory - lab - bunker;		
				
			var newpopulation	= global.resources[CONST.resources.population] 	= 	
				house*5 - energy_plant - mine - recycler - antenna - factory - lab - bunker;
				
			var newwaste		= global.resources[CONST.resources.waste] 		= 
				waste + (matter>0?house:0) - (waste>0?recycler*3:0);
			
			if(newmatter		!= matter 		) resourcesUi.set(CONST.resources.matter,		newmatter		);
			if(newenergy		!= energy 		) resourcesUi.set(CONST.resources.energy,		newenergy		);
			if(newpopulation	!= population 	) resourcesUi.set(CONST.resources.population,	newpopulation	);
			if(newwaste			!= waste 		) resourcesUi.set(CONST.resources.waste,		newwaste		);
		}
	}
	
	var shipBuilderUi = {
		container : null,
		start(){
			this.container = lib.makeNode("div");			
			this.container.appendChild(lib.makeNode("h1","Ships"));
			this.container.setAttribute("id", "title_menu");
		},
		addShip(id){
			this.set(id,this.get(id)+1);
		},		
		createShipUi(id,name){
		
			var ship = lib.makeNode("div");
			ship.name = lib.makeNode("h3",name);
			ship.appendChild(ship.name);
			ship.amount = lib.makeNode("p",0);
			ship.appendChild(ship.amount);
			ship.add = lib.makeNode("button","add");
			ship.add.onclick = function(){this.addShip(id)}.bind(this);
			ship.appendChild(ship.add);		
			
			this.container[id] = ship;
			this.container.appendChild(ship);
		},
		set(id,val){
			this.container[id].amount.innerHTML = val;
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
		
	}
		
	var fleetBuilderUi = {
		container : null,
		start(){
			this.container = lib.makeNode("div");
			this.container.appendChild(lib.makeNode("h1","Fleets"));
			this.container.setAttribute("id", "title_menu");
		},
		createFleetUi(id,name){		
			var resource = lib.makeNode("div");
			resource.name = lib.makeNode("h3",name);
			resource.appendChild(resource.name);
			resource.amount = lib.makeNode("p",0);
			resource.appendChild(resource.amount);	
			
			this.container[id] = resource;
			this.container.appendChild(resource);
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
		set(id,val){
			this.container[id].amount.innerHTML = val;
		},
	}	
	
	var fleetCreatorUi = {
		container : null,
		ships:{},
		saveFleet(){
			var guid = lib.guid();
		
			fleetBuilderUi.createFleetUi(guid,this.nameContainer.value);
			battleCreatorUi.createFleetUi(guid,this.nameContainer.value);
			//this.ships.name = this.nameContainer.value;
			global.fleets[guid] = this.ships;
			this.restart();
		},
		start(){
			this.container = lib.makeNode("div");
			this.container.appendChild(lib.makeNode("h1","Fleet creator"));
			this.container.setAttribute("id", "title_menu");
			
			this.name = "Fleet name";
			this.nameContainer = lib.makeNode("input");
			this.nameContainer.value = this.name;	
			this.container.appendChild(this.nameContainer);	
			
			this.save = lib.makeNode("button","save");
			this.save.onclick = function(){this.saveFleet()}.bind(this);
			this.container.appendChild(this.save);	
		},
		restart(){
			this.ships = lib.clone(this.ships);
			for(ship in this.ships){
				this.set(ship,0);
			}
		},
		addShip(id){
			this.set(id,this.get(id)+1);
		},		
		createShipUi(id,name){
		
			var ship = lib.makeNode("div");
			ship.name = lib.makeNode("h3",name);
			ship.appendChild(ship.name);
			ship.amount = lib.makeNode("p",0);
			ship.appendChild(ship.amount);
			ship.add = lib.makeNode("button","add");
			ship.add.onclick = function(){this.addShip(id)}.bind(this);
			ship.appendChild(ship.add);		
			
			this.ships[id] = 0;
			
			this.container[id] = ship;
			this.container.appendChild(ship);
		},
		set(id,val){
			this.container[id].amount.innerHTML = val;	
			this.ships[id] = val;
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
	}	
	
	var battleCreatorUi = {
		container : null,
		doBattle(){
			battleCalculator.doBattle(this.fleet1,this.fleet2);
		},
		start(){
			this.container = lib.makeNode("div");
			this.container.appendChild(lib.makeNode("h1","Battle"));
			this.container.setAttribute("id", "title_menu");
			
			this.fleet1container = lib.makeNode("h3","Fleet1");				
			this.fleet2container = lib.makeNode("h3","Fleet2");
			
			this.container.appendChild(this.fleet1container);
			this.container.appendChild(lib.makeNode("h3","vs"));
			this.container.appendChild(this.fleet2container);	

			this.fight = lib.makeNode("button","FIGHT!");
			this.fight.onclick = function(){this.doBattle()}.bind(this);
			this.container.appendChild(this.fight);	
		},
		setFleet1(id,name){
			this.fleet1 = id;
			this.fleet1container.innerHTML = name;
		},
		setFleet2(id,name){
			this.fleet2 = id;
			this.fleet2container.innerHTML = name;
		},
		createFleetUi(id,name){		
			var resource = lib.makeNode("div");
			resource.name = lib.makeNode("h3",name);
			resource.appendChild(resource.name);
			resource.amount = lib.makeNode("p",0);
			resource.appendChild(resource.amount);	
			resource.f1 = lib.makeNode("button","Fleet1");
			resource.f1.onclick = function(){this.setFleet1(id,name)}.bind(this);
			resource.appendChild(resource.f1);	
			resource.f2 = lib.makeNode("button","Fleet2");
			resource.f2.onclick = function(){this.setFleet2(id,name)}.bind(this);
			resource.appendChild(resource.f2);	
			
			this.container[id] = resource;
			this.container.appendChild(resource);
		},
		get(id){
			return parseInt(this.container[id].amount.innerHTML);
		},	
		set(id,val){
			this.container[id].amount.innerHTML = val;
		},
	}
	
	var battleCalculator = {
		getShip(amount,guid){
			var old = global.shipTypes[guid];
			var ship ={
				amount:amount,
				firepower:old.FirePower,
				health:old.Armor
			}
			return ship;
		},
		getBattleFleet(fleetGuid){
			var fleet = global.fleets[fleetGuid];
			ships = []
			for (shipType in fleet) {
				if(fleet[shipType]>0){
					ships.push(this.getShip(fleet[shipType],shipType));
				}
			}
			return ships;
		},	
		tick(fleet1,fleet2){
			
		},
		doBattle(fleet1,fleet2){
			var f1 = this.getBattleFleet(fleet1);
			var f2 = this.getBattleFleet(fleet2);
			console.log(f1);
			console.log(f2);
		}
	}


	//main
	
	function update() {
		resourcesCalculator.update();
		
		setTimeout(function(){ update() },500); //requestAnimationFrame(update);
	}

	function world_screen() { 
		document.getElementById("game_screen").style.backgroundColor="#23f3f5";
		document.getElementById("buildings_row").style.display="none";
		document.getElementById("ship_creator_row").style.display="none";
		document.getElementById("ship_builder_row").style.display="none";
		document.getElementById("fleet_creator_row").style.display="none";
		document.getElementById("fleet_builder_row").style.display="none";
		document.getElementById("battle_creator_row").style.display="none";
		document.getElementById("sala_row").style.display="none";
	} 

	function buildings_menu() { 
		document.getElementById("game_screen").style.backgroundColor="#D358F7";
		document.getElementById("buildings_row").style.display="";
		document.getElementById("ship_creator_row").style.display="none";
		document.getElementById("ship_builder_row").style.display="none";
		document.getElementById("fleet_creator_row").style.display="none";
		document.getElementById("fleet_builder_row").style.display="none";
		document.getElementById("battle_creator_row").style.display="none";
		document.getElementById("sala_row").style.display="none";
 	} 	
 	function ship_creator() { 
		document.getElementById("game_screen").style.backgroundColor="#F7819F";
		document.getElementById("buildings_row").style.display="none";
		document.getElementById("ship_creator_row").style.display="";
		document.getElementById("ship_builder_row").style.display="none";
		document.getElementById("fleet_creator_row").style.display="none";
		document.getElementById("fleet_builder_row").style.display="none";
		document.getElementById("battle_creator_row").style.display="none";
		document.getElementById("sala_row").style.display="none";
 	} 
 	function ship_builder() { 
		document.getElementById("game_screen").style.backgroundColor="#01DF3A";
		document.getElementById("buildings_row").style.display="none";
		document.getElementById("ship_creator_row").style.display="none";
		document.getElementById("ship_builder_row").style.display="";
		document.getElementById("fleet_creator_row").style.display="none";
		document.getElementById("fleet_builder_row").style.display="none";
		document.getElementById("battle_creator_row").style.display="none";
		document.getElementById("sala_row").style.display="none";
 	} 
 	function fleet_creator() { 
		document.getElementById("game_screen").style.backgroundColor="#FACC2E";
		document.getElementById("buildings_row").style.display="none";
		document.getElementById("ship_creator_row").style.display="none";
		document.getElementById("ship_builder_row").style.display="none";
		document.getElementById("fleet_creator_row").style.display="";
		document.getElementById("fleet_builder_row").style.display="none";
		document.getElementById("battle_creator_row").style.display="none";
		document.getElementById("sala_row").style.display="none";
 	} 
	function fleet_builder() { 
		document.getElementById("game_screen").style.backgroundColor="pink";
		document.getElementById("buildings_row").style.display="none";
		document.getElementById("ship_creator_row").style.display="none";
		document.getElementById("ship_builder_row").style.display="none";
		document.getElementById("fleet_creator_row").style.display="none";
		document.getElementById("fleet_builder_row").style.display="";
		document.getElementById("battle_creator_row").style.display="none";
		document.getElementById("sala_row").style.display="none";
 	} 
 	function battle_creator() { 
		document.getElementById("game_screen").style.backgroundColor="#F4FA58";
		document.getElementById("buildings_row").style.display="none";
		document.getElementById("ship_creator_row").style.display="none";
		document.getElementById("ship_builder_row").style.display="none";
		document.getElementById("fleet_creator_row").style.display="none";
		document.getElementById("fleet_builder_row").style.display="none";
		document.getElementById("battle_creator_row").style.display="";
		document.getElementById("sala_row").style.display="none";
 	} 
 	function sala() { 
		document.getElementById("game_screen").style.backgroundColor="#FFFFFF";
		document.getElementById("buildings_row").style.display="none";
		document.getElementById("ship_creator_row").style.display="none";
		document.getElementById("ship_builder_row").style.display="none";
		document.getElementById("fleet_creator_row").style.display="none";
		document.getElementById("fleet_builder_row").style.display="none";
		document.getElementById("battle_creator_row").style.display="none";
		document.getElementById("sala_row").style.display="";
 	} 

	buildingsUi.start();
	buildingsUi.createBuildingUi(CONST.buildings.energyPlant)	;
	buildingsUi.createBuildingUi(CONST.buildings.mine)        	;
	buildingsUi.createBuildingUi(CONST.buildings.house)       	;
	buildingsUi.createBuildingUi(CONST.buildings.recycler)		;	
	buildingsUi.createBuildingUi(CONST.buildings.antenna)     	;
	buildingsUi.createBuildingUi(CONST.buildings.factory)     	;
	buildingsUi.createBuildingUi(CONST.buildings.lab)         	;
	buildingsUi.createBuildingUi(CONST.buildings.bunker)      	;
	
	resourcesUi.start();
	resourcesUi.createResourcesUi(CONST.resources.matter)      	;
	resourcesUi.createResourcesUi(CONST.resources.energy)      	;
	resourcesUi.createResourcesUi(CONST.resources.population)   ;
	resourcesUi.createResourcesUi(CONST.resources.waste)    	;
	
	
	global.start();
	
	shipCreatorUi.start();	
	shipBuilderUi.start();	
	fleetCreatorUi.start();	
	fleetBuilderUi.start();	
	battleCreatorUi.start();	
	
	resourcesCalculator.start();
	shipCalculator.start();
	menuLateral.start();
	gameScreen.start();
	salaScreen.start();
	
	
	
	// non isomorphic	
	var main = document.getElementById("main");	
												  
	main.appendChild(resourcesUi.container);
	main.appendChild(menuLateral.container);
	main.appendChild(gameScreen.container);

	var element = document.getElementById('game_screen');
	element.children[0].appendChild(buildingsUi.container);
	//main.appendChild(buildingsUi.container);

	element.children[1].appendChild(shipCreatorUi.container);
	//main.appendChild(shipCreatorUi.container);

	element.children[2].appendChild(shipBuilderUi.container);
	//main.appendChild(shipBuilderUi.container);

	element.children[3].appendChild(fleetCreatorUi.container);
	//main.appendChild(fleetCreatorUi.container);

	element.children[4].appendChild(fleetBuilderUi.container);
	//main.appendChild(fleetBuilderUi.container);

	element.children[5].appendChild(battleCreatorUi.container);
	//main.appendChild(battleCreatorUi.container);
	
	element.children[6].appendChild(salaScreen.container);

	update();
	

</script>