.languages {
  left:420px;
  position:absolute;
  top:-90px;
}

.options {
  margin-top: 200px;  
}

.options .btn {
  margin-bottom: 20px;
}

.list-inline {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

#menu_1 li a{
  color: white;
}

#menu_1 li a:hover{
  color: #151515;
}

.modal-header-black {
	color:white;
    padding:9px 15px;
    border:1px solid #fff;
    background-color: #151515;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.close {
    color: #fff; 
    opacity: 1;
}