<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../style/reset.css">
<link rel="stylesheet" type="text/css" href="../../style/base.css">
<link rel="stylesheet" type="text/css" href="../../style/components.css">
<link rel="stylesheet" type="text/css" href="../../style/pages.css">
<link rel="stylesheet" type="text/css" href="../../style/editor.css">

<script src="../game/lib/three.min.js"></script>
<script src="../game/lib/three.min.js"></script>
<script src="../game/lib/orbitcontrols.js"></script>
<script src="../game/lib/lib.js"></script>
<script src="../game/lib/text/spanish.js"></script>
<script src="../game/lib/text/spanishLong.js"></script>
<script src="../game/lib/text/englishLong.js"></script>

<script src="../game/const/const.js"></script>
<script src="../game/const/factions.js"></script>
<script src="../game/const/style.js"></script>
<script src="../game/draw/draw.js"></script>
<script src="../game/draw/events.js"></script>
<script src="../game/draw/materialsfactory.js"></script>
<script src="../game/draw/meshfactory.js"></script>
<script src="../game/factory.js"></script>
<script src="../game/global.js"></script>
<script src="../game/start.js"></script>
<script src="../game/templating.js"></script>

<script src="../../assets/shaders/explosion_fragment.js"></script>
<script src="../../assets/shaders/explosion_vertex.js"></script>
<script src="../../assets/shaders/metal_fragment.js"></script>
<script src="../../assets/shaders/metal_vertex.js"></script>

<script src="../map/draw.js"></script>
<script src="../map/maker.js"></script>
<script src="../map/menu.js"></script>

</head>

<body id="mainbody" class="l-main l-editor">
    <canvas></canvas>
    <div class="l-editor-column">
        <div>
            <h1>Map</h1>
        </div>
        <div>
			<h1>Generate map</h1>
			<table id="map_types">
				<tr>
					<td>Cloud</td>
					<td>Items</td>
					<td>0</td>
					<td onclick="">Generate</td>
				</tr>
			</table>
            <h1>Objects</h1>
			<table id="map_items">
				<tr>
					<td>Planet</td>
					<td>x</td>
					<td>0</td>
					<td>y</td>
					<td>0</td>
					<td>z</td>
					<td>0</td>
					<td onclick="">Add</td>
				</tr>
			</table>
        </div>
    </div>
</body>

<script src="main.js"></script>