<style>
* {
   margin: 0;
   padding: 0;
   border: 0;
}
</style>

<div class="row">
<canvas id="canvas1" width="800" height="500"></canvas>
</div>

<script src="http://threejs.org/build/three.min.js"></script>
<script src="../lib.js"></script>
<script src="../random.js"></script>
<script src="perlin.js"></script>
<script>

var CONST = {
	Tile : {
		x:100,y:100
	}
}

var Draw2d = {
	Fractal(ctx,ox,oy,sx,sy,points){
		var image = ctx.createImageData(sx,sy);
		var data = image.data;
		var i = 0;
		for (var x = 0; x < sx; x++) {
		  for (var y = 0; y < sy; y++) {
			var value = points[i];
			var cell = (x + y * sx) * 4;
			data[cell] = value.r*10;			
			data[cell + 1] = value.g*10;
			data[cell + 2] = value.b*10;		
			data[cell + 3] = 255; // alpha.
			i++;
		  }
		}	
		ctx.putImageData(image, ox, oy);
	}
}

var FractalFactory = {
	FractalPoint(x0,y0){ //X scale (-2.5, 1)) Y scale (-1, 1))
		var x = 0.0;
		var y = 0.0;
		var iteration = 0;
		var max_iteration = 1000;
		
		var rsquare = 0
		var isquare = 0
		var zsquare = 0
		while (rsquare + isquare <= 4  &&  iteration < max_iteration) {
		  x = rsquare - isquare + x0
		  y = zsquare - rsquare - isquare + y0
		  rsquare = x*x
		  isquare = y*y
		  zsquare = (x + y)*(x + y)
		  iteration = iteration + 1
		}	
		
		//return iteration;
		return {r:zsquare,g:rsquare,b:isquare};
	},
	Scale(x,o,f){
		return x * (f-o) + o;
	},
	ScalePoint(x,p,r){
		return FractalFactory.Scale(x,p-r,p+r);
	},
	ScaleX(x){
		return FractalFactory.Scale(x,-2.5,1);
		return FractalFactory.ScalePoint(x,0.16125,0.05);
	},
	ScaleY(y){
		return FractalFactory.Scale(y,-1,1);
		return FractalFactory.Scale(y,0.638438,0.6);
	},
	Fractal(sx,sy){
		var data = [];
		for (var x = 0; x < sx; x++) {
		  for (var y = 0; y < sy; y++) {
			var value = FractalFactory.FractalPoint(
				FractalFactory.ScaleX(x/sx),
				FractalFactory.ScaleY(y/sy));
				
			data.push(value);
		  }
		}
		return data;
	}
}


var canvas = document.getElementById('canvas1');
var ctx = canvas.getContext('2d');

var t1 = FractalFactory.Fractal(canvas.width,canvas.height);		
Draw2d.Fractal(ctx,0,0,canvas.width,canvas.height,t1);




</script>