<body>   
</body>   

   <script src="http://threejs.org/build/three.js"></script>
    <script src="http://threejs.org/examples/js/controls/OrbitControls.js"></script>


<script>
var options = {
  // parameters of the mandelbox
  fixedradius: -1.5,   // no idea
  minradius: 0.2,  // lowwering this makes the core more detailed
  scale: 5,  // zooms in or out (doesn't scale  the quality settings like depth/escape/detail)
  escape: 5, // how deep should we search the complex
  depth:20, // how many itteratins should we run before givving up
  detail: 200, // this to the power of three are the amount of cubes calculated

  // StartCamera position
  cameraX: 2,
  cameraY: 2,
  cameraZ: 2,

  // The box witch the mandel will be renderred in
  boxX: 0,
  boxY: 0,
  boxZ: 0,
  boxSize: 40,  
};






function iterate(vector){
	var n = 8;
	var x = vector.x;
	var y = vector.y;
	var z = vector.z;
	
	var r = Math.sqrt(x*x + y*y + z*z )
	var theta = Math.atan2(Math.sqrt(x*x + y*y) , z)
	var phi = Math.atan2(y,x)

	newx = Math.pow(r,n) * Math.sin(theta*n) * Math.cos(phi*n)
	newy = Math.pow(r,n) * Math.sin(theta*n) * Math.sin(phi*n)
	newz = Math.pow(r,n) * Math.cos(theta*n)
	return new THREE.Vector3(newx,newy,newz);
}

function test(point, escape, depth){
  var px = point.x;
  var py = point.y;
  var pz = point.z;
  for(var x = depth; x > 0;  x--){
    point=iterate(point);

    point.x = point.x + px;
    point.y = point.y + py;
    point.z = point.z + pz;

    if(escape > point.length()){
      return true;
    }
  }
  return false;
}

// box = [x, y, z, size]
function calculateBlocks(box, step, blocksize, escape, depth){
	size = box[3];
	startx = box[0] - size/2;
	starty = box[1] - size/2;
	startz = box[2] - size/2;
	endx = box[0] + size/2
	endy = box[1] + size/2
	endz = box[2] + size/2

	var drop = 0;
	var blocks = [];
	var point = new THREE.Vector3(0, 0, 0);
	for(var x = startx; x <= endx; x+=step){
	  for(var y = starty; y <= endy; y+=step){
	    for(var z = startz; z <= endz; z+=step){
	      point.set(x,y,z);
	      if( test(point, escape, depth) ){
	        blocks.push({x: x, y: y, z: z, vx:point.x,vy:point.y,vz:point.z});
	      }
	    }
	  }
	}

	return blocks;
}











console.log(options);

//setOptionsFromHash(options);


var scene = new THREE.Scene();
var camera = new THREE.PerspectiveCamera( 75, window.innerWidth/window.innerHeight, 0.1, 1000 );

camera.position.x = options.cameraX;
camera.position.y = options.cameraY;
camera.position.z = options.cameraZ;

var renderer = new THREE.WebGLRenderer();
var controls = new THREE.OrbitControls( camera, renderer.domElement );
renderer.setSize( window.innerWidth, window.innerHeight );
document.body.appendChild( renderer.domElement );

// mandelbox constants
var FIXEDRADIUS = options.fixedradius;
var MINRADIUS	= options.minradius;
var RADIUSRATIO = Math.sqrt(FIXEDRADIUS) / Math.sqrt(MINRADIUS);

//Mandelbox paraneters
var SCALE = options.scale;
var ESCAPE = options.escape; // how deep should we search the complex
var DEPTH = options.depth; // how many itteratins should we run before givving up

// Box to render the mandelbox in
var size = options.boxSize
var BOX = [options.boxX, options.boxY, options.boxZ, size];  // [x, y, z, size]
var STEP = size/options.detail; // how big should one point be
var BLOCKSIZE = STEP;//STEP*0.1 == trippy


var blocks =  calculateBlocks(BOX, STEP, BLOCKSIZE, ESCAPE, DEPTH); 

var mesh =  createMesh(blocks); 

scene.add(mesh);


var render = function () {
  requestAnimationFrame( render );
  renderer.render(scene, camera);
};

render();






function createMesh(blocks) {
  var vertices = [];
  var colors = [];
  this.blockSize = 1;
  
  if(blocks == null) {
    return;
  }


  var geometry = new THREE.BufferGeometry();
  var v = new THREE.BufferAttribute( new Float32Array( blocks.length * 6*6*3), 3 );  
  var vi = 0;
  for(var i = 0; i < blocks.length; i++) {
      var pos = blocks[i]

     
	    //botom      
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
    
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
    
      // top
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
    
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;

      // // front
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
    
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
    
      // // back
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
    
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
    

      // // left
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
    
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE-BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
    

      // // right
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
    
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE-BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
      v.setXYZ(vi, pos.x+BLOCKSIZE, pos.y+BLOCKSIZE, pos.z+BLOCKSIZE-BLOCKSIZE); vi++;
    
  }

  geometry.addAttribute( 'position', v );
  

  var material = new THREE.MeshNormalMaterial() //{ vertexColors: THREE.VertexColors });
  
  geometry.computeVertexNormals();
  geometry.computeFaceNormals();
  var mesh = new THREE.Mesh( geometry, material);

  mesh.position.x = 0;
  mesh.position.y = 0;
  mesh.position.z = 0;

  return mesh
};
//window.setInterval(rerender, 400)

// render code


///// controls
// var slider = document.getElementById("slider");
// slider.value = SCALE;
// slider.addEventListener("input", setSliderScale);
// SLIDERSCALE = 0;
// function setSliderScale(e){
// 	var target = (e.target) ? e.target : e.srcElement;
// 	SLIDERSCALE = target.value;
// }
</script>