<style>
* {
   margin: 0;
   padding: 0;
   border: 0;
   
}
.row{
	display:flex;
	flex-direction:row;
}
canvas{
	display: block;
	height:100%
}
</style>

<div class="row">
<canvas id="canvas1" width="256" height="256"></canvas>
<canvas id="canvas2" width="256" height="256"></canvas>
<canvas id="canvas3" width="10" height="10"></canvas>
</div>
<div class="row">
<canvas id="canvas4" width="10" height="10"></canvas>
<canvas id="canvas5" width="10" height="10"></canvas>
<canvas id="canvas6" width="10" height="10"></canvas>
</div>
<div class="row">
<canvas id="canvas7" width="10" height="10"></canvas>
<canvas id="canvas8" width="10" height="10"></canvas>
<canvas id="canvas9" width="10" height="10"></canvas>
</div>

<script src="perlin.js"></script>
<script>

noise.seed(Math.random());
var canvas = document.getElementById('canvas1');
Noise(canvas,0,0);
var canvas = document.getElementById('canvas2');
Noise(canvas,256,0);

function Noise(canvas,ox,oy){
	var ctx = canvas.getContext('2d');
	var image = ctx.createImageData(canvas.width, canvas.height);
	var data = image.data;
	
	for (var x = 0; x < canvas.width; x++) {
	  for (var y = 0; y < canvas.height; y++) {
		var value = Math.abs(noise.perlin2((x+ox) / 100, (y+oy) / 100));
		value *= 256;
		var cell = (x + y * canvas.width) * 4;
		data[cell] = data[cell + 1] = data[cell + 2] = value;
		data[cell] += Math.max(0, (25 - value) * 8);
		data[cell + 3] = 255; // alpha.
	  }
	}
	
	ctx.fillColor = 'black';
	ctx.fillRect(0, 0, 100, 100);
	ctx.putImageData(image, 0, 0);
}


</script>