<style>
* {
   margin: 0;
   padding: 0;
   border: 0;
}
</style>

<div class="row">
<canvas id="canvas1" width="2000" height="2000"></canvas>
</div>

<script src="http://threejs.org/build/three.min.js"></script>
<script src="../lib.js"></script>
<script src="../random.js"></script>
<script src="perlin.js"></script>
<script>

var CONST = {
	Tile : {
		x:100,y:100
	}
}

var Draw2d = {
	PaintAnyTile(ctx,ox,oy,sx,sy,points,blue){
		var image = ctx.createImageData(sx,sy);
		var data = image.data;
		var i = 0;
		for (var x = 0; x < sx; x++) {
		  for (var y = 0; y < sy; y++) {
			var value = points[i];
			var cell = (x + y * sx) * 4;
			data[cell] = 0;
			if(blue){
				data[cell + 1] = value;
				data[cell + 2] = 0;
			}
			else{
				data[cell + 1] = 0;
				data[cell + 2] = value;
			}			
			data[cell + 3] = 255; // alpha.
			i++;
		  }
		}	
		ctx.putImageData(image, ox, oy);
	},
	Tile(ctx,ox,oy,points,blue=true){
		var sx = CONST.Tile.x;
		var sy = CONST.Tile.y;	
		return Draw2d.PaintAnyTile(ctx,ox*sx,oy*sy,sx,sy,points,blue);
	},
	PaintPoint(ctx,point){
		ctx.beginPath();
		ctx.arc(point.x, point.y, 5, 0, 2 * Math.PI);		
		ctx.fillStyle = "#FF00FF";	
		ctx.fill();
	}
}

var TileFactory = {
	GenerateAnyTile(ox,oy,sx,sy){
		var data = [];
		for (var x = 0; x < sx; x++) {
		  for (var y = 0; y < sy; y++) {
			var value = noise.perlin2((x+ox) / 50, (y+oy) / 50);
			value *= 256;
			value += 128;			
			data.push(value);
		  }
		}
		return data;
	},
	Tile(ox,oy){
		var sx = CONST.Tile.x;
		var sy = CONST.Tile.y;	
		return TileFactory.GenerateAnyTile(ox*sx,oy*sy,sx,sy);
	},
	IsPointValid(point,points){
		var distance = 10;
		for(var i = 0; i < points.length; i++) {
			if(Geometry.PointInCircle(point.x,point.y,points[i].x,points[i].y,distance)){
				return false;
			}
		}
		return true;
	},
	AnyRandomPoints(rnd,amount,ox,oy,sx,sy){
		var points = [];
		for(var i = 0; i < amount; i++) {
			var point = { 
				x:Random.Range(rnd,ox,ox+sx),
				y:Random.Range(rnd,oy,oy+sy)
			};
			if(TileFactory.IsPointValid(point,points)){
				points.push(point);
			}
			else{
				i--;
			}
		}
		return points;
	},
	TilePoints(rnd,amount,ox,oy){
		var sx = CONST.Tile.x;
		var sy = CONST.Tile.y;	
		return TileFactory.AnyRandomPoints(rnd,amount,ox*sx,oy*sy,sx,sy);
	},
	Map(){
		var mapsize = 100;
		var map = TileFactory.GenerateAnyTile(0,0,mapsize,mapsize);
		var i = 0;
		for (var x = 0; x < mapsize; x++) {
			for (var y = 0; y < mapsize; y++) {
				var blue = map[i]>200;
				var t1 = TileFactory.Tile(x,y);
				Draw2d.Tile(ctx,x,y,t1,blue);
				i++;
			}
		}
	}
}


var rnd = Random.Create(42);
noise.seed(Random.Float(rnd));
var canvas = document.getElementById('canvas1');
var ctx = canvas.getContext('2d');

var mapsize = 3;
var map = TileFactory.GenerateAnyTile(0,0,mapsize,mapsize);
var i = 0;
for (var x = 0; x < mapsize; x++) {
	for (var y = 0; y < mapsize; y++) {
		var blue = map[i]>128;
		var t1 = TileFactory.Tile(x,y);		
		Draw2d.Tile(ctx,x,y,t1,blue);
		
		if(blue){
			var points = TileFactory.TilePoints(rnd,5,x,y);
			for(var i = 0; i < points.length; i++) {
				Draw2d.PaintPoint(ctx,points[i]);
			}
		}
		
		i++;
	}
}




</script>