<style>
* {
   margin: 0;
   padding: 0;
   border: 0;
   
}
.row{
	display:flex;
	flex-direction:row;
}
canvas{
	display: block;
	height:100%
}
</style>

<div class="row">
<canvas id="canvas1" width="256" height="256"></canvas>
<canvas id="canvas2" width="256" height="256"></canvas>
<canvas id="canvas3" width="10" height="10"></canvas>
</div>
<div class="row">
<canvas id="canvas4" width="256" height="256"></canvas>
<canvas id="canvas5" width="256" height="256"></canvas>
<canvas id="canvas6" width="10" height="10"></canvas>
</div>
<div class="row">
<canvas id="canvas7" width="10" height="10"></canvas>
<canvas id="canvas8" width="10" height="10"></canvas>
<canvas id="canvas9" width="10" height="10"></canvas>
</div>

<script src="perlin.js"></script>
<script>

var Colors = {
	Sea:{r:0,g:0,b:255},
	Beach:{r:255,g:255,b:0},
	BeachSubriver:{r:128,g:255,b:128},
	Town:{r:255,g:0,b:0},		
	Town2:{r:128,g:0,b:128},		
	Town3:{r:128,g:128,b:128},		
	Town4:{r:128,g:0,b:0},		
	TownSubriver:{r:0,g:0,b:0},		
	Forest:{r:0,g:255,b:0},		
	ForestLimit:{r:128,g:255,b:128},		
}

var seed = 1984 //Math.random()

noise.seed(seed);
var canvas = document.getElementById('canvas1');
Noise(canvas,0,0);
var canvas = document.getElementById('canvas2');
Noise(canvas,255,0);
var canvas = document.getElementById('canvas4');
Noise(canvas,0,255);
var canvas = document.getElementById('canvas5');
Noise(canvas,255,255);


function GetTownColor(x,y){
	var nx = Math.floor(x/4)/2;
	var ny = Math.floor(y/4)/2;
	var noised = Math.abs(noise.perlin2(x/2,y/2));	
	var noisedArea = Math.abs(noise.perlin2(nx,ny));
	
	if(noisedArea>=0 && noisedArea<=0.3){
		if(noised>=0 && noised<=0.05){
			return Colors.Town;	
		}
		else if(noised>0.05 && noised<=0.2){
			return Colors.Town3;	
		}
		else{
			return Colors.Town4;
		}
	}
	else{
		if(noised>=0 && noised<=0.2){
			return Colors.Town2;
		}
		else{
			return Colors.Town;
		}
	}
}


function GetColor(x,y){
	if(x<50){
		return Colors.Sea;
	}
	if(x==50){
		if(y%10==0){
			return Colors.BeachSubriver;
		}
		else{
			return Colors.Beach;
		}		
	}
	if(x>50 && x<100){
		if(y%10==0){
			return Colors.TownSubriver;
		}
		else{
			return GetTownColor(x,y);
		}
	}
	if(x==100){
		return Colors.TownSubriver;	
	}
	if(x>100 && x<200){
		return GetTownColor(x,y);
	}
	if(x==200){
		return Colors.ForestLimit;	
	}
	if(x>200){
		return Colors.Forest;	
	}
}

function Paint(data,x,y,color){
	var cell = (x + y * canvas.width) * 4;
	data[cell] = color.r;
	data[cell + 1] = color.g;
	data[cell + 2] = color.b;
	data[cell + 3] = 255; // alpha.
}

function Noise(canvas,ox,oy){
	var ctx = canvas.getContext('2d');
	var image = ctx.createImageData(canvas.width, canvas.height);
	var data = image.data;
	
	for (var x = 0; x < canvas.width; x++) {
		for (var y = 0; y < canvas.height; y++) {
			var color = GetColor(x+ox,y+oy);
			Paint(data,x,y,color);
		}
	}	
	ctx.imageSmoothingEnabled = false;

	ctx.fillColor = 'black';
	ctx.fillRect(0, 0, 100, 100);
	ctx.putImageData(image, 0, 0);
}


</script>