/* Fonts */
@font-face {
    font-family: 'ds_arabicregular';
    src: url('../assets/arabdances.woff2') format('woff2'),
         url('../assets/arabdances.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'buran_ussrregular';
    src: url('../assets/buran_ussr-webfont.woff2') format('woff2'),
         url('../assets/buran_ussr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tulisan_tangankuregular';
    src: url('../assets/tulisan_tanganku.woff2') format('woff2'),
         url('../assets/tulisan_tanganku.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'diogenesregular';
    src: url('../assets/diogenes.woff2') format('woff2'),
         url('../assets/diogenes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Variables */

:root {
	--faction_color:#C60C30;	
	--font:UnifrakturCook;	
	--fontsize:1em;	
	--color_main_back:#000000;
	--color_main_text:#8C0702;
	--color_secondary_back:#99846B;	
	--color_secondary_text:#000000;
	--color_tertiary_back:#D5B17D;	
	--color_detail_back:#8C0702;	
	--color_detail_text:#FFFFFF;
}

/* Global */

html *{
	font-family:var(--font);
	font-size:var(--fontsize);
}

body{
    height: 100%;
}
