/* Customs*/

.fleettable tr td:first-child{
	background-color:var(--color_secondary_back);
}
.playerrow td{
	opacity:.7;
}
.playerrow td:hover{
	opacity:.7;
}

/* Modal */
.modal {
	display: block;  /*Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 20px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
	background-color: var(--color_secondary_back);
	margin: auto;
	padding: 20px;
	width: 80%;
}

/* List */
.disabled{
	opacity: .2;
}
.disabled tr{
	opacity: .4;
}
.disabled tr:hover{
	opacity: .4;
}
.disabled td:hover{
	opacity: .2;
}
.disabled:hover{
	opacity: .2;
}
.active{
	background-color:var(--color_detail_back);
}
.unactionable td:hover{
	opacity: 1;
}
.unactionable:hover{
	opacity: 1;
}


/* Bars */
.bar_container{
	overflow-y: scroll;
}
.bar_container > div{
	display:flex;
	padding-bottom:6px;
}
.bar_container > div > div:first-child{
	width:70%;
	background-color:var(--color_tertiary_back);
	margin-right:6px;
}
.bar_container > div > div:first-child > div{
	background-color:var(--color_detail_back);
}
.bar_container > div > div:nth-child(2){
	width:30%;
	white-space: nowrap;
    text-overflow: ellipsis;	
	overflow: hidden;
}
		

/*table*/

table{
    width: 100%;
}
td{
	border:solid;
	background-color:var(--color_tertiary_back);
	padding:10px;
	text-align: center;
}
td:hover{
	opacity: .8;
}
td > *{
	width:100%;	
	background-color:var(--color_tertiary_back);
}
tr td:first-child{
	max-width:50%;
	text-align: start;
}
h1{
    font-size: 45px;
    margin-bottom: 10px;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
}
button{
	border:solid;
	padding:10px;
	margin-top:10px;
	background-color:var(--color_detail_back);
}