/* 2 columns */
.l-main{
	display: flex;
    flex-direction: row;
    background-color: var(--color_main_back);
	height: 100%;
}
.l-main > *{
    flex-direction: column;
}
.l-main > *:first-child{    
	width: calc(50% - 20px); 
	margin: 20px 0 20px 20px;
}
.l-main > *:nth-child(2){
	width: 50%;
}
#hamburger{
	display:none;
}
@media only screen and (max-width: 500px) {
	#hamburger{
		display:block;
		position:absolute;
		font-size:50px;
		right:0;
		background-color:white;
	}
	.l-main > *:first-child{
		margin: 0; 
		width: 100%;
	}
	.l-main > *:nth-child(2){
		margin: 0; 
		width: 100%;		
		position: fixed;
		z-index: 1;
		transition: 0.5s;
		display:none;
	}
}


/* Battle */
.l-battle > canvas{
	height:80%;		
	width:100%;	
	background-color:black;		
}	
.l-battle > div{
	height:20%;		
	width:100%;	
	background-color:var(--color_tertiary_back);		
	display:flex;
	flex-direction:row;
}	
.l-battle > div > div{
	width:20%;		
}	
.l-battle > div > div:nth-child(2){
	width:60%;	
	background-color:var(--color_secondary_back);			
}

/* Main menu page */
.l-mainmenu {
    text-align: center;
    background-color: var(--color_main_back);
    color: var(--color_main_text);
    flex-direction:row;
    display:flex;
	height: 100%;
	align-items: center;
}
.l-mainmenu h1{
    width: 50%;
	font-size:100px;
	padding-right:20px;
}
.l-mainmenu div{
    width: 50%;
    flex-direction:column;
    display:flex;
	padding: 20px;
}
.l-mainmenu button {
    font-size:25px;
	display:block;
}
.l-mainmenu button:hover{
	filter: brightness(50%);
}



/* Page layout 3 elements */
.l-three > div:first-child{
    padding: 10px;
    background-color: var(--color_secondary_back);
}
.l-three > div:nth-child(2) >div{
    margin: 20px;
    height: calc(50% - 50px);
    padding: 10px;    
    background-color: var(--color_secondary_back);
}

/* Page layout canvas 20 80 */
.l-canvas > div{
    width: 40%;
}
.l-canvas > canvas{
    width: 60%;
}
.l-canvas > div:nth-child(2) >div{
    margin: 20px;
    padding: 10px;    
}
.l-canvas > div:nth-child(2) >div:first-child{
    height: calc(25% - 50px);
	background-color: var(--color_tertiary_back);
}
.l-canvas > div:nth-child(2) >div:nth-child(2){
    height: calc(75% - 50px);
	background-color: var(--color_secondary_back);
}

/* Page layout 4 elements */
.l-four > div:first-child > div{
    padding: 10px;
}
.l-four > div:first-child > div:first-child{
    background-color: var(--color_tertiary_back);
    height: calc(20% - 50px);
    margin-bottom: 20px;
}
.l-four > div:first-child > div:first-child > input{
    background-color: var(--color_tertiary_back);
    font-size: 45px;
    width: 60%;
    margin-left:6px;
    vertical-align: middle;
}
.l-four > div:first-child > div:nth-child(2){
    background-color: var(--color_secondary_back);
    height: calc(80% - 50px);
}
.l-four > div:nth-child(2) >div{
    margin: 20px;
    height: calc(50% - 50px);
    padding: 10px;    
    background-color: var(--color_secondary_back);
}
.l-four canvas{
	width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
    margin: -10px;
}
/* Ships special modifier of l four*/
.l-four > .l-four-ships:first-child  > div:first-child{
	height: calc(25% - 50px);
}
.l-four > .l-four-ships:first-child  > div:nth-child(2){
	height: calc(75% - 50px);
	overflow-y: scroll;
}

/* Grid left detail right layout */
.l-grid{
	flex-direction:row;
    display:flex;
	background-color: var(--color_main_back);
	color: var(--color_detail_text);
	height: calc(100% - 80px);
}
.l-grid > div{
	width: 50%;
	padding:10px;
}
.l-grid > div:first-child{
	padding-right:0px;
	display: grid;	
	grid-template-columns: repeat(auto-fill, calc(100%/4) );
}
.l-grid > div:first-child > div{
	margin-right:10px;
	color: var(--color_main_text);
}
.l-grid > div:first-child > div:hover{
	opacity:.5;
}
.l-grid > div:nth-child(2){
	overflow-y:scroll;
}
.l-grid img {
    width:100%;
}
