<head>
<style>
	html, body {
		width: 100%;
		height: 100%;
	}

	body {
		background-color: #ffffff;
		margin: 0;
		overflow: hidden;
		font-family: arial;
	}

	#blocker {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
	}

	#instructions {
		width: 100%;
		height: 100%;
		display: box;
		box-orient: horizontal;
		box-pack: center;
		box-align: center;
		color: #ffffff;
		text-align: center;
		cursor: pointer;
	}

</style>
</head>

<body>
<script src="../scripts/lib/pointerLockControls.js"></script>
<script src="../scripts/lib/cannon.js"></script>
<script src="../scripts/lib/three.js"></script>
<script src="../scripts/random.js"></script>
<script src="../scripts/materialsFactory.js"></script>
<script src="../scripts/perlin.js"></script>
<script src="../scripts/lib.js"></script>
<script src="../shaders/fragment/dirt.js"></script>
<script src="../shaders/vertex/default.js"></script>
<script src="../js/proceduralGenerator.js"></script>
<script src="../js/treeFactory.js"></script>
<script src="../js/graphics.js"></script>
<script src="../js/phisics.js"></script>
<script src="../js/engine.js"></script>

<div id="blocker" style="display: -webkit-box;">
	<div id="instructions" style="">
		<span style="font-size:40px">Click to play</span>
		<br>
		(W,A,S,D = Move, SPACE = Jump, MOUSE = Look, CLICK = Shoot)
	</div>
</div>


<script>
var dt = 1/60;
var camera, scene, renderer, controls;
var time = Date.now();
var sphereBody, world;
Engine.Start();

</script>

</body>