<h1 style="text-align: center;">
	<%= factions[id].Name %>
</h1>

<img src="./<%= factions[id].Image %>.png" style="width: 120px;">

<p><%= factions[id].Intro %></p>

<% if (factions[id].Politics) { %>
	<img src="./<%= factions[id].Politics %>.png" style="width: 120px;">
<% } %>

<h3>Bonus</h3>
<% for(var i=0; i<factions[id].Bonus.length; i++) { %>
	<p><%= factions[id].Bonus[i] %></p>
<% } %>

<h3>Ciudades</h3>
<% for(var i=0; i<factions[id].Cities.length; i++) { %>
	<p><%= factions[id].Cities[i] %></p>
<% } %>

<h3>Heroes</h3>
<% for(var i=0; i<factions[id].Names.length; i++) { %>
	<p><%= factions[id].Names[i] %></p>
<% } %>

<h3>Historia</h3>
<p><%= factions[id].Story %></p>

<button onclick="SelectFaction(<%= id %>)">Elegir faccion</button>