<div class="w3-main w3-content w3-padding" style="max-width:1400px">
	<h1 style="text-align: center;">
		Elige tu faccion
	</h1>
	<div class="w3-row-padding w3-padding-16 w3-center">
		<% for(var i=0; i<factions.length; i++) { %>
			<a onclick="OpenFaction(<%= i %>)">
			<div class="w3-quarter" onclick="">
				<img src="./<%= factions[i].Image %>.png" style="width: 120px;">
				<h3><%= factions[i].Name %></h3>
				<p><%= factions[i].Government %>.</p>
				<p>Cultura: <%= factions[i].Culture %></p>
				<br>
			</div>
			</a>
		<% } %>
	</div>
</div>