﻿<h1 style="text-align: center;">
	<a id="LastMenu" style="text-align: left;">←</a> 
	Edificios
	<a id="NextMenu" style="text-align: right;">→</a>
</h1>
<div class="w3-row-padding w3-padding-16 w3-center">
	<% for(var i=0; i<buildings.length; i++) { %>
		<div class="w3-quarter" id="<%= buildings[i].Id %>">
			<img src="images/interface/<%= buildings[i].Image %>.png" style="width: 120px; height: 120px;">
			<h5><%= buildings[i].Name %></h5>
			<h6>Produce: <%= buildings[i].Produce %></h6>
			<h6>Consume: <%= buildings[i].Consume %></h6>
		</div>	
	<% } %>
</div>