<h1 style="text-align: center;">
	<a id="LastMenu" style="text-align: left;">←</a> 
	Flotas
	<a id="NextMenu" style="text-align: right;">→</a>
</h1>

<div class="w3-row-padding w3-padding-16 w3-center">

	<h1>
		<span>Primera flota</span> : <span>Ionia</span>
	</h1>

	<% for(var i=0; i<ships.length; i++) { %>

		<div>
			<h2><%= ships[i].Name %></h2>
			<a>Edit</a>
			<a>Remove</a>
			
			<table>
			<tr>
				<td>		
					<table>
					<tr>
						<td>FPW</td><td><%= ships[i].FPW %></td>
						<td>ARM</td><td><%= ships[i].ARM %></td>
						<td>SPD</td><td><%= ships[i].SPD %></td>
					</tr>           	                
					<tr>            	                
						<td>FSP</td><td><%= ships[i].FSP %></td>
						<td>ELD</td><td><%= ships[i].ELD %></td>
						<td>PRC</td><td><%= ships[i].PRC %></td>
					</tr>          	                    
					<tr>           	                    
						<td>PCP</td><td><%= ships[i].PCP %></td>
						<td>EVS</td><td><%= ships[i].EVS %></td>
						<td>AUT</td><td><%= ships[i].AUT %></td>
					</tr>           	                
					<tr>            	                
						<td>ELA</td><td><%= ships[i].ELA %></td>
						<td>CMF</td><td><%= ships[i].CMF %></td>
						<td>CRG</td><td><%= ships[i].CRG %></td>
					</tr>
					</table>		
				</td>
				<td>
					<table>
					<tr>
						<td>Activas</td>				<td><input type="number" value="<%= ships[i].Active %>"></td>
					</tr>         	
					<tr>          	
						<td>Reserva</td>				<td><input type="number" value="<%= ships[i].Reserve %>"></td>
					</tr>	
					<tr>          	
						<td>En otra flota</td>			<td><input type="number" value="<%= ships[i].OtherFleet %>" disabled></td>
					</tr>	
					<tr>          	
						<td>En construccion</td>		<td><input type="number" value="<%= ships[i].Construction %>" disabled></td>
					</tr>
					</table>	
				</td>
			</tr>
			</table>
		</div>
		
	<% } %>
	
	<!--

		<% if (ships.length>0) { %>
			<h3>Add ship</h3>

			<select>
			<% for(var i=0; i<ships.length; i++) { %>
				<option value="<%= ships[i].Name %>"><%= ships[i].Name %></option>	
			<% } %>
			</select>
		<% } %>
	
	-->
	 
	<h3><a onclick="OpenMenu(3);">New ship type</a></h3>
	<h3><a onclick="SaveFleet();">Save fleet</a></h3>

</div>