<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<% for(var i=0; i<menu.length; i++) { %>
		<a onclick="OpenMenu(<%= i %>);"><%= menu[i] %></a>
	<% } %>
</div>

<div id="main">
	<div id="container" style="position: absolute; left:0px; top:0px"></div>

	<div id="menu" style="display:none;">
		<div class="outer" style="margin-top:5%">
			<div class="middle">
				<div id="menucontainer" class="inner"></div>
			</div>
		</div>
	</div>

	<div id="topbar">
		<ul>
			<li><a onclick="openNav();">MENU</a></li>

			<li><a>👫 <%= poblacion %> <span id="poblacion">0</span></a></li>
			<li><a>⚛ <%= materia %> <span id="materia">0</span></a></li>
			<li><a>🔩 <%= restos %> <span id="restos">0</span></a></li>
			<li><a>⚡ <%= energia %> <span id="energia">0</span></a></li>
			<li style="float:right"><a onclick="CloseMenu();"><%= cerrar %></a></li>
		</ul>
	</div>
</div>