<div class="supermenu">
<div class="maindiv">
	<table>
	<tr>
	<td><button class="metal linear actbutton" onclick="setSize(1)">1</button></td>
	<td><button class="metal linear actbutton" onclick="setSize(2)">2</button></td>
	<td><button class="metal linear actbutton" onclick="setSize(4)">4</button></td>
	<td><button class="metal linear actbutton" onclick="setSize(8)">8</button></td>
	</tr>
	</table>

	<table>
	<tr>
	<td><button id="b1" class="metal" draggable="true" ondragstart="drag(event,1)" title="Arma"></button></td>
	<td><button id="b2" class="metal" draggable="true" ondragstart="drag(event,2)" title="Municion"></button></td>
	<td><button id="b3" class="metal" draggable="true" ondragstart="drag(event,3)" title="Blindaje"></button></td>
	<td><button id="b4" class="metal" draggable="true" ondragstart="drag(event,4)" title="Motor"></button></td>
	</tr>
	<tr>
	<td><button id="b5" class="metal" draggable="true" ondragstart="drag(event,5)" title="Deposito"></button></td>
	<td><button id="b6" class="metal" draggable="true" ondragstart="drag(event,6)" title="Tripulante"></button></td>
	<td><button id="b7" class="metal" draggable="true" ondragstart="drag(event,7)" title="Receptor"></button></td>
	<td><button id="b8" class="metal" draggable="true" ondragstart="drag(event,8)" title="Emisor"></button></td>
	</tr>
	<tr>
	<td><button id="b0" class="metal" draggable="true" ondragstart="drag(event,0)"></button></td>
	<td><button id="bi" class="metal linear actbutton" onclick="getRandomShip()">?</button></td>	
	</tr>
	</table>
</div>
<h1 id="name"></h1>
<div class="maindiv metal linear">
	<table>
	<tr>
	<td><button id="0" name="k1" class="metal linear" ondrop="drop(event,1)" ondragover="allowDrop(event)"></button></td>
	<td><button id="1" name="k2" class="metal linear" ondrop="drop(event,2)" ondragover="allowDrop(event)"></button></td>
	<td><button id="2" name="k4" class="metal linear" ondrop="drop(event,3)" ondragover="allowDrop(event)"></button></td>
	<td><button id="3" name="k4" class="metal linear" ondrop="drop(event,4)" ondragover="allowDrop(event)"></button></td>
	</tr>
	<tr>
	<td><button id="4" name="k8" class="metal linear" ondrop="drop(event,5)" ondragover="allowDrop(event)"></button></td>
	<td><button id="5" name="k8" class="metal linear" ondrop="drop(event,6)" ondragover="allowDrop(event)"></button></td>
	<td><button id="6" name="k8" class="metal linear" ondrop="drop(event,7)" ondragover="allowDrop(event)"></button></td>
	<td><button id="7" name="k8" class="metal linear" ondrop="drop(event,8)" ondragover="allowDrop(event)"></button></td>
	</tr>
	</table>
</div>

<div class="text">
	<p>Potencia de fuego: <span id="prop1"></span>%</p>
	<p>Cadencia de fuego: <span id="prop2"></span>%</p>
	<p>Precision: <span id="prop3"></span>%</p>
	<p>Ataque electronico: <span id="prop4"></span>%</p>   
</div>
<div class="text">
	<p>Resistencia: <span id="prop5"></span>%</p>
	<p>Defensa electronica: <span id="prop6"></span>%</p>
	<p>Evasion: <span id="prop7"></span>%</p>
	<p>Camuflage: <span id="prop8"></span>%</p>
</div>
<div class="text">
	<p>Velocidad: <span id="prop9"></span>%</p>
	<p>Percepcion: <span id="prop10"></span>%</p>
	<p>Autonomia: <span id="prop11"></span>%</p>
	<p>Capacidad de carga: <span id="prop12"></span>%</p>
</div>

<button class="metal linear actbutton" onclick="saveShip()">SAVE</button>

</div>