html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  height:100%;
  display: table;
  width: 100%;
}
html{
  height:100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content{
  overflow: auto;
  background-color: #F3F3F3;
  width:100%;
  padding-bottom: 40px;

  .white-background{
    background: #FFF;
    border: .125rem solid #E8E8E8;
    margin-bottom: 15px;
    padding-bottom: 0.3rem;
    padding-top: 0.5rem;
    position: relative;
    padding-left: 4px;
    padding-right:4px;
  }
}

footer{
  font-family: "Arial",Arial,"Helvetica",Helvetica,sans-serif;
  display: table-row;
  height: 1px;
  width: 100%;
  background-color: #1C1C1C;
  color: white;
  text-align: center;

  .logo-wrapper{
    margin-top: 20px;

    @media only screen and (min-width: 1200px) {
     text-align: left;
      margin-left: calc(50% - 620px);
    }

  }

  .copright-wrapper{
    margin: .625rem 0 .9375rem;
    font-size: .6875rem;
  }
}

footer:before, footer:after {
  content: " ";
  display: table;
}

footer:after {
  clear: both;
}


.page-wrapper{

  width: 88%;
  margin-right:auto;
  margin-left:auto;
  padding-top: 10px;
  overflow: hidden;

  @media only screen and (min-width: 64.063em) {
    max-width: 915px;

    &.detail-page{
      max-width: 1270px;
    }

  }
}

.display-bar{
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #363D41;
  margin-bottom: 16px;
  margin-top:16px;
}

header{
  text-align: center;
  padding: 10px;
  border: .0625rem solid #E8E8E8;
}

.back-to-top{
  cursor: pointer;
  position: fixed;
  right: 40px;
  bottom: 116px;
  display:none;
  width: 50px;
  height: 50px;
  background-color: #1C1C1C;
  color: white;
  line-height: 50px;
  font-size: 36px;
  border-radius: 26px;

  &:hover{
    opacity: 0.7;
  }
}

.car-name{
  font-weight: bold;
  line-height: normal;
  display: block;
  font-size: 1rem;
  color: black;
}

.car-price{
  color: #F36519;
  font-weight: bold;
  font-size: 1rem;
}

.car-location{
  color: #757575;
  font-size: .75rem;
}

.car-clickable{

  text-decoration: none;

  .car-wrapper{

    .car-image{
      max-width: 255px;
      img{
        width: 100%;
        height: 100%;
        height: auto;
      }
     }

    .car-details{
      font-family: "Arial",Arial,"Helvetica",Helvetica,sans-serif;

      .car-price{margin-top: 4px;}
      .car-location{
        margin-top: 6px;
        margin-left: -4px;
      }

    }

    @media only screen and (min-width: 380px){
      overflow: hidden;

      .car-image{
        float:left;
        width: 27%;
        img{
          height: 100%;
        }
      }

      .car-details{
        float: left;
        width: 72%;
        margin-top: 10px;

        .car-name{
          display: inline;
          float: left;
          margin-left:10px;
        }
        .car-price{
          display: inline;
          float: right;
          margin-top: 0;
        }
        .car-location{
          display: block;
          margin-top:30px;
          margin-left:3px;
        }
      }

    }



  }

}

.pagination-numbers{

    text-align: center;

    span {
      float: none;
      display: inline-block;
      color: #222;
      font-size: .875rem;
      margin-left: .3125rem;
      cursor: pointer;
      border-radius: 4px;
      line-height: 1.5rem;
      padding-left: .5rem;
      padding-right: .5rem;

      &:hover{
        background: #006FC1;
        color: #FFF;
      }

      &.active{
        background: #006FC1;
        color: #FFF;
        font-weight: bold;

        &:hover{
         cursor: default;
        }
      }

      &.dotdot{
        cursor: default;
        color:black;
        &:hover{
          background: none;
          color: black;
        }
      }
    }
}

.pagination-wrapper{
  overflow: hidden;

  @media only screen and (min-width: 43.803em) {
    margin-top: 58px;

    .pagination-buttons{
      margin-top: 54px;
    }
  }
}
.pagination-buttons{

    margin-top: 15px;

    .btn{
      text-align: center;
      cursor: pointer;
      margin-top: 14px;
      font-size: .75rem;
      line-height: 2.1875rem;
      text-align: center;
      padding: 0 1.25rem;
    }

    .btn-next{
      background: #006FC1;
      color: #FFF;

      &:hover{
        background: white;
        color: black;
      }
    }

    .btn-prev{
      background: white;
      border: 1px solid black;

      &:hover{
        background: #006FC1;
        color: #FFF;
      }
    }

    @media only screen and (min-width: 43.803em){
      .btn{
        display: inline-block;
      }
      .btn-next{
       float: right;
      }

      .btn-prev{
        float: left;
      }
    }
}

input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom:10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  padding: 10px;
  border: solid 1px gainsboro;
}

.detail-page{

  font-family: "Arial",Arial,"Helvetica",Helvetica,sans-serif;
  padding-top: 60px;

  .car-name{
    margin-bottom:20px;
  }

  .details{

    .car-location {margin-left: -4px;}

    .car-description {font-size: 14px;}

    div {  margin-bottom:10px;}

  }

  .car-images{
    padding: 0;

    .main-image img{
      width:100%;
    }

    .thumbnails{

      height: 3.25rem;

      div {display: inline-block;}

      .images{

        height:100%;
        padding-left: 15px;

        img{
          width: 3.25rem;
          height: 3.25rem;
          cursor: pointer;
        }

      }

      .thumbnail{
        filter: initial;
        opacity: initial;
        position: relative;
        top: 0;
        display: block;
        padding: 1.625rem;
        text-decoration: none;
        line-height: inherit;
        background: transparent;
        box-sizing: border-box;
        background-color: #006FC1;
        cursor: pointer;
      }

      .thumbnail-nxt{
        float: right;
      }
      .thumbnail-prev{
        float: left;
      }


      .thumbnail-nxt:after{
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: .625rem solid transparent;
        border-left-color: #006FC1;
        top: 1.0625rem;
        left: 1.4375rem;
        z-index: 1;
      }

      .thumbnail-nxt:before{
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: .625rem solid transparent;
        border-left-color: #FFF;
        top: 1.0625rem;
        left: 1.5rem;
        z-index: 1;
      }


      .thumbnail-prev:after{
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: .625rem solid transparent;
        border-right-color: #006FC1;
        left: .6875rem;
        top: 1.0625rem;
        z-index: 1;
      }

      .thumbnail-prev:before{
        content: '';
        height: 0;
        position: absolute;
        width: 0;
        border: .625rem solid transparent;
        border-right-color: #FFF;
        left: .625rem;
        top: 1.0625rem;
        z-index: 1;
      }
    }
  }

  @media only screen and (min-width: 35em) {
    .thumbnails{
      padding: 30px 15px 30px 15px;
    }
  }

  @media only screen and (min-width: 35em) {
    .car-images{
      width: 64%;
      float: left;
      display: inline-block;
    }

    .details{
      width: 25%;
      float: right;
      display: inline-block;
      overflow-y: auto;
      padding: 20px 30px 20px 20px;
    }

  }

  @media only screen and (min-width: 65em) {
    .car-images{
      width: 710px;
      float: left;
      display: inline-block;
    }

    .details{
      width: 303px;
      float: right;
      display: inline-block;
      overflow-y: auto;
      padding: 20px 30px 20px 20px;
      height: 545px;

      .car-description{
        margin-top: 35px;
        margin-bottom: 0;
      }

    }

  }

}