body{
	padding:0;
	margin:0;
	border:0;
	font-family:sans-serif;
	backgrond-color:black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
} 

.active {
    background-color: #4CAF50;
}

.outer {
    display: table;
    position: absolute;
   
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 90%;
	color:white;
	background-color:#333;
}

/* shipbuilder */

h1{
	font-size:40;
	margin:0;
}

p{
	padding:0;
	margin:0;
	border:0;
}

button { 
	border: none; 
	display: block; 
	width:64px;
	height:64px;
	font-size:80;
}

.text {
	position: relative;
	outline: none;

	text-align: left;
	color: hsla(0,0%,20%,1);
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

	background-color: hsl(0,0%,90%);
	box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
	inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
	inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
	inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

	hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
	hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 

	transition: color .2s;
	float:left;
	padding:1%;
	
}

.metal {
	position: relative;
	outline: none;

	text-align: center;
	color: hsla(0,0%,20%,1);
	text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

	background-color: hsl(0,0%,90%);
	box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
	inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
	inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
	inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

	hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
	hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 

	transition: color .2s;
}

.metal.linear {
	border-radius: .5em;
	background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
	-webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
	-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

	linear-gradient(180deg, hsl(0,0%,78%)  0%, 
	hsl(0,0%,90%) 47%, 
	hsl(0,0%,78%) 53%,
	hsl(0,0%,70%)100%);
}

.actbutton:active {
	color: hsl(210, 100%, 40%);
	text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
	box-shadow: 
	inset hsla(210,100%,30%,  1) 0  0px 0px 4px, /* border */
	inset hsla(210,100%,15%, .4) 0 -1px 5px 4px, /* soft SD */
	inset hsla(210,100%,20%,.25) 0 -1px 0px 7px, /* bottom SD */
	inset hsla(210,100%,100%,.7) 0  2px 1px 7px, /* top HL */

	hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
	hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
	hsla(210,80%,95%,   1) 0  5px 6px 4px; /* outer HL */
}
.maindiv{
	float:left;
	padding:5%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}