<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<button onclick="clean()">clean</button>
<img src="full.png" id="img">

<pre id="output"></pre>

<canvas id="canvas">



<script>

var buildings = [
	{x:12	,y:140	,w:4	,h:5	,syc:2	,n:"house"},
	{x:12	,y:148	,w:4	,h:8	,syc:4	,n:"tallhouse"},
	{x:12	,y:159	,w:7	,h:7	,syc:2	,n:"l"},
	{x:12	,y:169	,w:7	,h:7	,syc:2	,n:"p"},
	{x:12	,y:179	,w:4	,h:10	,syc:2	,n:"vertical"},
	{x:12	,y:192	,w:6	,h:8	,syc:2	,n:"horizontal"},
	{x:12	,y:201	,w:3	,h:8	,syc:5	,n:"tower"},
	{x:12	,y:212	,w:8	,h:7	,syc:2	,n:"bighouse"},
	{x:12	,y:222	,w:3	,h:7	,syc:6	,n:"column"},
	{x:12	,y:232	,w:2	,h:4	,syc:2	,n:"extension"},
	{x:12	,y:239	,w:1	,h:1	,syc:0	,n:"block"}
]


var locations = [
	{x:8	,y:70	,w:74	,h:50	,n:"world_map"},
	//{x:725	,y:227	,w:148	,h:100	,n:"world_map"},
	
	{x:161	,y:11	,w:64	,h:40	,n:"tornstad_0"},
	{x:161	,y:67	,w:64	,h:40	,n:"tornstad_1"},
	{x:160	,y:121	,w:64	,h:40	,n:"tornstad_2"},
	{x:160	,y:183	,w:64	,h:40	,n:"syntrivani"},
	{x:160	,y:245	,w:64	,h:40	,n:"zerua_top"},
	{x:161	,y:305	,w:64	,h:40	,n:"drosia"},
	{x:161	,y:366	,w:64	,h:40	,n:"voreios"},
	{x:162	,y:425	,w:64	,h:40	,n:"calafort"},
	{x:162	,y:486	,w:64	,h:40	,n:"miestas_underground"},
	{x:161	,y:546	,w:64	,h:40	,n:"vindstad"},
	
	{x:246	,y:245	,w:64	,h:40	,n:"ahaztuta"},
	{x:246	,y:306	,w:64	,h:40	,n:"havsstad"},
	{x:246	,y:366	,w:64	,h:40	,n:"hiri_berria"},
	{x:246	,y:425	,w:64	,h:40	,n:"mhargadh"},
	{x:246	,y:486	,w:64	,h:40	,n:"foraoise"},
	{x:245	,y:546	,w:64	,h:40	,n:"kariai_base"},
	
	{x:403	,y:14	,w:32	,h:20	,n:"hogt"},
	{x:403	,y:51	,w:32	,h:20	,n:"sjo"},
	{x:404	,y:87	,w:32	,h:20	,n:"kant"},
	{x:405	,y:126	,w:32	,h:20	,n:"dal"},
	{x:405	,y:164	,w:32	,h:20	,n:"kyrkor"},
	{x:406	,y:200	,w:32	,h:20	,n:"chadach"},
	{x:407	,y:239	,w:32	,h:20	,n:"droichead"},
	{x:406	,y:278	,w:32	,h:20	,n:"sean"},
	{x:407	,y:314	,w:32	,h:20	,n:"og"},
	{x:408	,y:353	,w:32	,h:20	,n:"inis"},
	{x:408	,y:392	,w:32	,h:20	,n:"teorann"},
	{x:409	,y:428	,w:32	,h:20	,n:"skull_island"},
	
	{x:551	,y:9	,w:128	,h:60	,n:"zerua"},
	{x:551	,y:89	,w:128	,h:60	,n:"kronstad"},
	{x:551	,y:173	,w:128	,h:60	,n:"namas"},
	{x:551	,y:258	,w:128	,h:60	,n:"chaislean"},
	{x:551	,y:344	,w:128	,h:60	,n:"neam"},
	{x:552	,y:432	,w:128	,h:60	,n:"erelis"},
	{x:551	,y:518	,w:128	,h:60	,n:"vilkas"},
	
	{x:725	,y:8	,w:128	,h:120	,n:"miestas"},
	{x:726	,y:91	,w:128	,h:120	,n:"pankosmia"},
	
	{x:941	,y:8	,w:128	,h:60	,n:"vindstad_cave"},
	{x:941	,y:91	,w:128	,h:60	,n:"dal_cave"},
	{x:942	,y:174	,w:128	,h:60	,n:"plain_forest"},
	{x:942	,y:259	,w:128	,h:60	,n:"foraoise_forest"},
	{x:942	,y:342	,w:128	,h:60	,n:"forgotten_island_forest"},
	{x:943	,y:425	,w:128	,h:60	,n:"raiders_island"},
	
	{x:1057	,y:9	,w:64	,h:40	,n:"two_valley_cave"},
	{x:1057	,y:70	,w:64	,h:40	,n:"zerua_cave"},
	{x:1056	,y:130	,w:64	,h:40	,n:"vindstad_forest"},
	{x:1057	,y:189	,w:64	,h:40	,n:"pass_of_death"},
	{x:1057	,y:250	,w:64	,h:40	,n:"hidden_forest"},
	{x:1056	,y:310	,w:64	,h:40	,n:"hogt_cave"},
	
	{x:1150	,y:10	,w:32	,h:20	,n:"syntrivani_cave"},
	{x:1150	,y:52	,w:32	,h:20	,n:"drosia_cave"},
	{x:1150	,y:97	,w:32	,h:20	,n:"widow_house"},
	{x:1150	,y:139	,w:32	,h:20	,n:"valley_forest"}
]

var COLORS = [
	{"r": "6","g": "6","b": "122"},       //w sea
	{"r": "74","g": "46","b": "16"},      //w mount
	{"r": "127","g": "32","b": "36"},     //w city
	{"r": "171","g": "171","b": "171"},   //w grass
	{"r": "158","g": "133","b": "48"},    //w desert
	{"r": "43","g": "43","b": "43"},      //w wall
	{"r": "98","g": "57","b": "98"},      //w ruin
	{"r": "32","g": "148","b": "32"},     //w forest
	{"r": "63","g": "72","b": "204"},     //house s
	{"r": "163","g": "73","b": "164"},    //house l
	{"r": "0","g": "162","b": "232"},     //house p
	{"r": "0","g": "0","b": "255"},       //house q
	{"r": "237","g": "28","b": "36"},     //road
	{"r": "112","g": "146","b": "190"},   //house v
	{"r": "200","g": "191","b": "231"},   //house h
	{"r": "153","g": "217","b": "234"},   //tower
	{"r": "185","g": "122","b": "87"},    //big
	{"r": "255","g": "201","b": "14"},    //column
	{"r": "255","g": "174","b": "201"},   //pilar
	{"r": "255","g": "242","b": "0"},     //object
	{"r": "181","g": "230","b": "29"},    //water
	{"r": "254","g": "255","b": "255"},   //nothing
	{"r": "75","g": "33","b": "75"},      //dark
	{"r": "203","g": "137","b": "203"},   //c path
	{"r": "119","g": "51","b": "70"},     //c wall
	{"r": "156","g": "20","b": "108"},    //entry
	{"r": "81","g": "95","b": "52"},      //leaves
	{"r": "199","g": "153","b": "103"},   //root
	{"r": "91","g": "60","b": "28"},      //trunk
	{"r": "88","g": "252","b": "186"},    //door
	{"r": "112","g": "150","b": "252"},   //me on r
	{"r": "132","g": "254","b": "41"},    //npc on r
	{"r": "170","g": "55","b": "0"},      //npc off
	{"r": "79","g": "141","b": "69"},     //talk on r
	{"r": "169","g": "165","b": "1"},     //talk off
	{"r": "0","g": "0","b": "0"},         //unused b
	{"r": "127","g": "127","b": "127"},    //unused g
	{"r": "255","g": "81","b": "81"},     //w citycentre
	{"r": "210","g": "68","b": "210"},    //w cave
]

var COLORS2 = [
	{"r": "79","g": "141","b": "69"},     //stein+
	{"r": "170","g": "55","b": "0"},      //door+
	{"r": "169","g": "165","b": "1"},     //b+nothing
	{"r": "132","g": "254","b": "41"},    //d u
	{"r": "4","g": "187","b": "114"},     //b l
	{"r": "88","g": "252","b": "186"},    //b l u
	{"r": "2","g": "23","b": "81"},       //d
	{"r": "112","g": "150","b": "252"},   //d l
	{"r": "209","g": "112","b": "252"},   //b u
	{"r": "188","g": "5","b": "142"},     //d l u
	{"r": "172","g": "83","b": "83"},     //nothing
	{"r": "99","g": "54","b": "148"},     //base
	{"r": "239","g": "228","b": "176"}    //roof
]

var saveData = (function () {
    var a = document.createElement("a");
    document.body.appendChild(a);
    a.style = "display: none";
    return function (data, fileName) {
        var json = JSON.stringify(data),
            blob = new Blob([json], {type: "octet/stream"}),
            url = window.URL.createObjectURL(blob);
        a.href = url;
        a.download = fileName;
        a.click();
        window.URL.revokeObjectURL(url);
    };
}());
 


function loaded() {
	var data = GetGrid(locations);
	data = GetGrid(buildings);
}
function clean() {
	var data = GetGrid(locations);
	saveData(data, "locations.json");
	data = GetBuildingsGrid(buildings);
	saveData(data, "buildings.json");
}

img.addEventListener('load', loaded)

function MatchColor(r,g,b,color){
	return r == color.r &&b == color.b &&g == color.g;
}

function GetColor(r,g,b,COLORS){
	for (var i = 0; i < COLORS.length; i++) {
		if(MatchColor(r,g,b,COLORS[i])){
			return i//COLORS[i].v;
		}
	}
	/*COLORS[COLORS.length] = {
		r:r,
		g:g,
		b:b,
		v:COLORS.length
	};*/
	return COLORS.length;
}

function PaintPixel(pixels,x,y,r,g,b,size){

	var off = (y * size*3 + x) * 4;
	pixels[off] = r;
	pixels[off + 1] = g;
	pixels[off + 2] = b;
	pixels[off + 3] = 255;
}

function GetGrid(locations){
	canvas.width = img.width;
	canvas.height = img.height;
	canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height);

	var pixelData = canvas.getContext('2d');
	var e = pixelData.getImageData(0, 0, canvas.width, canvas.height);

	
	console.log(e)
	
	var result = {}
	
	for(var i=0;i<locations.length;i++){
		var pixels = GetData(COLORS,locations[i].x,locations[i].y,locations[i].w,locations[i].h,e,canvas.width);
		result[locations[i].n] = {
			w:locations[i].w,
			h:locations[i].h,
			type:locations[i].type,
			data:pixels
		}
	}
	
	console.log(result)
	output.innerHTML = result;
	return result;
	
}

function GetBuildingsGrid(locations){
	canvas.width = img.width;
	canvas.height = img.height;
	canvas.getContext('2d').drawImage(img, 0, 0, img.width, img.height);

	var pixelData = canvas.getContext('2d');
	var e = pixelData.getImageData(0, 0, canvas.width, canvas.height);

	
	console.log(e)
	
	var result = {}
	
	for(var i=0;i<locations.length;i++){
		var w = GetData(COLORS2,locations[i].x,locations[i].y,locations[i].w,locations[i].h,e,canvas.width);
		var d = GetData(COLORS2,locations[i].x+1+locations[i].w,locations[i].y,locations[i].w,locations[i].h,e,canvas.width);
		var c = GetData(COLORS2,locations[i].x+2+locations[i].w*2,locations[i].y,locations[i].w,locations[i].h,e,canvas.width);
		
		result[locations[i].n] = {
			sx:locations[i].w,
			sy:locations[i].h,			
			syc:locations[i].syc,			
			d:d,
			w:w,
			c:c
		}
	}
	
	console.log(result)
	output.innerHTML = result;
	return result;
	
}

function GetData(COLORS,w,h,sx,sy,e,canvasWidth){	
	var matrix = []
	for (var i = h; i < sy+h; i++) {
		for (var j = w; j < sx+w; j++) {
			
			var r = e.data[ i*canvasWidth*4 + j*4 ];
			var g = e.data[ i*canvasWidth*4 + j*4 +1];
			var b = e.data[ i*canvasWidth*4 + j*4 +2];
			
			var color = GetColor(r,g,b,COLORS)
			matrix.push(color)
		}		
	}
	return matrix;
}


</script>
