<style>

</style>

<div id="output">Hello there</div>
<ul id="inputs">
	<li onclick="Option(0)">Oi blyat</li>
	<li onclick="Option(1)">Idi na hui</li>
</ul>
<script src="http://threejs.org/build/three.min.js"></script>

<script src="../lib.js"></script>
<script src="pie.js"></script>
<script src="conversation.js"></script>

<script>

	var CURRENT = {};
	
	var Interface = {
		Answer(text){
			output.innerHTML = text;
		},		
		Line(text,index){
			inputs.innerHTML += '<li onclick="PersonAi.'+index+'">'+text+'</li>';
		}
	}
	
	
	
	var PersonAi = {
		Opinion(index){
			var result = ConversationFactory.Opinion(CURRENT.Person.Opinions[index]);
			return Interface.Answer(result);
		},
		PersonOpinion(index){
			var result = ConversationFactory.PersonOpinion(CURRENT.Person.Opinions[index]);
			return Interface.Answer(result);
		},
	}
	
	var ConversationFactory = {
		Opinion(grade){
			var result;
			if (grade == null){
				result = "I don't know anything about it"
			}
			
			if(grade>8){
				result = "I love it"
			}
			else if(grade>6){
				result = "I like it"
			}
			else if(grade>4){
				result = "It's OK"
			}
			else if(grade>2){
				result = "I don't like it"
			}
			else{
				result = "I hate it"
			}
			return result;
		},
		PersonOpinion(grade){
			var result;
			if (grade == null){
				result = "I don't know this person"
			}
			
			if(grade>8){
				result = "One of my best friends"
			}
			else if(grade>6){
				result = "A good friend"
			}
			else if(grade>4){
				result = "We get along just fine"
			}
			else if(grade>2){
				result = "Not my best friend"
			}
			else{
				result = "I really don't like this person"
			}
			return result;
		}
	}	
	
	var TOPICS = {
		People : [
			'Me'
		],
		Hobbies : [
			'Hasami',
			'Cards',
			'Electronics',
			'Cooking',
			'Forest',
			'Fighting',
			'History',
			'Reading'
		],
		Nations : [
			'Our nation',
			'Our region'
		]
	}
	
	var PersonFactory = {
	/*
	var friend = {
		Opinions : {
			Hasami : 10,
			Me : 5
		},
		Knowledge : {
			Me : {
				Opinions : {
					Hasami: 10
				}
			},
		}
	};
	*/
		Person(age){
			var person = {
				Skills : {
					Logic:10,
					Social:10,
					Learning:10,
					Creative:10,
					
					Reaction:10,
					Precision:10,
					Perception:10,
					Coordination:10,
					
					Memory:10,
					Memory:10,
					Memory:10,
					Memory:10
				},
				
				Opinions : {},
				Knowledge : {}
			};
			return person;
		} 
	}
	
	var MyTopics = {
		Me : 'PersonOpinion',
		Hasami : 'Opinion'
	}
	
	function start(person){
		CURRENT.Person = person;
		for(var topic in MyTopics){
			Interface.Line("Give me your opinion about "+topic,TOPICS[topic]+"('"+topic+"')");
		}
	}

	/*
		Ask opinion about 
			Food			
			Person
			Hobby
		Give opinion about
		
		Explain about
			History
			Place
		Ask information about
		
		Orders
			Go
			Play
			Trade
		
		
	*/
	
	start(PersonFactory.Person(10))

</script>