<style>

</style>

<div id="output">Hello there</div>
<ul id="inputs">
	<li onclick="Option(0)">Oi blyat</li>
	<li onclick="Option(1)">Idi na hui</li>
</ul>
<script src="http://threejs.org/build/three.min.js"></script>

<script src="../lib.js"></script>
<script src="pie.js"></script>
<script src="conversation.js"></script>

<script>

		
	

	var ConversationObject = ConversationParser.ParseConversation(CONVERSATION.DREAM_EXPLANATION);
		
	var Current = {a:[ConversationObject]};
	

	function Option(index){
	
		Current = Current.a[index];
	
		inputs.innerHTML = '';	
		Answer(Current.p);
		
		for ( var i = 0; i < Current.a.length; i ++ ) {
			Line(Current.a[i].p,i);
		}
	}	

	function Answer(text,pie=false){
		output.innerHTML = text;
	}
	
	function Line(text,index){
		inputs.innerHTML += '<li onclick="Option('+index+')">'+text+'</li>';
	}
	
	Option(0);
	

</script>